[2018-11-11 20:04] rnystrom commented on #418
You guys 😍😭🙏

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-11 20:06] rnystrom commented on #2420
Dang. Any ideas how to fix? I guess the ContextMenu needs to layout when the kb resigns or something?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-11 20:14] Huddie commented on #2420
Yup I think that’s the problem as well.

Maybe:
- Set up a listener on the keyboard: https://developer.apple.com/documentation/uikit/uikeyboarddidhidenotification. Inside the method that gets called check to see if we’re waiting to display the reaction menu. If we are, display
- When someone taps add reaction we check to see if keyboard is active, if so, indicate a reaction is waiting and resign k

[2018-11-11 20:52] rnystrom commented on #2386
# Router Plan

- Subclass `Router` from `NSObject`
- Create objc runtime method to attach router to VC
- Temporary router method to accept a VC and handle the navigation
    + Push, show, showDetail
    + Allow to slowly start creating routes

## Navigation push

[code]

## Show

[code]

## Show Detail

[code]

## Present (optional)

[code]

[2018-11-11 20:54] rnystrom commented on #2420
I wonder if this is more elegantly handled in ContextMenu? I imagine this would break for anyone using the lib.

[2018-11-11 20:59] Huddie commented on #2420
Give an option to have the menu move with the keyboard?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-11 21:03] rnystrom commented on #2420
That actually [does exist](https://github.com/GitHawkApp/ContextMenu/pull/31), but I have a feeling its to do w/ the scrollview or something.

[2018-11-11 22:01] rnystrom commented on #2106
@kocheck yo that looks SO GOOD! Love moving the bar down, very clean!

@Huddie @BrianLitwin playing devil's advocate w/ myself, maybe the following/etc count _shouldn't_ be so prominent (like option 1) since GitHub is about doing work and less about who's-who. But I think it's a useful metric for like "social capital" when meeting new people.

I also really love the idea of moving the Follow into

[2018-11-11 22:55] flovilmart commented on #2106
I also lean towards the professional aspect of 1 vs the social emphasis of 2 as @rnystrom.

[2018-11-11 22:56] jdisho commented on #2106
I am more for the 1st option 😄. Points more “important” information regarding what the person is doing and who is this, rather than social networking (2nd one looks like Insta).
Additionally, I would suggest to leave the bio out and make more space for the pager info.
Also, I would have switched places between name/username and location/company/website. For me is more intuitive to see the name/use

[2018-11-11 23:54] rnystrom commented on #2386
Next up is building routes for **all** navigation! Exciting b/c this will start to remove all VC dependencies and get us a step towards launching/testing VCs in isolation. Onward!

[2018-11-12 10:10] XmJwit opened #2432 "Why not show the pictures in "overview"?"
I can't see the the in detail in subject until seeing pictures.
Hopefully update this feature, thanks a lot.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.24.0 (1541907322)
Device: iPhone SE (iOS 12.1)
TestFlight: true
</pre>
</details>

[2018-11-12 10:55] jdisho commented on #2432
I am closing this issue because it is a dup of #1694

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-12 13:05] #1485 closed

[2018-11-12 13:06] #2231 closed

[2018-11-12 17:44] thebearjew commented on #418
@rizwankce you're amazing

[2018-11-12 18:56] kocheck commented on #198
@Sherlouk This is a huge interest of mine 👍 I might spin something up this weekend to play with.

[2018-11-12 19:38] Sherlouk commented on #198
I spent a week turning my Slack into dark mode for a reason 😂Dark mode should be a requirement for all apps :trollface:

Can't wait to see what you make!

[2018-11-12 23:51] rnystrom commented on #198
Very very interested. The hardest part for us will be text colors. Might have to update StyledTextKit to support themes or something so we can regen attributed strings without rebuilding.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-13 01:37] #2067 closed

[2018-11-13 03:20] rnystrom commented on #2106
@kocheck so cool that you’re spinning through all these edge cases!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-13 12:52] j-f1 commented on #2106
Could the entire screen scroll so the tabs become a fixed  header when you scroll far enough? That would mean the entire bio would be visible on all tabs and that the entire screen can be filled with repos if needed.

[2018-11-13 12:59] kocheck commented on #2106
@j-f1 That's what I am thinking. 👍

I might swape the Name/Username with the Location, company, and contact info again. Take advantage of the screen height.

[2018-11-13 17:37] DevAndArtist commented on #318
@Sherlouk why was your PR closed? This looked so promising.

[2018-11-13 17:40] rnystrom opened #2435 "iPad Pro support"
I haven’t kept up to speed. What all needs to happen for this?

![GitHawk Upload by rnystrom](https://i.imgur.com/c1L99vv.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.24.0 (1542119087)
Device: iPhone X (iOS 12.1)
TestFlight: false
</pre>
</details>

[2018-11-13 17:51] DevAndArtist opened #2436 "Column for Wiki's"
**Is your feature request related to a problem? Please describe.**
It would be great if we could have a read-only section for Wiki's in the app.

**Describe the solution you'd like**
The app currently has four columns (Overview, Issues, Pull Requests, Code) while there can be more. #318 suggests to add support for Projects, which I also would like to see to happen at some point. Moving around / cr

[2018-11-13 18:01] DevAndArtist commented on #2435
I think you just need to link against iOS 12.1 SDK and ensure the app is already using safe area insets / layout guides. Currently the app is running in a so called compatibility mode. It will remain running in that mode even after you link against 12.1 SDK but only if you run it side by side with a different app in split view when the other app is not yet linked against the new SDK. That behavior

[2018-11-13 19:05] rnystrom commented on #2435
Interesting. Let's try it out! Just bumped Bitrise to use Xcode 10.1. Pushing a new 1.24.0 GM build. Hopefully someone has an iPad Pro they can test!

[2018-11-13 19:32] DevAndArtist commented on #2435
I‘m a little confused. I installed the beta version before you opened the ticket. Now TestFlight send me a new notification that I can test a new app, yet it does not say that I can update it, which lets me to only open the app. The build version is 1542119087, I don‘t see any changes on my iPad Pro.

If it‘s the correct build then it did not work. I‘ll check tomorrow if I can compile the project

[2018-11-13 19:38] j-f1 commented on #2435
@DevAndArtist Perhaps try closing and reopening TestFlight? You should get an &ldquo;UPDATE&rdquo; button.

[2018-11-13 19:54] DevAndArtist commented on #2435
Tried that already. Can someone share the build number of the new GM so I at least know which version to expect.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-13 19:59] rnystrom commented on #2435
FYI there's no new GM yet (and App Store Connect is down...). New build # will be 1542135906.

[2018-11-13 23:10] rnystrom commented on #2435
Ok GM is out on TestFlight. Please let me know how this looks/behaves on a Pro!

[2018-11-13 23:39] Huddie commented on #2436
“Importing and Exporting

Each wiki is a Git repository, so you’re able to push and pull them like anything else. Each wiki respects the same permissions as the source repository. Just add “.wiki” to any repository name in the URL, and you’re ready to go.”

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-13 23:48] Huddie opened #2437 "Having issues previewing markdown"
I can’t seem to preview markdown. Anyone else?

Reproduce:
- Open new issue
- Start typing
- Click preview
- Nothing

Note: other bar button items work

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-14 00:05] j-f1 commented on #2437
Works fine for me.

[2018-11-14 00:06] j-f1 commented on #2437
Ah, it’s only broken when _opening_ an issue, not when _commenting_.

[2018-11-14 00:11] Huddie commented on #2437
Ahh yes I see that now. Thanks

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-14 01:35] rnystrom commented on #2437
Ohh. Is that new? Has that ever worked?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-14 07:50] DevAndArtist commented on #2435
It works now :) ![GitHawk Upload by DevAndArtist](https://i.imgur.com/S9cjqac.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-14 08:15] DevAndArtist opened #2438 "Watch app cannot be installed"
I have a new Apple Watch Series 4 running the latest 5.1.1 OS and an old iPhone 6 Plus with iOS 12.1. However I‘m currently experiencing issues with the installation process of multiple watch apps. Some of the apps do always install other just don‘t, this also includes GitHawk watch app.

Note: I had previously installed Shazam on my watch but yesterday I tried different solutions to get Spotify a

[2018-11-14 11:16] j-f1 opened #2439 "Disable emoji in inline code"
I saw this in a comment on GitHub: `start:end:step`. It should have the literal `:` `end` `:` in it, not the 🔚 emoji.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.24.0 (1542135906)
Device: iPhone 8 (iOS 12.1)
TestFlight: false
</pre>
</details>

[2018-11-14 11:17] j-f1 commented on #2437
The issue also appears when editing a comment (OP or otherwise)

[2018-11-14 11:23] j-f1 commented on #2438
Google translate says the first dialog says:

Which probably means there’s an incompatibility, although I’m not sure exactly what it is.

[2018-11-14 11:45] DevAndArtist commented on #2438
Well I'm confused as well. The whole story started yesterday when I was trying to install Spotify on my watch and failed. On the web I've seen people reporting that they have installed the app on a Series 4 watch running 5.1.1, but they had a different iPhone.

I'll do further testing later on with an iPhone 7, in the time being I'll download a few random apps and try to install them. In worst cas

[2018-11-14 14:11] DevAndArtist commented on #2438
Small update: I was able to compile the project on my apple watch and it got installed as usually. Then I deleted if from the watch and installed it from the compiled phone app with the Watch app again. This also worked as expected.

Now it's getting strange why I cannot install the watch app from the latest GM version of the app.

[2018-11-14 23:36] rnystrom commented on #2438
I was able to delete and install the GM

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-14 23:37] #2435 closed

[2018-11-15 08:00] DevAndArtist commented on #2438
Together with apple support we could at least sort out that it's not my Apple ID that has some wrong configuration which would prevent me from installing apps. We're still investigating.

More updates: It works just fine on the iPhone 7. I did a factory reset on the iPhone 6 Plus later on and it still failed. Today I tried with the new update from the app store and it failed again. I wanted to try

[2018-11-15 13:59] rnystrom commented on #2438
Can you try deleting the app on your phone and reinstalling?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-15 14:07] DevAndArtist commented on #2438
This won't help, I already tried any possible combination. In my last attempt I purged iOS via DFU and configured it as new phone. Then I downloaded latest GitHawk app from the store, paired the watch started installing it while observing the logs. Same issue over and over again: Error 17 IncorrectArchitecture.

It seems like App Store is providing corrupted builds for my device combination, so it

[2018-11-15 14:09] rnystrom commented on #2438
Let me know what you find!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-15 14:56] ijm8710 opened #2440 "Request: mark read button within ticket (perhaps in top right overflow or where seen fit)"
I have ‘read on open’ toggled off. Meaning the only way it clears from notifications from inbox is if I intentionally tick it off. This helps me if I want to leave it unmarked for further review (it’s like a stage one as opposed to the bookmarks which are an even more selective stage 2 for longer-term review)

Once I review a ticket update and swipe back out to notification inbox screen, currently

[2018-11-15 15:13] rnystrom commented on #2440
I dig this idea. Not totally sold on the UX of popping back, but at least having a button would be nice. Idk where best to put it:

- A ... bar item (replace share)
- In the manage floating button
- Somewhere else?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-15 15:21] ijm8710 commented on #2440
Manage floating button would make a lot of sense, but just bear in mind, at least with my permissions as a normal user, I only have that button for my own posts. This would add the button for ALL posts now since every post can essentially be marked read. I kind of dig that, I like the button and it gives it an even greater feeling of consistency.

I can also be a proponent of replacing share. The

[2018-11-15 15:38] ijm8710 opened #2441 "Open to a badge-count on bookmarks?"
I mentioned this on the side the other day in #1886, but it probably is deserving of it’s own ticket

[2018-11-15 15:47] rnystrom commented on #2441
Can you fill in the details here?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-15 15:53] ijm8710 commented on #2441
Sorry was just worded really poorly! Basically meant “are you guys open to having the bookmarks tab have a badge that references the number of items that the user has bookmarked”

**Is your feature request related to a problem? Please describe.**
Enhancement

**Describe the solution you'd like**
See paragrpah before “bug report”

**Describe alternatives you've considered**
N/A

**Additional contex

[2018-11-15 16:07] vanyaland commented on #2062
Implemented #2162

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-15 16:07] #2062 closed

[2018-11-15 16:07] Huddie commented on #2441
I feel badges are more for notification / items that update / change. I think the tabbar would look cluttered with a constant badge just telling you the number of bookmarks

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-15 16:09] Huddie commented on #2441
Alternative:

We already have a section header in the bookmark list view that reads: Bookmarks. Maybe change to Bookmarks (10)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-15 16:17] ijm8710 commented on #2441
Valid point about the badge being a little too much but totally dig the contextual header idea!

[2018-11-15 16:37] j-f1 commented on #2440
There’s also a way to add custom buttons to the share sheet that could be used here.

[2018-11-15 23:50] billybooth commented on #318
As a start, it would be nice to get a visual representation of an Issue’s Project (and column) along with the Labels, Milestone, and Assignee in the Issue view.

[2018-11-16 02:39] timonus commented on #418
It's lit fam 🔥

https://github.com/timonus/OpenerManifest/compare/a2b50cd7...c38dc3c7
https://twitter.com/OpenerApp/status/1063257573795651585

[2018-11-16 11:58] antons opened #2442 "HTML entities in inline code are shown as characters"
`&lt;`  is shown as `<` in comments.

#### GitHub

<img width="375" src="https://user-images.githubusercontent.com/129705/48620310-5256d500-e9a8-11e8-817e-382560cfaf6f.png">

#### GitHawk

<img width="375" src="https://user-images.githubusercontent.com/129705/48620274-394e2400-e9a8-11e8-9d97-9cf694951122.PNG">

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.24.0 (154

[2018-11-16 13:30] t9mike commented on #2438
I tweeted to @9to5mac in hopes of getting some traction. https://twitter.com/t9mike/status/1063423145032458242. But I am a Twitter nobody so probably won't be of much help.

[2018-11-16 14:15] DevAndArtist commented on #2438
Well I tweeted to some other people but they didn‘t reply. I tested with a different iPhone 6 Plus today, same Error 17. It would help if more people would start reporting the issue so it gets some priority by Apple. It feels like some system is not aware on the iPhone 6 Plus that s 64bit Apple Watch exists.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-16 14:19] j-f1 opened #2443 "Checks are not shown in PRs"
Prettier recently installed a CI that uses GitHub’s checks API instead of posting commit statuses. Example PR: https://github.com/prettier/prettier/issues/5494. Unfortunately, these aren’t shown in GitHawk. Would it be possible to display them?

[2018-11-16 16:57] kudax6x commented on #2442
@antons

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-16 16:59] ThePlenkov opened #2444 "Navigation to sub modules doesn’t work"
Hi

Navigation to sub modules doesn’t work even they are referenced to GitHub repositories also.

Here is the example

https://github.com/ThePlenkov/express-sapui5/tree/master/examples

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1541192331)
Device: iPhone 8 (iOS 12.0.1)
TestFlight: false
</pre>
</details>

[2018-11-16 17:15] j-f1 commented on #2442
Additionally, HTML comments (``) aren’t rendered.

[2018-11-16 18:54] j-f1 commented on #2442
Inline or block:
[code]

[2018-11-16 23:37] Sherlouk commented on #1846
Was about to create a new issue for this but GitHub's brand new "Related Issues" told me this existed 😆 Here are my notes, API now exists!

**Is your feature request related to a problem? Please describe.**
GitHawk currently supports displaying when a message has been edited but we can take this a step further by supporting GitHub's new comment history.

This can all be done with some additional G

[2018-11-16 23:40] Sherlouk opened #2445 "Related Issues when creating Issue"
**Is your feature request related to a problem? Please describe.**
GitHub has now added the ability to see issues that might be related and already existed based on the title of the issue. (See image below) Would be really handy if we could integrate this into the new issue flow to help with preventing duplicate issues!

![image](https://user-images.githubusercontent.com/15193942/48652703-bacda280

[2018-11-17 12:12] DevAndArtist commented on #2438
Created a blog post about this issue, all iPhone 6 Plus devices are affected that are paired with an Apple Watch Series 4.

https://devandartist.com/posts/apps-not-installing-on-the-apple-watch-or-error-17

I'll close the issue since the root issue is not in the app.

[2018-11-17 12:12] #2438 closed

[2018-11-17 22:22] #2141 closed

[2018-11-18 01:51] #2439 closed

[2018-11-18 09:40] gingerbeardman commented on #2319
I came here after seeing "Missing notifications? " in an empty inbox (which should be empty, I've read all my current notifications)

Anyway I tap the text (I agree it doesn't look tappable like a button would) and end up on this page and I have zero idea why I've been sent there or what to do as there are no GitHawk mentions on the page? Plus I'm now in Safari not GitHawk. Help.

![GitHawk Upload

[2018-11-18 09:45] gingerbeardman commented on #2396
is his fixed?

Issue I used in screenshot still has the odd spacing?

https://github.com/dear-github/dear-github/issues/331

[2018-11-18 12:11] j-f1 commented on #362
GIFs now work.

[2018-11-18 14:37] rnystrom commented on #362
Working on adding the GIF sub pod now

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-18 14:40] rnystrom commented on #2396
Ah we added spacing below but now I see you’re also talking about the space above. Will take a look sometime.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-18 14:42] rnystrom commented on #2319
It’s just to review your access settings. Majority of the time folks expect notifications for an org or something that hasn’t granted permissions.

Good opportunity for someone to contribute a change.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-18 15:39] Huddie commented on #2319
Is there a way to check what access level the app has?

We redirect to github so that users can make sure they have the right permissions set, anyway to query for the permissions level? I’ll check when I get a chance unless someone knows.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-18 15:47] rnystrom commented on #2319
Not sure there may be

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-18 15:51] Huddie commented on #2319
I’ll check!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-18 16:03] gingerbeardman commented on #2319
So should I be seeing GitHawk on the Oauth access page?

[2018-11-18 19:17] timonus opened #2450 "Deep links don't work if app is cold started via link"
**Describe the bug**
I've noticed since adding GitHawk support to Opener (detailed [here](https://github.com/GitHawkApp/GitHawk/issues/418)) that it seems to only work intermittently. Today I found that this malfunction *only* happens if GitHawk is cold started from a deep link, if it was launched previously the issue wouldn't occur.

**To Reproduce**
Steps to reproduce the behavior:
1. Force quit

[2018-11-18 20:36] timonus commented on #2450
Also notable
- Deep links don’t work for the entire of the session if the session is started via deep link. Not just the first time.
- This bug doesn’t occur on iPad at all, iPad always handles links correctly.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-18 21:14] rnystrom commented on #2450
Crap hmm. I’ll try to dig in too.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-18 21:53] #123 closed

[2018-11-18 22:59] Huddie opened #2452 "Merge status pending"
Pretty sure when tests are pending on a PR it reads “merge status pending” rather than “tests pending”. Anyone able to confirm?

I forgot to take a screenshot sorry :/

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.24.0 (1542135906)
Device: iPhone XR (iOS 12.0.1)
TestFlight: false
</pre>
</details>

[2018-11-18 23:04] timonus commented on #2450
Aha, didn't realize that was a part of it. Seems there is a discrepancy in `isCollapsed` between the error repro and successful cases.

![screen shot 2018-11-18 at 3 04 15 pm](https://user-images.githubusercontent.com/522951/48679291-4c492b80-eb43-11e8-9379-516287f0e19f.png)

[2018-11-19 00:37] rnystrom commented on #2452
Would love to see an example to repro. Does GitHub have different statuses for CI running?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-19 00:58] Huddie commented on #2452
![GitHawk Upload by Huddie](https://i.imgur.com/SGPUynT.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-19 01:50] rnystrom commented on #2452
Is that what GitHub says for the same UI?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-19 01:52] rnystrom commented on #2452
Looks like we could just update the language

![GitHawk Upload by rnystrom](https://i.imgur.com/t81HPj8.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-19 01:55] ijm8710 commented on #2396
I’m ignoring the other items on here because I know I’ve pushed it too much but wouldn’t the line spacing referenced as the item with a 1 on my image example be similar to this?
https://github.com/GitHawkApp/GitHawk/issues/2274/%23issuecomment-/429837855

[2018-11-19 01:55] Huddie commented on #2452
Sorry ya github has different language.
One seems like you can’t merge yet, one is just test.
Simple language update should be perfect 👌.
I should be able to do this unless someone is already on it

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-19 02:32] rnystrom commented on #2452
@Huddie go for it!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-19 02:36] rnystrom commented on #2396
@ijm8710 I think the example 1 won’t be addressed but the others will have less spacing (soft breaks have tighter new lines)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-19 03:07] #2450 closed

[2018-11-19 06:53] timonus opened #2455 "Issue comment "Share URL" option generates invalid links"
**Describe the bug**
There's an option to share issue comment links, but using this option yields URLs that aren't correctly formatted. Opening them leads to a 404 page.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to an issue with comments on it.
2. Tap "..." on a comment
3. Select "Share URL".
4. Select the "Copy" option.
5. Paste the copied link in a browser.

**Expected behav

[2018-11-19 12:06] #2396 closed

[2018-11-19 12:08] rnystrom commented on #2455
Shoot the URL refactor is now escaping the `#` giving:

[code]

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-19 13:38] j-f1 commented on #2452
How about “X Check(s) pending?“

[2018-11-19 14:31] rnystrom commented on #2452
Or keep it really simple with “Checks haven’t completed”, similar to GitHub’s message

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-19 14:56] Huddie commented on #2452
I should have this by end of day. Gonna go with the github styled one for now

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-19 15:00] Huddie opened #2456 "Can’t assign user to issue"
It seems that I cannot assign users to an issue. I checked on a repo I own (to make sure I have proper rights) and it still seems to not be working.

Does anyone else have this issue?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-19 15:07] Huddie commented on #2456
Doesn’t seem like we have Unit Tests for this. So it’s possible something got disconnected. I’ll check recent PR

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-19 15:09] Huddie commented on #2456
Could be #2428

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-19 16:47] rnystrom commented on #2456
Crap you’re right 😭

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-20 04:49] #2452 closed

[2018-11-20 04:52] rnystrom commented on #2452
Merged as is. Might wanna check iPhone 5 width to make sure it’s not too long. But probably fine.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-20 05:03] Huddie opened #2460 "Try again haptic feedback"
Should the “Try again” button that appears on lists that fail to load have haptic feedback attached to it?

Steps to reproduce:
1. Open app
2. Open repo (settings ~> view source code)
3. Turn phone on airplane mode
4. Switch to issues tab
5. Tap try again
6. See that No haptic feedback occurs

Not sure which buttons are supposed to have and which aren’t. Pretty sure that when you pull to refresh y

[2018-11-20 05:07] Huddie opened #2461 "Reword “view source code”"
I feel like “View Source Code” (found in settings tab) doesn’t fit too well. When you click View Source Code you’re brought to the GitHawk repo and the tab that is selected is the overview tab. Although there exists the source code under the code tab, I feel like “View GitHawk Repo” or something of that type fits better.

Thoughts? Suggestions different phrasing?

<sub>Sent with <a href="http://gi

[2018-11-20 05:11] rnystrom commented on #2461
View GitHub repo sounds good

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-20 05:12] rnystrom commented on #2460
I don’t have any hard and fast rules for haptics tbh. I’d be fine adding them for this button.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-20 12:12] j-f1 commented on #2460
IMO the haptics for the pull-to-refresh button indicate that you’ve pulled far enough, whereas the button requires only a tap so the button doesn’t need haptics.

[2018-11-20 13:02] ijm8710 opened #2462 "Attempting to open a users profile crashes the app every time in the latest beta"

[2018-11-20 13:10] rnystrom commented on #2462
Yup getting that too. I’ll take a look.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-20 13:19] Huddie commented on #2460
Sounds good. No haptic for now

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-20 13:19] #2460 closed

[2018-11-20 13:29] ijm8710 opened #2463 "Router Refactor issues"
Open issue #2450, then navigate to referenced #2453, try opening the commit code referenced at bottom, doesn’t action

Open issue #2453, try opening same commit code and does so successfully

[2018-11-20 13:36] ijm8710 commented on #2437
When trying to preview when opening a new issue intro-repository the preview button does nothing. Is this what was supposed to happen post-fix?

[2018-11-20 13:41] ijm8710 commented on #1444
Any reason why the gif in 1443 doesn’t open in theater mode?

[2018-11-20 13:42] Huddie commented on #2463
Appears to happen whenever you get pushed their from a link rather than from the pull requests tab in the repos view controller.

When I click #2453 above I’m still not able to open the files

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-20 13:43] j-f1 commented on #2463
I can repro.

[2018-11-20 13:46] rnystrom commented on #2437
Hmm maybe that one got missed. I’ll take a look.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-20 13:48] ijm8710 commented on #2463
I’m filed a few things relating to push links. Like image previewing in theater as well. Not sure when it started breaking but essentially even though your in githawk in-app view, it’s not treating a push link the same as a direct open

[2018-11-20 13:51] ijm8710 opened #2464 "Question: why does icon reflect pending for PR in below comment example"
When troubleshooting a few things this morning, search for pr #1443 and I see an orange circle icon in the search preview. Doesn’t that reflect pending? Doubt it is, shouldn’t this be rendering with a closed-notation?

[2018-11-20 13:56] rnystrom commented on #2464
Looks like a GitHub bug? API does return pending.

[code]

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-20 13:57] rnystrom commented on #2464
![GitHawk Upload by rnystrom](https://i.imgur.com/P4RiSwK.jpg)

Same on web, not worried about this

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-20 13:57] #2464 closed

[2018-11-20 13:57] ijm8710 commented on #2464
Fair enough, what’s your typical reaction to something like this, throw it away as a one-off unless it keeps popping up?

[2018-11-20 14:00] ijm8710 commented on #2464
Gonna open and close to test #2231, :)

[2018-11-20 14:10] ijm8710 commented on #2376
Hey @rnystrom hopefully a tag and revisit here is ok :)
Do you think this might be a good idea to try to action for 1.25 or 1.26?

[2018-11-20 14:21] rnystrom commented on #2376
Ya I’d like to get the login enhancements in a future version once the refactor noise quiets down. Can always use help.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-20 14:22] rnystrom commented on #2463
I _think_ it’s all fallout from the router refactor.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-20 21:12] BasThomas opened #2465 "File button not working under certain circumstances"
Reproducable when opening #2450, then opening the pull request at the bottom (#2453), the file button now does not work (it no-ops)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-20 21:13] BasThomas commented on #2465
If I open #2453 directly, it does work.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-20 21:15] t9mike commented on #2438
The user who had an issue with my app and others sent me this:

I submitted an update to my app (Sundial) this AM with some new features. I will report back on install status for my user after the update is in the store.

[2018-11-20 21:28] BasThomas opened #2466 "App crashing when opening author"
The avatar that opens the profile in Safari

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.25.0 (1542689391)
Device: iPhone X (iOS 12.1)
TestFlight: true
</pre>
</details>

[2018-11-20 21:29] BasThomas commented on #2466
Dupe of #2462

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-20 21:29] #2466 closed

[2018-11-20 23:14] rnystrom commented on #2465
Dupe #2463

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-20 23:14] #2465 closed

[2018-11-20 23:47] ijm8710 commented on #2379
Just making a note that this also results in edited titles not dynamically reflecting

[2018-11-20 23:55] rnystrom commented on #2379
Good point

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-21 00:06] ijm8710 commented on #2379
I’m sure I’m missing a few but at least bookmark items I’ve, for lack of a better word, bookmarked 🔥

Just aggregating everything for ease when project plan is laid out-

In addition to those from this post :

- icon reflect if item is open closed
- dynamically reflect edited titles

#2377

- linked to iCloud for backup

#1886

- sort/reordering

#2441

- personal request to reflect total count

[2018-11-21 00:47] #2462 closed

[2018-11-21 00:49] #2442 closed

[2018-11-21 00:53] #2437 closed

[2018-11-21 12:06] ETCaton opened #2470 "No Issues Loading"
I’ve signed in with my account and personal access token. If I use the personal access token this app just doesn’t show up under GitHub anywhere, but says inbox zero. I assumed something had failed, so I signed out and signed in with my account. This time I can see and manage what it has access to, so I granted it access to everything, and it happily says “Inbox Zero!” no matter what. Searching al

[2018-11-21 12:07] rnystrom commented on #2463
It should. I’m confused how it isn’t getting wired. I can repro tho.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-21 12:12] #2470 closed

[2018-11-21 13:21] #2463 closed

[2018-11-21 17:07] ijm8710 commented on #2376
@rnystrom I laid everything out more condensed and on one ticket. Hopefully you agree this makes it easier to follow

[2018-11-21 19:21] t9mike commented on #2438
My new version was approved and released to app store. My user was able to install :-).

Maybe they had a bug in translation from date X to Y and fixed it. But why not retroactively fix affected packages?

I don't see why this was not picked up by one of the Apple sites. They report on such trivial crap and this was (still is) driving some users crazy. My user spent hours going to Apple store and

[2018-11-22 05:35] jdmarshall90 opened #2471 "GitLab support"
Any chance GitLab support could be added? I’d love to use this app even more than I do now, but I prefer GitLab.

I realize this would likely be non-trivial, but I thought I’d ask, as I’m not familiar with the app’s architecture.

P.S.

The `accessoryInputView` this app uses on the iPad is awesome.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-22 06:54] BasThomas commented on #2471
See also #408. I don't think there's any work being done on it at the moment. And as you say, it's pretty non-trivial.

Closing in favor of #408; let's discuss it further there if needed 👍

[2018-11-22 06:54] #2471 closed

[2018-11-22 09:32] DevAndArtist commented on #2438
Hmm, I'll check again when GitHawk pushes a new release. I kind of doubt it will install correctly. A time related bug seems a little unlikely to me, because only a single device model is really affected.

[2018-11-22 14:03] kocheck commented on #2106
Traveling for the holidays, and Had an idea while in the car yesterday. Mocked it up really quick this morning. How do ya'll feel about moving the profile over to the right?

- The Info can flow down, as the user adds or removes more.
- On iPad, would it cause issues to make the profile image bigger? Help fill that empty space on the right.

<img width="949" alt="screen shot 2018-11-22 at 8 59 15

[2018-11-22 14:09] rnystrom commented on #2106
@kocheck I think that looks _fantastic_. Love the icon on the right. Makes the whole interface very legible.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-22 14:44] ijm8710 commented on #2106
This is awesome! Revisiting kochecks question the other week, I think he asked about pulse activity sharing github or appearing more custom, not sure if that was ever answered which way the team was leaning and curious myself...

Kocheck, would you envision activity being below pinned, as a fourth tab, an overflow option? Unlike followers which you guys realized was ultimately not a pivotal view,

[2018-11-22 15:40] ijm8710 opened #2472 "Nice Easter egg"
@Rnystrom I think you know what this is referencing

[2018-11-22 15:42] Sherlouk commented on #2472
🤔 👀

[2018-11-22 16:49] kocheck commented on #2106
@ijm8710 I still need to look through the GitHub docs but if we can display that data I would love to drop it at the top of the Overview Tab. 👍

If we feel good about this as a solution, what would the best way to ship, or submit it to ya'll? A Zeplin project, or should I do a Pull request to the design repo with the updated sketch file?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></su

[2018-11-22 17:00] jdisho commented on #2106
Slick 🤩!!! @kocheck

[2018-11-22 17:11] j-f1 commented on #2106
@kocheck api.github.com/users/:user/events

[2018-11-22 17:13] BasThomas commented on #2472
🦃

[2018-11-22 17:13] #2472 closed

[2018-11-22 17:42] rnystrom commented on #2106
@kocheck PR to design repo would be 👌

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-23 00:19] Sherlouk commented on #2472
Ahh I now realise 😂😂 thanks Twitter... gosh darn localised celebrations, why did I recommend that!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-23 09:00] BasThomas commented on #2405
That would first require adding Danger though :)

[2018-11-23 13:17] rnystrom opened #2475 "PR send button always spinning after sending a reply"
- View a PR
- Reply to a comment
- After send, reply to another comment
- Spinner won’t let you send

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-23 13:38] Huddie commented on #2475
I got this. Nice find

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-23 15:19] BasThomas opened #2476 "Replying to more than one review comment shows spinner"
![GitHawk Upload by BasThomas](https://i.imgur.com/uY1jRz9.jpg)

Can’t add a second review comment as the sending UI shows a spinner instead of the button.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.25.0 (1542806489)
Device: iPhone X (iOS 12.1)
TestFlight: false
</pre>
</details>

[2018-11-23 15:20] BasThomas commented on #2476
Dupe of #2475 😅

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-23 15:20] #2476 closed

[2018-11-23 20:46] Huddie commented on #1796
I feel like @rnystrom new feature banner is a good starting design for the banner necessary for this feature.

Is there an API that will ease this process or do we need to manually check each of the users repos and branches to detect one that was updated recently, as well as check if its links to some upstream repo which a PR could be made to?

[Githubs API (Pull Request)](https://developer.github

[2018-11-23 22:09] #2475 closed

[2018-11-23 22:10] rnystrom commented on #1796
Good idea. We could generalize the banner more

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-24 08:02] peterzililuo opened #2478 "Shows 404 after clicking "Sign in with GitHub" Button"
When I click the button on the welcome's screen "Sign in with GitHub", then it shows 404 in GitHub
![image](https://user-images.githubusercontent.com/43706386/48965928-51eeb780-f002-11e8-87b6-645ff18980ac.gif)

[2018-11-24 21:57] jdmarshall90 opened #2479 "Searching within code view"
Would be very nice to have

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.25.0 (1542806489)
Device: iPad8,5 (iOS 12.1)
TestFlight: false
</pre>
</details>

[2018-11-24 21:58] jdmarshall90 opened #2480 "Tapping on a link in a project README fails"
It pushes in a Safari VC, whereas I was expecting it to be rendered like the README is. It also failed to load the file.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.25.0 (1542806489)
Device: iPad8,5 (iOS 12.1)
TestFlight: false
</pre>
</details>

[2018-11-24 22:13] rnystrom commented on #2480
I think this is a dupe, can’t find it atm

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-24 22:13] rnystrom commented on #2479
Agree!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-24 22:40] ijm8710 commented on #2480
#1769 perhaps?

[2018-11-24 22:57] Huddie commented on #2480
I believe it's this one: #2247.

[2018-11-25 00:08] Huddie commented on #2177
Any interest in this still?

[2018-11-25 00:33] #2461 closed

[2018-11-25 00:41] kocheck commented on #2177
@Huddie  I can download and package that up for you ✌️

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-25 00:43] Huddie commented on #2177
@kocheck thank you 😊

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-25 00:44] rnystrom commented on #2177
Almost wondering if we should revisit some ideas for the inbox. One is maybe putting a drop down title and showing a menu with more per-repo options? I know folks really want the per-repo inbox (which is technically very complicated).

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-25 03:41] Huddie commented on #2149
@ijm8710 I actually meant to tag this issue in my PR, the PR you tagged is to add this support.

[2018-11-25 03:52] peterzililuo commented on #2478
@BasThomas Eh... I download the project from GitHub & built it on my iPhone 6s, and, where is SafariViewController located?
I just downloaded it from TestFlight, the TestFlight version works well, I’m wonder if there’s any problem happened when I’m building

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-25 03:52] ijm8710 commented on #2149
Sweet, would it make sense to have a reference section where it says you’re actively watching/subscribed to said thread like it does on github. Somewhat similar to how you guys created the reference subsections

[2018-11-25 03:58] Huddie commented on #2149
Not sure I follow.
In the manger content menu it says either : subscribe, unsubscribe so you’ll know your current status

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-25 04:07] #2478 closed

[2018-11-25 04:11] ijm8710 commented on #2149
[Meant this](https://i.imgur.com/GMEWjdG.jpg)

While what you said is absolutely true, I just meant having the blurb so you know without avruoning the manager button

[2018-11-25 04:15] Huddie commented on #2149
@ijm8710 maybe for a separate PR, focusing on this one first. Good suggestion just wanna do one thing at a time

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-25 06:05] BasThomas commented on #2479
In a file or in the code browser (or both?!)?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-25 13:44] rnystrom commented on #2479
I like both!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-26 02:14] benguild opened #2484 "Can’t paste or open GitHub links (from share sheet)"
I can’t tell if this is implemented or not, but on my iPad if I have a GitHub link in an email or on Slack, I can’t jump to that content by sharing it or somehow pasting it into the app.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.25.0 (1542806489)
Device: iPad8,1 (iOS 12.1)
TestFlight: false
</pre>
</details>

[2018-11-26 02:56] rnystrom commented on #2484
Like opening links from outside into GitHawk? Ya this isn’t supported yet. There’s a PR that attempted it but hasn’t finished yet. Also you can use the app Opener to make this work with the current version of GitHawk in the App Store.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-26 03:42] Abemarkar23 commented on #2479
how can I help with this, I can't seem to find a fork or anything

[2018-11-26 04:06] Huddie commented on #2479
@Abemarkar23 hey! Thanks for jumping in to help. What do you mean can’t find a fork? If your trying to fork the project head to https://github.com/GitHawkApp/GitHawk and click the fork button in the top right corner of the screen

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-26 05:04] benguild opened #2485 "Possible to hide left column?"
When running on iPad split screen, the horizontal view is preoccupied by the repo column on the left side. Other apps like Textastic have the ability to easily toggle this column, and it’s awesome.

Is it possible that this should be implemented at some point?

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.25.0 (1542806489)
Device: iPad8,1 (iOS 12.1)
TestFlight: fal

[2018-11-26 05:33] rizwankce commented on #2485
This is what exactly, I tried on #807 (long long ago! where we don't even have iPad Pros)

This is the comment we got from @rnystrom

[2018-11-26 05:48] benguild commented on #2316
This also happens when pasting in HTML from other issues:

![img_0012](https://user-images.githubusercontent.com/1185659/48995197-4a5a1a80-f18a-11e8-90e3-61490239d301.jpg)

[2018-11-26 05:49] benguild opened #2486 "Button to quote (add "> " before each new line) for highlighted text"
I've seen this in some other apps, and it'd be nice to have. Currently the only alternative is to type "----" to add a separator line around quotes, since pasting "> " before each line is difficult on a touchscreen.

[2018-11-26 05:50] benguild opened #2487 "Support for native GitHub attachments rather than Imgur"
I found it a bit startling that potentially internal only images were being uploaded to Imgur potentially by accident if the button is tapped without remembering that. It'd be better to have a warning about this, or to have an option to use a different type of cloud storage perhaps via iCloud Drive or Dropbox, for example.

🤔

GitHub's own attachments system is probably the best choice, but perhap

[2018-11-26 05:52] benguild commented on #2485
Honestly, using 25% of the horizontal real estate is not a good use of space when you have another app open as well. Plus, I don't need my repo list on display if I'm showing someone an issue, etc. (it's distracting)

[2018-11-26 06:08] rizwankce commented on #2485
Agree with your point! Now that iPad's having diff possible layouts. May be @rnystrom can chip in here

[2018-11-26 08:39] Sherlouk commented on #2487
Think the idea of a warning is probably a sensible one! As you mention though GitHub didn't (and to my knowledge still doesn't) have an API for uploading attachments which is why we had to use an external provider with an API.

iCloud could be an interesting option if we can generate public links from that!

[2018-11-26 11:31] peterzililuo opened #2488 "Wants a profile page"
I really wants a profile for myself, you know, kind of page shows my repositories, stars, and things about my self
But now GitHawk is mainly focused on the part of exploring GitHub, I think that it is really important to have a personal profile page

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-26 11:33] Huddie commented on #2316
Pretty sure this issue was mentioned in the past

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-26 11:37] viktorgardart commented on #2488
Duplicate of: #317 #2113

[2018-11-26 11:53] #2488 closed

[2018-11-26 11:57] benguild commented on #2316
One possible solution would be to have a markdown editor mode for posts
that does not do this. Unless you for sure want fancy punctuation, it’s
safer to turn off for anything that supports markdown or html.
--
iPhoneから送信

[2018-11-26 12:18] rnystrom commented on #2487
Love the idea but ya there’s no API. Great problem for someone to champion a solution.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-26 12:19] rnystrom commented on #2485
Ya sure we can bring the button back

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-26 12:20] rnystrom commented on #2486
@benguild great first PR opportunity 😉

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-26 12:32] benguild commented on #2486
I'll see what I can do 👨🏼‍🍳

[2018-11-26 14:41] Huddie commented on #2487
Give users the option to store the uploads on their services?

Example:
- Create option in settings for signing into storage accounts (drive, Dropbox)
- Have them select a default option for storage (one option will be hosted by GitHawk on Imgur)
- When we upload, we upload to the selected choice (drive, Dropbox etc)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-26 14:44] Huddie opened #2489 "Bunching up of text on cells"
This has happened a few times and refreshing doesn’t change anything (I’m guessing because it doesn’t reload since no data has changed)

![GitHawk Upload by Huddie](https://i.imgur.com/zhYtQCa.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-26 15:15] rnystrom commented on #2489
What happens if you rotate then go back?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-26 15:19] Huddie opened #2490 "Test"
Test

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-26 15:19] #2490 closed

[2018-11-26 15:20] Huddie commented on #2489
I’ll get back to you when it reappears lol. I have 0 clue how to reproduce. Just happens sometimes

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-26 15:31] Huddie commented on #2489
@rnystrom Rotation fixes it:

Edit:
To reproduce:
- Go into an issue
- Add label (I believe it has to be the first label that issue has)
- Exit issue
- Pull to refresh

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-26 16:39] rnystrom commented on #2489
I’ve seen some funk with issue/PR cells in repo on rotation due to safe areas, but this issue is new to me. Looks like it got the wrong cell height.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-26 18:05] Sherlouk opened #2491 "Reaction context menu doesn’t update until reload issue"
Steps to reproduce:
- have someone like an issue
- hold on the reaction to see context menu of who liked it
- like the issue yourself
- hold on the reaction and notice it’s unchanged
- leave the issue and go back into it (refresh it)
- hold on the same reaction and notice your name has now been added

This previously worked so is a regression (though v. minor)

<details>
<summary>Bug Report Dump (

[2018-11-26 18:06] Sherlouk commented on #2487
Are there any native APIs we can take advantage of inside the Files/iCloud bucket which would require less involvement with managing secondary oauth accounts?

Do like the control that solution gives users though!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-26 18:16] j-f1 commented on #2491
Pull-to-refresh doesn’t update the menu either.

[2018-11-26 18:31] Sherlouk commented on #2491
This is all a rouse to get everyone to like my comment 😉

Didn't realise we actually had pull to request 😂 too used to leaving and jumping back in!

[2018-11-27 00:04] Abemarkar23 commented on #2479
I was wondering about helping out on the code search feature

[2018-11-27 00:07] Abemarkar23 commented on #2479
also im a beginner-intermediate in terms of Swift iOS development, I have no idea on how to help

[2018-11-27 00:17] Huddie commented on #2479
@Abemarkar23 no problem! We’re happy to help get you started have you see the [setup guide](https://github.com/GitHawkApp/GitHawk/blob/master/Setup.md)? Have you had any trouble with it?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-27 13:50] Huddie opened #2492 "Spinner finishes before code file loads"
- If you go to this file: Freetime.xcodeproj/project.pbxproj

- The spinner should end pretty quickly but the page will remain blank.

- Wait
- Document appears

I think the spinner should continue until the document is ready to show, I thought it was either blank or there was an error loading it

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-27 13:53] Huddie opened #2493 "Try again for “Cannot load file type” does not work"
- Head over to https://github.com/GitHawkApp/GitHawk/tree/master/tools/bin in GitHawk
- The screen will say that we could not load the file and there’s an option to try again
- Tap try again
- Nothing happens

Thoughts:
1) Hook up try again to make it work
2) Remove try again (if we cannot load it the first time, we cannot load it the second time).

<details>
<summary>Bug Report Dump (Auto-generat

[2018-11-27 13:57] Huddie opened #2494 "Orientation change hides/removes Tabbar"
Steps to reproduce:

- Have phone in portrait mode
- Go to settings ~> view source code (Notice the Tabbar)
- Rotate to landscape
- Rotate to portrait
- Tabbar is gone

Edit: The device used must have split view landscape

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.25.0 (1542806489)
Device: iPhone XR (iOS 12.1)
TestFlight: false
</pre>
</details>

[2018-11-27 14:02] rnystrom commented on #2493
Does it actually not do anything, or does it just fail to load again? Does FLEX show new network requests?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-27 14:03] rnystrom commented on #2492
It’s from rendering the code in the background. Could be interesting to keep the spinner til rendering finishes. Requires a little refactoring on the CodeView I think. Great task for someone.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-27 14:04] Huddie opened #2495 "Markdown toolbar does not hide properly in landscape"
Steps to reproduce:

- Create new issue
- Rotate to landscape (Notice no message toolbar for markdown)
- Tap the leave a comment section
- Toolbar appears
- Tap title section
- Toolbar remains
- Expected: Toolbar to hide

If you do this in portrait the toolbar disappears when you tap the title section as it should.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.25.0

[2018-11-27 14:05] Huddie commented on #2493
@rnystrom I’ll check. It didn’t show the spinner which is usually the first thing that happens when the try again is pushed

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-27 14:06] rnystrom commented on #2493
It may just load too fast, but also may not be wired up 🤷‍♀️

Either way retrying will just error and show the same screen again. More important for situations where the screen actually fails to load

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-27 14:07] rnystrom commented on #2495
Probably a bug with MessageViewController?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-27 14:14] Huddie commented on #2493
@rnystrom I tried with FLEX. No network requests expect the initial attempt.
This isn’t a big deal but I feel like if we have a button it should do something. Even though i suspect it will produce the same result

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-27 14:23] Huddie commented on #2177
@kocheck if your free would you be interested in whipping up a few new inbox designs using what we have now + per-repo inbox + maybe issue Dashboard #2413 ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-27 14:35] Huddie commented on #2413
#1265 would closed by this

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-27 14:41] Huddie commented on #2493
@rnystrom I'll take this after finishing the Github V4 mutation stuff for #2482. Just in case someone wants to pick this up in the meantime.

[2018-11-27 14:43] Huddie commented on #2177
@kocheck awesome. Take your time, should we create a new issue to inbox concepts/ideas?

[2018-11-27 14:44] kocheck commented on #2177
@Huddie Ya lets do that, Do you think over in the design repo would work?

[2018-11-27 14:53] Huddie commented on #2177
Hmm. Not sure. Design repo is great for storing concepts etc but contributor traffic I feel is low. If we want to have a conversation about the new inbox I think GitHawk repo is the best place. @rnystrom would have a better sense

[2018-11-27 14:56] kocheck commented on #2177
Whatever works best honestly 😄 but a new issue would help keep things organized I think.

[2018-11-27 15:08] Huddie opened #2496 "[VISION] Pull Requests"
The theme seems to be these [VISION] issues rather than projects.

I think we can make pull requests awesome in GitHawk, I just want to compile a bunch of scattered issues that are still open that would make this happen.

- [ ] We do not show all PR comments/replies. This means using the app to review pull request is almost impossible after you've passed the limit of the number of comments we show

[2018-11-27 15:26] Huddie opened #2497 "Inbox Redesign"
This comes from the #2177 thread.

Just thoughts on improving the inbox.

Related Issues:
- [x] ~Updated icons #2177~
- [ ] Possible removal or replacement of speaker icon [reason here](https://github.com/GitHawkApp/GitHawk/issues/2149#issuecomment-418171984) also works well with #2482
- [ ] Githubs Issue Dashboard feature #2413 which aids in #1265, #2065, #2272
- [ ] Displaying the author #1885
-

[2018-11-27 16:17] #2170 closed

[2018-11-27 17:19] j-f1 commented on #2494
Can’t repro on the 8.

[2018-11-27 17:20] j-f1 commented on #2492
Could the unhighlighted code be displayed first, then replaced with the highlighted version?

[2018-11-27 17:36] Huddie commented on #2492
Is this rendered in a uitextview or tableview? Maybe find ways to reduce the amount needing highlighting at a time

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-27 17:46] ijm8710 commented on #2300
@rnystrom is this a super complicated linkinh refactor? Just curious

[2018-11-27 19:14] rnystrom commented on #2300
Pretty tough ya. Needs some UX thought too (highlight comment? Etc). Not on my radar.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-27 19:14] rnystrom commented on #2492
Text view

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-27 20:03] Sherlouk commented on #2496
Random idea, but maybe we could block out the "Merge Pull Request" button if the title has WIP: or something similar in the name? (Something more used on GitLab admittedly but I quite like it)

[2018-11-27 20:10] Huddie commented on #2496
@Sherlouk maybe have that as an option?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-27 20:11] Huddie commented on #2492
I know styledTextKit has a UITableView example. Would this help loading times?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-27 21:47] Huddie commented on #2494
Can anyone else reproduce?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-27 22:02] Sherlouk commented on #2494
Can't repro on XS (12.1.1)

[2018-11-27 22:17] rnystrom commented on #2494
Nope: X 12.1

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-27 22:18] Huddie opened #2498 "Bug report incorrect in terms of whether user is on TestFlight"
This was created on the TestFlight build

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.25.0 (1542806489)
Device: iPhone XR (iOS 12.1)
TestFlight: false
</pre>
</details>

[2018-11-27 22:18] rnystrom commented on #2492
It would if we split big chunks of text into smaller pieces (maybe by line count?) and then calculated code style in order

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-27 22:19] rnystrom commented on #2498
Hmph. @rizwankce ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-27 22:20] Huddie commented on #2494
This XR specific? I gotta take a video and upload

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-27 22:21] Sherlouk commented on #2498
Was this a GM build @Huddie? The TestFlight flag only works if a specific TestFlight build is used. I know Ryan pushes a final build to TF usually before pushing to the App Store where this doesn't work

[2018-11-27 22:22] Huddie commented on #2494
I’m gonna look into it more. See where the Tabbar is disappearing to.

Clarification: I’m speaking of the bottom Tabbar (inbox, search, bookmarks, settings)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-27 22:22] Sherlouk commented on #2498
Can confirm just checked, notes for that version 1542806489 are "1.25.0 GM 2"

[2018-11-27 22:32] Huddie commented on #2498
@Sherlouk this probably explains why three finger tapping on this version does nothing lol. I spent a whole minute or 2 three fingering tapping on my screen this morning 🤦‍♂️. 😂

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-27 22:32] Sherlouk commented on #2498
I've been right there with you and I added it in the first place 😂

[2018-11-27 22:46] Huddie commented on #2494
Oh wait a minute 😅. All those phone mentioned above don’t have the split view landscape right?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-27 22:47] Sherlouk commented on #2494
Nah, so maybe XS Max as well?

[2018-11-27 22:50] Huddie commented on #2494
I mean ya I think this only affects phones/iPads who have split view when in landscape

iPhone 8,X,Xs don’t. Makes sense why you couldn’t reproduce

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-27 22:52] Sherlouk commented on #2494
XS Max supports it aye (bigger than XR) haven't got one though 😢 Sims should be able to help ya tho!

[2018-11-27 22:53] Huddie commented on #2494
Ya I shall check soon. In class now 😁

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-27 22:59] Sherlouk commented on #2494
Ahh timezones you crazy crazy thing 😄

[2018-11-28 03:47] Huddie commented on #2478
@peterzililuo why was this closed? I’m getting this error

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-28 03:58] Huddie commented on #2494
Update:
Tested on iPad Pro (3rd gen)
Tested on iPhone XS Max

- Doesn’t happen on iPad since iPads are always in split view

- Happens on iPhone XS Max. I assume this bug applies to all devices who switch between regular and split view.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-28 15:29] rnystrom commented on #2413
Revisiting after seeing this on the Twitter thread. Here's an idea for the inbox redesign (#2497):

- Keep inbox list as-is
- Title view is the same dropdown control we use in issues, etc
- Tap the control to show a ContextMenu with a sectioned list:
  - "Me"
    - Inbox
    - Mentioned
    - Created
    - Assigned
  - "Repos" (should be a list of subbed/watched repos, NOT the lazy-filtering we do

[2018-11-28 15:41] Huddie commented on #2413
Love it.

So we don’t pull all issues then filter. We make specific calls getting the appropriate issues each time the user updates?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-28 15:43] Huddie commented on #2413
The issue Dashboard above uses https://developer.github.com/v3/issues/#list-issues with the filtering parameter. That’s what we’re going for ya?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-28 16:04] rnystrom commented on #2413
@Huddie ya exactly. You can toggle what "mode" your inbox is in: one of the viewer-filters, a specific repo, or the master list.

[2018-11-28 16:15] ijm8710 commented on #2413
Stellar!

1. I think this would be a great time to coincide incorporating an open/closed/all toggle. It would have relevance here and also be a great port on the search tab as well as the current implementation doesn’t feel as natural.
2. I could see value to an additional “me” option for commented on (commenter:username)
3. Obviously this would be a growing project, but do you eventually see this

[2018-11-28 16:32] Huddie commented on #2413
@rnystrom cool that’s how I was thinking about it with the Issue Dashboard. I think it makes a lot of sense and putting in a drop down on the Nav Bar keeps the style consistent with other parts of the app.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-28 16:34] SD10 commented on #2413
I'm pretty inactive in the OS community right now but def lurking this thread. I can only offer a unique perspective that I actually haven't used GitHawk for maybe a month now -- through no fault of GitHawk. It's GitHub notifications that just aren't scaling for my needs.

I can +1 the idea of a context menu for filters.

Additionally, if there's a way to filter by merged PRs that would be a huge

[2018-11-28 16:37] rnystrom commented on #2413
1. Is for repo issue/PRs, not inbox
2. Is this not captured in the other filters?
3. Alternative. Per-repo view will have way too complex and confusing of UX because of API paging. Until a new and improved API (maybe GraphQL) launches, it can’t happen.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-28 16:37] Huddie commented on #2497
Just a quick update from #2413 to keep things up to date here.

Ryan suggested using the navigation bar drop down that we see throughout the app in the inbox and when you click it your presented with a context menu where you can select different inbox modes.

Modes being:
- Master list
- Notifications
- Assigned
- Mentioned
- etc

A new request would go out with each reload of the inbox since we w

[2018-11-28 16:38] rnystrom commented on #2497
Menu would give us a ton more options w/ the UI (icons, selection indicator, section headers, etc)

[2018-11-28 16:41] rnystrom commented on #2494
@Huddie wanna do some debugging on this since you've got the big phone? I _think_ this is the source of the bug:

https://github.com/GitHawkApp/GitHawk/blob/907ee5e475e67f7584c91aa0b8c2f8ab7a22b72b/Classes/View%20Controllers/SplitViewControllerDelegate.swift#L35

[2018-11-28 16:49] rob-nash commented on #2376
I found [this repository](https://github.com/intellum/neeman) today by @intellum. It might be useful to you.

Their recent work on this repo has broken two example projects nested in the root dir. So I submitted a PR to get the 'intermediate' example project running.

Checkout the code [here](https://github.com/intellum/neeman/pull/20) and navigate to Root/Examples/Intermediate and run `carthage b

[2018-11-28 17:01] ijm8710 commented on #2413
1. I understand that the linked ticket was originally specific to that. But isn’t there relevance to viewing created threads and filtering for open vs closed? Same for the inbox or really any of the me options.
2. Don’t believe so-
- current roadmap:
  - Inbox includes everything subbed (ie i follow all of github activity so I get notified of all activity not just activity I participated in)
  - m

[2018-11-28 17:22] Huddie commented on #2494
Sure. I’ll give it a looking

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-28 17:38] ijm8710 commented on #2376
@rob-nash is that a wrapper of the mobile site or an app?

[2018-11-28 18:20] rob-nash commented on #2376
@ijm8710 wrapper around WKWebView

[2018-11-28 19:44] jdisho commented on #372
What is this issue about? 🤔

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-28 20:10] rnystrom commented on #372
The only thing missing is viewing all labels in a repo. Other than that you can browse issues/PRs by label

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-28 21:56] Sherlouk opened #2499 "Transfer Issue [beta]"
![image](https://user-images.githubusercontent.com/15193942/49184868-572c6900-f358-11e8-9427-ae0b091a2ab1.png)

GitHub are adding a bunch of "beta" functionality likely without APIs but thought it was worth adding a ticket for the sake of having it written down as something we might want to add in the future!

[2018-11-28 21:57] Sherlouk opened #2500 "Delete Issue [Beta]"
![image](https://user-images.githubusercontent.com/15193942/49184956-8fcc4280-f358-11e8-9e10-47d1b3917efe.png)

GitHub are adding a bunch of "beta" functionality likely without APIs but thought it was worth adding a ticket for the sake of having it written down as something we might want to add in the future!

--

This seems to be different to close issue as that leaves the discussion visible!

[2018-11-28 21:59] rnystrom commented on #2499
❤️ the “no API” label!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-28 22:00] Sherlouk commented on #2499
Shame it gets overused 😂 Gosh darn GitHub we wanna play with all your new fancy toys!

[2018-11-28 22:08] j-f1 commented on #2500
Also closed issues can be reopened and locked ones unlocked.

[2018-11-28 23:32] Huddie commented on #2494
@rnystrom what’s the purpose that line serves?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-29 00:04] nickdaria opened #2501 "Jump to page location opens in Safari"
In markdown overviews using a table of contents, when linking to a header on the page (example: #FAQ) GitHawk attempts to open the #FAQ in Safari. This fails to load as it is simply pointing safari to #header

Example: Signale Console Logger Readme

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-29 00:05] nickdaria commented on #2501
https://github.com/klaussinani/signale

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-29 01:41] rnystrom commented on #2501
I think there are a few issues open on this, will find in a bit

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-29 01:43] rnystrom commented on #2494
I think it’s for VCs that need to hide when pushed (like Issues). Does that still work fine without this line when changing rotation?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-29 02:04] Huddie commented on #2494
@rnystrom pretty sure. I’ll check again

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-29 03:34] Huddie commented on #2494
Seems to work. Any specific device / steps I should try just to make sure?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-29 03:42] Huddie commented on #2494
Just a quick note:

IssueViewController has in the init

`self.hidesBottomBarWhenPushed = true`

And newIssueViewController has

`viewController.hidesBottomBarWhenPushed = true`

So there are individual vcs taking care of this on their own.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-29 03:48] Huddie commented on #2494
Also I ran the unit tests for split view (Awesome that we have these btw) and one failed on 2 asserts. I’m not sure if it failed because of a technical reason or because there would actually be an issue. Seems to be checking if each vc on the stack has hidesBottomBarWhenPushed enabled (the last 2 fail).

I’d have to look over and understand the test + splitViewControllerDelegate better to see if t

[2018-11-29 03:54] Huddie opened #2502 "Screen bug"
Couldn’t think of a good name for this but here are the steps to reproduce:

1. Write and send a comment
2. Proceed to edit the comment (no need to actually make an edit
3. Preview your markdown
4. Swipe backward
5. Hit cancel
6. The screen should be shifted down (you’ll know it when you see it)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-29 12:08] rnystrom commented on #2494
Can you look up the blame on the test to see where it came from? Sorry I totally forgot why this exists lol.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-29 14:56] rnystrom opened #2503 "Search Design"
- Use large title w/ native UISearchBar
- Limit "recent" to 5 (?)
- Maybe consider App Store cell design instead of our current cells
- Delay updating sort until navigation finishes (too busy of a transition)

[2018-11-29 14:59] rnystrom commented on #2497
Open to considering large titles for inbox too

[2018-11-29 14:59] ijm8710 commented on #2503
Not a ticket I’d put too much emphasis to request but what are your thoughts on #2347?

[2018-11-29 15:51] rnystrom commented on #2503
Lets keep that topic over there instead of crossing streams please

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-29 16:06] Huddie commented on #2494
https://github.com/GitHawkApp/GitHawk/commit/d6219f05e

Which fixes  #296

I span up the iPhone 7 Plus sim and tried to reproduce. To be honest I'm not fully sure I understand the steps but I did not see an issue.

I tried:

- Switching to split view
 - Opening an issue
- Switching to portrait
- Worked well

And:

- Opening an issue in portrait
- Switching to split view
- Switching back to portrai

[2018-11-29 16:17] rnystrom commented on #2494
I think as long as the tab bar goes away on Issues and stays gone through orientation changes on Plus devices, were golden. Happy to merge a PR on this!

And thanks for all the detective work @Huddie!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-29 16:23] Huddie commented on #2494
Sounds good. I’m going to test it out again to make sure I covered all devices and sequences and then update unit tests and push 👌

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-29 16:54] Huddie opened #2504 "Cancel network request if user backs out of view"
If you enter an issue and swipe back while it’s loading you may receive a squawk alert a few seconds later telling you network request failed. I think this happens because when you dismiss a view that’s currently in the middle of a network request we leave the request going.

To reproduce:

- Open an issue with bad network connection
- Dismiss before request returns (before view loads)
- Wait

You

[2018-11-29 17:20] rnystrom commented on #2504
Yesssss. This is pretty wasteful atm. We don’t store a token or anything for in flight requests, which is prob step one. Then on VC `deinit` we cancel requests for all tokens?

Also should prob be selective. For instance we don’t want to cancel mutations (eg add comment)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-29 17:36] Huddie commented on #2504
There are so many fun issues to complete

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-30 12:08] kocheck commented on #2497
Design should also consider how issue #2473 would affect this screen as well 👍

[2018-11-30 12:52] #2494 closed

[2018-11-30 12:52] #2379 closed

[2018-11-30 15:35] rnystrom opened #2506 "Issue selection design enhancements"
More inspo from Things 3. Here's how they do it:

- Unselected uses hollow tag icon
- Selected fills label icon
- Title is white

![img_5149](https://user-images.githubusercontent.com/739696/49298473-842d6880-f48b-11e8-9f4c-3d844cc058e7.jpg)

Now I don't think we need to go 100% this, but would be cool to explore designs that make selections more obvious. Ideas:

- White title label w/ 2pt border

[2018-11-30 15:37] rnystrom opened #2507 "Better blue for dark-background menus"
The `Blue.medium` is too dark and honestly kind of hurts my eyes. Things 3 has a really good contrast color. Either we should use that or tweak our blue used for:

- Titles/buttons
- Checkmarks
- etc

cc @kocheck

[2018-11-30 16:02] Huddie commented on #2506
That’s a beautiful blue

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-30 18:21] kocheck commented on #2506
I love that idea @j-f1   I think if we keep the labels contrast in mind it would make the feature more valuable :)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-01 13:19] kcm117 commented on #95
Having a tab to view your starred and owned repos would be a much needed and welcomed addition.

[2018-12-01 17:53] rnystrom commented on #95
Actually closing this in favor of #317

[2018-12-01 17:53] #95 closed

[2018-12-01 17:59] lleger opened #2511 "Subscribe to issue/PR"
Is it possible to subscribe to notifications for a specific issue or PR from GitHawk? This is not for the _repo_ but for issues individually. For clarity I’m talking about the following button on GitHub’s website.

![GitHawk Upload by lleger](https://i.imgur.com/L33JhCZ.jpg)

[2018-12-01 18:00] lleger commented on #2511
My current workaround is to hit the share button -> open in Safari -> scroll down to pictured button. Which is fine but it’d be great to have it build into the UI!

[2018-12-01 18:07] rnystrom commented on #2511
WIP with #2482 and dupe of #2149

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-01 18:07] #2511 closed

[2018-12-01 19:02] lleger commented on #2511
Oops, I had found that PR when I searched but for some reason it didn’t register as the same in my head. On second read it does. 😅 Glad there’s a PR. Thanks!

[2018-12-02 01:54] Sherlouk opened #2514 "Run project through Periphery"
Had had fairly good success using the tool for personal/work projects and we're at the point where we probably do have a few things hanging around that could get cleaned up!

Tried running it myself though and ended up hitting some configuration issues on my end (enforced old version of CP). Creating an issue in case someone else wants to take a look before I can get around to updating deps 👀

htt

[2018-12-02 01:55] Huddie commented on #2514
Super cool

[2018-12-02 15:31] rnystrom commented on #2093
This is fixed now

[2018-12-02 15:31] #2093 closed

[2018-12-02 15:31] rnystrom commented on #2025
Closing in favor of design resources repo

[2018-12-02 15:31] #2025 closed

[2018-12-02 15:32] #2377 closed

[2018-12-02 15:32] rnystrom commented on #2501
#2256

[2018-12-02 15:32] #2501 closed

[2018-12-02 15:33] schrodincat opened #2517 "Open external links in Safari"
It would be handy to have a setting to open all external links (or indeed GitHub links that GitHawk don’t handle through native UI) in Safari instead of in-app WebView.
This is a setting that you can find in many iOS apps and no doubt would be useful addition to many users.

[2018-12-02 15:34] rnystrom commented on #2517
@schrodincat would love a PR!

[2018-12-02 15:37] schrodincat commented on #2517
@rnystrom if only I knew how to code in Swift...😓

[2018-12-02 16:00] #2493 closed

[2018-12-02 17:13] Huddie opened #2519 "Update label names to match GitHub preference"
Any thoughts on updating

`starter-task` ~> `good first issue`
`help-wanted` ~>`help wanted`

I don't think it's that important but GitHub is set up to understand those label names and suggest "good first issue" to newcomers and inform users how many issues are "help wanted".

[2018-12-02 18:56] Huddie commented on #2519
What needs to be done:
- Update label text
- Update Readme to link to "good first issue" rather than "starter-task"

I think that's it. If we want this, I should be able to knock it out.

[2018-12-02 19:40] Huddie opened #2522 "Add Danger or equivalent"
As mentioned in #2514 the project is getting bigger and a bot would help @rnystrom with PR + other automation (like: #2405).

We discussed adding Danger to the project, I think @BasThomas suggested some derivative of Danger (Peril?). I guess this issue is to spark conversation on exactly which bot, what it can do for the project and get this thing moving a bit.

[2018-12-02 21:10] rnystrom commented on #2522
Open to suggestions!

[2018-12-02 21:45] Huddie commented on #2522
Here are a few:

- [Xcode Summary](https://github.com/diogot/danger-xcode_summary): Displays warnings/failed tests/errors in PRs
- [Changelog](https://github.com/dblock/danger-changelog): With the new feature banner coming to GitHawk we have to update the Release-Notes repo. To make life easier, all new feature PRs should be required to enter a short blurb in the changelog so that we can easily cr

[2018-12-02 22:16] Huddie opened #2523 "Improve/standardize event spacing to give better context"
![GitHawk Upload by Huddie](https://i.imgur.com/V9ozHvX.jpg)

Notice how The first 2 lines are close together whereas the next two have a space between them.

It’s good that subscribe to issue/PR is close to rnystrom referenced a day ago because these are all the same event

It’s not so good that [WIP] subscribe/unsubscribe is so far (seems like 2 new lines) from Huddie renamed ...

The extra spac

[2018-12-03 01:36] rnystrom commented on #2413
Started hacking on this today. Made some ground, but its a lot more complex than it seems. The API for mention/create/assign/etc issues is **not** a notification endpoint. So there's no "read" or "unread" status. It's a V3 API (there _is_ a GraphQL API as well).

This means we have to create a totally new request+display pipeline for it (section controllers, cells). Not impossible, just changes th

[2018-12-03 01:38] rnystrom commented on #2413
- [Notifications list API](https://developer.github.com/v3/activity/notifications/#list-your-notifications)
- [V4 issue filters](https://developer.github.com/v4/input_object/issuefilters/)
- [V3 issues](https://developer.github.com/v3/issues/#list-issues)

[2018-12-03 01:45] Huddie commented on #2413
Ya, I was using V3 issues. This looks amazing.

[2018-12-03 03:38] ijm8710 commented on #2413
Curious, what’s the difference between subscribed and inbox? This does look awesome though

[2018-12-03 03:43] rnystrom commented on #2413
That’s a good question, I’m not totally sure. We might be able to drop that one tbh.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-03 03:47] ijm8710 commented on #2413
For consistency with GitHub it might even make sense to do unread notifications with a bell icon. Of the two you have I think subscribed and it’s icon is more visually appealing than inbox though.

Did my comment make sense that it would be nice to have a view that encompasses participating either as comments or comments+authored as currently none of the options encompass a filter for threads you’

[2018-12-03 11:09] BasThomas commented on #2522
Regarding Danger / Peril: I feel like Danger does enough for us at this point, and would be easier to setup (no server needed).

[2018-12-03 11:22] j-f1 commented on #2413
How about having the repo filter as a separate button so people can select a combination of e. g. mentioned and a specific repo?

[2018-12-03 11:52] Huddie commented on #2413
Subscribed: All thread your subscribed to
Inbox: Notifications (could be a thread your subscribed to, watching, mentioned in)

Subscribed would show all those your subscribed to regardless if there was a recent notification/activity or not.
Inbox will show only those threads which your subscribed to (or watching <~ another difference) and have current activity (there was a notification)

<sub>Sent

[2018-12-03 12:09] ijm8710 commented on #2413
@Huddie but for #2482, if you watch a repo/thread that you may have never been mentioned or commented in, wouldn’t that still show as having an active subscription? Meaning for some reason I feel subscribed picks up watching...

[2018-12-03 12:17] Huddie opened #2526 "Understanding relative paths"
When I updated our Readme I switched `[setup guide](Setup.md)`to `[setup guide](full url)` because in GitHawk clicking the setup guide link would direct you to Githubs 404 page not found error.

This seems to be a problem with GitHawk and relative paths. It should be aware that the user tapped a link and that the link is not a url and then should try pulling up the file at that path.

One thing I’

[2018-12-03 12:32] ijm8710 commented on #2413
@Huddie let me try phrasing it a different way with a simple question. Since you’re talking about the difference between inbox and subs, I know we have “notifications” on native GitHub which can be peruses unread/read. Is there another *native* list view on GitHub that has a listing to compliment to essentially mimic the contrast you mention here?

[2018-12-03 12:38] Huddie commented on #2413
Issue Dashboard ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-03 12:43] ijm8710 commented on #2413
Yes and I see the issue dashboard has assigned, created, mentioned, but in the same way that unread notifications hits on how either inbox or subscribed works, what aggregate view on issue dashboard hits on the other. I’m basically asking is there a list-set in it that is different from anything else we see implemented in Ryan’s wip

[2018-12-03 12:52] Huddie commented on #2413
If your asking if there are threads subscribed to that you didn’t create, mentioned in or assigned. The answer is yes. Whether or not GitHub has this list visible I’m not sure.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-03 12:58] ijm8710 commented on #2413
My whole point is that it’d be nicer to have a participated list and a notification list (read vs all) than having both inbox and subscriptions...imo of course. And to perhaps have per-repo as a separate button for it as j-fi suggested

[2018-12-03 19:50] j-f1 opened #2527 "Missing commits in PR view"
This PR appears to have no commits: https://github.com/fkling/astexplorer/issues/362

It looks like the single commit in the PR doesn’t have a GitHub user associated with it, which might be the problem.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.25.0 (1542806489)
Device: iPhone 8 (iOS 12.1)
TestFlight: false
</pre>
</details>

[2018-12-03 19:59] Huddie commented on #2527
This could be a stretch but if you look at https://github.com/GitHawkApp/GitHawk/issues/1843 you can see that Ryan removed feature-request before ever adding it. Maybe we are losing some events?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-03 21:40] berrylaw opened #2528 "GitHawk"

[2018-12-03 21:41] j-f1 commented on #2527
I think that particular case is a bug on GitHub’s side since it also shows up on the website.

[2018-12-03 21:43] #2528 closed

[2018-12-03 21:44] Huddie commented on #2527
Oh ya that’s true 😀 nm then.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-03 21:54] goerz opened #2529 "Search not working when keyboard connected"
When I have the Smart Keyboard Folio attached, I cannot use the Search field in Githawk. Tapping it immediately selects and deselects it. It works if I detach the keyboard, tap, and then use the on-screen keyboard to search for something.

[code]

[2018-12-03 22:00] BasThomas opened #2530 "Remove “bookmarks will be removed” on logout"
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.26.0 (1543766544)
Device: iPhone X (iOS 12.1)
TestFlight: true
</pre>
</details>

[2018-12-03 22:01] rnystrom commented on #2529
Yuck, @BasThomas have you hit this?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-03 22:06] ijm8710 commented on #2530
Must we do anything for the syncing or is it automatic?

[2018-12-03 22:10] rnystrom commented on #2530
Auto, doesn’t delete anything

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-04 04:15] goerz commented on #2149
Strongly seconded. I very frequently subscribe to issues on repos where I'm "just a user/beta tester", so that I get notified when a fix for a particular problem is available. This very issue would a prime example! (of course, now I've commented on it, which subscribes me to updates, but in most cases, I'm just lurking without a comment).

[2018-12-04 04:56] jdmarshall90 opened #2531 "v1.26.0 beta - selecting bookmarked repo on iPad"
Doing this now pushes the repo details onto the master VC, instead of the detail VC.

I could be wrong, but I thought this behaved the other way around in previous builds? Either way, could this be fixed please?

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.26.0 (1543766544)
Device: iPad8,5 (iOS 12.1)
TestFlight: true
</pre>
</details>

[2018-12-04 13:48] BasThomas commented on #2499
Which I suppose makes sense, especially in this case 😅

[2018-12-04 13:54] BasThomas commented on #2529
🤔

No, haven't used my iPad in a while 😅

[2018-12-04 13:58] BasThomas commented on #2527
This is the JSON response for that page in GitHawk. Seems to have the commits, could be we can't parse them.

[code]

[2018-12-04 15:22] rnystrom commented on #2531
Def sounds like a bug. Will fix!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-06 01:53] Huddie commented on #2496
@Sherlouk instead of blocking it out maybe just warn the user “this pull request seems to be marked as a work in progress, are you sure you want to merge”

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-07 11:48] gingerbeardman opened #2534 "No space above blockquote"
See https://github.com/glushchenko/fsnotes/issues/432

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.26.0 (1543766544)
Device: iPhone 6s (iOS 12.1.1)
TestFlight: true
</pre>
</details>

[2018-12-08 17:16] BasThomas opened #2536 "Github emoji not working (anymore?)"
Thought this was supported?

![GitHawk Upload by BasThomas](https://i.imgur.com/ApkE2qj.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.26.0 (1543766544)
Device: iPhone X (iOS 12.1)
TestFlight: true
</pre>
</details>

[2018-12-08 17:19] ijm8710 commented on #2536
Was also about to post this as I saw labels for :bug: bug (assuming that’s related)

[2018-12-08 17:19] BasThomas commented on #2536
I don’t think we had those in labels before so I am not sure if they were supported in the first place, but yes.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-08 17:20] rnystrom commented on #2536
🚫

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-08 17:20] rnystrom commented on #2536
Oh I bet it’s from moving the string replace into markdown text instead of the whole string. Needs to find/replace HTML too.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-08 17:21] rnystrom commented on #2536
Nope we’ve never supported emoji in labels

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-08 17:23] ijm8710 opened #2537 "Stray oddities from bookmark refactor/iCloud integration"
Relating to #2483 bookmark refactor, we’ve seen cases where bookmarks are:

1) losing prior ordering
2) new bookmarks add to bottom , not top of list (if intended, 👌, just curious if you intentionally wanted to reverse that)
3) lost bookmarks-perhaps mostly coinciding with private repos

[2018-12-08 19:38] Sherlouk commented on #2537
Ok so I downloaded an older build off of TF and a few things of note:

1. Should we delete the local storage of bookmarks once they're migrated? One big nit I have with some apps is when they store files that can't be deleted without reinstalling the app and risk losing other things. I know the file is small in this case but yano?

2. I've just checked which ones disappeared and I think it looked

[2018-12-08 20:01] rnystrom commented on #2537
It’s related. I moved the repo “has issues enabled” and “default branch” settings to a fetch in the repo VC. This API auth difference between 3 and 4 is really frustrating.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-08 20:05] rnystrom commented on #2537
Details:

https://github.community/t5/GitHub-API-Development-and/Getting-quot-OAuth-App-access-restrictions-quot-for-GraphQL/m-p/14556#M262

[2018-12-08 20:05] rnystrom commented on #2537
I'm honestly thinking about **requiring** PAT login as the only option.

[2018-12-08 20:30] Sherlouk commented on #2537
Hmm yeah that's really frustrating!

I mean I'm completely up for just using PAT if it gives us more flexibility and less issues - but I do think we need to work out a nice way to explain this to users when shipping the update.

Wouldn't jump to my mind to switch to using PAT and don't want it to look like we've just logged users out or something!

[2018-12-08 20:34] rnystrom commented on #2537
Nope def wouldn't do that. Another option would be that when we get an OAuth error, show a more detailed alert on how to add a PAT to your account (requires updating account settings so you can override current login w/ a PAT tho).

Unfortunately I'm pretty burnt out on this project atm after this setback and the API hiccups w/ the inbox redesign. It'll be a while before I get back to anything.

[2018-12-08 20:40] Sherlouk commented on #2537
100% agree, it's these sorts of things outside of your control that send you completely crazy. The fact it feels like the V4 API is really a setback in some aspects versus the V3.

I do think your idea of showing a more detailed error with suggestions is definitely a great idea! Should we break this down into a separate issue for tracking and leave this for the reordering question?

[2018-12-09 14:30] Huddie opened #2539 "Press and hold for tag title"
If you see a tag in a comment like #000, you should be able to press and hold on it (kinda like press on GitHawk badge) to get a menu controller pop up with the tags title.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-09 14:56] #1296 closed

[2018-12-09 15:09] Sherlouk commented on #2514
I have never personally done it, but I don't see why not!

[2018-12-09 15:36] j-f1 commented on #2539
Should there also be 3D Touch support?

[2018-12-09 15:39] Huddie commented on #2539
That’s cool where else do we have that? I have XR so no 3D Touch :(

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-09 15:41] j-f1 commented on #2539
I don’t think there’s any other 3D Touch capabilities in-app at this point unfortunately.

[2018-12-09 15:45] Huddie opened #2540 "In app notifications"
Is there anyway to notify users who are currently in app when a new notification arrives. Right now must go to inbox and refresh to see if you got a new notification.
Or does this require a server?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-09 18:03] Huddie commented on #2539
@j-f1 #377 is opened for 3D Touch. Unsure what it’s status is. Looks untouched atm so feel free to pick it up.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-10 03:30] jdmarshall90 opened #2541 "Semi overlapping “more” button and bug report dump expander conflicting"
Hard to describe so here’s a screenshot:

![GitHawk Upload by jdmarshall90](https://i.imgur.com/PLQTCFd.jpg)

Tapping blue button either does nothing, expands the bug report dump, or if I leave the VC and come back, it might take me to a web view saying it can’t open a `tel` URL.

![GitHawk Upload by jdmarshall90](https://i.imgur.com/4XXlpna.jpg)

<details>
<summary>Bug Report Dump (Auto-generated

[2018-12-10 03:38] jdmarshall90 opened #2542 "Swipe left/right through images attached to issue / MR"
If there are multiple images attached to an issue (presumably for MRs as well?), you have to close the image and go tap on the other one if you want to see it. Would be nice to be able to page through them via swipe gesture.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.26.0 (1543766544)
Device: iPhone X (iOS 12.1.1)
TestFlight: true
</pre>
</details>

[2018-12-10 03:54] jdmarshall90 opened #2543 "Bookmark organization"
It would be nice to be able to organize bookmarks. I’m thinking maybe:

* Manually sort
* Auto sort criteria
* Folders

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.26.0 (1543766544)
Device: iPhone X (iOS 12.1.1)
TestFlight: true
</pre>
</details>

[2018-12-10 04:00] jdmarshall90 opened #2544 "Project management"
GitLab (I think GitHub does too?) has some nice PM tools:

* Issue boards with customizable criteria
* Burndown charts for releases

If this were in GitHawk, it might just make me switch to GitHub just so I could do these things natively.

iPad support would be a must for these, IMO.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.26.0 (1543766544)
Device: iPhone X (

[2018-12-10 04:15] Huddie commented on #2542
I think an issue exists for this

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-10 04:16] Huddie commented on #2541
I think there is a known issue about the expand button and the bug report and it not always working in general

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-10 04:17] Huddie commented on #2543
Closing #2376 #1886

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-10 04:18] #2543 closed

[2018-12-10 04:19] Huddie commented on #2542
Dupe #362

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-10 04:19] #2542 closed

[2018-12-10 04:20] Huddie commented on #2544
Dupe #318

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-10 04:48] ijm8710 commented on #2541
Probably my ticket on #2363?

[2018-12-10 14:18] romankl commented on #1869
is this one still a problem/ pr worth if no one is working at it?

[2018-12-10 16:03] BasThomas commented on #1869
Yep, go for it @romankl!

[2018-12-10 16:07] BasThomas commented on #2540
Should be possible!

[2018-12-11 15:30] mryuan0428 opened #2545 "。"
<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-11 15:30] #2545 closed

[2018-12-11 16:49] BrianLitwin commented on #2263
I want to track an extra detail of this feature, which is trying to give the user some touchDown feedback when they tap a label so that they understand what's happening when the view transitions.. possibly darken the font or dim the background of the IssueLabel?

[2018-12-11 16:52] j-f1 commented on #2263
How about reducing its alpha?

[2018-12-11 21:09] DaniSpringer opened #2546 "Deprecated status page"
Please link app to new GitHub status page

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.25.0 (1542806489)
Device: iPhone XR (iOS 12.1.1)
TestFlight: false
</pre>
</details>

[2018-12-11 21:12] romankl commented on #2546
The url changed to https://www.githubstatus.com/
Can I send a PR for this?

[2018-12-11 21:38] Huddie commented on #2546
@romankl ya!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-11 22:16] BasThomas commented on #2546
Weird move 🤔

[2018-12-11 22:19] BasThomas commented on #2546
[This](https://github.com/GitHawkApp/GitHawk/blob/083155077e06347f944e690f10385d793327ebca/Classes/Settings/SettingsViewController.swift#L147) would now be `https://www.githubstatus.com/`, without adding the `messages` path.

[This](https://github.com/GitHawkApp/GitHawk/blob/8452d73ab9aab9db3891dce102c4b1574acc95d0/Local%20Pods/GitHubAPI/GitHubAPI/GitHubAPIStatusRequest.swift#L20) one I think can

[2018-12-12 19:01] lleger opened #2548 "Uploading screen broken when editing an issue"
Repro:
- Edit an existing issue
- Upload an image
- Screen doesn’t include save button to exit screen

Screenshot illustrating issue:
![GitHawk Upload by lleger](https://i.imgur.com/A2bKMJS.jpg)

[2018-12-12 19:02] glynnis commented on #2548
I'm also seeing this.

[2018-12-14 17:16] BrianLitwin commented on #1616
+ 1 now that we've got emoji's in our bug label.. I'm going to look at this since I'm working on a few things related to labels already, but if anybody else knows how to fix, feel free!

[2018-12-15 00:07] Sherlouk opened #2549 "Pin Issues [Beta]"
https://twitter.com/github/status/1073314640963231744

Unsure of he would render this but looks like a neat feature!

[2018-12-15 00:41] j-f1 commented on #2549
They could show up above the README on the overview tab.

[2018-12-16 14:03] #2413 closed

[2018-12-16 17:10] Huddie commented on #2413
Why was subscribed dropped?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-16 17:42] rnystrom commented on #2413
Overlap with traditional notifications

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-16 18:13] ijm8710 commented on #2413
Excellent work Ryan! I have some comments/requests of course but for a bit I just want to let this soak in and appreciate the awesome work on it since I know you’ve felt a little burnt out and looks like you took a tiny hiatus hopefully to recharge a bit with this hobby! Good job with the dashboard suggestion too @Huddie

[2018-12-17 00:49] timonus opened #2551 "URL route for opening pull requests"
**Is your feature request related to a problem? Please describe.**
Not related to a problem, just a request for a new URL route.

**Describe the solution you'd like**
Following up from https://github.com/GitHawkApp/GitHawk/issues/418, and similar to another feature that was just added to another GitHub client here https://github.com/jkpang/PPHub-Feedback/issues/179, I would love it if GitHawk had

[2018-12-17 01:23] yjqiang opened #2552 "Api for Github Status"
https://status.github.com/messages
"status.github.com has been deprecated. You can find the current github system status at githubstatus.com."
And Githawk is using status.github.com to check the status. So maybe you should switch to githubstatus.com?

[2018-12-17 01:30] Sherlouk commented on #2552
Hey! This looks to be a duplicate of #2546 which has been picked up in PR #2547 which will hopefully make it's way through shortly!

[2018-12-17 01:30] #2552 closed

[2018-12-17 01:31] j-f1 commented on #2552
You can also [join the beta](https://testflight.apple.com/join/QIVXLkkn) to get these updates faster.

[2018-12-17 01:40] yjqiang commented on #2552
I just searched with the keyword "states". Sorry for my bad English.

[2018-12-17 02:10] rnystrom commented on #2551
Sadly we don’t even allow opening PRs yet, lots of prereqs ha.

Opening a new issue would be an easy start.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-17 02:48] timonus commented on #2551
Ah, by “open” I meant “open the app to view a PR”, not creating a PR.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-17 08:18] Sherlouk commented on #2552
No need to apologise 😄Thanks for raising an issue!

[2018-12-17 14:35] ijm8710 commented on #2497
Just make sure you’re on latest TF as some of the OP has changed :)

[2018-12-17 14:37] kocheck commented on #2497
Nice!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-18 10:20] rizwankce commented on #2551
@timonus Opening PR is same as opening an issue actually. Since Githawk handles everything as an issue.

Try this to open the #1000

`freetime://IssueRoute?owner=GithawkApp&repo=GitHawk&number=1000`

[2018-12-18 10:22] rizwankce commented on #2551
Also you can use `scrollToBottom` to automatically make GItHawk to scroll to the bottom of an issue or PR

[2018-12-18 14:07] onmyway133 opened #2554 "Just want to say thank you for great app"
❤️

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.25.0 (1542806489)
Device: iPhone X (iOS 12.1)
TestFlight: false
</pre>
</details>

[2018-12-18 15:44] timonus commented on #2551
Oh rad, that worked perfectly! Thanks!

Added to Opener in
https://github.com/timonus/OpenerManifest/commit/73ebaf680b082f4299b79fc726b78a8e94a0c343.

[2018-12-18 15:44] #2551 closed

[2018-12-24 02:58] #2530 closed

[2018-12-24 02:59] #2240 closed

[2018-12-24 03:23] genebean opened #2556 "Markdown files not rendered"
My expectation when opening a .md file is that it would be rendered like the readme is unless I've asked to see the source.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.25.0 (1542806489)
Device: iPhone XS (iOS 12.1.2)
TestFlight: false
</pre>
</details>

[2018-12-24 03:38] #2507 closed

[2018-12-24 15:04] kocheck commented on #2531
Wanted to drop these screenshots in for reference. 👍

![img_0025](https://user-images.githubusercontent.com/7952000/50402265-43abcc80-0763-11e9-8c59-0ea890a618cf.JPG)
![img_0024](https://user-images.githubusercontent.com/7952000/50402266-44446300-0763-11e9-99d5-28534ecf8d0f.PNG)

[2018-12-24 16:30] kocheck commented on #2497
Reading through all the additional issues and taking notes to make some soft design requirements. I have a question for whomever it may concern. ✌️

Reading through the issues I have an idea to make the inbox more flexible for different workflows. How do you folks feel about allowing the user to choose what mode should be default in the inbox?
So for me, I like to have a repo overview. It looks li

[2018-12-24 20:16] Huddie commented on #2497
Makes sense to me @kocheck

[2018-12-24 22:59] kingleo103 opened #2559 "Newsesh"
<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-24 23:11] #2559 closed

[2018-12-25 11:40] j-f1 opened #2560 "Support fixed holidays"
I noticed that my inbox doesn’t have the expected 🎅 icon today. It looks like the code that sees if there’s a special icon looks first for a mapping for this year, then for a fixed mapping. Instead, it should try to get the **day** from each key. Example code:

[code]

Merry Christmas!

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.26.0 (1544968988)
Device: iPhone 8

[2018-12-26 00:20] deekay opened #2561 "When user likes a highlight, show story to people who follow that user"
Don't do this for comments.  We should separately track and design for comments which is more complicated.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.25.0 (1542806489)
Device: iPhone X (iOS 12.1.2)
TestFlight: false
</pre>
</details>

[2018-12-26 00:22] deekay opened #2562 "When user adds a comment show story to users who follow that user"
Special design requirements needee

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.25.0 (1542806489)
Device: iPhone X (iOS 12.1.2)
TestFlight: false
</pre>
</details>

[2018-12-26 00:22] deekay opened #2563 "When user follows a user, show follow as a story to users who follow that user"
Requires design

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.25.0 (1542806489)
Device: iPhone X (iOS 12.1.2)
TestFlight: false
</pre>
</details>

[2018-12-26 00:59] rizwankce commented on #2561
@deekay are you sure? You are reporting Githawk bug of feature request. If not pls close it.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-26 01:10] deekay commented on #2561
Sorry, my bad.  Just downloaded Githawk and still trying to figure it out.  How do I close?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-26 01:10] #2561 closed

[2018-12-26 01:37] #2562 closed

[2018-12-28 04:15] BrianLitwin opened #2564 "Link to search-labels in-app"
I’ve noticed a few repos that link to their issues labeled as good starter-tasks in the contributing section of their ReadMe -this would be pretty straightforward to recognize via a regex and keep in-app vs linking out to github.com.. the re-routing part is still a WIP, but wanted to track this.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-29 20:44] #2517 closed

[2018-12-29 20:52] rnystrom commented on #2563
Sorry, what?

[2018-12-29 20:53] rnystrom commented on #2560
@j-f1 mind submitting a PR w/ the fix? Bummer we missed Santa!

[2018-12-29 20:53] #2554 closed

[2018-12-29 20:54] #2544 closed

[2018-12-29 20:54] rnystrom commented on #2541
Yup all dupes

[2018-12-29 20:54] #2541 closed

[2018-12-29 20:54] #2165 closed

[2018-12-29 20:55] deekay commented on #2563
Sorry, I was confused about how to use GitHawk.  Was meant to be on my own project, not on the GitHawk project.

[2018-12-29 20:55] #2563 closed

[2018-12-29 21:32] rnystrom commented on #2556
Would def be a nice feature to have:

- Open md files and see them rendered
- Add a "view source" or "raw" option in the "..." menu

[2018-12-29 21:34] rnystrom commented on #2548
Is this on the TestFlight version? Also happening on the App Store?

If on TF, can you use FLEX to debug the view and see what's up?

FWIW I can't repro this

[2018-12-29 21:36] rnystrom commented on #2540
This requires some significant thought/work if we wanted it. Right now notifications only arrive on manual refresh (or refresh after a certain period in the background). "Push" notifications are only displayed from a background task, so the app has to be backgrounded.

If we wanted to go this route, we need:

- An in-app UI to do notifications
- A new fetch mechanism that polls for updates and the

[2018-12-29 21:36] #2540 closed

[2018-12-29 23:27] Huddie opened #2569 "Consistent Blues"
We updated the blue for the context menu. This blue is different from the remaining blue in the app. Do we want this or should we try migrating over to the new blue ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-29 23:43] rnystrom commented on #2569
Nope, that blue is for better contrast against the dark bavkground

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-29 23:43] #2569 closed

[2018-12-30 04:42] lleger commented on #2548
Happened on both versions. Happy to help debug but not sure what FLEX is?

[2018-12-30 07:41] BasThomas opened #2570 "Reactions broken"
See https://www.icloud.com/sharedalbum/#B0L5yeZFhG2CVq4

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.26.0 (1546118911)
Device: iPhone X (iOS 12.1.2)
TestFlight: true
</pre>
</details>

[2018-12-30 07:43] BasThomas commented on #2548
In TestFlight builds, you can enable FLEX (an in-app debugger) with a three finger tap anywhere on the screen.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-30 15:16] #2570 closed

[2018-12-30 15:17] rnystrom commented on #2376
Closing this as its just a summary of already-tracked issues

[2018-12-30 15:17] #2376 closed

[2018-12-30 15:20] jdisho commented on #1677
As I see, it not possible to edit or delete a PR comment. Am I missing something @BasThomas ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-30 17:46] BasThomas commented on #1677
Hm yeah, no idea why I thought this was in. Sorry!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-30 21:30] #2537 closed

[2018-12-30 21:50] lleger commented on #2548
That is super cool. I’m not able to recreate this anymore with the latest TF version (maybe it was intermittent or got fixed in a recent build). I’ll use FLEX if it happens again and update here.

[2018-12-30 23:37] ijm8710 opened #2574 "Inbox ordering should sort at very least when pull down refreshed"
[Here is an example where now doesn’t bump to top even when I manually refresh](https://i.imgur.com/r2xlnZb.jpg)

I’ve seen it for 2m 3m as well so it’s not just with a “now” timestamp.

Essentially, I expect the behavior for the sort, when manually refreshed, to auto resort by timestamp for all issues without super new ones not falling  into correct place

[2018-12-31 00:36] ijm8710 commented on #2574
I’ve actually noticed that I think github lags itself. That being said, I would assume it’s pretty simple to add an additional sort to kick in after refresh. So essentially it’s not a fault of githawk, but imo, it can be done better than how it’s done natively

[2018-12-31 01:32] ijm8710 opened #2575 "Badge count to show actual number when 50+"
Not pressing, but if you’re open to it I think it makes more sense

[2018-12-31 02:14] rnystrom commented on #2575
Unfortunately can’t unless GitHub adds a new API (GraphQL ideally)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-31 02:14] #2575 closed

[2019-01-01 20:04] n3oney opened #2576 "status.github.com is deprecated"
Status.github.com is deprecated, you should use githubstatus.com now ;)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.25.0 (1542806489)
Device: iPhone 6s (iOS 12.1.1)
TestFlight: false
</pre>
</details>

[2019-01-01 20:06] BasThomas commented on #2576
Dupe of #2546, but thanks for pointing it out!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-01 20:06] #2576 closed

[2019-01-02 16:03] berrylaw commented on #2564
[]()

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-02 16:03] berrylaw commented on #2574
[]()

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-02 19:01] lleger commented on #2548
I was able to recreate this issue. When I had opened it originally, it was happening with a screenshot image, but that no longer seems to be an issue. However, I'm able to recreate this now consistently using a GIF.

I'm happy to help debug some more but FLEX is no longer working for me with a three-finger tap.

[2019-01-02 20:06] BasThomas commented on #2548
Yeah; the current version is a golden master which has it disabled. 😬

[2019-01-03 12:06] ismetanin opened #2582 "PR Reviewers changes apply when tapping on an empty space"
**Describe the bug**
PR Reviewers changes apply when tapping on an empty space.

**To Reproduce**
1. Go to any PR
2. Click on the floating button
3. Click on the "Reviewers" button
4. Change reviewers list
5. Tap on the empty space outside of the dialog
6. See changes in Reviewers of a PR

**Expected behavior**
When I tap on the empty space I wanna discard all changes and close dialog. Or maybe do

[2019-01-03 17:33] ijm8710 opened #2583 "Issue fetch bug when loading a specific watched repo and having some older items outside the scope of initial pagination"
[Video repro](https://streamja.com/E1E5)

Repro description: I have ~62 unmarked inbox issue items. Initially it loads 50 and I can scroll down to fetch the additional 12.
For the repro that contains the majority of these unread items, some are intermittent and can extend back a month or two. When fetching within that specific repro, the fetch does not complete and the badge number directly double

[2019-01-03 22:07] rnystrom commented on #2574
Sorting on the client brings tons of risk that we get out of sync with what GitHub is doing. The client should try to be as dumb as possible and let the server handle state and order.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-03 22:08] rnystrom commented on #2582
Happy to change the design here so there is an explicit “are you sure?” dialog when cancelling after changes.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-03 22:09] rnystrom commented on #2583
Can you do some debugging with FLEX or the GitHub API to see where the difference is?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-03 22:23] garethtdavies opened #2584 "Update to 1.27.0 crashes on launch"
**Describe the bug**
Upgraded via iOS updates to the latest version of 1.27.0. Now opening GitHawk immediately crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Update to 1.27.0.
2. Open the GitHawk app

**Smartphone (please complete the following information):**
 - Device: iPhone XR
 - OS:  - iOS 12.1.2

[2019-01-03 22:30] ijm8710 commented on #2583
@rnystrom I shall try but do you have a good resource/link or simplified bullets of what to do

I tried the 3 finger tap and also enabled a debug setting. Didn’t know where to go from
There. I tried googling and no luck with anything that gave me insight on this

[2019-01-04 01:10] rnystrom commented on #2584
Ugh that’s not good! I just installed prod and it’s working fine. I’ll have to pull up some crash logs.

@garethtdavies can you try uninstalling and reinstalling? Or joining TestFlight?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-04 01:21] garethtdavies commented on #2584
@rnystrom I just joined TestFlight and it still happens so hopefully, you can see the logs?

[2019-01-04 01:41] #2584 closed

[2019-01-04 03:18] timonus opened #2586 "Repo top tab bar pixelated in latest beta"
Something strange seems to have happened in the latest beta, the top tab bar is always pixelated.

![GitHawk Upload by timonus](https://i.imgur.com/9QCCGmn.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-04 15:24] MohamedElPrince opened #2587 "Can not see all branches - too many branches"
I have a repo with too many branches, when switching to a specific branch I cannot find it listed.
And there’s no search or pagination or even manual branch name entry

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-04 17:12] rnystrom commented on #2587
Ah the branches view doesn’t support pagination. This would be a great feature to add.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-04 17:18] rnystrom commented on #2586
Ugh, [this line](https://github.com/GitHawkApp/GitHawk/pull/2573/files#diff-21ca3539bc6215ced0423adff0e610e9R312) wasn't pulled. Reverting #2573 temporarily.

[2019-01-04 17:19] #2586 closed

[2019-01-05 03:19] dbauducco opened #2589 "Top tab bar text is soft"
![Example image by dbauducco](https://i.imgur.com/4xsdIlx.jpg)

On my iPhone XR, the top tab bar text looks soft.
Similar to another earlier issue, but in that case, the text was pixelated. (#2586)

Currently running Beta 1.27.0 from Test Flight.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-05 13:58] rnystrom commented on #2589
Dupe #2586

[2019-01-05 13:58] #2589 closed

[2019-01-05 15:29] j-f1 opened #2591 "Hamburger button expands"
I’m not sure how to repro this, but I tapped it at the same time I was posting a comment, and this happened:

![GitHawk Upload by j-f1](https://i.imgur.com/cnzAqIe.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.0 (1546443046)
Device: iPhone 8 (iOS 12.1.2)
TestFlight: true
</pre>
</details>

[2019-01-05 15:46] rnystrom commented on #2591
Yuck, if you find a way to repro lmk

[2019-01-05 15:49] j-f1 commented on #2591
Test

[2019-01-05 15:49] j-f1 commented on #2591
Yep, sending a comment and tapping the hamburger button at the same time repros.

[2019-01-05 16:43] rnystrom commented on #2591
Test

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-05 16:43] rnystrom commented on #2591
Can you give some detailed steps?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-05 18:26] grafele opened #2592 "App Crash after rename"
Hi! I‘ve recently renamed one of my repos and it was stored as a bookmark in the app. After the renaming the app instantly crashed after launch. This should be easily reproducable.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.1 (1546566111)
Device: iPhone X (iOS 12.1.2)
TestFlight: false
</pre>
</details>

[2019-01-05 18:31] rnystrom commented on #2592
Oh no! I’ll take a look and see if something sticks out. Did it only crash once?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-05 18:33] grafele commented on #2592
Wow that was a fast response 😅 No it crashed on every app start and I had to delete and reinstall the app. Afterwards everything was working again.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-05 18:35] rnystrom commented on #2592
Bummer, debugging right now.

[2019-01-05 18:38] rnystrom commented on #2592
@grafele hmm repro worked just fine w/ a cold and warm start. My hunch is you were using 1.27.0 which had a nasty crash w/ bookmark syncing, deleted the app, then reinstalled 1.27.1 (just came out yesterday) which is working.

I'll keep this open for a day just in case it pops back up.

[2019-01-05 18:47] grafele commented on #2592
Oh this is totally possible. Thanks for taking a look at it!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-05 18:48] rnystrom commented on #2592
Ref #2584

[2019-01-05 19:07] grafele commented on #2592
I've attached the crash reports so that you can verify if it is the same crash referenced in issue 2548.

[Githawk Crash-Reports.zip](https://github.com/GitHawkApp/GitHawk/files/2729804/Githawk.Crash-Reports.zip)

[2019-01-05 23:17] crrapi opened #2594 "Odd pixelation in repo bar"
There is some pixelation where the Overview/Issues/Pull Requests/Code bar is. (It looks much worse in person, believe me) Not sure why this is occurring, might be an issue on my end. ![GitHawk Upload by crrapi](https://i.imgur.com/jBSb9KP.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.1 (1546566111)
Device: iPhone X (iOS 12.1.3)
TestFlight: false
</pre>
</de

[2019-01-05 23:54] Huddie commented on #2594
@rnystrom was this fixed in 1.27.1? Cause I assumed this was a dupe but the bug dump says 1.27.1 which is the new release ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-06 00:35] j-f1 commented on #2591
Test 2

[2019-01-06 00:38] j-f1 commented on #2591
1. Type a comment in an issue.
1. Place your right thumb over the send button.
1. Place your left thumb over the hamburger button.
1. Press the send button then the hamburger button in immediate succession.

[2019-01-06 01:05] Sherlouk commented on #2594
Hmm this is looking fine for me now on 1.27.1 🤔

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-06 01:34] rnystrom commented on #2594
Yup dupe and fixed

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-06 01:34] #2594 closed

[2019-01-06 02:38] rnystrom commented on #2591
Test

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-06 02:38] #2591 closed

[2019-01-06 13:31] j-f1 opened #2596 "Error when starting GitHawk without internet connection"
My bookmarks are migrated, but I get this error when starting GitHawk without an internet connection:

![GitHawk Upload by j-f1](https://i.imgur.com/vF1cuRj.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.1 (1546622353)
Device: iPhone 8 (iOS 12.1.2)
TestFlight: true
</pre>
</details>

[2019-01-06 15:14] rnystrom commented on #2596
Can’t seem to repro this. Is it persistent if you go back online/offline again?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-06 18:06] rnystrom commented on #2596
Yup did that, just got a general error message, not a migration alert

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-06 19:09] j-f1 commented on #2596
Huh, are you on TF?

[2019-01-06 19:57] Huddie commented on #2596
I got a squawk no internet connection error

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-06 20:40] rnystrom commented on #2596
@j-f1 yup, same here @Huddie

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-06 20:57] j-f1 commented on #2596
Looks like the current TestFlight is the prod version, so I can’t enable FLEX.

[2019-01-07 12:15] ChengLuffy opened #2597 "API Status web page will be deprecated"
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (1546696737)
Device: iPhone XS (iOS 12.1.2)
TestFlight: false
</pre>
</details>

[2019-01-07 12:16] Sherlouk commented on #2597
Dupe of #2546 - fix in progress 😄

[2019-01-07 12:16] #2597 closed

[2019-01-08 02:42] j-f1 commented on #2596
Seems like there’s a GET request to the GraphQL API, then a POST to fetch a bunch of repos (maybe other stuff too — the query is so long it exceeds the horizontal-scroll abilities of FLEX)

[2019-01-10 13:50] gingerbeardman opened #2598 "Bookmarks migration issue"
Worrying, but it seems my bookmarks were migrated.

As you can see I had (weak) 4G data at the time.

Error
![GitHawk Upload by gingerbeardman](https://i.imgur.com/Z8EaJoe.jpg)

Bookmarks tab, I did not dare to press migrate (which seems to be off-screen in this screenshot)
![GitHawk Upload by gingerbeardman](https://i.imgur.com/ySJnHrh.jpg)

Force quit and reload app
![GitHawk Upload by gingerbea

[2019-01-10 14:32] ijm8710 commented on #2598
Dupe of #2596

[2019-01-10 14:42] gingerbeardman commented on #2598
Thanks! Closing in favour of original.

[2019-01-10 14:44] gingerbeardman commented on #2596
I had this in #2598. I had cellular data but no wifi at the time, though it was a weak signal.

This was the first time I was aware a migration had or was happening.

[2019-01-14 09:19] mesqueeb opened #2599 "Request: no line breaks in code"
I think horizontal scroll on the code preview is a little bit better for code preview. It's much clearer than the automatic line breaks added by githawk. See below a comparison between githawk and github in the browser.

# githawk
![b9173b6c-5f68-4571-b482-76fa375a4bab](https://user-images.githubusercontent.com/3253920/51104106-7d369b80-1828-11e9-9cd1-cec4e2bed0ba.png)

# github in the browser
![1

[2019-01-14 10:01] sergioestevess opened #2600 "PR is missing"
Can’t see a PR opened by me in the inbox view with the **All** filter applied.

[2019-01-14 19:35] j-f1 opened #2601 "Update “Request Changes” icon"
GitHub [just](https://blog.github.com/changelog/2019-01-14-updated-request-changes-icon/) updated the icon used for requesting changes to this one:

![New icon](https://i.imgur.com/4voO6SS.jpg)

It doesn’t appear to be available in the Octicon set just yet.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.1 (1546622353)
Device: iPhone 8 (iOS 12.1.2)
TestFlight: tru

[2019-01-14 19:39] Huddie commented on #2601
I just saw this +1

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-17 19:46] j-f1 opened #2602 "Mark as unread"
GitHub now supports [marking notifications as unread](https://help.github.com/articles/marking-notifications-as-read). The icon appears to be [`primitive-dot`](https://help.github.com/articles/marking-notifications-as-read). Doesn’t seem like there’s an api yet.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.1 (1546622353)
Device: iPhone 8 (iOS 12.1.2)
TestFlight

[2019-01-17 21:58] inkoperative commented on #1894
#2602

[2019-01-17 22:23] inkoperative opened #2603 "App stalling"
<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-17 22:34] #2603 closed

[2019-01-18 02:36] qinghai5060 commented on #2599
dont aggree

[2019-01-18 12:12] joseconstela opened #2604 "GitHub status page deprecated"
Status.github.com is deprecated. The link on the app should be updated

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.1 (1546622353)
Device: iPhone X (iOS 12.1.2)
TestFlight: true
</pre>
</details>

[2019-01-18 12:18] Sherlouk commented on #2604
Dupe of #2546 - fix in progress 😄

[2019-01-18 12:18] #2604 closed

[2019-01-19 00:28] j-f1 opened #2605 "Support new reactions"
GitHub [just released](https://github.blog/changelog/2019-01-18-more-reaction-emojis/) support for the 🚀 (“rocket”) and 👀 (“eyes”) reactions. It would be nice to be able to support these in GitHawk.

(the web UI now splits the reactions into two rows of four emoji on both desktop and mobile)

[2019-01-19 03:27] germanbo5 opened #2606 "+pat"
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.1 (1546622353)
Device: iPhone 8 Plus (iOS 12.0)
TestFlight: true
</pre>
</details>

[2019-01-19 04:52] inkoperative commented on #2606
[wink](url)

[2019-01-19 05:28] #2606 closed, assigned to nobody

[2019-01-19 05:54] germanbo5 opened #2607 "cordova"
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 12.0 (1546622353)
Device: iPhone 8 Plus (iOS 12.0)
TestFlight: true
</pre>
- - </details>

[2019-01-19 06:10] germanbo5 opened #2608 "Classes/Bookmark/RepositoryDetails+ListSwiftDiffable.swift"
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.1 (1546622353)
Device: iPhone 8 Plus (iOS 12.0)
TestFlight: true
</pre>
</details>

[2019-01-19 06:28] germanbo5 opened #2609 "https://github.com/floatinghotpot/cordova-admob-pro"
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.1 (1546622353)
Device: iPhone 8 Plus (iOS 12.0)
TestFlight: true
</pre>
</details>

[2019-01-19 12:34] johne4013 opened #2610 "Learn-to-compute"
Beginner

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-19 13:07] #2610 closed

[2019-01-19 16:16] #2609 closed

[2019-01-19 16:16] #2607 closed

[2019-01-19 16:17] ijm8710 opened #2612 "Mentioned issues (perhaps assigned too) don’t correlate with native desktop"
My assumption is that the app only displays them if they’re unread perhaps? If so, ideally this still goes back to an unread/read toggle but if not I feel they should correlate with site.

[2019-01-19 16:17] #2608 closed

[2019-01-19 16:22] ijm8710 opened #2613 "Would be great to capture the participated view from native notification view"
Not sure this is captured in the newish inbox menu redesign. Great job again on that by the way. My vision would be for it to basically include any item you follow watch comment or author.

[2019-01-19 20:22] thatoneguyfromutah opened #2614 "Document Provider Support"
Though it may be an underutilized feature among developers, iCloud Desktop & Document sync enables editing codebases usually isolated to a Mac/PC on iPhone and iPad. I utilize this feature frequently, so it would be convenient to edit my private repos stored locally on iPhone and in my personal iCloud documents within GitHawk. Plus it enables automatic support for Drive, Dropbox, etc. if you're us

[2019-01-20 05:23] Sherlouk opened #2615 "Disallow Empty Bug Reports"
Noticed there's been a number of empty bug reports that end up just being closed down or things that don't really make sense. Probably not a huge issue as they just get closed down and move on with our day.

Having said that, is it worth adding a guard in the 'submit bug report' page to prevent empty bug reports? Or at least a confirmation?

Happy to close if no one really minds but thought I'd ra

[2019-01-20 05:33] Sherlouk commented on #2605
Fun fact: The app actually renders unknown emojis as 👍.

We should probably fix that here too? Maybe either ❓ or just hide the item?

[2019-01-20 05:37] Sherlouk commented on #2605
Unknown defaulting to 👍 is coded here:
https://github.com/GitHawkApp/GitHawk/blob/c23945ac7dfe015f3f7218668b5caef2355ac7db/Classes/Issues/Comments/Reactions/ReactionContent%2BReactionType.swift#L18

Possible reactions are here:
https://github.com/GitHawkApp/GitHawk/blob/e7386183de8b65aa0dd230100dd4a3eb5be14b32/Classes/Issues/Comments/Reactions/ReactionsMenuViewController.swift#L41-L48

Actual reac

[2019-01-20 11:39] j-f1 opened #2617 "Error when opening notification from private repo"
FLEX shows a 404 from `https://api.github.com/repos/<org>/<repo>/collaborators/j-f1/permission`.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.1 (1546622353)
Device: iPhone 8 (iOS 12.1.2)
TestFlight: true
</pre>
</details>

[2019-01-20 23:57] jackfyy8686 opened #2619 "Hi"
My key file at where?

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (1546696737)
Device: iPhone 6 (iOS 12.1.2)
TestFlight: false
</pre>
</details>

[2019-01-21 05:58] #2619 closed

[2019-01-21 17:43] j-f1 commented on #2591
Test

[2019-01-21 17:44] j-f1 commented on #2591
Alternate repro: press and hold the hamburger button, then tap send to post the comment before releasing.

[2019-01-21 17:44] j-f1 commented on #2591
Test

[2019-01-21 17:54] ijm8710 commented on #2497
Would it make potential sense to have the repos drop down list both starred repos in addition to watched repos. Or would you want those just moreso accessible from revised wireframes profiles in #?

[2019-01-21 23:11] jackfyy8686 opened #2621 "wordpreas"

[2019-01-21 23:15] #2621 closed

[2019-01-21 23:19] jackfyy8686 commented on #2621
how to install Wordpress credentials

[2019-01-22 14:00] kocheck commented on #2497
I like that idea @ijm8710  Do you think we would need some sort of search feature then? I know for some users that I have seen, the Stars list gets quite long.

[2019-01-22 14:08] ijm8710 commented on #2497
That or a scroller wouldn’t hurt if that’s the case

[2019-01-22 15:41] Huddie commented on #2497
@kocheck There is actually an issue that requests the search in the context-menu feature. I think search is a good addition

[2019-01-22 15:47] Huddie commented on #2617
What's the actual error given by squawk? Could be a PAT/OAuth thing again

[2019-01-22 15:51] kocheck commented on #2497
Oh I will add that to my wireframes then. I think that could be useful in the long run.

[2019-01-22 15:53] Huddie commented on #2613
2 options:
1. You want to split up notification into (All, participating, etc) Meaning once you click the issue it is read and disappears.
2. You want to have a section that shows all issues you're currently watching, commented on, or authored. In which case, we had that in inbox redesign (https://github.com/GitHawkApp/GitHawk/issues/2413#issuecomment-443692746, subscribed) but removed it

[2019-01-22 16:07] ijm8710 commented on #2613
Hey @Huddie

Two comments

1. [so “participating” is one of the desktop notification views and we don’t currently capture it](https://i.imgur.com/a6NKeP2.jpg)
2. I had a brain-fart. What I would really love is to have a view of items you’ve commented and/or authored. Essentially anything where you’ve directly provided feedback in. Ideally, this differs from 1) as I’d love for it to be inclusive of

[2019-01-22 16:15] Huddie commented on #2613
@ijm8710 I'd suggest looking to see if Github documentation has a filter for this or if its a combination of some filters. Otherwise, it requires client-side filtering of the "all" category.

[2019-01-22 16:24] ijm8710 commented on #2613
@Huddie I think it does [here](https://developer.github.com/v3/activity/notifications/)

[2019-01-22 16:37] Huddie commented on #2613
That's under notifications. notification become unread and disappear. You won't get read and unread, unfortunately.

[2019-01-22 17:17] ijm8710 commented on #2613
Good point. For comparison, codehub has a profiled events section that represents this. They have the participating notification view as well for that other piece. I’ll do a little more digging for the first, but haven’t found anything yet.

[2019-01-22 17:43] j-f1 commented on #2617
I’m using a PAT.

[2019-01-23 03:25] mesqueeb opened #2623 "[Feature Request] own comment footer."
I see that Githawk uses "sent with githawk" underneath my posts.

I don't mind this phrase, but **would very much like to set my own footer**, that would be displayed like down below in this post:

<sub>Sent with <a href="http://githawk.com">GitHawk</a><br>--<br>thanks everyone for using my library!<br>You can <a href="https://www.buymeacoffee.com/mesqueeb">buy me a cup of coffee</a>.</sub>

[2019-01-25 15:20] BasThomas commented on #2614
Hi @thatoneguyfromutah! This sounds interesting, but I think there are already apps out there that can do this, like Git2Go or Working Copy. I don't think any file-editing is planned for GitHawk at the moment.

For what it's worth, you can open repositories in Working Copy from GitHawk if you have the app installed!

[2019-01-28 16:25] theseatoms commented on #1815
@therealparmesh +1. I just installed this app and it looks great. Being able to view a list of my starred repos would be a great feature to have.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-29 04:41] Architgoel4 commented on #2403
Hi, I'd like to pick this issue. But I'm not sure I fully understand this problem. Do we have to arrange the array based on the reactions array (ReactionMenuViewController) or based on what the user entered?
Also, it's my first time contributing to GitHub projects. I have intermediate swift knowledge.

[2019-01-29 04:55] Huddie commented on #2403
@Architgoel4 When a reaction is added, it should respect the order of the array mentioned above. Not the order it was added but the order determined by Github (and shown in that array)

[2019-01-29 07:35] Architgoel4 commented on #2403
Okay, thanks @Huddie! I'll take a look at this then.

[2019-01-30 01:42] flovilmart commented on #2137
@rnystrom I will have some time to jump on that. I recenlty changed my github workflow to 100no emails :)

[2019-01-31 16:12] moimikey commented on #2137
yey

[2019-01-31 16:39] flovilmart commented on #2137
@rnystrom did you have anything in mind for the positioning of such actions?

I am futzing with multiple options:

- From the menu (with labels and milestones) add Approve / Reject
- From the menu add 'Add Review' which pushes a new controller with a textView + MergeButton (customized)
- From the files list

etc...

[2019-02-02 05:34] mackenziethorne commented on #2582
August123!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-03 10:48] pradeepb28 opened #2626 "Ambiguous type name 'State' in 'UIButton'"
**Describe the bug**
Followed all steps to build and run the app but unfortunately I have following issues:
- Multiple commands produce
- Ambiguous type name 'State' in 'UIButton' / State' is ambiguous for type lookup in this context

**To Reproduce**
Steps to reproduce the behavior:
Run the app - Xcode 10.1

**Screenshots**

<img width="259" alt="screen shot 2019-02-03 at 1 47 44 pm" src="https:/

[2019-02-03 20:02] cbalea opened #2627 "Ttt"
Uuu

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (1546696737)
Device: iPhone 6s (iOS 12.1.2)
TestFlight: false
</pre>
</details>

[2019-02-03 20:04] #2627 closed

[2019-02-04 02:51] ndizazzo opened #2628 "Migration notification constantly appears after first Occitan ever"
Expected: migration notification appears once

Actual: For bookmarks that can’t be migrated during startup, the prompt is continuously shown on every launch.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (1546696737)
Device: iPhone X (iOS 12.1.3)
TestFlight: false
</pre>
</details>

[2019-02-06 09:09] amirmasoudabdol opened #2630 "Blurry Text on the Toolbar"
Hi,

I’ve noticed that tab’s texts in the toolbar are quite blurry. Check out the screenshot.

Cheers,
Amir

![GitHawk Upload by amirmasoudabdol](https://i.imgur.com/H8vn9mR.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.0 (1546443046)
Device: iPhone XS (iOS 12.1.3)
TestFlight: true
</pre>
</details>

[2019-02-06 09:27] Sherlouk commented on #2630
Potential dupe #2586? Is this problem still in the latest version?

[2019-02-06 16:53] brovach opened #2632 "Nothing ever appears in the Inbox"
I have Authorized GitHawk as an OAuth Application, given it all the necessary permissions to view and control private repositories, have given it access to my Organization, and retried the process twice, but I still have yet to receive any notification in my inbox when any updates occur for any of my repos.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (154669

[2019-02-06 17:02] #2632 closed

[2019-02-07 04:35] lebensterben opened #2634 "“API Status” needs to be updated"
Currently this function works well but there’s a warning that

[code]

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.1 (1546622353)
Device: iPad Air 2 (iOS 12.1.3)
TestFlight: true
</pre>
</details>

[2019-02-07 08:39] Sherlouk commented on #2634
Dupe of #2546 - fix in progress 😄

[2019-02-07 08:39] #2634 closed

[2019-02-07 20:32] ndizazzo commented on #2628
![GitHawk Upload by ndizazzo](https://i.imgur.com/8Y8qW6R.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-10 17:41] sw1ft3r85 opened #2635 "Unable to Add second Account"
I am unable to add another account.  I was able to add a PAT to my existing GitHub account but am getting an error when I try and add a second account.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (1546696737)
Device: iPad Pro (iOS 12.1.4)
TestFlight: false
</pre>
</details>

[2019-02-11 11:41] BasThomas opened #2636 "Collection view in repos do not respect safe area"
![GitHawk Upload by BasThomas](https://i.imgur.com/c0sxWbJ.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.1 (1546622353)
Device: iPhone X (iOS 12.1.2)
TestFlight: true
</pre>
</details>

[2019-02-11 21:35] janay33jm opened #2637 "Not sure"
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (1546696737)
Device: iPhone SE (iOS 12.1.3)
TestFlight: false
</pre>
</details>

[2019-02-11 23:11] #2637 closed

[2019-02-12 21:42] GiacomoLaw opened #2638 "Does Githawk give alerts?"
Does it alert me when I get a reply or notification on GitHub?

Thanks

[2019-02-12 23:36] j-f1 commented on #2638
Yep! Go into the app’s settings tab and enable push notifications.

[2019-02-13 06:14] janay33jm opened #2639 "RSA-sha256"
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (1546696737)
Device: iPhone SE (iOS 12.1.3)
TestFlight: false
</pre>
</details>

[2019-02-13 07:13] GiacomoLaw commented on #2638
Awesome, thanks!

[2019-02-13 07:13] #2638 closed

[2019-02-13 14:49] #2639 closed

[2019-02-13 14:50] Huddie commented on #2635
@sw1ft3r85 what error do you get?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-13 22:18] kbaker827 opened #2640 "Health Status"
![GitHawk Upload by kbaker827](https://i.imgur.com/FlQ93vv.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.1 (1546622353)
Device: iPhone 8 Plus (iOS 12.1.1)
TestFlight: true
</pre>
</details>

[2019-02-13 22:20] Sherlouk commented on #2640
Dupe #2546

[2019-02-13 22:20] #2640 closed

[2019-02-14 11:00] viktorasl opened #2641 "Support emojis in label"
Expected to have :bug: emoji displayed

![GitHawk Upload by viktorasl](https://i.imgur.com/gTggVYr.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-14 11:37] Sherlouk commented on #2641
Dupe of #1616

[2019-02-14 11:37] #2641 closed

[2019-02-14 23:22] j-f1 opened #2642 "Add support for draft PRs"
This time, GitHub decided to 🚢 an API at the same time: https://developer.github.com/changes/2019-02-14-draft-pull-requests/

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.1 (1546622353)
Device: iPhone 8 (iOS 12.1.4)
TestFlight: true
</pre>
</details>

[2019-02-16 04:00] jhrcook opened #2643 "Crash on sign out"
App crashes when trying to sign out, preventing sign out

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (1546696737)
Device: iPad7,5 (iOS 12.1.1)
TestFlight: false
</pre>
</details>

[2019-02-17 08:54] dimirc opened #2644 "Missing author name of the notification"
All is great at this app, and the only missing thing that it’s lacking until now is the name of the author of the notification. At GitHub mobile web version I was able to see who was originating the notification and this way preference to some users based on the priority I’m trying to resolve. At this app I cannot find a way to see the name of the user, I hope you could add it soon

Thanks a lot f

[2019-02-17 19:31] dimirc commented on #1885
@rnystrom I think will be more natural is the author that caused the notification, actually the Github web version works like that and personally this helps me to know what notifications to check first based on who produced them.

On my opinion the author of the Issue/PR shouln't be that important at the Inbox View, as we're checking notifications and not issues/PR, so we want to know who created

[2019-02-17 19:32] dimirc commented on #2644
I'm closing this issue as its duplicated with https://github.com/GitHawkApp/GitHawk/issues/1885#issuecomment-464498610

[2019-02-17 19:32] #2644 closed

[2019-02-18 20:13] #2560 closed

[2019-02-18 20:28] BasThomas commented on #2630
This should be fixed in the latest version on Testflight! Feel free to reopen this if that doesn't seem to be the case.

[2019-02-18 20:28] #2630 closed

[2019-02-18 22:07] BasThomas commented on #2496
Guess with drafts we do not need this anymore :-)

[2019-02-18 22:11] BasThomas commented on #2626
I just built `master` and it ran fine on Xcode 10.1. Can you check if you can still reproduce the issue after cleaning derived data?

Feel free to reopen if it is still an issue!

[2019-02-18 22:11] #2626 closed

[2019-02-18 22:45] BasThomas commented on #2643
I can't reproduce this on `master`. Are you logged in with your account directly, or are you using a personal access token?

[2019-02-18 22:48] BasThomas commented on #2643
Also @rnystrom can you add the DSYMs to Crashlytics so I can maybe investigate this crash further? 😇

[2019-02-18 23:00] jhrcook commented on #2643
I've already removed the app from my iPad, but I was logged in through my GitHub account.

[2019-02-19 02:52] dimirc commented on #1885
Pls correct me if I’m wrong but I was checking the source code to try to do a PR for this change and looks like the app is using the v3 REST api to get notifications instead of the v4 graphQL api?

[2019-02-19 05:50] BasThomas commented on #1885
Yeah, that could be. I think there are some discrepancies between the v3 and v4 API in places; this might be the reason. Not entirely sure though.

[2019-02-19 06:04] twhite96 commented on #2642
This would be fantastic.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-19 06:32] BasThomas commented on #914
As bookmarks aren't individually deletable at the moment, I've updated the title

[2019-02-19 06:33] BasThomas opened #2646 "Allow individually deleting bookmarks"
See also #914; we should add haptics too.

[2019-02-19 08:58] BasThomas commented on #2642
There seems to be an issue with current draft pull requests: https://github.community/t5/GitHub-API-Development-and/Error-retrieving-draft-pull-request-via-GraphQL/m-p/19083

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-19 21:24] BasThomas commented on #2601
Filed an issue as it seems like it was added but somehow not deployed on the website; https://github.com/primer/octicons/issues/291

[2019-02-19 21:25] BasThomas commented on #2599
We could add this as an option maybe?

[2019-02-19 23:27] Sherlouk commented on #2599
I can't remember precisely but didn't we used to support this? and wasn't it removed due to performance issues? I could be wrong

[2019-02-20 03:52] BasThomas commented on #2599
No idea

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-20 03:53] inkoperative commented on #2599
No it was because I showed up.

On Tue, Feb 19, 2019 at 5:52 PM Bas Broek <notifications@github.com> wrote:

[2019-02-20 07:30] bigfish24 commented on #2617
I believe I am getting the same problem as well.

[2019-02-20 07:36] BasThomas commented on #2617
Are you on TestFlight, @bigfish24? In case of @j-f1, can you post the response JSON of the endpoints? Or do we only hit `permission` which then returns a 404?

[2019-02-20 07:38] #2605 closed

[2019-02-20 07:59] viktorasl opened #2647 "Use GithubURL methods for github url construction"
In #2622 `GithubURL` was introduced which should be used for all Github URL building across the app.
1. use concrete methods (i.e `GithubURL.codeBlob`) for all URL buildings
2. cover w/ unit tests

[2019-02-20 12:27] j-f1 commented on #2617
The app hits `permisson`, gets a 404, then polls GraphQL with the `IssueOrPullRequest` query.

<details><summary>Response</summary>

[code]

[2019-02-20 18:27] bigfish24 commented on #2617
@BasThomas yes I am on TestFlight 1.27.1 (1546622353) but also tested the latest on App Store and built from source. Happy to get some debug info, but not familiar with codebase to figure out how to pull raw logs from GraphQL response, if you can point me to this I will do so from source build.

[2019-02-20 19:25] BasThomas commented on #2601
https://octicons.github.com/icon/request-changes/

[2019-02-20 19:30] BasThomas commented on #2617
You can tap on the screen with three fingers in a debug build to pull up FLEX, which you can then use to get the network request/response info 👍

[2019-02-20 21:30] BasThomas commented on #2612
I'm not entirely sure if I understand the issue here. 🤔

[2019-02-20 21:31] BasThomas commented on #2600
It is required to be a "notification", eg someone has commented on it. Then "all" is unread + read, and "Unread" is only unread notifications.

[2019-02-20 21:31] #2600 closed

[2019-02-20 21:33] BasThomas commented on #2582
I feel that this is a bit trickier, as eg. labels or assignees should then also mimic this behavior. Not sure if it makes sense for labels, however; but having different behavior for different "entities" feels like an even worse user experience. Thoughts?

[2019-02-20 21:35] BasThomas commented on #2539
Ah it took a minute for me to understand this... this would be similar to how GitHub has the hover on web, right?

Would indeed be nice to peek/pop as well!

[2019-02-20 21:37] BasThomas commented on #2419
Want to close this then?

FYI, our app got rejected recently for using non iPhone X-style device frames for iPhone X devices though...

[2019-02-20 21:39] BasThomas commented on #2384
This is fixed in the new iOS 12 version, right? Not sure about the swiping from @kimdv though...

[2019-02-20 21:39] BasThomas commented on #2384
(just tried to reproduce, seems to be fixed!)

[2019-02-20 21:39] #2384 closed

[2019-02-20 21:40] BasThomas commented on #2350
Did you get the chance to file this one @rnystrom?

[2019-02-20 21:49] BasThomas commented on #702
This is done now by #2483!

[2019-02-20 21:49] #702 closed

[2019-02-20 21:50] BasThomas commented on #686
Closing this, haven't felt the need. Feel free to open another issue regarding the grouping.

[2019-02-20 21:50] #686 closed

[2019-02-20 21:52] BasThomas commented on #1010
Still feel like we'd want this, @rnystrom?

[2019-02-20 21:53] BasThomas commented on #964
Do we still need this now that we have https://github.com/GitHawkApp/Release-Notes?

[2019-02-20 21:55] BasThomas commented on #1084
Closing this in favor of #2599

[2019-02-20 21:55] #1084 closed

[2019-02-20 21:57] BasThomas commented on #1474
Do we still want this? New features now are somewhat sherlocked by the release notes, TestFlight signups are sherlocked by the apple URL thing and the option in Settings.

[2019-02-20 21:58] BasThomas commented on #1571
Closing because of #2419 😄

[2019-02-20 21:58] #1571 closed

[2019-02-20 21:59] BasThomas commented on #1558
The heck, that URL redirects to the forum overview? 👎

[2019-02-20 22:00] BasThomas commented on #1553
For those interested, I tried to do this with the [2.0 milestone](https://github.com/GitHawkApp/GitHawk/milestone/2) mainly focusing on pull request reviews!

[2019-02-20 22:01] BasThomas commented on #1504
Still needed now we have the option to filter by `mentioned`?

[2019-02-20 22:02] BasThomas commented on #1770
Haven't seen this lately with the redesign, closing. Feel free to reopen if it occurs again/still.

[2019-02-20 22:02] #1770 closed

[2019-02-20 22:03] BasThomas commented on #1774
Pretty sure this is fixed?

[2019-02-20 22:03] #1774 closed

[2019-02-20 22:06] BasThomas commented on #2214
This is there now 👍

[2019-02-20 22:06] #2214 closed

[2019-02-20 22:07] BasThomas commented on #2171
This works now?

[2019-02-20 22:07] #2171 closed

[2019-02-20 22:42] Sherlouk commented on #1010
Should be super quick with Fabric/FB events - no reason not to and gives us better insights!

[2019-02-20 22:42] Sherlouk opened #2648 "Migrate from Fabric to Firebase"
https://fabric.io/blog/the-future-of-fabric

[2019-02-20 22:44] Sherlouk commented on #1474
Did someone say Sherlock?

[2019-02-20 23:42] dimirc commented on #2372
I think this is related to pagination with Notification API.

Maybe parsing web version HTML could be a choice if we don’t have the notifications unread count from API?

[2019-02-21 02:16] bigfish24 commented on #2617
@BasThomas oddly enough I am not getting an error anymore. Perhaps this was a Github issue?

[2019-02-21 02:27] Huddie commented on #2419
I wouldnt close this if we got rejected

[2019-02-21 02:28] Huddie commented on #2539
@BasThomas Yes correct, similar to hover

[2019-02-21 08:12] BasThomas commented on #2617
Weird. @j-f1, can you still reproduce this? Otherwise, let's close?

[2019-02-21 08:13] BasThomas commented on #2372
Not so sure if we want to go that far 😅

Would rather approach GitHub to ask for a better API if we'd be seriously considering that 😄

[2019-02-21 08:59] dimirc commented on #2372
I was checking the Network History and I see that when loading the notifications, only the first page of 50 records is loaded so this should be why we can only see the badge up until 50 even when in mi case I have about 450.

The Response Link header have this info:

[code]

So we might have 2 choices:
1. Do another request to the “last” page, in my case page 8, and calculate the total notificatio

[2019-02-21 09:18] dimirc commented on #2411
One way to have full control and filter by repo, will be to load all notifications at once, but we’ll need to do multiple reqs to the notification api as the page size is limited to about 100 records per page (if I remember correctly) so in my case that I have 450 notifications, I’ll need 5 reqs to get all of them.

Checking the response sizes from api, in my example 450 notification will be about

[2019-02-21 14:46] j-f1 commented on #2617
Still getting the issue.

[2019-02-21 14:49] j-f1 commented on #1558
Seems like the post disappeared 🤷‍♂️

[2019-02-21 22:53] ijm8710 commented on #2612
@BasThomas ![This is how ‘mentioned’ looks on desktop by ijm8710](https://i.imgur.com/IFUSvGI.jpg) and ![It has a blank result in-app by ijm8710](https://i.imgur.com/XuoiABN.jpg)

I questioned if it perhaps relates to the fact that maybe github shows all mentioned tickets while githawk maybe only shows them if they’re unread. If so, I feel we should be consistent, and that is more ammo for a 2.0 o

[2019-02-21 23:21] ijm8710 commented on #2372
I would def be a fan of this being improved but understand that it’s not a huge value and would def increase api-fetch toll, which you’re probably hesitant to do.

Related, i noticed the badge for “all” only shows unread count. For example I have 44 read notifs/16 unread, the latter badge is what shows for “ inbox”; when I switch to “all”, the count shows 12 unread. The 12 is not a true number due

[2019-02-22 02:13] ijm8710 commented on #686
I have felt the need though of it missing in bookmark search though which only recently fell off. You agree @BasThomas

[2019-02-22 04:44] BasThomas commented on #686
Yeah, I can see that being an issue if you have many. Can you open a separate issue to track?

[2019-02-22 04:46] BasThomas commented on #2372
I see what you're getting at, but feel that it would be more confusing than understandable in most cases.

[2019-02-22 05:35] BasThomas opened #2649 ""Mentioned" issues are not sorted by date"
Referencing #2612

**Describe the bug**
Take a look at only mentioned issues, and observe they are not sorted by date

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Inbox"
2. Click on Inbox
3. Click on Mentioned
4. See error

**Expected behavior**
A list of issues that is sorted by date, latest on top

**Screenshots**
![screenshot](https://user-images.githubusercontent.com/4190298/53

[2019-02-22 07:18] BasThomas opened #2651 "Support reactions on reviews"
It looks like the main review comment can now be reacted to as well, as seen [here](https://github.com/GitHawkApp/GitHawk/pull/2650#pullrequestreview-206672110).

Not sure when this was introduced / if the API supports it already

[2019-02-22 09:50] viktorasl commented on #2647
#1121 is a bit related I think because having a nested struct for each Repo node like Issue, PR, ... would make Github URL construction easier
[code]

[2019-02-22 11:16] aahung opened #2652 "Emoji displayed incorrectly"
As you can see below, the second emoji should be different.

![GitHawk Upload by aahung](https://i.imgur.com/SfPQ4i6.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (1546696737)
Device: iPhone X (iOS 12.1.4)
TestFlight: false
</pre>
</details>

[2019-02-22 11:38] viktorasl commented on #2652
Dupe of #2605, fixed w/ #2616.

[2019-02-22 12:50] #2652 closed

[2019-02-22 15:24] ijm8710 commented on #686
I will, I have a bunch of things that seem like issue with the bookmarks refactor and id rather just group them together when Ryan comes back. I’ll def do it though

[2019-02-25 08:44] ZaptoInc opened #2653 "api status"
hello! the api status redirect to the old status page! try to fix this plz 😜

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (1546696737)
Device: iPhone 7 (iOS 12.1)
TestFlight: false
</pre>
</details>

[2019-02-25 08:46] Sherlouk commented on #2653
Dupe #2546, fix pending

[2019-02-25 08:46] #2653 closed

[2019-02-25 09:00] ZaptoInc commented on #2653
sorry and thanks 😍👌

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-25 12:06] j-f1 commented on #2546
The old site will be removed in 7 days.

[2019-02-26 19:32] leolelego opened #2654 "Request: ability to select the default view for repo"
Actually repo always display “Overview” tab. An option in settings to display “Issues”,”Pull request” or code by default could be great.

I mainly use GitHawk to manage my tasks/issues on my company project and so the Overview is useless for me.

Not a big feature but just to be pro active!

[2019-02-27 04:23] Abemarkar23 commented on #2539
Is this issue still not fixed? if so i can do it.
I have some questions:

1. Is it just the title that you want to show up
2. Is it just in the issues view where this feature should be?

[2019-02-27 09:40] ZaptoInc commented on #2654
and if it can stay on last page loaded on each repos, that can be great too 👌

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-27 14:44] tooomm opened #2655 "ticking boxes in lists doesn't work"
**Describe the bug**
If you have an issue with a tickable list like:
- [x] box a unchecked
- [x] box b checked

[code]

You can click them in GitHawk, but it'll mess the markdown up .

**Expected behavior**
Tick/untick box correctly.

**Smartphone (please complete the following information):**
 - Device: iPad Mini 2
 - OS: iOS 12.1.4
 - Browser: Safari
 - Version: 1.27.2

**Additional context**
-

[2019-02-27 15:01] Huddie commented on #2539
@Abemarkar23 ya pretty sure it’s still open! Go for it!
1. I think that’s a good way to start!
2. Should happen for all tags #2539 wherever they are.
3. Not by my computer maybe @BasThomas knows !

Looking forward!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-27 15:14] pcr910303 opened #2656 "Starring repo"
Firstly, I started to use this Github client a month ago, and it’s fantastic! Thanks for this great app.
I usually keep track of interesting repos by starring them. It looks like that showing all starred repos will go to the WIP profile page.
However, I’m not sure how to star a repo I visited in GitHawk. I find myself copying the URL of the repo and visiting in Safari...
A star button on the top w

[2019-02-27 15:15] pcr910303 commented on #2656
Oh and watching too!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-28 03:35] Abemarkar23 commented on #2539
@Huddie How do i communicate with @BasThomas?

[2019-02-28 04:41] RJ-Clegg commented on #2636
I can take a look at this.

[2019-02-28 11:23] mesqueeb opened #2657 "Mute and more buttons don't work when a thread is read"
<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-28 16:44] BasThomas commented on #2539
👋 Not sure where, will take a look!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-28 17:02] BasThomas commented on #2655
I can’t seem to reproduce this...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-28 19:58] RJ-Clegg commented on #2657
I'll take a look at this

[2019-02-28 20:42] BasThomas commented on #2539
So, looking at this now, I'm not entirely sure what it is you're looking for. Are you looking for the `MarkdownStyledTextView` that is used within the `IssueCommentTextCell`, perhaps?
Let me know if that helps!

[2019-02-28 20:45] BasThomas commented on #2656
Hey @pcr910303, thanks for bringing this up! Starring a repository is currently not supported, but tracked by #397. Feel free to chime in there.

In the meantime, you can always open Safari from the "..." menu, which might be easier than copying the URL.

Sounds good!

[2019-02-28 20:46] BasThomas commented on #2656
Thanks for the kind words! 😍

[2019-02-28 21:48] natta87 opened #2658 "Can you help expain this please"
0 {"timestamp":"2019-02-27 16:23:37.08 -0800","bug_type":"211","os_version":"iPhone OS 12.1.4 (16D57)","incident_id":"5D9BF77D-0A97-44CA-AA15-2645A9A1D264"}
1 {"_marker":"<metadata>","_preferredUserInterfaceLanguage":"en","_userInterfaceLanguage":"en","_userSetRegionFormat":"US","startTimestamp":"2019-02-27T00:19:28Z","version":"1.0"}
2 {"message":{"Count":1,"DeviceIsPowered":true,"LightningCableT

[2019-02-28 22:08] BasThomas commented on #2658
Hey @natta87, not sure what I'm looking at. Can you explain a bit more of what it is you posted?

[2019-03-01 04:55] Huddie commented on #2539
@Abemarkar23 if you say his name 3 times he appears :). Just kidding. He’s around just tag him if you need

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-02 09:54] RJ-Clegg opened #2659 "Issue setting up project"
Trying to get the app to run locally on my machine. Followed the instructions. However when I run the following command: `bundle`

I get this error:

Not really sure how to resolve this. Had a look at a few online resources without much success.
Any suggestions?

[2019-03-02 10:53] nicolabiancolini opened #2660 "Api status moved to https://githubstatus.com/"
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (1546696737)
Device: iPhone 7 (iOS 12.1.4)
TestFlight: false
</pre>
</details>

[2019-03-02 11:16] NickHold3n opened #2661 "API Status Error"
API Status Error

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (1546696737)
Device: iPhone 8 (iOS 12.1.4)
TestFlight: false
</pre>
</details>

[2019-03-02 14:51] Sherlouk commented on #2661
Dupe #2546

[2019-03-02 14:51] #2661 closed

[2019-03-02 14:51] Sherlouk commented on #2660
Dupe #2546

[2019-03-02 14:51] #2660 closed

[2019-03-03 11:23] BasThomas commented on #2659
Try `gem install bundler`

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-03 13:16] RJ-Clegg commented on #2659
Thanks @BasThomas  - done that and it installs. However I still get the error. I think it’s installing the wrong version?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-03 14:58] akarataev commented on #2649
I'll take a look at this, if nobody is against.

[2019-03-03 15:48] ijm8710 commented on #2649
@BasThomas I think this is slightly different then the ticket I opened that you referenced. My older ticket focused on the aggregation of all the issues within a specific filter type, aka created or mentioned.

Your ticket revolves around time stamps. Assuming we are identifying the same thing, what I noticed is that GitHub issue tickets will not fall in chronological order specifically when you y

[2019-03-03 17:50] BasThomas commented on #2649
Interesting, @ijm8710. It feels like it would be behaving as expected then, as of now? It’s a bit confusing though. I’m not sure what the UX would look like, but GitHawk could add it as an option to sort by “last updated”? What do you think?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-03 17:52] BasThomas commented on #2659
Ah – what about `gen update bundler`?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-03 18:43] ijm8710 commented on #2649
[Sounds like Ryan was against it](https://github.com/GitHawkApp/GitHawk/issues/2574#issuecomment-451292917)

If you and I are on same page of having it sort chronologically regardless of if last update was by “you” or “not you”, the best way to drive it would be to nudge GitHub like I did. Like I said, I would love another voice to echo the request I already made with them!

[2019-03-03 18:50] ijm8710 commented on #2649
Ps any idea if Ryan just wanted a little break or if he was trying to back away from this in general. Either way I’m super appreciate of the app and the hard work that went into it, was just curious if you expect it to pop back in whenever he so chooses (which is obv completely his call) or if it would make sense to have more people at his admin level to perhaps keep driving innovation align to wh

[2019-03-03 19:33] RJ-Clegg commented on #2659
All sorted now. Thanks @BasThomas

[2019-03-03 19:33] #2659 closed

[2019-03-03 22:27] RuiAAPeres commented on #2647
This seems like an interesting issue. Is anyone working on it? If not I could give it a spin. 😅

[2019-03-04 12:09] rizwankce commented on #2647
@RuiAAPeres it's all yours

[2019-03-04 17:37] BasThomas commented on #2649
All I know is that he's not active at the moment.

[2019-03-05 10:40] iDjay opened #2662 "„Inbox Zero“"
Hey, I would change the „Inbox Zero“ Text to „inbox empty“. Cheers and thanks for the nice app.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (1546696737)
Device: iPhone XS (iOS 12.1.4)
TestFlight: false
</pre>
</details>

[2019-03-05 14:56] ivenprillwitz commented on #2636
is this still an issue? i could help :)

[2019-03-05 15:26] ivenprillwitz commented on #914
@BasThomas  What kind of haptics? I could look into that.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-05 15:46] akarataev commented on #2649
@BasThomas hello,

Please see #2663 how you will have the opportunity.

[2019-03-05 17:49] RJ-Clegg commented on #2636
Only managed to get time to look at this now and looking at it now. I'll let you know if I have any issues. Thanks!

[2019-03-05 17:49] Sherlouk commented on #2662
I believe this was a conscious wording choice from Ryan back in the day, and is a shoutout to the common strategy where people aim to achieve "inbox zero" (which, as you point out, is to empty your inbox)

Bit of reading here: https://whatis.techtarget.com/definition/inbox-zero

[2019-03-05 18:26] RJ-Clegg commented on #2636
@BasThomas - How did you get the `UITabBar` to disappear?
I've gone to the exact repo from the screenshot - via search and from bookmarks. The `UITabBar` remains in place; even whilst scrolling.

With the `UITabBar` on screen; this issue isn't reproducible.

[2019-03-05 19:05] j-f1 commented on #2636
If you open it from Notifications, the tab bar is not present.

[2019-03-05 19:06] RJ-Clegg commented on #2636
Thanks, will check it out

[2019-03-05 19:43] BasThomas commented on #2636
And from the navigation bar in an issue 😊

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-05 21:42] j-f1 commented on #2636
Ah yeah, only from the navbar in an issue. I wonder — should this just be worked around by always showing the tab bar?

[2019-03-06 04:15] RJ-Clegg commented on #2636
Thanks, able top reproduce it easily enough now. I'll have a fix soon when I get home this evening.

[2019-03-06 08:33] varyP commented on #2658
Needed

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-06 08:33] varyP commented on #2658
@varyP l

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-06 16:12] iDjay opened #2664 "Re-arrange Bookmarks order"
Would be great if we can re-arrange the bookmarks order :)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (1546696737)
Device: iPhone XS (iOS 12.1.4)
TestFlight: false
</pre>
</details>

[2019-03-06 16:25] akarataev commented on #2523
I'll take a look at this, if nobody is against.

[2019-03-06 16:45] wayni208 commented on #2615
Was this addressed? I’m unable to submit an empty report and looking at NewIssueTableViewController.swift it seems this is normal. How are you reproducing this?

[2019-03-06 16:50] #2662 closed

[2019-03-06 16:57] Sherlouk commented on #2615
Hadn't personally tried/experienced it, but historically we received a lot of empty reports. Though this does seem to have died down...

May no longer be an issue

[2019-03-06 16:58] wayni208 opened #2665 "Test empty bug report"
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (1546696737)
Device: iPhone X (iOS 12.1.4)
TestFlight: false
</pre>
</details>

[2019-03-06 17:00] wayni208 commented on #2615
I see what you are talking about, actually. I’ll take care of this.

[2019-03-06 17:08] iDjay commented on #2664
And maybe a single swipe option to remove the items

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-06 19:47] #2665 closed

[2019-03-06 19:48] BasThomas commented on #2636
@j-f1 not sure, but I feel that should / can be tackled separately.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-06 19:49] BasThomas commented on #914
Impact, I think?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-06 21:12] j-f1 opened #2666 "Show the tab bar when viewing notifications"
Currently, the tab bar is hidden when opening a notification from the inbox. Should the tab bar stay visible to be consistent with the rest of the app?

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.1 (1546622353)
Device: iPhone 8 (iOS 12.1.4)
TestFlight: true
</pre>
</details>

[2019-03-06 21:13] j-f1 commented on #2636
⏩ #2666

[2019-03-08 05:50] BasThomas opened #2668 "Add haptics for merge results"
We should indicate a successful or unsuccessful merge with a haptic, I feel.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.1 (1546622353)
Device: iPhone X (iOS 12.1.4)
TestFlight: true
</pre>
</details>

[2019-03-08 20:11] getjennyli opened #2669 "Save inbox preference"
Save inbox preference so I don’t need to change the view from navbar every time

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-08 21:35] Huddie commented on #2658
@natta87 Gonna close for now, if you still need help just ping

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-08 21:35] #2658 closed

[2019-03-08 21:38] Huddie commented on #2664
Dupe of #2376 #1886

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-08 21:39] #2664 closed

[2019-03-08 21:41] Huddie commented on #2656
@BasThomas is this solved in PR #2482 ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-08 21:43] Huddie commented on #2669
Dupe #2654

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-08 21:46] Huddie commented on #2523
That would be sweet!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-08 21:52] BasThomas commented on #2656
I don’t think so. This is about watching a _repository_ rather than managing subscriptions to _issues and pull requests_

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-08 22:07] Huddie commented on #2656
Ah okay got it!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-09 12:19] #2492 closed

[2019-03-09 12:24] #2546 closed

[2019-03-09 12:36] BasThomas commented on #160
Closing as we do not have the more options in the master view anymore, which resolves this.

[2019-03-09 12:36] #160 closed

[2019-03-09 12:36] BasThomas commented on #278
This is here now

[2019-03-09 12:36] #278 closed

[2019-03-09 12:40] BasThomas commented on #408
I'm going to close this for now as we've attempted to support GitHub Enterprise and saw that this was near to impossible due to different versions. I don't see GitHawk supporting other websites anytime soon either, nor have I seen requests for it.

Feel free to open a new issue if you feel we should try to tackle this in the future.

[2019-03-09 12:40] #408 closed

[2019-03-09 12:41] BasThomas commented on #403
No API yet as this is now in beta on GitHub.com if I understand it correctly.

[2019-03-09 13:01] BasThomas commented on #2177
I'm going to close this as we do not have an icon to filter anymore, but a dropdown.

[2019-03-09 13:01] #2177 closed

[2019-03-09 13:03] BasThomas commented on #2372
Hm, what about "50+" in case we have any `next` response links?

[2019-03-09 13:08] BasThomas commented on #2139
Yeah, will close this one in favor of #1547. :)

[2019-03-09 13:08] #2139 closed

[2019-03-09 13:09] BasThomas commented on #1924
This is in now :)

[2019-03-09 13:09] #1924 closed

[2019-03-09 13:13] BasThomas commented on #1749
Closing this as I don't see any clear action points in this issue. :)

[2019-03-09 13:13] #1749 closed

[2019-03-09 13:15] BasThomas commented on #1438
Closing as I'm assuming this is outdated an fixed meanwhile?

[2019-03-09 13:15] #1438 closed

[2019-03-09 13:16] BasThomas commented on #1440
Closing this for now, as it seems to have been resolved.

[2019-03-09 13:16] #1440 closed

[2019-03-09 13:25] MarcoLeongMobile opened #2670 "The alert box should be GitHawk instead of Freetime"
Unless this is intentional.
![GitHawk Upload by MarcoLeongMobile](https://i.imgur.com/FUuF0kR.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-09 13:27] BasThomas opened #2671 "GitHawk 2.0 launch post"
We should create a blog post explaining the new features in 2.0 once we get there.

[2019-03-09 13:28] BasThomas commented on #2670
Hi @MarcoLeongMobile! Sharp eye.

This is somewhat intentional. Before this project was called GitHawk, it used to be called Freetime, which is still used here. Changing that would, as far as I remember, potentially break older versions of the client.

[2019-03-09 19:07] akarataev commented on #2523
Hello @Huddie, @BasThomas,

Look at #2672 how you will have the opportunity.

[2019-03-09 19:27] BasThomas opened #2673 "Accessibility “bullets hollow” should be “more options”"
![GitHawk Upload by BasThomas](https://i.imgur.com/8gtdLlq.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.1 (1546622353)
Device: iPhone X (iOS 12.1.4)
TestFlight: true
</pre>
</details>

[2019-03-09 22:56] MarcoLeongMobile commented on #2670
I can see the schema is named as Freetime and got the same idea. This is perfectly fine for things that will never be seen by the end users, and a perfect way to honour the origin. In the case of alert messages, it is meant convey “who” and “what” access should be granted. It might still be good to consider renaming for better consistency.

[2019-03-09 22:59] MarcoLeongMobile commented on #2670
If it might break the app, then better just leave it, or wait until the renaming become risk free.

[2019-03-10 02:28] wayni208 opened #2674 "Testing Issue # 2615"
If this submits it is successful.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (SEE BUILD PHASE)
Device: Simulator (iOS 12.1)
TestFlight: false
</pre>
</details>

[2019-03-10 02:28] #2674 closed

[2019-03-10 02:37] Huddie commented on #2674
Yay

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-10 03:41] BasThomas commented on #2670
I’ll reopen to re-investigate 👍

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-10 05:22] wayni208 commented on #2673
I can look into this.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-10 11:51] BasThomas commented on #2670
Linking to #420

[2019-03-10 18:09] BasThomas opened #2677 "Missing commits"
![GitHawk Upload by BasThomas](https://i.imgur.com/7b0Rhwj.jpg)

![GitHawk Upload by BasThomas](https://i.imgur.com/UDMa9Ei.jpg)

And the `various changes` commit is available in the JSON...

[code]

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.1 (1546622353)
Device: iPhone X (iOS 12.1.4)
TestFlight: true
</pre>
</details>

[2019-03-10 19:17] BasThomas opened #2678 "Cell size not correctly calculated on refresh"
Steps to reproduce:

1. Go to repo
2. Go to issues
3. Add a label to an issue without any
4. Go back
5. Refresh

![GitHawk Upload by BasThomas](https://i.imgur.com/G9k3GcS.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.1 (1546622353)
Device: iPhone X (iOS 12.1.4)
TestFlight: true
</pre>
</details>

[2019-03-10 19:37] Huddie commented on #2677
#2527 dupe?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-10 19:56] BasThomas commented on #2677
Yeah think so! Let me add the JSON to that other issue once I have access to a computer and I’ll close afterwards.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-10 20:10] Huddie opened #2679 "Toggle open/closed on issues"
Every so often I want to check closed issues and I have to replace open ~> closed in the search bar.

I think a simple toggle could make this task easier and make it more in-line with GitHubs website.

My suggestion for design is:
![GitHawk Upload by Huddie](https://i.imgur.com/Go9wD8i.jpg)

All other suggestion are encouraged

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-10 20:21] Huddie commented on #2678
Dupe #2489

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-10 20:21] #2678 closed

[2019-03-10 20:27] Huddie commented on #403
Has this become a dupe if #2445 ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-10 20:30] Huddie opened #2680 "Dismissing inbox dropdown weird receding location"
If you tap the dropdown in the inbox tab to switch your “filter” and then dismiss the dropdown you can see that the dropdown recedes into the top of the phone / above the text.

This has a weird feeling in my mind.

Thoughts?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-10 20:32] Huddie commented on #2680
The center dropdown recedes into the text, but I feel like maybe the top of the dropdown should do that instead

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-10 21:12] #403 closed

[2019-03-11 00:13] wayni208 opened #2681 "Testing Issue #2615"
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (SEE BUILD PHASE)
Device: Simulator (iOS 12.1)
TestFlight: false
</pre>
</details>

[2019-03-11 00:13] #2681 closed

[2019-03-11 00:14] wayni208 opened #2682 "Testing Issue #2615"
If this submits the test was a success.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (SEE BUILD PHASE)
Device: Simulator (iOS 12.1)
TestFlight: false
</pre>
</details>

[2019-03-11 00:14] #2682 closed

[2019-03-11 00:25] Huddie commented on #2682
Yay!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-11 01:26] mesqueeb commented on #2657
@RJ-Clegg How it going?

It's often I mark a thread as "read" by mistake, try to mark it "unread" again, but can't because of this bug.

Another case I often have is I mark a thread "read", then try to turn off notifications, but cannot do that because of this bug.

I feel a looooot of people are really excited for your fix! 💘🎉

[2019-03-11 04:14] ijm8710 commented on #2679
Of course I agree and would love this. See #374

[2019-03-11 04:42] Huddie commented on #2679
Nice find.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-11 04:42] #2679 closed

[2019-03-11 04:43] Huddie commented on #374
#2679 has my design suggestion.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-11 11:26] akarataev commented on #2668
I'll take a look at this, if nobody is against.

[2019-03-11 14:40] TigPT commented on #2106
None of the images on this thread are up. Anyone have them and can upload them as a GitHub attachment?

[2019-03-11 14:43] kocheck commented on #2106
Designs were merged into the master sketch file I believe @TigPT

https://github.com/GitHawkApp/Design-Resources

[2019-03-11 14:45] kocheck commented on #2106
@TigPT Let me know if you need/want a different file type and I can export that out for you.

[2019-03-11 14:46] TigPT commented on #2106
And images are now loading, looks like it was a network problem on my side and I assumed wrongly that they are offline.

Thanks for pointing out to Design repo.

[2019-03-11 15:09] Huddie commented on #2106
New designs coming? Excited!

[2019-03-12 20:01] #1616 closed

[2019-03-12 20:19] BasThomas commented on #374
I like it (and your handwriting). Not sure if that works with a standard `UISearchController` however. Can you take a stab at this in code and see what it'd look like?

If that doesn't work, what could be an alternative?

[2019-03-12 20:29] Huddie commented on #374
I’ll try to code it up and think of alternatives as well. Not sure of a good alt. that doesn’t take up real estate

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-12 20:30] BasThomas commented on #374
Yeah, it would then quickly take up real estate. I really like the current sketch, but that would also take away quite a size from the search bar horizontally... 🤷‍♂️

[2019-03-12 20:36] Huddie commented on #374
That’s true but no more is:open necessary which opens up some text. I guess we’d have to see could be it takes up too much space

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-12 22:03] wayni208 opened #2686 "Testing Issue #2615"
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (SEE BUILD PHASE)
Device: Simulator (iOS 12.1)
TestFlight: false
</pre>
</details>

[2019-03-12 22:03] #2686 closed

[2019-03-12 22:17] Huddie commented on #2686
I think this is a dupe

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-13 01:17] Huddie commented on #374
@BasThomas turns out is not a SearchBarController :D lucky me. Just another cell, easy to manipulate. Check out #2687

[2019-03-13 04:42] Huddie commented on #2668
@akarataev still on this?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-13 04:50] Huddie commented on #2635
@sw1ft3r85 has this been resolved?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-13 04:54] Huddie commented on #2539
@Abemarkar23 still on it?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-13 04:57] Huddie commented on #2403
@Architgoel4 still on this?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-13 08:39] akarataev commented on #2668
@Huddie, yep.
Do you have any suggestions?

[2019-03-13 12:35] wayni208 commented on #2677
I’ll dig in to this one if that’s ok?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-13 13:40] Huddie commented on #2677
@wayni208 look at #2527, May have other info.
This is a dupe if that

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-13 16:21] akarataev commented on #2668
@BasThomas hello,

Please see #2690 how you will have the opportunity.

[2019-03-14 02:00] wayni208 commented on #2677
https://github.com/Contravariance/masse/pull/1

[2019-03-14 02:01] wayni208 commented on #2677
Are you guys able to use the search field on the search tab in the simulator? It just flashes for me and won't take or accept any text input or paste. I'm running on the current master and I have tried a couple different simulators. I have yet to try on my device.

[2019-03-14 02:08] wayni208 commented on #2677
Contravariancce/masse#1

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-14 02:08] wayni208 commented on #2677
Contravariance/masse#1

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-14 02:08] Huddie commented on #2677
Same happens to me. Works on iPad sim. 👌

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-14 09:34] Arutosio opened #2691 "Dark Mode! Please..."
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.1 (1546622353)
Device: iPhone 6s (iOS 12.1.4)
TestFlight: true
</pre>
</details>

[2019-03-14 12:09] akarataev commented on #2669
I'll take a look at this, if nobody is against.

[2019-03-14 12:10] Huddie commented on #2669
@akarataev Go for it!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-14 18:19] #2673 closed

[2019-03-15 01:07] Huddie commented on #2691
#2553 also dupe #198

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-15 01:08] #2691 closed

[2019-03-15 10:28] Shaquu opened #2692 "Github API Status : error"
When I’m in options of the GitHawk there is GitHub API Status section and it says error.
I clicked and it sends me to https://www.githubstatus.com/messages
![GitHawk Upload by Shaquu](https://i.imgur.com/MTD1nbX.jpg)
![GitHawk Upload by Shaquu](https://i.imgur.com/CyqkmQP.jpg)

I checked https://www.githubstatus.com in the browser and it’s working.

<details>
<summary>Bug Report Dump (Auto-generat

[2019-03-15 15:59] BasThomas commented on #1681
We'd love to make some progress on this. Would you be willing/able to help out, @SD10? I can help set everything up with the GitHub App.

[2019-03-15 18:33] akarataev commented on #2669
Hi everybody, check #2693 how will the opportunity.

[2019-03-15 18:36] Huddie commented on #2692
I believe this is taken care of. Will be fixed in next release. You can check the GitHawkApp/ReleaseNotes repo

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-15 18:42] Shaquu commented on #2692
Roger that.

[2019-03-15 18:42] #2692 closed

[2019-03-15 23:22] wayni208 commented on #2677
This is a strange one and I think it is a problem on GitHub's end. The JSON shows "null" for the user on the missing commits. This happens on both of these issues. GitHawk gets the null and can't append the info it gets from AutoCompleteUser, presenting nothing in the timeline. GitHub gets the null and uses a default avatar image in the timeline.

From #2527

This is the JSON for this specific com

[2019-03-16 11:51] #2601 closed

[2019-03-16 14:18] BasThomas commented on #2677
That seems like a good approach. Not sure if we should make all commit objects (or those that display commits) have an optional user. Maybe a "non-author commit" vs a "author commit"?

[2019-03-16 14:18] BasThomas commented on #2527
Closing this in favor of #2677 as that has some more information now

[2019-03-16 14:18] #2527 closed

[2019-03-17 02:44] pcr910303 opened #2696 "Reopen button exist when user can’t"
The reopening button exists even though the user can’t reopen. When the user touches the button, it shows a cryptic error about API fails.(Well, the apps are targeted to devs so it might not be that cryptic?)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-17 08:46] BasThomas commented on #2696
Hi, what’s the exact error message you’re seeing, and in what issue or pull request?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-17 09:22] pcr910303 commented on #2696
@BasThomas Any Issue that the user opened(and closed) in a repo that the user doesn’t have write access to.
The error message is something like:
[code]
The meaning of cryptic in my comment was that the error message doesn’t mention anything about not having write access. It would be better if it had a better error message or if it didn’t show the blue button (FAB?) if the user doesn’t have write a

[2019-03-17 19:14] iDjay commented on #2298
Other question, you only get notifications when the app runs in the background, right? Otherwise I‘m having a bug.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-17 19:29] Huddie commented on #2298
Yes thats correct

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-17 23:20] SD10 commented on #1681
Hey @BasThomas, sorry that I haven't contributed anything to the open source community in several months 😞 I just don't really have spare time for projects outside of work right now.

I'm always available by Twitter DM to answer questions if I can be of assistance in that way. Otherwise, hopefully, I can break the ice again this summer and try to get back into making more open source contributions

[2019-03-18 05:21] Architgoel4 commented on #2403
I am sorry, I got held up so couldn't even look at it. I'll probably won't be able to look into this for some time.

[2019-03-18 18:09] BasThomas commented on #1681
Ah, no worries at all obviously, @SD10! I'll see what I can do.

[2019-03-18 18:12] BasThomas commented on #2403
No worries @Architgoel4, thanks for the update!

I was wondering if this is done together with #2616 already? @viktorasl?

[2019-03-20 07:12] viktorasl commented on #2403
Nope, it is not.

[2019-03-20 17:56] danll901069 opened #2699 "Hotle"
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (1546696737)
Device: iPhone X (iOS 12.1.4)
TestFlight: false
</pre>
</details>

[2019-03-20 17:56] danll901069 opened #2700 "Develop"
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (1546696737)
Device: iPhone X (iOS 12.1.4)
TestFlight: false
</pre>
</details>

[2019-03-20 19:52] #2700 closed

[2019-03-20 19:53] #2699 closed

[2019-03-20 20:26] BasThomas commented on #2696
Thanks for the info. We should definitely check this logic again.

I think we had this before the iPhone X and moved to a toast to prevent some edge cases with notch-equipped devices.

[2019-03-21 12:02] palmin commented on #2670
Have you tried switching to GitHawk in the Info.plist ?

https://github.com/GitHawkApp/GitHawk/blob/b7925393c3e26dc36081098940adda96edd452bf/Resources/Info.plist#L15-L16

[2019-03-21 12:07] palmin opened #2701 "deep links to pull requests"
Working Copy can deep link to issues in GitHawk but as far as I can tell there is no way to link to pull requests because there is no route type for these.

I'm adding the ability to open pull requests from within Working Copy and being able to point into GitHawk would be beneficial for our shared users.

Anyone else working on this? Should I try to add support?

[2019-03-21 12:24] j-f1 commented on #2701
Does opening the PR as an issue work?

[2019-03-21 12:36] palmin commented on #2701
It does work. I feel super silly. 🥴

[2019-03-21 12:36] #2701 closed

[2019-03-23 07:46] danll901069 opened #2702 "My"
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (1546696737)
Device: iPhone X (iOS 12.1.4)
TestFlight: false
</pre>
</details>

[2019-03-23 07:51] danll901069 commented on #2702
@danll901069 ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-23 07:51] danll901069 opened #2703 "Phone"
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (1546696737)
Device: iPhone X (iOS 12.1.4)
TestFlight: false
</pre>
</details>

[2019-03-23 07:53] #2703 closed

[2019-03-23 07:58] #2702 closed

[2019-03-27 12:08] Variable-X opened #2704 "Not recurving notifications"
I have given GitHawk full access. What's the problem?

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (1546696737)
Device: iPhone 6 (iOS 12.1.4)
TestFlight: false
</pre>
</details>

[2019-03-27 12:09] Variable-X commented on #2704
Receiving **not** recurving

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-27 12:11] Variable-X commented on #2704
API status: Error

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-27 12:19] BasThomas commented on #2704
You’ll get notifications in the background only, so they might be delayed.

The API status error is unrelated; this will be resolved in the next version.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-28 04:22] wayni208 commented on #2677
@BasThomas correct me if I’m wrong, but to make a new “non-author commit” object I would need to modify**IssueOrPullRequest.graphql** right?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-28 12:38] albertbass86 commented on #2657
Hi, is there an update on this?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-28 14:54] mesqueeb commented on #2657
I think not yet, it's still bugged in my version 😔very annoying but it's a free app so I won't complain? 😁

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-28 16:40] albertbass86 commented on #2657
Well I ask because I would like to contribute to the project and seemed like this would be a good issue to work on. However it looks like @RJ-Clegg was working on it?

I don’t understand how issue assignment works here.

[2019-03-28 17:05] BasThomas commented on #2657
It’s a bit tricky as you can’t assign tickets to outside contributors. Feel free to pick it up, @albertbass86, and let us know if we can help!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-28 17:06] BasThomas commented on #2677
Hm, I’m not sure. But you’d have to be able to decode the JSON to such an object.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-28 17:28] albertbass86 commented on #2657
Cool! I was wondering if it was fine for me to just pick it. Will give it a try. Thank you 👌

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-28 18:33] wayni208 commented on #2677
I think I may have had a revelation or two, thanks.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-29 08:17] albertbass86 commented on #2657
Hi again, I have a simple solution but it feels a bit like a workaround.

It involves just adding a hitTest to the notification cell so touches are captured by the buttons instead of the cell. I feel like there is a different solution but I do not have enough context of the app to be sure.

Do you want me to create a PR and see @BasThomas or do you have pointers towards a different approach?

[2019-03-29 09:23] BasThomas commented on #2657
Feel free to open a pull request, and we can continue from there.

I think it already uses a hit test rather than being able to tap the buttons in the cell?

[2019-03-29 22:03] Astrol99 opened #2706 "API status on wrong website"
GitHub has recently removed the deprecated api status website that githawk uses currently. The new website is: https://www.githubstatus.com

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (1546696737)
Device: iPhone SE (iOS 12.1)
TestFlight: false
</pre>
</details>

[2019-03-29 22:26] BasThomas commented on #2706
Hi @Astrol99, thanks for letting us know! This has been fixed and will be available in the next update.

See #2546

[2019-03-29 22:26] #2706 closed

[2019-03-30 03:21] jasikpark opened #2707 "“API Status Page” returns a 404 or something"
https://www.githubstatus.com/messages

^^ this doesn’t load

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (1546696737)
Device: iPhone SE (iOS 12.2)
TestFlight: false
</pre>
</details>

[2019-03-30 07:42] BasThomas commented on #2707
Hi @jasikpark, thanks for letting us know! This has been fixed and will be available in the next update.

See #2546

[2019-03-30 07:42] #2707 closed

[2019-03-30 18:23] dferch opened #2708 "API status error"
I logged into my account, but the app shows only an API error. I‘m using 1.27.2 (latest release on the appstore).

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (1546696737)
Device: iPad8,7 (iOS 12.2)
TestFlight: false
</pre>
</details>

[2019-03-30 18:45] HalfALifeLeft opened #2709 "API Status: error after giving PAT for user"
I gave the PAT User, Repo, and Notification scopes, but it still says API error when I input it to my user.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (1546696737)
Device: iPhone 7 (iOS 12.2)
TestFlight: false
</pre>
</details>

[2019-03-30 21:32] BasThomas commented on #2708
Hi @dferch, thanks for letting us know! This has been fixed and will be available in the next update.

See #2546

[2019-03-30 21:32] #2708 closed

[2019-03-30 21:33] BasThomas commented on #2709
Hi @HalfALifeLeft, thanks for letting us know! This has been fixed and will be available in the next update.

You should be able to use the app regardless of the reported error.

See #2546

[2019-03-30 21:33] #2709 closed

[2019-03-31 11:08] Sherlouk opened #2711 "Draft PRs show as merge status unknown"
We should correct the merge status messaging and also update the icon on repo/notification views (gray icon like Web)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.1 (1546622353)
Device: iPhone XS (iOS 12.2)
TestFlight: true
</pre>
</details>

[2019-03-31 12:50] BasThomas commented on #2711
Want to merge this with #2642 or keep it as a separate issue?

[2019-03-31 13:31] Sherlouk commented on #2711
Naw lets keep it in one place - just noticed on phone and didn't check! my bad

[2019-03-31 13:31] #2711 closed

[2019-03-31 16:29] BasThomas commented on #2711
All good!

[2019-03-31 20:06] mbaas2 opened #2712 "API Status continously shown as „error“"
![GitHawk Upload by mbaas2](https://i.imgur.com/8f5sZZC.jpg)

Looks like a wrong call...?

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.1 (1546622353)
Device: iPhone XS Max (iOS 12.2)
TestFlight: true
</pre>
</details>

[2019-04-01 05:36] BasThomas commented on #2712
Hi @mbaas2, thanks for letting us know! This has been fixed and is now available in the latest TestFlight release.

See #2546

[2019-04-01 05:36] #2712 closed

[2019-04-02 12:39] wayni208 commented on #2677
@BasThomas still working on this. I’m learning a lot even though I’ve not made much progress, anyway. 😉Just curious, when you were working on your Contravariance repo, did you use two separate methods to do your commits? Like Xcode for some, git command line for others, for instance? If so, can you recall which you used for the missing commits?

So, anyway, we aren’t even noticing this is a commit

[2019-04-02 20:36] BasThomas commented on #2677
Awesome you're still looking into this!

I don't know what kind of commits they are exactly — @terhechte knows more 😉

Can we not just count it as a, as you suggested, `NonUser`-commit model without a name/user? Just a commit that was pushed?

Sorry, that was never the intention! I felt like this could be a task to pick up as there was quite a bit of information available. That said, I think you'r

[2019-04-02 21:27] danll901069 opened #2714 "You"
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.27.2 (1546696737)
Device: iPhone X (iOS 12.1.4)
TestFlight: false
</pre>
</details>