[2018-01-17 07:53] rnystrom opened #1438 "ERROR_CGDataProvider_BufferIsNotReadable"
#### in ERROR_CGDataProvider_BufferIsNotReadable

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/githawk/ios/apps/com.whoisryannystrom.freetime/issues/5a5f01118cb3c2fa63fe8b18?utm_medium=service_hooks-github&utm_source=issue_impact](https://fabric.io/githawk/ios/apps/com.whoisryannystrom.freetime/issues/5a5f01118

[2018-01-17 08:12] Sherlouk commented on #1431
Public Link: http://crashes.to/s/ff1e99fe37d

[2018-01-17 08:13] Sherlouk commented on #1438
Public Link: http://crashes.to/s/515ef0c6b9b

[2018-01-17 08:18] Sherlouk commented on #1437
Caused by the capped heights change, probably just need to change the content mode on the image view

[2018-01-17 09:55] vanyaland commented on #1438
Thread: https://forums.developer.apple.com/thread/94163

[2018-01-17 10:36] vanyaland commented on #1437
#### How about this content mode?

![simulator screen shot - ipad pro 9 7-inch - 2018-01-17 at 13 27 59](https://user-images.githubusercontent.com/8586063/35038201-1b3a40f4-fb8b-11e7-86bc-9494ef0b1423.png)

[2018-01-17 15:11] #1437 closed

[2018-01-17 15:35] ajfigueroa commented on #1431
Yeah, that crash looks exactly the same as one I've seen at work.
There is no useful information in it unfortunately. I'm pretty confident the reproducible steps I've listed above is the cause 👍

[2018-01-17 19:22] rnystrom opened #1440 "UICollectionView deallocated while update was in flight"
#### in cow_cleanup

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/githawk/ios/apps/com.whoisryannystrom.freetime/issues/5a5fa2658cb3c2fa630859c7?utm_medium=service_hooks-github&utm_source=issue_impact](https://fabric.io/githawk/ios/apps/com.whoisryannystrom.freetime/issues/5a5fa2658cb3c2fa630859c7?utm_medium=se

[2018-01-17 19:42] SD10 commented on #1339
Steps to reproduce:
1. Open any issue / PR
2. Immediately stop view from scrolling to bottom
3. White space appears on all comments made through GitHawk and other HTML blocks

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-17 19:45] SD10 opened #1441 "Crash from navigating from issue to inbox"
App crashes after viewing MessageKit #449 and returning to inbox

Debug notes:
- User defaults for 449 is empty
- If I interrupt the view from scrolling to bottom when viewing the issue, it doesn’t crash on return to inbox
- After interrupting the scrolling, extra white space is rendered on GitHawk comments. The issue no longer crashes while white space is present

I think this is related to scrol

[2018-01-17 21:05] rnystrom commented on #1339
@SD10 hmmm I can’t seem to repro that. The html comments are definitely a thing though. I’m going to fix those for 1.17

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-17 21:09] rnystrom commented on #1441
@SD10 do you have a trace? I’ll add you to Fabric so you can see crashes too. If you can pinpoint where this crashes that’d be great!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-17 23:20] SD10 commented on #1441
What information do you need to add me to fabric? I don't have a trace but it would be super useful.

[2018-01-18 01:05] rnystrom commented on #1432
in firebase

[2018-01-18 01:05] #1432 closed

[2018-01-18 01:09] rnystrom commented on #1441
Invite sent 😄

[2018-01-18 01:13] rnystrom commented on #1441
I wonder if its this http://crashes.to/s/e89d652e6bb

[2018-01-18 02:22] #1431 closed

[2018-01-18 02:22] #1441 closed

[2018-01-18 02:26] rnystrom commented on #1339
PR fixes this big time, but still want to strip commented HTML out. For example, that Moya issue is totally empty.

[2018-01-18 02:55] rnystrom commented on #848
@BasThomas oh man if we could make a GitHawk status report automated, that’d be incredible. Imagine pulling download numbers, impressions, crashes, and daily users and spitting out a weekly report. Automatically gen a blog post maybe?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-18 03:18] SD10 commented on #1441
Appreciate it 👍 Thanks Ryan

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-18 08:47] BasThomas opened #1444 "GIFs not playing in NYTPhotoViewer"
Thought we fixed this sometime before? They work in the HTMLCell, but show a static image in NYTPhotoViewer

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.17.0 (1515991057)
Device: iPad7,3 (iOS 11.2.2)
TestFlight: true
</pre>
</details>

[2018-01-18 09:29] BasThomas opened #1445 "Allow selection in HTML / text cells"
Would be awesome if we can just copy and paste a comment (or a part of it)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.17.0 (1515991057)
Device: iPad7,3 (iOS 11.2.2)
TestFlight: true
</pre>
</details>

[2018-01-18 10:22] Sherlouk commented on #1444
Yea this definitely used to work 😞

[2018-01-18 10:22] Sherlouk commented on #1445
Dupe of #609 ?

[2018-01-18 11:10] #1445 closed

[2018-01-18 16:59] rnystrom commented on #1444
Is it only for gifs opened from web views? Did that ever work before? Opening web view links is new for 1.17 I believe.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-18 17:04] rnystrom commented on #1444
Ya this just needs wired up for web views. Handing to @Sherlouk since he got this [working](https://github.com/rnystrom/GitHawk/commit/d85cb91f0785711331b25586250d0b362e0c5239#diff-b664a744e37cdb07697a1b97d0f7fd3a) with native gifs before.

[Here’s the commit](https://github.com/rnystrom/GitHawk/commit/3de0859b2e552276f8d8e52341c29c830911598e#diff-f67647d7911b3768ace6b5b1623ac85f) that opens web i

[2018-01-18 17:23] Sherlouk commented on #1444
Ahh yea okay, this is going to be a little bit more difficult then because the current system works as we have the animation data ourselves - I don't know if there's a way we can get that from the WebView to pass to NYT 🤔

[2018-01-18 17:28] rnystrom commented on #1444
Honestly if anyone has strong feelings about replacing or just straight up removing the NYT viewer, I’m open to it. There might be better libs or we can build something similar pretty quickly.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-18 18:23] Sherlouk commented on #1444
@rnystrom To be honest that was definitely not a dig at NYT, I simply don't know how we could go about extracting GIF data from a UIWebView to pass to an animated UIImageView regardless of the library we use

I suspect it'd include doing extra JS injection to get some other data out, some how converting that to Swift.Data and then putting that into a UIImageView - but I'm genuinely unsure how to d

[2018-01-18 18:24] Sherlouk opened #1446 "HTML5 <details> no longer works"
Follow up from https://github.com/rnystrom/GitHawk/pull/1443#issuecomment-358720680

Obviously we don't want to necessarily reintroduce the crash we had in the first place so need to tread carefully on this one!

[2018-01-18 21:28] rnystrom commented on #1444
Ya that’s my least fav thing about the NYT viewer, I’d rather feed it an array of URLs and the viewer handle everything.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-18 21:43] Sherlouk commented on #1444
That's fair but we'd be loading everything twice which isn't really a good thing! Would be preferred to reuse what they've already loaded!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-18 23:52] rnystrom commented on #1444
Ya true, that’d require hooking into the same cache that `UIWebView` uses (there’s an issue out there somewhere). If we hook into that, we can put image data into `SDWebImageCache`.

Also we already download web view images again 😋

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-19 04:09] #1433 closed

[2018-01-19 04:09] rnystrom commented on #1433
Dupe of #1441

[2018-01-19 19:11] #1298 closed

[2018-01-19 19:11] #1387 closed

[2018-01-19 19:11] #1446 closed

[2018-01-19 19:13] RishabhTayal commented on #1387
@rnystrom Thanks! 👍

[2018-01-19 19:18] rnystrom commented on #1330
I've been kicking the can on this (slowly increasing my anxiety). Wanted to link to [this blog post](http://pado.name/blog/2018/01/exploring-alternatives-to-buddybuild/) exploring alternatives in case there's any more info there.

I want to spend some time w/ @orta and @krausefx while in town to discuss my "north star" vision for automating this project (beyond just CI). Will report back once I mu

[2018-01-19 21:17] BasThomas commented on #1330
Thanks for the update on this @rnystrom. I feel you. 😕

[2018-01-20 08:44] viktorbenei commented on #1330
@rnystrom thanks for the blog post and sorry to hear you had troubles with bitrise. Not sure if you saw it but we now have built in Auto Provisioning for code signing, which once configured can manage the the iOS signing files for you automatically: https://blog.bitrise.io/ios-auto-provision-step

Anyway, just wanted to say thanks for trying out bitrise, and to let you know we're always happy to h

[2018-01-20 09:51] Sherlouk commented on #1330
@viktorbenei For what it's worth, that isn't Ryan's blog post!

[2018-01-20 10:12] viktorbenei commented on #1330
Ouch, my bad, it's still quite early in the morning here 😂 Sorry gents and thanks @Sherlouk !

[2018-01-20 10:52] Sherlouk opened #1449 "Support releases in notifications"
On GitHub web I have 3 notifications including 2 issues but also a tag/release but this isn't appearing inside of the app - I know we've had problems in the past but it boiled down to GitHub just not surfacing certain events in the API but this one is definitely available!

In terms of displaying it'll definitely need it's own cell, obviously the poor-mans functionality would be to just open a Saf

[2018-01-20 13:10] BasThomas commented on #1449
Same goes for those new security vulnerabilities

[2018-01-20 14:47] rnystrom commented on #1330
Actually kicked off a Bitrise job last night. Will report back!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-20 14:49] rnystrom commented on #1449
Wo! I don’t think I’ve ever seen the `Release` type! Super cool.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-20 16:28] rnystrom commented on #1344
Played w/ this last week. Seems like no matter what, if you assign a new `UIBarButtonItem`, even if its initially `isEnabled = false`, it'll flicker. Seems like we need to track what the bar button item actually is, and not replace it if its the mark-all button.

I think if we just keep a ref to the button around instead of rebuilding it every time that'll do it. Wanna take this on @BasThomas?

[2018-01-20 16:29] rnystrom commented on #1289
Marking as mid b/c this only effects reporting to this repo. Still weird and needs investigating.

[2018-01-20 16:29] rnystrom commented on #1107
Had some ideas for this. Going to hack around w/ it.

[2018-01-20 16:32] rnystrom opened #1452 "UIWebView nested in UICollectionViewCell"
- How to deal w/ size changes
- Handling interactions
- Image cache (tbd)

[2018-01-20 16:33] rnystrom commented on #591
BB going away

[2018-01-20 16:33] #591 closed

[2018-01-20 16:37] rnystrom opened #1453 "Open "Paste" menu control after inserting a Markdown URL"
- Select some text in the text view
- Tap the "link" icon
- Surrounds the text with `[selection](|)` where the pipe is where the cursor ends up
- Would be **awesome** to show the paste menu control so you can just paste in the link

[2018-01-20 16:37] rnystrom opened #1454 "Some IGListKit Objective-C files don't have code highlighting"
Go to IGListKit/Source/IGListAdapter.h and .m, they aren't highlighted. Not sure why.

[2018-01-20 16:51] #1319 closed

[2018-01-20 18:00] rnystrom opened #1456 "Add UI tests (prereq for automated screenshots)"
- Create a test-mode `NSURLCache`
  - Add "record mode" that captures requests + responses and saves JSON files that we can edit later
  - When in playback mode, serve canned responses
- Only include canned JSON in test targets (not production)
- Key JSON files off of path + body or something
  - e.g. `https://api.github.com/graphql` is the url for every GQL request, need to use the body data some

[2018-01-20 18:01] rnystrom commented on #1107
See `URLCache` subclass in #1456, easy to use these cache hooks and supply/feed `SDWebImage` caches. Awesome!

[2018-01-20 18:02] rnystrom commented on #1330
Bitrise build is green! Just as easy to setup as BB. I think we have a winner.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-20 18:23] Sherlouk commented on #1449
Happy to pick it up once I get a chance, but a bit busy at the moment!

[2018-01-20 21:10] orta opened #1458 "Review comments could have a summary of individual messages"
Image incoming

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.16.0 (1513134612)
Device: iPhone X (iOS 11.2.1)
TestFlight: false
</pre>
</details>

[2018-01-20 21:10] orta commented on #1458
![GitHawk Upload by orta](https://i.imgur.com/UTo8BBA.jpg)

[2018-01-20 21:11] orta opened #1459 "Take over GitHub routing internally"
So if you click this link, https://github.com/jest-community/vscode-jest/issues/222

It would show the native view controller

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.16.0 (1513134612)
Device: iPhone X (iOS 11.2.1)
TestFlight: false
</pre>
</details>

[2018-01-20 21:31] Sherlouk commented on #1459
Do the following issues cover the functionality you're suggesting/

#146
#441

[2018-01-20 21:54] orta commented on #1459
Yep :+1:

[2018-01-20 21:54] #1459 closed

[2018-01-20 22:13] Sherlouk commented on #1458
I think the main issue with this is that it all requires an extra network request to begin loading comments and marrying them up can be a little tough!

Would be super sweet but even getting the functionality we currently have was pretty difficult and took a while to work out!

[2018-01-20 22:29] rnystrom commented on #1458
PR comments are broken on GotHub v4, that’s why the UI sucks right now.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-20 23:55] gingerbeardman opened #1460 "Archived notifications menu seems superfluous?"
I use archived notifications as a method of jumping to issues I'm currently dealing with. It's an inbox of read items after all.

Currently you have to tap the triple dot and then choose Archived from the menu. What a pain 😂

It'd be great if there triple dot, or whatever icon might make more sense, just went straight to the Archived list without the needless menu in between?

![GitHawk Upload by

[2018-01-21 00:51] rnystrom commented on #1460
If you have unread notifications, it’ll actually show a list of repos so you can browse repo notifications 😋

![GitHawk Upload by rnystrom](https://i.imgur.com/IlwSXFc.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-21 00:51] #1460 closed

[2018-01-21 03:20] gingerbeardman commented on #1460
Ha!

[2018-01-21 05:52] rnystrom opened #1461 "Clear text cache after sending comment"
Now that we trim white space, it will no-op when there is no text. Meaning if you have a previous draft it will always reappear.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.17.0 (1516422452)
Device: iPhone X (iOS 11.2.2)
TestFlight: true
</pre>
</details>

[2018-01-21 20:18] viktorbenei commented on #1330
Glad to hear @rnystrom ! :)

Indeed, initial setup should be quite smooth, similar to BB. The main difference is the configuration UI after that. BB's approach was to provide a simple UI, which implies that certain things might not be possible / can not be changed, while we focused mainly on flexibility, to let you specify every aspect of the process if you like (but this comes with a certain comp

[2018-01-22 08:25] Sherlouk commented on #1461
https://github.com/rnystrom/GitHawk/commit/842260dad5fed5a7f04c4ae0679b12136568a8f9#diff-e61935e8dd122c89f47fbc6eb1246fa6R142

If someone wants to pick this up, should be as simple as dropping a "userDefaults.remove(for: key)" in the guard for "isEmpty"

[2018-01-22 14:16] rnystrom commented on #1461
@Sherlouk spot on. So I fixed this locally w/ a hotfix branch and resubmitted 1.17 last night b/c this bug was driving me nuts. Now that MessageViewController has moved to an external repo, we'll need to handle it there.

[2018-01-22 16:23] paulofierro opened #1463 "List of users is incomplete"
In one of my private repos I can’t assign an issue to a user because the list of users stops at the letter O. No more users are loaded and thus they can’t be assigned.

I realise this is probably arbitrary but we only have 47 users.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.16.0 (1513134612)
Device: iPhone X (iOS 11.2.2)
TestFlight: false
</pre>
</details>

[2018-01-22 19:16] rnystrom commented on #1463
Oh shoot this is for assigning users? We probably don’t have paging working. This view needs an overhaul.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-22 19:24] paulofierro commented on #1463
@rnystrom yep, I'm referring to the list that is displayed when viewing an issue and tap `Manage > Assignees`.

[2018-01-22 21:16] yoav-kali opened #1464 "Cannot sign in"
I just downloaded the app, and **whenever I pressed “sign in” it just crashed**. I ended up using a personal access key instead.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.17.0 (1516591557)
Device: iPhone 6s (iOS 11.2.2)
TestFlight: false
</pre>
</details>

[2018-01-22 21:17] rnystrom commented on #1464
Got this reported on Twitter too! Going to fix this ASAP.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-22 21:33] rnystrom commented on #1464
[Our press team is on it.](https://twitter.com/githawk/status/955550843138445312)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-22 22:14] rnystrom opened #1465 "LoginSplashViewController.swift line 12"
#### in globalinit_33_C64FDFC0A0CFB57E2CC53E25EE97BDE7_func635

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/githawk/ios/apps/com.whoisryannystrom.freetime/issues/5a66623d8cb3c2fa6361fd0b?utm_medium=service_hooks-github&utm_source=issue_impact](https://fabric.io/githawk/ios/apps/com.whoisryannystrom.freetime/is

[2018-01-22 22:14] rnystrom opened #1466 "SettingsViewController.swift line 0"
#### in SettingsViewController.onAccounts() -> ()

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/githawk/ios/apps/com.whoisryannystrom.freetime/issues/5a66623e8cb3c2fa6361fd19?utm_medium=service_hooks-github&utm_source=issue_impact](https://fabric.io/githawk/ios/apps/com.whoisryannystrom.freetime/issues/5a66623e

[2018-01-23 02:14] #1466 closed

[2018-01-23 02:14] #1465 closed

[2018-01-23 02:14] #1464 closed

[2018-01-23 02:32] #1461 closed

[2018-01-23 02:34] #1344 closed

[2018-01-23 07:57] SD10 opened #1469 "Allow users to see closed milestones"
Currently, I’m only able to see the open milestones when trying to assign an issue. I have some old issues that belong to a previous milestone and I would like to be able to access them as well.

I’m thinking maybe a `UISegmentedControl` can be added to toggle between open and closed milestones.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-23 07:58] iandundas opened #1470 "Crashes on launch"
I've just downloaded 1.17.0 from the App Store. When I open the app & tap "Sign in with GitHub", the app crashes.

Let me know if I can provide for info!

[2018-01-23 08:07] SD10 commented on #1470
Hey @iandundas, thank you for reporting this 👍 It looks to be a duplicate of #1464

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-23 09:37] dnlggr opened #1471 "Crash on Review GH Access"
Hi, cool project! 😃👌

Minor bug report: If I go to Settings > Review GitHub Access, the app crashes. I‘m running the latest 1.17.0 version of GitHawk and the latest iOS 11.2.2 on an iPhone 6.

I used _sign in via GitHub_ not a personal access token, if that makes any difference.

Thanks, and keep it up! 🐙

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.17.0 (15165915

[2018-01-23 11:24] rnystrom opened #1472 "UIKit"
#### in -[_UIQueuingScrollView .cxx_destruct]

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/githawk/ios/apps/com.whoisryannystrom.freetime/issues/5a671b898cb3c2fa636afb03?utm_medium=service_hooks-github&utm_source=issue_impact](https://fabric.io/githawk/ios/apps/com.whoisryannystrom.freetime/issues/5a671b898cb3

[2018-01-23 13:22] hawkrives opened #1473 "Optionally hide closed issues and PRs"
Hi all,

First off, thanks for working on this wonderful thing! _So_ much nicer than github's mobile site.

I had a feature request (I skimmed the issues and didn't see this; apologies if it's been discussed already) – would y'all be open to a way to hide the closed issues / PRs from the list? I really just care about the open ones on my repositories :smile:

Thanks again! Have a great week.

[2018-01-23 13:54] rnystrom commented on #1470
Fixed build is in review right now!

[2018-01-23 13:54] #1470 closed

[2018-01-23 13:56] rnystrom commented on #1473
Thanks for this! We're tracking open/closed, searching, and all sorts of filtering in #287. This is pretty high on my list of TODOs right now. I'll boost the priority on that issue.

[2018-01-23 13:56] #1473 closed

[2018-01-23 14:10] rnystrom commented on #1471
Ack ya, we have a fix in review w/ Apple right now. #1467 kicked off a new build. Will be fixed shortly!

[2018-01-23 14:10] #1471 closed

[2018-01-23 14:13] rnystrom commented on #1469
Iiiiinteeresting. Only now noticed that you can access closed milestones. I think a simple segmented control would be a _fantastic_ solution.

Though before we do that, I think we should first refactor Milestones, Labels, and Assignees to use `BaseListViewController` + IGListKit so we can get paging, empty states, and static controls (e.g. the seg control) "for free". Not to mention align these su

[2018-01-23 14:16] rnystrom commented on #1472
Version 1.16, fixed w/ web view height changes

[2018-01-23 14:16] #1472 closed

[2018-01-23 14:21] rnystrom opened #1474 "In-app banners for messaging"
Show some remotely-controlled (Firebase) banners, similar to the rating control, that we can show on demand.

- Content
  -`title: String`
  - `message: String`
  - `imageURL: URL?` (remotely load, fixed size to begin)
  - `link: URL?`
- X button to dismiss
  - Each banner should have a `uniqueID: String` that we store in `UserDefaults` somehow. Once you close it, never display that banner again.

[2018-01-23 15:50] dkhamsing commented on #1330
https://appcenter.ms seems promising

[2018-01-23 20:25] barankaansert opened #1475 "App access permission name"
is "freetime", maybe you want to check that 🤞

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.17.1 (1516660142)
Device: iPhone 7 Plus (iOS 11.2.1)
TestFlight: false
</pre>
</details>

[2018-01-23 20:25] #1475 closed

[2018-01-24 06:59] SD10 commented on #1469
I’m a little overwhelmed at the moment but I want to contribute in the future. If anyone gets to this before me feel free

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-24 09:51] gingerbeardman opened #1476 "More emoji bar oddness"
1. Tap emoji bar
2. Tap thumbsup
3. Close issue

![GitHawk Upload by gingerbeardman](https://i.imgur.com/6tMex00.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.17.0 (1516422452)
Device: iPhone 6s (iOS 11.2.2)
TestFlight: true
</pre>
</details>

[2018-01-24 13:08] 1iros opened #1477 "Dark Mode"
My eyes! It burns!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-24 13:40] viktorgardart commented on #1477
Duplicate #198

[2018-01-24 14:27] #1477 closed

[2018-01-24 14:27] BasThomas commented on #1477
@1iros in the meantime, we do support Smart Invert!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-24 15:34] 1iros commented on #1477
Strange. I searched for dark mode in here but nothing come up.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-24 15:38] BasThomas commented on #1477
It's because of paging; we only check locally within GitHawk at the moment. It could use some love for sure!

[2018-01-25 18:26] BasThomas opened #1478 "Unit tests are broken"
I think the deployment target is only set for the main app target, not the unit tests.

[2018-01-26 01:39] #1478 closed

[2018-01-27 20:10] Sherlouk commented on #1388
Looks like you can now report posts with a "Spam" (or other) reason

We should keep an eye out on this functionality as we may want to add support for reporting issues/prs 😄

[2018-01-28 04:27] ProfessorCoal opened #1480 "golden master build [:(13F32):]"
golden master build [:(13F32):]![GitHawk Upload by ProfessorCoal](https://i.imgur.com/o4m26hH.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.15.0 (1512350154)
Device: iPhone 6s Plus (iOS 10.2.1)
TestFlight: false
</pre>
</details>

[2018-01-28 10:10] #1480 closed

[2018-01-30 20:03] chrissimpkins opened #1481 "@ symbol shortcut"
Great application Ryan! Just discovered it recently and love it.

This is a request for an optional `@` symbol in the shortcut bar.  Some 3rd party keyboards make this commonly used character less accessible than it should be for GitHub...

<img src="https://user-images.githubusercontent.com/4249591/35588128-b4f546fc-05cd-11e8-9674-2618da787ad4.jpeg" width="50%" />

[2018-01-30 20:24] BasThomas commented on #1481
That's actually a quite interesting idea - we could then use the normal keyboard again with the `return` key. One downside I see is that the markdown bar would get (more) confusing: it would house preview, markdown shortcuts, image upload **and** `@` / `#` (for when we implement #219)

[2018-01-30 20:28] chrissimpkins commented on #1481
I am speaking from absolutely no iOS dev experience here so take with a grain of salt because I have no idea about the amount of effort required.  Can you implement a customizable bar that allows users to select what they want to appear there from a set of useful formatting shortcuts, preview launcher, and symbols?

[2018-01-30 20:36] SD10 commented on #1481
I agree with this but I also have some ideas to make typing code easier. Possibly short cuts for:
`< >`, `{ }`, `[ ]`, and `( )` that when you press them it nests you inside of them. This is because typing code examples on my phone is a nightmare.

Maybe we could add a button to the markdown bar that toggles to a different set of buttons?

[2018-01-30 20:57] rnystrom commented on #1481
I’m down with this idea! I’d actually love to have the return key back.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-31 11:57] Killectro opened #1482 "Checkboxes sometimes don't render"
Sometimes in a long list of check boxes one doesn't render properly. Sadly this was in a private repo so I can't share the real example with you but I've attached a photo.

The context was that there was a chunk of text at the top, then a couple of empty check boxes that didn't render, and then an unrendered filled check box, and then all of the boxes below the first correctly rendered box worked

[2018-01-31 12:36] Sherlouk commented on #1482
Are you able to edit the original comment to get the exact mark down and post it in here? Would make this a lot easier to debug!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-31 14:11] Killectro commented on #1482
This is a list to keep track of things to look into while doing Localization.

- [ ] `normalizeError()` method is used for both analytics and user-facing errors. Either make the analytics value not localize, or refactor the other uses of `normalizeError()` to decouple them from the analytics-facing implementation.

- [ ] Do an audit of better, more consistent generic error messaging. Less translat

[2018-01-31 14:12] Killectro commented on #1482
That is the full comment scrubbed of any private info

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-02 16:57] Sherlouk opened #1485 "Support for Custom Emojis"
https://github.com/Instagram/IGListKit/pull/1068#issuecomment-362641228

:trollface:

Not sure on which other ones there are

[2018-02-02 17:10] BasThomas commented on #1485
A lot: https://www.webpagefx.com/tools/emoji-cheat-sheet/

[2018-02-02 17:13] Sherlouk commented on #1485
Not all of those are GitHub only though, like we have 90% of them already because we use the Unicode standard list of emojis

GitHub does have a handful of unique ones though

[2018-02-02 17:15] BasThomas commented on #1485
Yeah, but they do not work in the app now regardless.

[2018-02-02 17:27] Sherlouk commented on #1485
I'm not following? If I do `:smile:` then it does the correct emoji?

[2018-02-02 18:07] Sherlouk commented on #1485
Exactly! Maybe the titles a bit misleading, but GitHub has different emojis/emoticons/images that are not actual emojis but would be cool to support it since GitHub Desktop does!

[2018-02-02 21:01] rnystrom commented on #1485
Does anyone have a repo of GitHub supported emoji? Now that we have checkbox support via local images this ought to be really easy.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-02 23:11] mrtnrst commented on #1485
I've used this one before @rnystrom
https://gist.github.com/rxaviers/7360908

[2018-02-04 20:03] rnystrom commented on #918
Example merge state query:

[code]

[2018-02-04 20:09] rnystrom commented on #918
I'm going to put in a request for rebase/squash/merge into the V4 API. The repo request is huge, would rather avoid another request. Hopefully that's cool w/ everyone?

Re: the type of merge, I'd like to have this UI following some feedback from @orta:

- Present a "Merge..." CTA button next to status
- On the first merge for a repo, show a `UIAlertController` w/ rebase, merge, and squash options

[2018-02-04 20:29] BasThomas commented on #918
Seems good. Looking forward to seeing this come to life :)

[2018-02-04 20:48] #1404 closed

[2018-02-05 00:08] #874 closed

[2018-02-05 07:02] HarshilShah opened #1492 "Code blocks within lists don’t render correctly"
GFM allows for lists to contain backtick fenced code blocks by just indenting the entire block by 4 spaces for each nested list. These spaces are then removed for rendering.

GitHawk seems to have some issues parsing these, and the rendering issues as a result seem to cascade as the code blocks aren’t correctly interpreted: https://github.com/Instagram/IGListKit/issues/1081#issuecomment-362993099

[2018-02-05 15:48] rnystrom commented on #1492
Very weird! Will dig

[2018-02-05 17:28] brurend commented on #1454
Cleaning derived data and building again after Xcode was done indexing fixed it for me.

[2018-02-05 17:52] rnystrom commented on #1454
@brurend this is about code highlighting in GitHawk 😋

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-05 18:16] brurend commented on #1454
I was talking about GitHawk, I cloned the project and built it, IGListKit files weren't highlighted (some other pods weren't as well).

[2018-02-05 18:45] rnystrom commented on #1330
In the name of transparency, here's where we are at the moment: I have both Bitrise and App Center CI building GitHawk. Both services are pretty easy to use, so I want to try out using both to deliver several beta builds and a single App Store build, documenting my process.

Here are my initial thoughts

## Bitrise

### Pros

- Great support (h/t @viktorbenei)
- Pretty quick builds
- Deploy via fa

[2018-02-05 18:55] viktorbenei commented on #1330
Thanks for sharing @rnystrom ! Just one correction, the web service component of bitrise is not open source, so it's not possible to self-host the API & web UI (yet ;)). All the tools used for running the configuration (the workflow editor, the runner CLI, ...) are open source, so you can download the build config and run it on your own Mac (or on any Mac/Linux), similar to fastlane.

Just a quest

[2018-02-05 18:56] BasThomas commented on #1330
That's a big ☹️

[2018-02-05 18:57] rnystrom commented on #1330
@viktorbenei will update! Not yet either

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-05 19:09] rnystrom opened #1495 "Keep tweaking manage action design"
Had an idea today. Instead of circles + labels, make a larger rounded-square that contains the icon and label. I think this would be even easier on the eye by totally containing the button.

On a related note, I need more color ideas for other actions. Idk where to find them, I need a GitHub color palette book 😄

[2018-02-06 03:30] rnystrom opened #1496 "Bold weight is too heavy"
See githawkapp/styledtext#1

[2018-02-06 03:46] rnystrom commented on #1495
![simulator screen shot - iphone x - 2018-02-05 at 22 27 05](https://user-images.githubusercontent.com/739696/35840797-58a1f190-0ac6-11e8-9ae1-f8ba72c0af81.png)

[2018-02-06 07:52] Sherlouk commented on #1495
GitHub Color Palette:

White
Gray
Another shade of Gray
Grey if you're American
Little green in places
Couple elements of blue

[2018-02-06 13:42] rnystrom commented on #1495
@Sherlouk I need to play with the layout a little, the buttons are really dynamic based on your permissions and type of issue, but if we can evenly fill we should

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-06 20:47] rnystrom opened #1498 "Tap on PR file to open that file"
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.18.0 (SEE BUILD PHASE)
Device: iPhone X (iOS 11.2.2)
TestFlight: false
</pre>
</details>

[2018-02-07 15:32] #1495 closed

[2018-02-07 15:39] #1496 closed

[2018-02-08 12:24] BasThomas opened #1500 "Markdown parser broken?"
![GitHawk Upload by BasThomas](https://i.imgur.com/6YejZjr.jpg)
Username is not recognized

![GitHawk Upload by BasThomas](https://i.imgur.com/9TFAj04.jpg)
Markdown not parsed

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.18.0 (1518017959)
Device: iPhone X (iOS 11.2.5)
TestFlight: false
</pre>
</details>

[2018-02-08 13:33] rnystrom commented on #1500
Looks like probably two different issues. The username one is weird, but the link is probably having a # inside it? Will investigate! Should be easy to repro with a unit test

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-08 15:52] rnystrom opened #1501 ""Jump to..." global interaction?"
After looking at #1500, I wished I could instantly navigate to Moya/Moya#1565 in GitHawk. Search is a little jank right now b/c you can't search issues, but even then, that requires changing tabs (not visible from an issue on iPhone), searching, then tapping the result (if found).

However if you already know your destination, maybe it'd be better to let people textually navigate to stuff?

Imagin

[2018-02-08 15:53] rnystrom commented on #1500
Referenced issues for easy nav

Moya/Moya#1565

Moya/Moya#1567

[2018-02-08 16:38] Sherlouk commented on #1501
This would be *super* powerful for tablets with a physical keyboard and a keyboard shortcut similar to Slack (Cmd K)/Xcode (Cmd Shift O)/Many apps

I think if it was easy to access then I probably would use it, maybe if we could get a bit of an autocomplete where if you start typing Moya/Mo it would sort of preview ahead of the cursor of the best match where you can press tab or something to use t

[2018-02-08 17:59] rnystrom commented on #1500
Ah so usernames still work, its just the bold style is wrong. Likely from

https://github.com/rnystrom/GitHawk/commit/220a5a3373fba8a8a250e2a3df5a20373c7334dd

[2018-02-08 19:17] BasThomas commented on #1500
Ah that makes sense yeah. Wasn't sure if they were related.

[2018-02-09 00:46] rnystrom commented on #1500
Already fixed locally

[2018-02-09 10:39] SD10 opened #1503 "Link selection prioritized over expand comment"
This is really really nit but when tapping the expand comment button, if there is a link under the button, the link selection is prioritized.

See Moya/#1556 for reference.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.18.0 (1518017959)
Device: iPhone 7 (iOS 11.0.2)
TestFlight: false
</pre>
</details>

[2018-02-09 17:24] Sherlouk opened #1504 "Highlight notifications caused by mention"
Would be nice if I could tell, without entering the notification, if the notification reason was caused by mention

Justification being is I get a lot of work notifications and don’t want to read them all 😅😅

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.18.0 (1518017959)
Device: iPhone 6s Plus (iOS 11.3)
TestFlight: false
</pre>
</details>

[2018-02-09 17:51] TroubleMakerBen commented on #1330
Hey folks,

Thx for the feedback and the comparison. I like that and our PMs are looking at this thread.

We're currently working hard on making Distribution better. Stay tuned.

We don't have an OSS plan, yet.

Cheers everyone and have a good weekend!

[2018-02-09 18:58] rnystrom commented on #1504
So I know there’s a notification type “mention”, but I’m not sure if you get those notifications for original mentions or for changes to a _thread you were mentioned in_. Need to play around with this a little.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-09 22:09] KrauseFx commented on #1330
This might be relevant now https://github.com/fastlane/ci 👍

[2018-02-09 22:12] freak4pc commented on #1330
@KrauseFx I've seen this and I'm so stoked for this.
Why ask for features if us as a community can build them ? Plus, Google backing this? couldn't ask for much more.

Really looking forward to contributing code to this as it progresses and applying it to our workflow as it matures.

Thanks for everything you guys are doing for the community !

[2018-02-09 22:44] rnystrom commented on #1330
@KrauseFx player 3 has entered the game

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-10 00:58] SD10 opened #1505 "Star label in cell getting cutoff on search page"
You can see in the first cell the star count is missing.

![image_uploaded_from_ios](https://user-images.githubusercontent.com/7445580/36056575-0c876d1e-0dcb-11e8-8add-713db79b68b5.jpg)

[2018-02-10 01:35] rnystrom commented on #1500
Hmm something is off still with usernames

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-10 22:57] BasThomas opened #1509 "Scroll on issue open / after comment shows manage buttons"
Used to auto-hide manage buttons. Did this change or is this unintentional?

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.18.0 (1518216007)
Device: iPhone X (iOS 11.2.5)
TestFlight: false
</pre>
</details>

[2018-02-10 22:58] BasThomas commented on #1509
Happens at least in https://github.com/louisdh/terminal/issues/22

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-11 00:45] #1500 closed

[2018-02-11 17:01] dkhamsing commented on #1330
I don’t think app center supports per commit `[ci skip]` like syntax

[2018-02-11 23:39] #1505 closed

[2018-02-11 23:40] #1481 closed

[2018-02-12 03:11] SD10 commented on #1469
@rnystrom I'll take care of this refactor over the next couple days if you'd like? A little bit of a learning curve for me because I don't use IGListKit 😅 I'll just use the existing controllers as inspiration

[2018-02-12 05:58] SD10 commented on #1463
I'll fix this one

[2018-02-12 18:55] TroubleMakerBen commented on #1330
@dkhamsing unfortunately not (yet).

[2018-02-12 21:32] BasThomas opened #1513 "File changes has content under nav bar"
![GitHawk Upload by BasThomas](https://i.imgur.com/PuGtSvC.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.18.0 (1518216007)
Device: iPhone X (iOS 11.2.5)
TestFlight: false
</pre>
</details>

[2018-02-12 22:32] rnystrom commented on #1513
Can you scroll and see it? Or is it a bad inset?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-13 00:04] SD10 opened #1514 "Suggested replacement text breaks autocomplete"
If a word is highlighted for a suggested replacement when selecting a user from the menu to create a mention. The wrong text is created.

Moya/Moya #632

Step 1: Type @fb
Step 2: The “fb” portion will be highlighted for replacement
Step 3: Select user `@fbeeper`
Step 4: The result is a mention for `beeper`

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.18.0 (1518216

[2018-02-13 01:57] rnystrom commented on #1514
Test @SD10

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-13 06:44] BasThomas commented on #1513
Can scroll yeah.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-13 10:46] SD10 commented on #1501
Sounds pretty cool to me 👌

Maybe we can leverage a user's bookmarks here? Like if you have Moya/Moya bookmarked maybe you can get some extra autocomplete benefits 🤔

[2018-02-13 13:41] SD10 commented on #1514
Did some digging here:
- Seems to only clip the first two characters (regardless of user or suggested word)
- Reason it happens is because the tap for selecting a user from the mention list also causes the suggested word to be accepted

Need to familiarize myself with MessageViewController codebase to make sense of the stack trace 😕

Quick fix would be if the tap event that accepts the autocorrect

[2018-02-14 10:00] Sherlouk opened #1516 "Flex not working on TestFlight build"
@rnystrom caused by ci changes?

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.18.0 (1518216007)
Device: iPhone 6s Plus (iOS 11.3)
TestFlight: false
</pre>
</details>

[2018-02-14 19:44] rnystrom commented on #1516
Hmm probably

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-14 20:20] Sherlouk commented on #1516
Report dump is saying TestFlight false but definitely was from TF - so yea definitely points to incorrect build being uploaded!

[2018-02-15 06:41] SD10 commented on #266
Looks like a duplicate of #1453?

[2018-02-15 07:57] BasThomas commented on #266
Looks like it.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-15 07:57] #266 closed

[2018-02-16 01:48] bobheadxi opened #1518 "Relative URL images do not load"
in READMEs, images where the src is a relative URL to an image within the repository don’t load

e.g. this [repository README](https://github.com/ubclaunchpad/inertia/blob/master/README.md)
<div>
<img src="https://user-images.githubusercontent.com/23356519/36290092-7c1e61a8-1278-11e8-9b6a-13b523e8a28d.PNG" width="40%"/>
<img src="https://user-images.githubusercontent.com/23356519/36290093-7c366cee

[2018-02-16 03:29] #1453 closed

[2018-02-16 03:29] #1513 closed

[2018-02-16 03:42] rnystrom commented on #1516
Found it, should be fixed!

[2018-02-16 03:42] #1516 closed

[2018-02-16 03:52] #1509 closed

[2018-02-16 03:54] rnystrom commented on #1514
@SD10 can you post the stack trace? Added you as a collab to that codebase too.

[2018-02-16 04:00] SD10 commented on #1514
**Good** (creating a mention without any text highlighted for replacement):
<img width="371" alt="screen shot 2018-02-13 at 6 46 01 am" src="https://user-images.githubusercontent.com/7445580/36292954-27460474-129b-11e8-9804-15a5d4e741ea.png">

**Bad** (creating a mention when text is highlighted for replacement):
<img width="511" alt="screen shot 2018-02-13 at 6 47 33 am" src="https://user-images.

[2018-02-16 04:25] rnystrom commented on #1518
Ugh, I swore we had this fixed. But I can notice it on other repos too. If anyone has a chance to take a look I’d be 🙏🙏🙏

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-16 06:28] SD10 commented on #1514
That could be rough. IIRC modifying the `autocorrectType` while a `UITextView` is the first responder has no effect. Resigning & reactivating the responder status while replacing text is kind of gross from a UX standpoint 😕

[2018-02-16 06:52] SD10 opened #1521 "Improve the new @ mention shortcut"
The current action uses `Operation.line` which is terrible IMO. This means it is useless for making mid-message mentions because `@` always gets appended to the beginning of the text. My fault for not thinking about this when submitting #1507.

I'm thinking I should revise this to insert in place. Then it can be used for other things too: email, code, etc.

[2018-02-16 06:56] SD10 commented on #1514
I also can't replicate this bug when using the `@` symbol directly from the keyboard. It seems like if you use `@` from the keyboard, no autocorrect highlighting occurs until the next space

[2018-02-16 09:45] jogu commented on #1330
One real plus for buddybuild that I loved was the way they show before/after/diffs in the test results if an [FBSnapshotTestCase](https://github.com/facebookarchive/ios-snapshot-test-case) unit test produced an unexpected image.

Does anyone know if any of these other systems have a similar feature?

[2018-02-16 13:41] rnystrom commented on #1521
Oh ya! I noticed this too. Yes pls, let’s improve.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-16 13:59] #1521 closed

[2018-02-16 18:45] gingerbeardman opened #1525 "Super slow redraws"
Not really sure why this is happening. My phone isn't on low power mode. It's an iPhone 6s.

Interesting to see the way the app lays things out.

https://youtu.be/LFH0woc_Jyg

https://youtu.be/qWAMh0uPKUo

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.18.0 (1518216007)
Device: iPhone 6s (iOS 11.2.5)
TestFlight: false
</pre>
</details>

[2018-02-16 19:18] gingerbeardman opened #1526 "Repo missing from search results?"
Search results top
![GitHawk Upload by gingerbeardman](https://i.imgur.com/2eVW2sJ.jpg)

Search results bottom
![GitHawk Upload by gingerbeardman](https://i.imgur.com/1cWaDt2.jpg)

Repo
![GitHawk Upload by gingerbeardman](https://i.imgur.com/8F52bqC.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.18.0 (1518216007)
Device: iPhone 6s (iOS 11.2.5)
TestFlight: false

[2018-02-16 19:21] gingerbeardman opened #1527 "Title and description on image upload should be added with the image tag"
When you upload an image there's space for an (optional) title and description. Where does this content go? imgur?

I expected it to be added as part of the image markdown?

![GitHawk Upload by gingerbeardman](https://i.imgur.com/2FmEPyW.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.18.0 (1518216007)
Device: iPhone 6s (iOS 11.2.5)
TestFlight: false
</pre>
</de

[2018-02-16 21:14] BasThomas commented on #1526
Probably just doesn't have paging? @rnystrom

[2018-02-16 21:15] BasThomas commented on #1527
Yeah, goes to imgur.

[2018-02-16 21:24] BasThomas commented on #408
I think I've said this before, but will be taking another stab at this next week during a hackweek at work. Super excited about this :)

[2018-02-16 22:15] rnystrom opened #1529 "Show merge error message"
Eg when merge commits aren’t allowed

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.18.0 (1518753170)
Device: iPhone X (iOS 11.2.2)
TestFlight: true
</pre>
</details>

[2018-02-16 22:17] rnystrom commented on #1525
Yikes!! @gingerbeardman would you be interested in running a Time Profile to help us track down what this is?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-16 22:25] SD10 commented on #1518
Don't understand enough about how GitHawk loads HTML yet but tapping the image view tries to load the incorrect URL: `http://github.com/.static/inertia-with-name.png`. It's missing the user and repo paths.

[2018-02-16 22:39] BasThomas commented on #1518
Probably a pretty easy fix then?

[2018-02-16 23:01] gingerbeardman commented on #1525
A reboot of my phone made this go away. But happy to run whatever you think might be useful

[2018-02-17 00:33] rnystrom commented on #1525
Hmm ok! If it comes back we can revisit

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-17 00:33] #1525 closed

[2018-02-17 14:14] rnystrom commented on #1526
It doesn’t, should be easy to add, but I’d rather get user and issue search working first.

You can search username/repo. Maybe we could update the placeholder?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-17 14:19] gingerbeardman commented on #1526
Searching _TeamShinkansen_ has one result (not the one I'm looking for)

Searching _TeamShinkansen/hakchi2_ has no results.

[2018-02-17 14:43] rnystrom commented on #1526
Oh is that an org? Hmm maybe that’s it

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-17 14:46] rnystrom commented on #1527
We should probably change this to just be a title, and when you add a title use it as the alt text in markdown. Now that you mention it, it’s a little bizarre that these never get used on GitHub/Hawk. cc @Sherlouk

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-17 15:27] Sherlouk commented on #1527
Seems legit, marking starter task shouldn't be difficult for someone to pick up

FWIW the original plan was to support other uploading strategies like albums and such and have it link to Imgur but that never got worked on hence the confusion.

[2018-02-17 22:41] SD10 commented on #1514
@rnystrom Are the changes I made to MessageViewController present in GitHawk yet? Noticing a new problem and have a different solution 😭😭

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-17 23:30] rnystrom commented on #1514
@SD10 not yet, have to `pod update` that dependency. I can hold off tho!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-17 23:46] SD10 commented on #1514
![GitHawk Upload by SD10](https://i.imgur.com/HN4vXvr.jpg)

Looks to be unrelated to my changes then 🙄

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-18 15:13] BasThomas opened #1531 "Incorrect merge status"
![img_1866](https://user-images.githubusercontent.com/4190298/36353427-a3691ea6-14c6-11e8-9b0b-0a7bfc70fe23.PNG)
![img_c94a6af49341-1](https://user-images.githubusercontent.com/4190298/36353428-a37fb9cc-14c6-11e8-9a04-91fdc9f95f10.jpeg)

Says some checks failed when in fact all are in progress

As seen in #1530

[2018-02-18 15:36] rnystrom commented on #1531
I think this is just b/c a pending state [doesn't exist](https://github.com/rnystrom/GitHawk/blob/master/Classes/Issues/Merge/IssueMergeSummaryModel.swift#L14-L18), and that status is just a [reduction to success/failure](https://github.com/rnystrom/GitHawk/blob/master/Classes/Issues/Merge/IssueMergeSectionController.swift#L68). Should be easy to fix.

[2018-02-18 15:42] rnystrom opened #1532 "UIFont not returning system font after background"
Followup from #1500

Repro steps:

1. Launch app from cold start
2. Navigate to Instagram/IGListKit#1043
3. Notice comment 2 has bolded `@jboo1212`
4. Tap back button
5. Background app
6. Navigate to Instagram/IGListKit#1043
7. Notice comment 2 has **not** bolded `@jboo1212`

I've tracked things down to [this line](https://github.com/rnystrom/GitHawk/blob/master/Pods/StyledText/StyledText/TextStyl

[2018-02-18 17:13] BasThomas commented on #1532
Oh wow this is interesting, thanks for documenting. Curious to see what caused this. If it is the background queue, hooray to the Main Thread checker for the hint?

[2018-02-18 17:19] BasThomas commented on #1531
Yeah, thought so too. Looking into it. Any idea what an "[expected](https://developer.github.com/v4/reference/enum/statusstate/#expected)" commit status is?

[2018-02-18 17:30] rnystrom commented on #1531
@BasThomas lol I wondered too! I have no idea. The [docs](https://developer.github.com/v4/enum/statusstate/) leave a lot to be desired 😐

Thanks for picking this up!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-18 17:31] rnystrom commented on #1532
Doesn’t explain why it works fine the first time tho... this one is really really weird.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-18 17:43] BasThomas commented on #1531
Yeah exactly 😂

[2018-02-18 18:17] rnystrom commented on #1532
Has to be something I'm doing wrong. Breaking in the comment parsing, which is done on a background queue, shows this:

[code]

The way I'm recreating the `UIFont` on that first execution is basically exactly how its done inside our helpers and the StyledText lib...

[2018-02-18 18:41] BasThomas commented on #1531
Unrelated, but how do you get the check image? (read: why is it a user avatar sometimes?)

[2018-02-18 19:20] rnystrom commented on #1531
Noticed that too, it’s from [this](https://github.com/rnystrom/GitHawk/blob/master/gql/Fragments.graphql).

Maybe we can find whatever the V3 API is using or figure out if it’s a bug and submit a ticket. [This is all that exists](https://developer.github.com/v4/object/statuscontext/).

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-18 19:39] BasThomas commented on #1531
Seems to be [roughly the same](https://developer.github.com/v3/repos/statuses/#list-statuses-for-a-specific-ref) in v3.

[2018-02-18 22:01] dkhamsing commented on #1330
Does App Center support building from a pull request?? I’m very confused

[2018-02-18 22:01] dkhamsing commented on #1330
cc @TroubleMakerBen

[2018-02-18 22:23] rnystrom commented on #1330
@dkhamsing it does!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-19 08:23] gingerbeardman opened #1534 "Unread badge count should reflect actual unread notifications"
Currently it shows how many notifications are in the inbox, regardless of their read status.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.18.0 (1518753170)
Device: iPhone 6s (iOS 11.2.5)
TestFlight: true
</pre>
</details>

[2018-02-19 08:29] Sherlouk commented on #1534
I might be misunderstanding what you mean, but your inbox *is* your unread notifications. You can swipe to mark the item as read, or use the tick in the navigation bar to mark everything as read.

Entering an issue/PR does not (automatically) mark the content as read as the desktop version does (unless you have the "Read on Open" option enabled in the settings)

[2018-02-19 08:37] gingerbeardman commented on #1534
Yes, I have "read on open" set.

For example, this screenshot makes no sense. Especially when you close the app and it still shows the badge.

![GitHawk Upload by gingerbeardman](https://i.imgur.com/WjurVCr.jpg)

[2018-02-19 10:48] jamuc opened #1535 "App crashes when attempting to login"
## Description
When tapping the login button the app crashes.

Reason: Client ID is read from the environment and it's force unwrapped:
[code]

[2018-02-19 10:53] SD10 commented on #1535
Hey @jamuc, sorry this happened. Could you please tell us what version of GitHawk are you using?

[2018-02-19 11:31] jamuc commented on #1535
Hey @SD10, that's a fast response time. Not as bad as I thought. Running the app locally in the simulator. Hadn't setup GitHub secret and client ID. "SET ON CI" is configured by default and then this guard clause doesn't fire:
[code]

[2018-02-19 11:34] jamuc commented on #1535
@SD10 I can add a pr to fix that. At least so that the guard clause gets fired and makes it more clear what is happening. Just need a moment :)

[2018-02-19 11:45] BasThomas commented on #1534
Indeed, seems like we would need to update the badge count if `read on open` is turned on.

[2018-02-19 14:12] dkhamsing commented on #1330
Sorry no idea where to turn this on, @rnystrom do u have any tips

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-19 14:31] #1535 closed

[2018-02-19 14:33] rnystrom commented on #1534
Small bug, great starter task for anyone that wants to pick this up! Filtering happens in `NotificationsViewController`.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-19 15:05] gingerbeardman commented on #1534
I'll take a look myself later

[2018-02-19 15:50] #1532 closed

[2018-02-19 16:12] rnystrom opened #1539 "Refactor models to be structs, use Sourcery, and put all in FlatCache"
Since we have a **lot** of models in the app now, I wanted to propose that once Instagram/IGListKit#1081 is merged, we convert all models to `struct`s and use [Sourcery](https://github.com/krzysztofzablocki/Sourcery) to automatically generate:

- `Hashable` and `Equatable` conformance
- `ListSwiftIdentifiable` and `ListSwiftEquatable` conformance
- [Mutations/builders](https://github.com/rnystrom/

[2018-02-19 17:05] #1529 closed

[2018-02-19 17:06] #1518 closed

[2018-02-19 17:10] rnystrom commented on #1532
Even though this is fixed, I never was able to pinpoint what exactly was wrong. I tried reproducing this in a sample app and nothing broke (even when doing backgrounding stuff). After evaluating the `TextStyle` architecture, I figured it was wrong anyways and decided on using a smarter combination of system fonts instead of hacking at `UIFontDescriptor` to get system font styles.

[2018-02-19 17:33] BasThomas opened #1541 "Commit missing from #1536"
#1536 is missing commits in GitHawk, no idea why?

![GitHawk Upload by BasThomas](https://i.imgur.com/IenMGlO.jpg)

![GitHawk Upload by BasThomas](https://i.imgur.com/AC3qXUu.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.18.0 (1518753170)
Device: iPhone X (iOS 11.2.5)
TestFlight: true
</pre>
</details>

[2018-02-19 17:38] BasThomas commented on #1539
Oh wow I was just talking about this with @jamuc 😱👍

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-19 17:39] BasThomas opened #1542 "Add “delete branch” support"
![GitHawk Upload by BasThomas](https://i.imgur.com/U6RAqgj.jpg)

Just had this (https://github.com/twof/CLSwift/issues/9) merged but couldn’t delete the branch from GitHawk. Would be nice maybe? Or too out-of-scope?

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.18.0 (1518753170)
Device: iPhone X (iOS 11.2.5)
TestFlight: true
</pre>
</details>

[2018-02-19 17:49] TroubleMakerBen commented on #1330
@dkhamsing App Center supports build on PUSH, but not build on PR (build on merge), yet.

[2018-02-19 17:55] jamuc commented on #1539
Yeah. I think it makes sense.

[2018-02-19 18:43] rnystrom commented on #1542
Nah I’d love this. Does the API exist?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-19 18:55] dkhamsing commented on #1330
Ah I see. Thx Ryan, Ben 😊

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-19 19:06] rnystrom commented on #1541
They were amends. Does web show amends?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-19 19:09] BasThomas commented on #1541
Ah. As seen in the first picture, yes. :)

[2018-02-19 19:09] BasThomas commented on #1542
Oh, that's a good question.

[2018-02-19 19:12] BasThomas commented on #1542
You would probably have to do some logic to check if a pull request is merged and all, but yes: https://developer.github.com/v3/git/refs/#delete-a-reference

[2018-02-19 19:15] rnystrom commented on #1542
Awesome! Merged state already exists, makes this super easy! We could literally add a floating button. Tho need to make sure the merged branch is part of the same repo.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-19 19:19] rnystrom commented on #1541
Looks like GitHub just updates the timeline placement of the commit on web bc there’s still only one. We’re not doing any re ordering of timeline events, so the API would need to shift the commit placement. Maybe we can file a ticket?

Closing bc I don’t want to reorder the timeline stuff on the client (complex and error prone).

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-19 19:19] #1541 closed

[2018-02-20 00:34] SD10 commented on #1321
https://github.com/rnystrom/GitHawk/issues/1541#issuecomment-366782371

Looked into this last night and I think it is a nightmare. It doesn't require an reordering per say, but rather a compression of timeline nodes.

Essentially, I need to turn an array of nodes such as:

`[A, B, B, B, C, B, B, D]` into `[A, BBB, C, BB, D]`
Where the B's are label added / removed events.

Not impossible but it ei

[2018-02-20 00:39] SD10 commented on #1542
Could also be nice to have an Auto Delete Branch setting to handle this automatically after a merge. Don't know if you guys are open to unique features 😛

[2018-02-20 00:57] LucianoPAlmeida commented on #1454
Hey @rnystrom I think I found the issue
It appears that path extension "m" was not being recognized as objc language
So I did this hardcoded test and it seems that the language it has to be passed is not file extension "m" but "objc"
![screen shot 2018-02-19 at 21 52 18](https://user-images.githubusercontent.com/8292651/36402737-6733ce46-15bf-11e8-8dbf-5adced369bc4.png)

I'm working on a fix, it a

[2018-02-20 01:26] rnystrom commented on #1542
@SD10 hell ya we are! That’s a really cool idea. Anything that speeds up repo management is fair game. I want to get GitHawk into a state where I’d rather not use the .com 😇

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-20 01:30] rnystrom commented on #1454
@LucianoPAlmeida awesome!!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-20 01:32] #1454 closed

[2018-02-20 02:43] rnystrom opened #1544 "Refactor networking into its own library"
I want to put everything:

- `Alamofire`
- `GithubClient`
- All session management stuff
- All Apollo stuff (lib and gen)

Into a single library, call it "GithubAPI" or w/e. I want to prepare to allow things like a watch app or extension, but all of this needs to get moved out.

While we're at it, I really like the networking API design in [this article](https://www.raywenderlich.com/158803/source

[2018-02-20 05:42] BasThomas opened #1547 "Support reactions on review comments"

[2018-02-20 05:44] BasThomas opened #1548 "Audit merge pull requests for accessibility"
See https://github.com/rnystrom/GitHawk/pull/1511#issuecomment-366135382

[2018-02-20 05:46] BasThomas commented on #1544
Any idea as to when you want to tackle this? Might be a bit hairy when working on enterprise support at the same time.

[2018-02-20 05:50] BasThomas commented on #1542
That's including forks right? 😃

Should be noted that if something else still depends on said branch, we shouldn't show the button. Is there an easy way to check that?

[2018-02-20 10:12] jamuc commented on #1527
I'll give it a shot

[2018-02-20 12:20] Sherlouk commented on #1547
@rnystrom Was there a reason this wasn't done originally? I feel like I remember you saying it was super difficult?

[2018-02-20 15:20] rnystrom commented on #1547
It looks like the [GraphQL](https://developer.github.com/v4/mutation/addreaction/) API allows us to use a “subject id” to react to, but we fetch PR comments with the v3 API.

Means we have to reconstruct the ID with the base64 hack, and that could change at any time 😬

Also we need to [fetch](https://developer.github.com/v3/pulls/comments/#reactions-summary) reactions.

<sub>Sent with <a href="htt

[2018-02-20 15:28] rnystrom commented on #1544
I’m still not sold that enterprise support will ever truly work given the GraphQL version issues.

Very least after 1.18 ships. Not a huge rush, but I’d like to clean this stuff up plus pave the way for someone to hack freely on a watch app or extension (I’ll basically ship whatever anyone wants to build).

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-20 15:29] rnystrom commented on #1542
@BasThomas I’m not sure. For instance, I can’t delete branches from PRs made from forks. That’s what you mean right?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-20 15:30] BasThomas commented on #1544
Yep, fair! Will update on my findings regarding Enterprise. 👍

[2018-02-20 15:30] rnystrom opened #1551 "Reply button on comments"
Far right (opposite reaction button). Tap and prefill text with `@mention` text. Maybe long press to mention _and_ quote?

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.18.0 (1519059961)
Device: iPhone X (iOS 11.2.2)
TestFlight: true
</pre>
</details>

[2018-02-20 15:33] BasThomas commented on #1551
I prefer just quoting. If you are responding to someone in an issue, there's a high chance they are subscribed anyway, so they will receive a notification regardless of them being mentioned or not.

[2018-02-20 15:34] SD10 commented on #1542
@rnystrom For example, you can't delete a branch that has an open PR against it. There are definitely some things to consider. I'm not sure how the API would handle such a situation.

[2018-02-20 15:34] BasThomas commented on #1542
Yeah, but the other way around. In this case (see image), I forked a repo which was merged; then couldn't delete the branch (on my fork).

[2018-02-20 15:44] SD10 commented on #1551
@BasThomas The thing I like about the mention though is it provides some context for the discussion.
Maybe we could do something like automatically insert some form of visual representing where the quote came from 😛

See below:

_**BasThomas**_:

[2018-02-20 15:52] BasThomas commented on #1551
Fair point. At that point I would prefer to `@mention` anyway - to provide context as you said. It wouldn't hurt either (you'll get the notification regardless) and making it bold/italic to mimic something feels even weirder. 😛

[2018-02-20 16:30] BasThomas commented on #1544
After #1549 the Request type can probably be pulled out of the GithubClient by the way.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-20 16:32] remypanicker opened #1552 "Unable to view pdf image"
I have an iOS codebase where vector assets are supplied in pdf format. When I tried to view an asset, the app did not render the pdf. Instead I got an error saying “Cannot display file as text”.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.17.1 (1516660142)
Device: iPhone X (iOS 11.2.5)
TestFlight: false
</pre>
</details>

[2018-02-20 16:33] BasThomas commented on #1552
That’s unfortunately not supported yet. Maybe you can open a pull request to add support?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-20 18:58] rnystrom opened #1553 "Migrate Milestones to be theme-based"
Instead of just bundling a bunch of stuff into a release, I want to move towards packaging relevant stuff into a single release. I'm trying to do this w/ 1.18 to make it about PRs (reply to comments and merging, would have loved to get reviews but that's for later).

Maybe we can reorganize milestones based on bundles of stuff and then prioritize them, working on features serially so we can releas

[2018-02-20 19:38] FrankDoersam opened #1554 "Jj"
Jj

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.17.1 (1516660142)
Device: iPhone 7 (iOS 11.3)
TestFlight: false
</pre>
</details>

[2018-02-20 19:42] #1554 closed, assigned to nobody

[2018-02-20 20:07] BasThomas commented on #1553
Love it. Makes it also easier to get used to new features, instead of new things all over the place that don't get noticed because of it. Would also make more sense to with versioning like 2.0, 2.1, 2.2, 3.0 etc., instead of being "stuck" at 1.whatever.

[2018-02-20 20:27] rnystrom commented on #1553
I've been holding off on a big 2.0 to collect a bunch of cool features and then push on Hacker News, Product Hunt, etc. I _really_ wanted to get a profile tab in there for 2.0.

[2018-02-21 00:00] jdisho opened #1555 "Sign in after sign out issue"
First of all, thank you for with amazing project. @rnystrom
I have an issue with `GitHawk` that I cannot sign in with other credentials after a sign out.
When I press the sign in button, the app shows the same profile as before without asking me to put the credentials.

I haven't checked the code thoroughly, but probably you are storing the `token` in the Keychain and not removing it after a sign

[2018-02-21 00:26] SD10 commented on #1553
So, can I still queue up PRs for this stuff even if they don’t get merged until their respective versions? I need stuff to work on still 😐

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-21 00:27] rnystrom commented on #1555
Ugh I forgot about this! It’s an issue with the SF auth saving your credentials since last login and just automatically logging you in...

There might be another issue tracking this with more detail. I’ll go look.

In the meantime if you delete the app and reinstall it _should_ work.

And thanks for using the app!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-21 00:27] #1531 closed

[2018-02-21 00:28] rnystrom commented on #1553
@SD10 haha of course! This will just give everyone a better sense of priority (faster reviews, etc).

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-21 00:40] SD10 commented on #1553
We could also try using the GitHub project management board. However, I’ve never had it work out on anyway of my projects yet

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-21 01:40] rnystrom commented on #1553
I’m definitely open to trying it, just unclear he value it provides over issues/milestones.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-21 02:01] SD10 commented on #1553
I actually prefer 你 issues and milestones. I guess the board is only helpful if we had different stages of development like: backlog, in progress, under review, testing, etc. We’re not that organized (yet) maybe one day when we replace the GitHub web app? 😬

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-21 03:15] rizwankce commented on #1553
Love the whole idea!

Regarding the versioning, guess we are still following [Semantic versioning](https://semver.org/). 🧐

P.S: Back in India - will spend some time for Githawk

[2018-02-21 03:25] rnystrom commented on #1555
It was brought up in #112, but closed after adding multiple account support back. Ya this is a huge drawback with using `SFAuthenticationSession`... you can't sign out. I think you'd have to go to Safari.app > github.com > sign out and _then_ come back to GitHawk.app and sign in again?

Maybe we should just ditch `SFAuthenticationSession` and go back to `SFSafariViewController`. Even though its te

[2018-02-21 03:34] rnystrom opened #1556 "Macro builder"
Had a random idea after playing w/ Workflow.app and seeing the regex controls in Tweetbot.app...

We could create a custom action, or "macro", builder in settings that lets you make custom actions on repositories, issues, or PRs. Imagine making your own button that sat next to the "close", "labels", etc buttons that could do w/e you wanted:

- Automatically add certain labels + milestone
- Send a

[2018-02-21 06:12] ggoofer opened #1557 "Search history includes auto-searched while typing"
Search results updated continuously while typing and are included in history. E.g. If I search “Karabiner” I get

K
Kara
Karab
Karabine
Karabiner

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.17.1 (1516660142)
Device: iPhone 8 Plus (iOS 11.2.5)
TestFlight: false
</pre>
</details>

[2018-02-21 06:39] BasThomas commented on #1557
This was brought up in #791 but was closed as expected behavior at that point. @rnystrom, want to revisit / reconsider?

[2018-02-21 06:41] BasThomas commented on #1555
Oh yeah this is tricky. 😕

I guess we go back to `SFSafariViewController `? Is there really no way to sign out with `SFAuthenticationSession`? Seems weird.

[2018-02-21 07:09] BasThomas opened #1558 "Fix pull request check images"
Sometimes, GitHub seems to supply us with the wrong image / user / actor when dealing with status checks. See [here](https://github.com/rnystrom/GitHawk/issues/1531#issuecomment-366540041).

We should report this to GitHub and check the results after.

[2018-02-21 07:37] rizwankce commented on #1555
A simple google search for `STAuthenticateionSession` log out or clearing cookies, gave me answer that there is no easy way of logging out. [This](https://stackoverflow.com/questions/47207914/sfauthenticationsession-and-logging-out) SO question have some workaround but it's not a good option for our users.

So the options are either move to `SFSafariViewController` or to show a message that they h

[2018-02-21 08:31] Sherlouk commented on #1556
Definitely loving some of these more unique features that takes us beyond GitHub desktop!

[2018-02-21 08:57] Sherlouk commented on #1321
I took a quick look into this, it's super crude and will need to be made more efficient - but this is something that does the compression we need:

https://drive.google.com/open?id=1z_EpsXM2nUBVuE45lZIXyAM6IFc0n3ct

[2018-02-21 09:24] SD10 commented on #1321
Stealing my work @Sherlouk 😂 Very similar to what I did but I used a `for loop`.

The reason I chose a loop is because `previousResults` is immutable inside of the closure body. This requires a copy of the array to be made for every iteration. It get's expensive quickly for a `Collection` type. But we can use the `inout` version of reduce, `reduce(into:)` to get around this.

[2018-02-21 09:26] gingerbeardman opened #1559 "Ability to select text in a comment?"
I miss this, I often select text to copy, look-up, translate.

Can it be added?

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.18.0 (1518753170)
Device: iPhone 6s (iOS 11.2.5)
TestFlight: true
</pre>
</details>

[2018-02-21 09:27] yusuftor opened #1560 "Reactions misplaced after sequence of events"
The reaction part of the cells on comments are misplaced after doing the following:
1. Press on a reaction to see who made it
2. Expand a large comment
3. Go back down to see the original comment with the reaction on it.

See these photos for what I mean:
![GitHawk Upload by yusuftor](https://i.imgur.com/D41boA7.jpg)
![GitHawk Upload by yusuftor](https://i.imgur.com/zNq7lKr.jpg)
![GitHawk Upload b

[2018-02-21 09:41] SD10 commented on #1321
There would probably need to be two checks:
1. If last type seen is B
2. If last type seen is Z
Where Z is the new type that we're compressing B into

The reason is we need all the information inside of the unique B values so that we can resolve the final state of the label.

`foo added`, `foo removed`, `foo added` would result in `foo added` 😐

That is where it kinda gets messy but IMO this proce

[2018-02-21 10:40] Sherlouk commented on #1559
Dupe of #609?

[2018-02-21 10:41] gingerbeardman commented on #1559
Yes, dupe.

Shall I close?

[2018-02-21 12:13] #1559 closed

[2018-02-21 12:17] gingerbeardman commented on #609
My preferences FWIW:

1. highlight individual chunks of text the iOS standard way so i get to use the share sheet
2. less good: view markdown so that I can do as above, but less good as I will have to content with markdown special characters
3. worst option: copy all text in cell, because that will require editing after the fact

[2018-02-21 12:18] gingerbeardman commented on #1476
related to: https://github.com/rnystrom/GitHawk/issues/1391 ?

[2018-02-21 12:19] gingerbeardman commented on #1560
dupe of https://github.com/rnystrom/GitHawk/issues/1391 ?

[2018-02-21 13:21] Sherlouk commented on #609
There's still nothing preventing us doing both, as I do see two different use cases for this especially with the functionality of being able to quote a previous message which depends on this functionality but would be easier with paragraphs rather than entire posts!

[2018-02-21 14:12] #1560 closed

[2018-02-21 14:41] rnystrom commented on #1558
[Filed](https://platform.github.community/t/commit-context-creator-login-and-avatar-different-from-web/5073)

[2018-02-21 14:54] rnystrom commented on #609
FYI we wont be able to do normal text selection b/c we're not using `UITextView` (and wont for perf reasons).

I'd be open to a "view raw markdown" alert action on a comment's "..." menu item, open a modal `UITextView`, and let you select + highlight from that?

[2018-02-21 14:54] rnystrom commented on #1476
Let's keep it all in one place

[2018-02-21 14:54] #1476 closed

[2018-02-21 14:57] BasThomas opened #1561 "Newest Testflight crashes on launch"
@rnystrom?

[2018-02-21 14:58] rnystrom commented on #1555
Ya let's just ditch `SFAuth` and go back to Safari 😢

I get the point that `SFAuth` is supposed to be quick to login w/ your existing Safari.app session, but seems pretty weird.

One last option we could consider is on "Sign Out" show an alert window that says "You must log out of github.com on Safari.app" and then give 2 alert action options: "cancel" and "Open Safari.app" which could direct you

[2018-02-21 14:59] rnystrom commented on #1561
ruh roh, let me see

[2018-02-21 15:01] gingerbeardman commented on #609
Works for me.

[2018-02-21 15:19] rnystrom commented on #1561
Error:

[code]

This is from the module rename. Crap.

[2018-02-21 15:20] #1561 closed

[2018-02-21 15:21] rnystrom commented on #1557
I'm open to fixing this b/c I agree it's pretty goofy. cc @heshamsalman any ideas?

[2018-02-21 15:23] heshamsalman commented on #1557
One solution would be to only save strings for searches where the user clicks into something.
Solutions centered around toning down the debounce time won't actually fix this problem.

[2018-02-21 15:30] rnystrom commented on #1557
Simple, love it. Let's go w/ that!

[2018-02-21 15:31] Sherlouk commented on #1561
![Abort](https://media.giphy.com/media/l3V0jhd6QaEroU4r6/giphy-downsized.gif)

[2018-02-21 15:36] rnystrom opened #1563 "Issue and PR "reap""
Add a feature that scans stale issues and PRs and allows you to bulk close + comment on them:

- Select a min age
- Filter based on last-updated time on issue/PR
- Filter on type? Maybe only do this for issues and PRs individually (not as one)
- Show list
- Button that shows alert + actions:
  - Cancel
  - Close
  - Close + comment (prefixed comment, maybe customize in settings)

[2018-02-21 15:38] rnystrom opened #1564 "Customize issue, PR cell appearance"
Similar to how Tweetbot.app let's you pick what info is displayed and how, let people customize how issues/PRs are displayed throughout the app.

Some possible options:

- Author avatar
- # comments
- Time since last updated
- Time since created
- Approve/reject status
- Labels
- Milestones

What else?

[2018-02-21 15:39] rnystrom opened #1565 "Unify issue/PR cell appearance"
Spinoff of #1564. I find myself annoyed that issues/PRs in repo view is so different from inbox.

[2018-02-21 15:50] rnystrom commented on #1561
Since we're gonna probably nuke `SFAuth` the "Freetime" module name shouldn't really show up. I think.

[2018-02-21 16:09] BasThomas commented on #1563
Basically this? https://github.com/probot/stale

[2018-02-21 19:18] jdisho commented on #1555
As a user, I wouldn't like doing all those actions just for a sign out. @rnystrom
In my opinion `SFSafariViewController` fits better.

[2018-02-22 01:47] rnystrom opened #1566 "Keep tweaking the action button UI"
It’s just not right yet. I need to keep playing. Was thinking for iPhone fit 3 wide with minimal spacing. Left align instead of trying to justify.

For iPad width maybe 8?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-22 02:24] SD10 commented on #1514
cc @nathantannar4

Just making you aware of this issue. I will look into it more this weekend

[2018-02-22 02:39] acristescu commented on #1330
After reading this thread it does seem to be a two-horse race: Bitrise and App Center. Yet nobody has touched on the subject of UI tests: I loved how in BB, with just a few clicks, you could run espresso tests on a virtual device. Does any of the two platforms under discussion support this?

[2018-02-22 04:20] SD10 commented on #1321
Update: Looks like the GitHub engineers don't care as much as I do 😓

<img width="572" alt="screen shot 2018-02-21 at 10 17 49 pm" src="https://user-images.githubusercontent.com/7445580/36520198-431bf7d0-1755-11e8-9700-e6bd88386ed8.png">

<img width="326" alt="screen shot 2018-02-21 at 10 15 31 pm" src="https://user-images.githubusercontent.com/7445580/36520192-372796aa-1755-11e8-9ef9-3cdd8ed9a07e

[2018-02-22 04:47] dkhamsing commented on #1330
https://docs.microsoft.com/en-us/appcenter/test-cloud/

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-22 04:53] TroubleMakerBen commented on #1330
@dkhamsing App Center Test actually runs UI Tests on physical devices – we have a few thousand. Nope you can't see pictures ;)

[2018-02-22 07:50] cbedoy commented on #1330
We're actually trying to identify a new CI solution.

- **AppCenter**: similar to bb but doesn't provide PR support, I think is more focused to management people, also the logs doesn't provide a stack if any task fails.

- **Bitrise:** Very configurable, offers many open "steps" like codecoverage, deploy, sign, unitTest, UITest, build, deliver, clean and custom, cuz you have the ability to configu

[2018-02-22 08:19] Sherlouk commented on #1321
Yeah I'd probably back to the GitHub engineers on that one, don't think the time labels changed is super important!

Curious of other peoples opinions though, if a label was added and then removed it was likely a mistake - Should we just hide these? Keep the app a lot more streamlined of the net changes rather than each individual step?

[2018-02-22 10:50] acristescu commented on #1330
From the link posted above about testing in App Center

Understanding the core concepts of the Test Cloud experience improve ease of use, navigation, and communications with support. It is recommended to become familiar with these concepts before running your first tests.

What the hell... I don't want to review any concepts, core or otherwise, I just want it to work with 2 clicks like it did on B

[2018-02-22 10:53] freak4pc commented on #1330
@TroubleMakerBen UI Tests and Snapshot Tests are two different things

[2018-02-22 11:30] jdisho commented on #1565
I totally agree with your concern!!

**Suggestion:** we make **issues/PRs** in inbox view the same as they are in repos and group them by `sections`, where each section represents the repo.
In this case the Inbox will be clearer and more organised.
I am a bit annoyed when I see the inbox notifications only ordered by time.

What do you think? @rnystrom

[2018-02-22 12:10] rnystrom commented on #1565
@jdisho we’ve tried grouping the notifications, but it becomes a UX nightmare when working with GitHubs api. That’s why we added repos in the “...” menu.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-22 12:23] dkhamsing commented on #1330
Yea the App Center documentation could be streamlined

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-22 13:55] viktorbenei commented on #1330
@acristescu

Not (yet) a single click but also more powerful in a couple of ways: https://blog.bitrise.io/introducing-solid-and-snappy-virtual-device-testing-for-android

We're working on making the setup easier (that's why it's still "beta", not because of lacking functionality ;)).

[2018-02-22 14:17] #1557 closed

[2018-02-22 14:18] #1527 closed

[2018-02-22 15:08] rizwankce opened #1570 "Nav bar title is mis aligned on iPad"
Happening only from search and bookmark and not in notifications.
![GitHawk Upload by rizwankce](https://i.imgur.com/YTvWYwL.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.18.0 (1519226434)
Device: iPad Pro (iOS 11.2)
TestFlight: true
</pre>
</details>

[2018-02-22 16:28] SD10 commented on #1297
Is this resolved by #1302?

[2018-02-22 16:33] SD10 commented on #1161
We can close this because we're not using Slack any longer? Going through all the bugs looking for quick wins 😆

[2018-02-22 16:57] SD10 commented on #1565
So which one of these do we want to change? The inbox provides the name of the owner/repo. Whereas in the repo view this information is obvious. The repo view also provides the user who created the issue/pr 🤔

[2018-02-22 17:28] #1297 closed

[2018-02-22 18:12] TroubleMakerBen commented on #1330
@acristescu @dkhamsing We are aware! Keep the feedback coming.

[2018-02-22 18:34] acristescu commented on #1330
@viktorbenei I'm going to try but oh my god that art style is off-putting. I remembered why I stayed away from Bitrise in the past... smiling clouds hugging each other? Sharks with lasers strapped to them?!? Green buttons over a vibrand purple background? Perhaps I'm just showing my age here, but how could I recommend this tool to a client that is... say... a bank?

[2018-02-22 18:53] rnystrom commented on #1161
Thanks for helping clean this up @SD10!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-22 18:53] #1161 closed

[2018-02-22 18:54] rnystrom commented on #1570
Ew!!! Ya bad bug. Lets fix before 1.18

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-22 19:03] viktorbenei commented on #1330
No problem @acristescu , I definitely see your point, honest feedback is always welcome and a design update is already in the works ;)

[2018-02-22 19:36] rnystrom opened #1571 "More screenshots!"
Up to 10 on the product page now! 😱

https://developer.apple.com/news/?id=02212018a

[2018-02-22 19:58] rnystrom commented on #1565
Maybe we tackle #1564 at the same time? I'd love the option to show it all and let ppl customize the appearance as they see fit.

[2018-02-22 20:12] BasThomas commented on #1571
Now you can introduce more typos 😂😬

[2018-02-23 01:07] #1570 closed

[2018-02-23 01:14] rnystromtest opened #1573 "Test"
Something something

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-23 01:17] jdisho commented on #1573
I am closing it 😝

[2018-02-23 01:17] #1573 closed

[2018-02-23 02:04] #1566 closed

[2018-02-23 09:54] jdisho opened #1575 "Filter PRs and issues in Inbox"
When the Inbox is cluttered with many issues and PRs, I find it useful if I could filter PRs and issues.

_Ps: If you find useful I can implement this feature._ @rnystrom

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-23 20:50] rnystrom opened #1576 "Trending repo hack that works today"
https://github.com/vitalets/github-trending-repos

Kind of brilliant. Can use it w/ GitHawk already. cc @Sherlouk

[2018-02-23 20:56] Sherlouk commented on #1576
Subscribing to them is a solid interim solution, but yea would still love to get a featured page!

They have RSS feeds, wonder if we could do something with those?

I still check Swift featured daily!

[2018-02-24 12:58] acristescu commented on #1330
I decided to try them both with a simple repo ( https://github.com/acristescu/GreenfieldTemplate ) and see where I get to. So far I've tried App Center and hit a few snags:

- solved (it couldn't find the gradle build tools!), you have to manually add the `google()` repository to your project's gradle
- it restarted the build number from 1 whereas I already released on play store a 42, google is j

[2018-02-24 13:26] acristescu commented on #1330
Bitrise: On the plus side the setup was just as painless although I think that if I need to change anything I need to bring up an yml file and fiddle with it (update: found a thing called workflow editor. it looks scary but powerful). Snags:

- it never asked me which variant to build and picked the wrong one. I wanted `prodRelease` but for whatever reason it decided to build exactly the other two

[2018-02-24 15:44] dkhamsing commented on #1330
Thx for posting these

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-24 15:59] rnystrom opened #1579 "Animation on login screen"
- Separate blue bird from git circles
- Slow, scale pulse of bird
- Very slow rotation of git circle

Adds a little pizazz to the first experience.

[2018-02-24 16:03] rnystrom opened #1580 "Custom pull to refresh"
`UIRefreshControl` is the bane of my existence. So many weird little bugs. I've built these from scratch before and had an idea of a cool one for GitHawk.

- Recreate an icon [similar to this](https://octicons.github.com/icon/repo-forked/) but flipped vertically
- Start pulling and see a single ring
- As you pull, two other rings emerge following the fork path
- When refresh triggered, fire haptic

[2018-02-24 16:07] rnystrom commented on #1575
Dupe #686

[2018-02-24 16:07] #1575 closed

[2018-02-24 16:14] SD10 commented on #1580
Funny, last night I was thinking about turning it into a hawk flying around a circle 😂 Let me know what you mock up!

[2018-02-24 16:58] acristescu commented on #1330
![image](https://user-images.githubusercontent.com/2835035/36632872-f35570ce-1983-11e8-8e93-458ab1993430.png)

[2018-02-24 18:26] jdisho opened #1581 "Partial search results"
I occurred a problem while searching the issues.

1. Initial search results - 0 results 🤔

![GitHawk Upload by jdisho](https://i.imgur.com/p29z7If.jpg)

2. Press "Load more" - 2 new results 😳

![GitHawk Upload by jdisho](https://i.imgur.com/Qbwp9zt.jpg)

3. Press "Load more" **couple** of time - ...🤨🤨🤨

![GitHawk Upload by jdisho](https://i.imgur.com/6oRUUr6.jpg)

<sub>Sent with <a href="http://gi

[2018-02-24 18:52] rnystrom commented on #1581
This is b/c the search is only filtering already-loaded results. It's not actually going out to the network for new results. #287 is tracking advanced search/filter for Issues/PRs.

Would love for someone to take a crack at this!

[2018-02-24 18:52] #1581 closed

[2018-02-24 19:07] jdisho commented on #345
Suggestion: On `searchBarTextDidEndEditing`, show two options what to search.

What do you think? @rnystrom

Btw, this issue has a **high** priority since November. Are we planning to implement it soon?

![search](https://user-images.githubusercontent.com/8223362/36633922-4cde3cb6-199d-11e8-9a48-1f32120ec0ef.PNG)

[2018-02-24 22:51] ranterle commented on #1330
Thanks @acristescu for the detailed feedback, we greatly appreciate it. Especially on the warning for JUnit test report files in App Center, this is not affecting your actual test run and should be fixed soon.
Keep it coming!

[2018-02-24 22:58] acristescu commented on #1330
It took me two hours but I managed to convince app center to upload to google play. However, I cannot seem to convince it to do this automatically, I had to download the signed APK from the app center and then upload it back up into the deploy/stores section (!) to make it work. Seems awefully convoluted, what am I doing wrong?

PS: To add insult to injury, BuddyBuild deployed several times in the

[2018-02-24 23:01] nishadg opened #1582 "Can't switch branches"
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.17.1 (1516660142)
Device: iPhone 8 Plus (iOS 11.2.5)
TestFlight: false
</pre>
</details>

[2018-02-24 23:24] jdisho commented on #1582
Check https://github.com/rnystrom/GitHawk/issues/372

[2018-02-24 23:24] #1582 closed

[2018-02-25 01:05] heshamsalman opened #1584 "Thoughts on Waffle.io?"
http://waffle.io

![image](https://user-images.githubusercontent.com/3388381/36636913-e209f938-199d-11e8-9a14-3e6366a28985.png)

Thoughts about using Waffle to manage the project and track work being done? @rnystrom would have to set up the hooks. It's pretty lightweight -- tickets are just GitHub issues, and the WaffleBot just moves them across lanes and closes issues linked to PRs.

[2018-02-25 10:55] Sherlouk commented on #1584
Pardon my naivety but what does Waffle give us that GitHub Projects doesn't? (Though I do agree that a tool, irrespective of which one, would definitely help with prioritisation of features and better transparency of objectives)

[2018-02-25 13:57] heshamsalman commented on #1584
I think the only things it does over GitHub projects is move tickets through the kanban board automatically, and auto-label tickets (in-progress, needs-review, etc).

It also tracks new PRs opened up by non-collabs as a new ticket in a separate swim-lane.

AFAIK those are the only differences but their may be others.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-25 14:58] Sherlouk commented on #1584
Another benefit of GitHub projects though is it would give us an excuse to start implementing it into the app 😉

[2018-02-25 21:06] rnystrom opened #1586 "Integration with Working Copy"
Working Copy.app has fantastic URL scheme docs. Still parsing them, but I'd _love_ to get something working where integration w/ Working Copy is seamless.

https://workingcopyapp.com/url-schemes.html

What sort of stuff could you envision doing?

[2018-02-25 21:15] Sherlouk commented on #1586
I think the most common would be the show/clone option

`working-copy://show?remote={{git url}}`

[2018-02-26 04:59] rizwankce opened #1590 "Fork PR not triggering CI check"
Happening all the time in Bitraise.

Some recent PR's
- #1543
- #1550
- #1589

[2018-02-26 07:33] BasThomas commented on #1590
I assume that's a security precaution as otherwise forks can read environment variables.

[2018-02-26 07:59] Sherlouk commented on #1590
Worth noting that most providers have an option to enable/disable it, so maybe one for Ryan to make the decision on? (Especially since the env vars have been public more times than anyone cares to admit 😂)

[2018-02-26 17:32] viktorbenei commented on #1330
Hi @acristescu ,

Re: https://github.com/rnystrom/GitHawk/issues/1330#issuecomment-368228417

Indeed our current scanner will add a Gradle Runner step, with `assembleDebug` configured for the base workflow. We realise that this might not be straightforward enough, but in short if you want to build `prodRelease` then the gradle task is `assembleProdRelease`. If you want to run lint then the gradle

[2018-02-26 19:03] vanyaland commented on #1552
@BasThomas  I'll try it the other day.

[2018-02-27 01:18] rnystrom commented on #1590
Trying to wrap my head around where this isn't working. I don't share secrets w/ PRs, but even if that's the case why aren't PRs triggering a workflow that fails unit tests? @viktorbenei any tips on what I'm missing?

[2018-02-27 06:23] #708 closed

[2018-02-27 06:50] viktorbenei commented on #1590
@rnystrom I'm off today, happy to help tomorrow if that's OK or feel free to ping our support!

[2018-02-27 06:54] viktorbenei commented on #1590
Actually I'd suggest you to check this troubleshooting guide first http://devcenter.bitrise.io/webhooks/troubleshooting/

Bitrise returns the exact reason why it did not start a build, which you can see in github repo webhook settings, as well as on Bitrise (activity page).

If that wouldn't help just let me know 😉

[2018-02-27 10:39] mobile-releases-bot opened #1592 "Switch account 3D Touch not updated after switching account"
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.18.0 (1519488669)
Device: iPhone X (iOS 11.2.5)
TestFlight: false
</pre>
</details>

[2018-02-27 10:40] BasThomas commented on #1592
OK, and apparently I posted a bug report with the other account?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-27 10:41] BasThomas commented on #1592
I was definitely logged into this account for the repo overview.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-27 10:42] SD10 commented on #1592
Looks related to #1289?

[2018-02-28 08:58] BasThomas opened #1593 "Markdown url description treated as url"
Guess we should ignore (potential) URLs in the []?

![GitHawk Upload by BasThomas](https://i.imgur.com/GzB6VyR.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.19.0 (1519713428)
Device: iPhone X (iOS 11.2.5)
TestFlight: true
</pre>
</details>

[2018-03-01 11:05] agisilaos opened #1594 "Separation of closed/open issues & PR’s"
Since I started using GitHawk I thought that something was missing in the issues/ PR’s views inside a repo. Currently closed and open issues (same with PR’s) are on the same Table view and that’s a bit overwhelming. Not sure if this issue was opened before but I thought I will go ahead and write about it.

A good solution for this issue would be to create two separate tabs for closed and open PR’s

[2018-03-01 11:33] BasThomas commented on #1594
The tricky part is paging with the current endpoints, which is not as easy as splitting them.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-01 13:23] jdisho commented on #1594
Isn’t this related to: https://github.com/rnystrom/GitHawk/issues/287 ?
@BasThomas

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-01 16:53] rnystrom commented on #1594
Ya planning on improving this via filter/sort in #287

[2018-03-01 16:53] #1594 closed

[2018-03-01 16:55] rnystrom commented on #1593
@BasThomas is the issue shortlink correct? Maybe just need to reorder so that link are handled first, _then_ shortlink stuff.

[2018-03-01 16:58] rnystrom commented on #1592
Easy as adding this line

[code]

When you switch accounts. Pref in the app delegate.

Anyone want to pick this up?

[2018-03-01 20:03] vanyaland commented on #1552
WIP

[2018-03-01 21:40] BasThomas commented on #1593
Yep. Seems like what you are suggesting is a good fix.

[2018-03-01 23:45] SD10 commented on #1592
I thought about taking this but it's too simple. Anyone like the idea of a "first timers only" tag?

[2018-03-02 00:02] jdisho commented on #1592
@SD10 I don't understand the meaning behind "first timers only". What do you mean? 🙊

[2018-03-02 00:37] rnystrom commented on #1592
@jdisho like a very-first-contribution task. People experienced w/ the project can leave it alone since it should be saved for someone new.

IMO that's how we should treat starter-task

[2018-03-02 06:28] kimdv opened #1597 "App Icon badge show 1 but no new notifications"
Hi!

My app icon show “1” but no new notification when app open.

I have opened GitHub on web, and see there is a new release notification. I think that’s the reason why :)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.18.0 (1519488669)
Device: iPhone 8 (iOS 11.2.6)
TestFlight: false
</pre>
</details>

[2018-03-02 07:55] SD10 commented on #1597
Looks similar to #1534. @kimdv out of curiosity, do you have "Read On Open" turned on?

[2018-03-02 07:56] SD10 commented on #1592
@jdisho Sounds awesome, let me know if you have any questions 👍

[2018-03-02 08:09] SD10 opened #1598 "Suggestion: new UI for managing issue/pr actions"
Instead of putting the actions in the bottom of a collectionView, I'm wondering if anyone is interested in moving it to an expanding button UI.

![top](https://user-images.githubusercontent.com/7445580/36889159-5014085a-1dbe-11e8-8915-65427cc0dee7.gif)
https://github.com/yoavlt/LiquidFloatingActionButton

![preview](https://user-images.githubusercontent.com/7445580/36889170-629c5932-1dbe-11e8-860f

[2018-03-02 08:16] SD10 commented on #1598
A cool thing to experiment with would be making the button expand out as if it were a git branch 🤔

[2018-03-02 10:28] kimdv commented on #1597
Nope!

I actually had one notification, fastlane made a new release and I think it was that notification that was "unread".

Because when I did a refresh, saw the "Zero indox", pressed the home button without closing it, after a while there was 1 new notification.

Open the app, there was nothing, and the badge was gone.

I waited a little again and the badge was 1, and then it started over.

[2018-03-02 10:37] jdisho commented on #1598
I really like the Floating Action Button (FAB) and it is one awesome element of Material Design, but in my opinion wouldn't recommend a FAB for use in any iOS app because is not part of the iOS Design Guidelines. 🤔💭  @SD10

[2018-03-02 11:26] BasThomas commented on #1597
Should be fixed: https://github.com/rnystrom/GitHawk/pull/1546 :)

[2018-03-02 11:26] #1597 closed

[2018-03-02 11:31] kimdv commented on #1597
🚀💯

[2018-03-02 15:13] rnystrom commented on #1598
What about dealing with the message text view?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-02 17:54] nathantannar4 opened #1599 "App crash when entering emojs"
I can't seem to always reproduce this, but a few times I've gone to make an emoji by entering : following by ) and on the ) the app crashes. Currently running the latest Testflight build version 1.19

Anyone else getting this?

[2018-03-02 18:35] jdisho commented on #1599
Thank you for raising this issue @nathantannar4

This should be an issue of MessageViewController... @rnystrom you aware of this?

[2018-03-02 18:38] rnystrom commented on #1599
Can someone post precise repro steps? Bonus for a stack trace.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-02 18:48] SD10 commented on #1598
I was thinking of putting it in the top right corner 🤔

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-02 18:56] rnystrom commented on #1598
That’s a pretty far reach. Might wanna you around with a prototype to get a feel for it. Not opposed to experimenting with the idea!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-02 19:14] rnystrom opened #1600 "EmojiAutocomplete.swift line 32"
#### in EmojiAutocompleteFreetimeAutocompleteType

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/githawk/ios/apps/com.whoisryannystrom.freetime/issues/5a99a2838cb3c2fa632cf303?utm_medium=service_hooks-github&utm_source=issue_impact](https://fabric.io/githawk/ios/apps/com.whoisryannystrom.freetime/issues/5a99a283

[2018-03-02 19:15] rnystrom commented on #1600
Reported in #1599

[2018-03-02 19:15] #1599 closed

[2018-03-02 20:03] SD10 commented on #1600
Steps to reproduce:
1. Enter `:` to bring up emoji autocomplete menu
2. Start scrolling through the emoji menu
3. WHILE it is scrolling, select any character that results in no emoji autocomplete results

This is likely because a failure in autocomplete empties the results array, causing the configure method to access an invalid index. I have to cook dinner so I can't get to this anytime soon.

[2018-03-02 20:34] BasThomas commented on #1600
Here's a backtrace:

[code]

[2018-03-02 20:36] BasThomas commented on #1600
Et voila:

[code]

[2018-03-03 15:56] rnystrom opened #1601 "Freetime"
#### in -[FWebSocketConnection nop:]

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/githawk/ios/apps/com.whoisryannystrom.freetime/issues/5a9ac5a08cb3c2fa633bcef0?utm_medium=service_hooks-github&utm_source=issue_impact](https://fabric.io/githawk/ios/apps/com.whoisryannystrom.freetime/issues/5a9ac5a08cb3c2fa633bc

[2018-03-03 22:27] BasThomas opened #1606 "Warn that signing out removes bookmarks"
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.19.0 (1519713428)
Device: iPhone X (iOS 11.2.5)
TestFlight: true
</pre>
</details>

[2018-03-04 06:06] BasThomas opened #1608 "Recent searches get reordered even when tapping a repository"
Is that intended? I would say that if you tap a search query, it might make sense to update, but not when tapping a result from the overviw?

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.19.0 (1519713428)
Device: iPhone X (iOS 11.2.5)
TestFlight: true
</pre>
</details>

[2018-03-04 09:23] gingerbeardman opened #1609 "<kbd> tag/markup not rendered correctly"
Example
<kbd>cmd</kbd>+<kbd>z</kbd>

![GitHawk Upload by gingerbeardman](https://i.imgur.com/rMKj4I0.jpg)

![GitHawk Upload by gingerbeardman](https://i.imgur.com/ZY49kg9.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.19.0 (1519713428)
Device: iPhone 6s (iOS 11.2.6)
TestFlight: true
</pre>
</details>

[2018-03-04 12:11] BasThomas commented on #1609
Issue for reference: https://github.com/Microsoft/vscode/issues/44983

[2018-03-04 12:24] Sherlouk commented on #1609
(Or just this one, since there's an example here 😄)

[2018-03-04 15:26] rnystrom commented on #1609
TIL this is a thing

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-05 02:36] #1548 closed

[2018-03-05 02:37] #1601 closed

[2018-03-05 02:48] #1600 closed

[2018-03-05 03:37] rnystrom commented on #1606
Should we just put some copy in the logout message to the effect of "all your stuff will be gone"?

[2018-03-05 05:50] BasThomas commented on #1606
Sounds like a good idea.

[2018-03-05 08:46] jdisho commented on #1606
@rnystrom I don’t understand.. why removing the bookmarks in logout? 😔

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-05 09:48] BasThomas commented on #1606
Probably because we do not link recent searches to a user. Should we?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-05 09:49] BasThomas commented on #1606
That means they would be removed upon logout as well, though.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-05 11:28] jdisho commented on #1606
@BasThomas why not leaving bookmarks and “recent searches” in there after a logout?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-05 11:45] BasThomas commented on #1606
So right now bookmarks will be lost, but recent searches won’t. Bookmarks are tied to a user (which you log out off), recent searches are global.

The reason for not “leaving” bookmarks at that point is that if we wanted to do so, we’d have to also keep a reference to the user, which wouldn’t be ideal.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-05 11:47] BasThomas opened #1613 "Allow growing of MessageViewController"
![GitHawk Upload by BasThomas](https://i.imgur.com/LaGmDXk.jpg)

I don’t know if this is a MessageViewController issue or just set to very low in GitHawk? Can we make it more flexible so we can grow it on iPad (especially with a hardware keyboard)?

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.18.0 (1519351495)
Device: iPad7,3 (iOS 11.2.6)
TestFlight: true
</pre>
<

[2018-03-05 14:11] rnystrom commented on #1613
Def! There’s a setting for the max height. Could set that larger if iPad. Maybe the default behavior is a little more advanced (like based on available screen space?).

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-05 14:37] rnystrom commented on #1606
Probably fine to nuke searches too, not too offended by it tho

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-05 15:23] BasThomas commented on #1613
Yeah, that'd be neat. I would think maybe amount of lines or just a height. The consumer can then calculate whatever height it wants (eg. 30% of available space). MessageViewController can then be responsible to check if a keyboard is up or not?

[2018-03-05 15:40] Sherlouk commented on #1606
I'm not sure what's so bad about keeping them around tbh? We don't need to hold a reference to the user per-sè rather the name of the bookmarks file (where it's saved) should be the same irrespective of the logged in state

If I have a file stored on the device as "Bookmarks-Sherlouk" then I sign in as a different account, I wouldn't see them. but if I logged back in as Sherlouk, I would see it on

[2018-03-05 17:54] BasThomas commented on #1606
That would work, just not a big fan of dangling information.

Also, although I don't think we'd have to worry about it, you can change your GitHub name and then we'd lose the connection to those files.

[2018-03-05 19:05] Sherlouk commented on #1606
Definitely a valid point, so rather than the username it _could_ be something else like the user ID - though I think this is so much of an edge-case that I think we're okay to just deal with it? If that's the only circumstance you lose your data, I think that's fair

I also don't think dangling info is too bad here, i get what you're saying in principle but the data is so trivial/small and can be

[2018-03-05 20:36] rnystrom opened #1614 "Automatically upload iTunes dsyms to Fabric"
https://krausefx.com/blog/download-dsym-symbolication-files-from-itunes-connect-for-bitcode-ios-apps

Can setup as part of Bitrise

[2018-03-05 20:41] rnystrom opened #1615 "Error loading archives"
Prob from refactor

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.19.0 (1520219174)
Device: iPhone X (iOS 11.2.6)
TestFlight: true
</pre>
</details>

[2018-03-06 04:19] lleger opened #1616 "Support emoji in labels"
GitHub [recently released](https://blog.github.com/2018-02-22-label-improvements-emoji-descriptions-and-more/) a feature allowing you to add emoji to label names. This allows you to do `bug 🐛` instead of the boring `bug`.

GItHawk doesn’t yet recognize emoji in labels and just renders it as a string. It looks like this:
![a914c35c-6302-4604-9bd7-e23261202107](https://user-images.githubusercontent.

[2018-03-06 06:06] BasThomas commented on #1615
Oh and this hit [this `catch`](https://github.com/rnystrom/GitHawk/blob/master/Local%20Pods/GitHubAPI/GitHubAPI/Processing.swift#L27), but then trickled down to show a "Cannot connect to GitHub". Probably want to fix that too; shall I create another issue for it?

[2018-03-06 06:12] BasThomas commented on #1616
☹️

[2018-03-06 08:04] miko78 opened #1618 "Neue Preise Sitzkissen"
Bitte einbinden. Danke

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.18.0 (1519488669)
Device: iPhone 7 Plus (iOS 11.2.5)
TestFlight: false
</pre>
</details>

[2018-03-06 08:52] Sherlouk opened #1619 "Network Stack Blog"
https://github.com/rnystrom/GitHawk/pull/1617#issue-173065451

[2018-03-06 09:07] jdisho commented on #1618
I'll put this down as a mistake 😊

[2018-03-06 09:07] #1618 closed

[2018-03-06 14:10] SD10 commented on #1616
@BasThomas I think this issue is just about replacing the emoji token with the proper emoji. I don’t think it has anything to do with the GitHub API. The new features for labeling were more fields. ie) Description. Maybe I’m mistaken?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-06 15:30] BasThomas commented on #1616
Ah, I don't know what their backwards-compatability is; they previously would choke on emoji, so I would assume they don't support emoji in the responses at this point either? That could potentially break old clients. We can check?

[2018-03-06 15:51] rnystrom commented on #1619
I need to carve out time and write. LOTS of cool stuff we are baking in here!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-07 01:20] #1253 closed

[2018-03-07 01:20] #1254 closed

[2018-03-07 01:20] #1346 closed

[2018-03-07 01:48] KashishGoel commented on #1613
What about dynamically resizing the message field as you type up to a certain height? Should be able to a check to see if the height needs expanding using sizeToFit and then updating a constraint.

[2018-03-07 02:55] rnystrom commented on #1615
@BasThomas that'd be great!

[2018-03-07 02:56] #1615 closed

[2018-03-07 03:46] rnystrom opened #1621 "Recreate Things 3 menu UI"
I'm pretty obsessed w/ T3 right now. I want to hack around at making an open source UI control for their menu. Maybe it could serve as a replacement for managing issues/repos vs the action buttons?

Also could satisfy #1598.

Started sketching out some ideas, will find some time to play w/ it, even if it just ends up being for fun. Such a wonderful UI element.

[2018-03-07 03:51] rnystrom commented on #1608
cc @heshamsalman

It's intended. I like the idea of only updating recency when selecting a _search_ result, not a recent.

[2018-03-07 04:50] heshamsalman commented on #1608
@rnystrom agree — at the time it was built to mirror the Spotify experience but after using it for a bit I’m definitely leaning towards “less is more”.

[2018-03-07 05:00] BasThomas commented on #1621
Can you show us how it looks? 😃

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-07 08:19] Sherlouk commented on #1254
2018 Recap, start early :trollface:

[2018-03-07 08:22] BasThomas commented on #1254
What about a "Year in review" in July? 😎

[2018-03-07 11:41] rnystrom commented on #1254
I am def gonna do another post soon to update the latest! Just not able to pull off any cadence like I wanted to...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-07 19:40] rstockm commented on #224
+1 for local notifications.

[2018-03-07 22:59] rnystrom commented on #1621
![img_1511](https://user-images.githubusercontent.com/739696/37123176-3b42c44e-2231-11e8-810e-a42b763bc71e.gif)

![img_1512](https://user-images.githubusercontent.com/739696/37123116-111af93e-2231-11e8-9ad9-ccf0f135887e.jpeg)

![img_1513](https://user-images.githubusercontent.com/739696/37123117-1147511e-2231-11e8-8731-d1bad5b98f93.jpeg)

[2018-03-09 16:27] rnystrom commented on #1621
Hacked at it last night. I'm really happy w/ it so far. Will open source as its own control!

![img_1522](https://user-images.githubusercontent.com/739696/37217897-d8c01fbc-238c-11e8-9b1c-d182ec440319.gif)

[2018-03-09 20:11] BasThomas opened #1628 "File loading fails if no patch available"
As seen [here](https://github.com/rnystrom/GitHawk/pull/1627#issuecomment-371912429).
Endpoint: https://developer.github.com/v3/pulls/#list-pull-requests-files

[code]

This element does not have a `patch` key.

[2018-03-09 20:16] BasThomas commented on #1628
Can someone verify if this fails in the App Store version as well? Doesn't seem like the `patch` was changed during the refactor: https://github.com/rnystrom/GitHawk/pull/1602/files#diff-a1b55e400141708dbc17a1601e5998af

Check https://github.com/rnystrom/GitHawk/pull/1627/files

[2018-03-09 20:21] BasThomas commented on #1628
So this works in the pre-revamp BUT it omits the file with the missing patch. We can "fix" it to that behavior, but I think that is a GitHub bug?

<img width="545" alt="screen shot 2018-03-09 at 21 19 58" src="https://user-images.githubusercontent.com/4190298/37228112-c6615194-23df-11e8-9ee7-f297326729b7.png">

[2018-03-09 23:57] gingerbeardman opened #1629 "View source code should open in GitHawk"
View source code should open repo in GitHawk rather than web view?

![GitHawk Upload by gingerbeardman](https://i.imgur.com/86GWhKs.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.19.0 (1520219174)
Device: iPhone 6s (iOS 11.2.6)
TestFlight: true
</pre>
</details>

[2018-03-09 23:58] gingerbeardman opened #1630 "Links to repos open in webview rather than GitHawk"
Example

![GitHawk Upload by gingerbeardman](https://i.imgur.com/Sjc1Ei4.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.19.0 (1520219174)
Device: iPhone 6s (iOS 11.2.6)
TestFlight: true
</pre>
</details>

[2018-03-10 00:04] gingerbeardman opened #1631 "Cannot edit issue title from issue page?"
Or at least I can't find a way?

I can only edit this comment.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.19.0 (1520219174)
Device: iPhone 6s (iOS 11.2.6)
TestFlight: true
</pre>
</details>

[2018-03-10 00:18] rnystrom commented on #1631
Nope this doesn’t exist yet. I think there’s a feature issue out there for it.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-10 00:19] rnystrom commented on #1630
Ya full URLs aren’t wired up in app (shorthand does tho). I’d love to build a centralized router system for all app nav tbh. Would unlock a url scheme too.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-10 00:23] gingerbeardman commented on #1631
Couldn't find anything in a search (which returned one result each time I pressed "more"!)

[2018-03-10 01:08] rnystrom commented on #1629
Ya! Would def accept a PR on this. Should be easy.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-10 06:14] BasThomas commented on #126
Think this was fixed, right @rnystrom?

[2018-03-10 06:17] BasThomas commented on #1631
Rename issue/pull request: https://github.com/rnystrom/GitHawk/issues/381
Search result paging: https://github.com/rnystrom/GitHawk/issues/287

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-10 06:17] #1631 closed

[2018-03-10 07:22] gingerbeardman commented on #1629
I'll take a look

[2018-03-10 12:23] #126 closed

[2018-03-11 16:56] Sherlouk opened #1634 "Move GitHawk repo to org"

[2018-03-11 19:09] erkekin opened #1635 "Can’t upload any image"
iPhone 6 ios 11.3 beta
Cant upload image, says something went wrong

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.18.0 (1519488669)
Device: iPhone 6 (iOS 11.3)
TestFlight: false
</pre>
</details>

[2018-03-12 03:34] rnystrom commented on #1634
Def, we should do this

[2018-03-12 03:50] #1628 closed

[2018-03-12 05:34] BasThomas commented on #1634
Should be able to simply to this via https://github.com/rnystrom/Githawk/settings. GitHub will auto-redirect!

[2018-03-12 11:13] rnystrom commented on #1635
Hmm odd, is anyone else hitting this?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-12 12:32] #1634 closed

[2018-03-12 12:33] BasThomas commented on #1634
Wooo!

[2018-03-12 12:40] flovilmart commented on #1634
👏

[2018-03-12 12:47] viktorgardart commented on #1634
🤙💃

[2018-03-12 19:35] rnystrom opened #1640 "Option to make "all" (aka archive) the default view"

[2018-03-12 19:35] rnystrom opened #1641 "Rename "Archived" to "All""

[2018-03-12 20:38] rnystrom opened #1642 "Use SyntaxTextView for rendering code w/ line numbers"
https://github.com/louisdh/savannakit

https://github.com/louisdh/savannakit/blob/66a65ab1a9e0b00b1f1ec3cd331d09acb737db9e/Sources/SavannaKit/View/SyntaxTextView.swift

[2018-03-12 20:55] BasThomas commented on #1640
Settable in Settings? Do you then have the option to switch to the unread view?

[2018-03-12 20:56] BasThomas commented on #1641
We've come full circle 😁

[2018-03-12 21:15] rnystrom commented on #1640
Ya in settings. I think you'd only get the full view? Or maybe the reverse, where the alert action says "Unread"?

[2018-03-12 21:36] rnystrom commented on #1635
@erkekin still happening?

[2018-03-13 07:53] Sherlouk commented on #1635
I'd be interested to know what image you're trying to upload too, imgur has a maximum file size limit which _could_ return this error (which is the reason we added compression) - I tried a lot of fairly big images though and couldn't get this to happen!

[2018-03-13 13:19] orta opened #1645 "Update apollo-codegen to latest"
I'm happy to handle this issue: https://github.com/apollographql/apollo-ios/issues/219 if someone's happy to update this app to using the latest version.

[2018-03-13 14:48] rnystrom commented on #1645
I’ll take care of it!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-13 16:28] shaps80 commented on #1635
Oops sorry about lock/unlock. Was trying to scroll and my phone locked up. My bad 😬

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-14 04:08] rnystrom opened #1647 "Remove done button from label/people/milestone"
Just update as you select things. Esp with the new menu, I want to just select stuff and then tap the bg to dismiss.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-14 04:08] rnystrom opened #1648 "Report bug broken now that org changed"
<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-14 04:15] SD10 commented on #1647
Do you mean to update on dismissal? If not, I think updating as we select things can lead to some messy issue history 😕

[2018-03-14 07:58] Sherlouk commented on #1648
Good to know that the API doesn't respect redirects 🤔

[2018-03-14 12:24] rnystrom commented on #1648
Ya 🙄 broke bookmarks too. API seems to work when reading, but breaks when writing.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-14 12:29] BasThomas commented on #1648
Maybe something to report? Seems like an oversight.

[2018-03-14 12:57] schrodincat opened #1649 "Handoff to GitHub.com on Mac"
It would be nice to have support for handoff feature.

The use case is pretty obvious, say I’m opening an issue or something else after reading notification in the app, what if I want to dig deeper in the code or conversation and my Mac is nearby? It would be handy (😅) to have handoff to Safari on Mac with a link to corresponding issue or something else you’re currently viewing in the app on GitHu

[2018-03-14 13:15] rnystrom commented on #1649
@BasThomas how much handoff support did you add before?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-14 13:17] rnystrom commented on #1648
@BasThomas good idea

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-14 13:22] schrodincat commented on #1649
@rnystrom zero, I’m afraid, I’m not familiar with iOS developmnet

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-14 13:26] jdisho commented on #1649
Handoff works when you are in an issue or pull request.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-14 13:31] schrodincat commented on #1649
@jdisho argh, you're absolutely right, it is working. Maybe it was some quirkiness in my home network when I've tried it the first time. I'll close the issue then.

[2018-03-14 13:32] #1649 closed

[2018-03-14 16:45] BasThomas commented on #1649
Yup, issues and pull requests are supported.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-14 19:00] erkekin commented on #1635
Still happening. I topk a screenshot of that “sth went wrong” toast message now. But can’t upload.

[2018-03-14 19:11] jdisho opened #1650 "[Proposal] Supporting GitLab"
What if, in a near future GitHawk supports also Gitlab?

Thoughts? 💭

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-14 19:16] SD10 commented on #1650
This is a duplicate of #408

[2018-03-14 19:20] #1650 closed

[2018-03-14 19:21] rnystrom commented on #1635
@erkekin could you debug with FLEX (three finger tap) and post back with the networking response?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-14 19:21] jdisho commented on #1650
Aah!!! 😄

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-14 19:42] BasThomas commented on #1635
No Testflight right?

[2018-03-14 19:56] BasThomas commented on #1635
Can't replicate on an iPhone 6 sim running 11.3 😕

[2018-03-14 20:02] erkekin commented on #1635
No Testflight. Now I'm trying to debug with FLEX, trying to figure out how to do that :)

[2018-03-14 20:02] BasThomas commented on #1635
Yeah, FLEX is only available in Testflight builds I am afraid :(

[2018-03-14 20:03] erkekin commented on #1635
Oh, I didn't know that. Could you add me? _erkekin {at} gmail {dot} com_

[2018-03-14 20:04] BasThomas commented on #1635
ping @rnystrom

[2018-03-15 15:47] Binlogo commented on #224
#Ghjihvf ghjijvfdddvyhbbv

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-15 20:15] #1552 closed

[2018-03-15 21:05] jdisho commented on #1551
I am taking this 😊

[2018-03-15 21:25] rnystrom commented on #1635
Will add!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-15 21:27] rnystrom commented on #1647
On dismiss would be fine

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-16 05:41] erkekin commented on #1635
curl -v -X GET 'https://api.imgur.com/3/credits' -H 'User-Agent: Freetime/1.19.0 (com.whoisryannystrom.freetime; build:1520915257; iOS 11.3.0) Alamofire/4.4.0' -H 'Accept-Language: tr-TR;q=1.0, en-US;q=0.9' -H 'Authorization: Client-ID 903b9dfdddeaab4' -H 'Accept-Encoding: gzip;q=1.0, compress;q=0.5' -H 'Cookie:'        İt gave this curl

[2018-03-16 08:30] YuryBogdanov commented on #1648
Not only report bug was broken.
It seems that new pull requests are not built on CI :( can anyone check that?

[2018-03-16 15:30] rnystrom commented on #1648
Ruh roh, I’ll take a look

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-16 20:03] louisdh commented on #1642
Would be nice!
Fyi: SavannaKit is currently in beta, needs some work on its public API (and adding some tests).

[2018-03-17 15:41] #1648 closed

[2018-03-17 15:42] rnystrom commented on #1648
Fixed CI

[2018-03-17 15:44] #1592 closed

[2018-03-17 19:54] #1645 closed

[2018-03-18 07:34] marcuswu0814 opened #1660 "Share bookmarks between two devices"
Is it possible share bookmarks when using multi device? Maybe store data on the iCloud etc.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-18 12:24] jdisho commented on #1551
Adding the replay button on far right of the reaction button is a problem when it comes to the case when a lot of reactions are there. Moreover, when you have an iPhone SE. Too cluttered.

![simulator screen shot - iphone se - 2018-03-18 at 13 14 04](https://user-images.githubusercontent.com/8223362/37565705-42be93ee-2aae-11e8-9c60-5023e8d62ceb.png)

I have two suggestions regarding this:

1. `Rep

[2018-03-18 13:53] rnystrom commented on #1551
@jdisho let’s go with putting reply (“reply” btw 😉 ) in the action sheet menu. It’d be fun to convert that menu to a context menu anyways where we can add icons.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-18 18:50] SD10 commented on #1463
Looks like I only fixed this on the assignees view controller. Guessing that the assignees and mentions views aren’t getting the users from the same request?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-18 18:56] rnystrom commented on #1660
Could totally be possible, but isn't atm. iCloud storage seems like the safest bet for this!

[2018-03-18 18:57] rnystrom commented on #1635
@erkekin can you view and copy/paste the response body?

[2018-03-18 21:19] BasThomas commented on #1660
Closing in favor of #702

[2018-03-18 21:19] #1660 closed

[2018-03-18 21:20] BasThomas commented on #1463
Probably not, as they can be different.

[2018-03-18 21:42] SD10 commented on #1463
Duh, thanks @BasThomas. I’ll fix this late tonight if no one does first

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-18 23:34] jdisho opened #1663 "Warnings in console"
It happens when IssueViewController is open (`master` branch). 😕 @rnystrom

<img width="1131" alt="screen shot 2018-03-18 at 20 26 58" src="https://user-images.githubusercontent.com/8223362/37572546-0b26d55e-2b0d-11e8-8850-3cd78a60baf4.png">

[2018-03-18 23:45] SD10 commented on #1663
SD10 bot has detected this is a duplicate of #1225 😝

[2018-03-18 23:49] jdisho commented on #1663
It didn‘t happened a couple of hours ago... @SD10

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-18 23:52] SD10 commented on #1663
Ok, no problem @jdisho. I haven't been following everything that has been going on with GitHawk development lately. Maybe this was solved and we forgot to close #1225

[2018-03-19 06:56] BasThomas commented on #1663
I don’t think that this has been fixed yet, and it should be a duplicate of #1225.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-19 06:57] #1663 closed

[2018-03-19 10:11] SD10 commented on #1647
Resolved by #1655

[2018-03-19 10:11] #1647 closed

[2018-03-19 10:20] SD10 commented on #1463
So it looks like `mentionableUsers` is being [limited to 20](https://github.com/GitHawkApp/GitHawk/blob/66dc61ace0a384419e390aeec2218a678fbb6b9d/gql/IssueOrPullRequest.graphql#L6) inside the `IssueOrPullRequest` query. I'm new to graphql but I'm thinking the best thing to do would be to separate this into its own query?

[2018-03-19 11:40] erkekin commented on #1635
I updated it in Testflight, I can't reproduce it now.

[2018-03-19 11:40] #1635 closed

[2018-03-19 15:59] BasThomas opened #1665 "Review comments empty state"
A bit... empty on slow networks. At least show the spinner when loading maybe?

![GitHawk Upload by BasThomas](https://i.imgur.com/A61yOyG.jpg)

[2018-03-19 17:24] nikitavoloboev opened #1666 "Add GitHub's file finder in `Code` menu"
On GitHub, you can press `t` on any repo and search for files in the repository to open.

It would be really awesome if you could add a search bar in `Code` similar to how there is a search bar in `Issues` and `Pull Requests`. This search bar will then allow user to search for a file to open. If the file is a markdown file, it would be nice if it would render it same as `Overview`.

Thank you.

[2018-03-19 18:06] rnystrom commented on #1666
I love this feature, def support this idea!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-19 18:06] rnystrom commented on #1665
Ew, ya needs empty state

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-19 19:13] jdisho commented on #1665
I may take a look at it :)

[2018-03-19 19:36] SD10 opened #1667 "Limited Permissions with GitHub 2FA"
~After dismissing the users context menu, it shows the assignee added in the timeline view, then the add request errors out with a generic error from toast, and the assignee is removed from the timeline view.~

Logging in to a 2FA account through Safari does not allow me to assign users to issues.

Logging in using a personal access token with the `repo` and `user` scopes allows me to assign users

[2018-03-19 19:51] SD10 commented on #1621
This can be closed. The new project for this is hosted at https://github.com/GitHawkApp/ContextMenu

[2018-03-19 19:51] #1621 closed

[2018-03-19 20:04] rnystrom commented on #1667
@SD10 able to debug in flex? Not happening for me

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-19 20:19] SD10 commented on #1667
Looking into it. This error does not occur on the GitHawk test playground. It only occurs for me on my MessageKit repo.

[code]

[2018-03-19 20:27] SD10 commented on #1667
When trying to unassign myself from this issue, it shows `SD10 unassigned SD10` locally but no changes persist on GitHub or after leaving the controller 😂

[code]

[2018-03-19 20:30] SD10 commented on #1667
Sorry to spam but @rnystrom could it be that I enabled 2FA yesterday?

[2018-03-19 21:21] BasThomas commented on #1666
Ohh this sounds awesome!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-19 23:01] djanjic opened #1668 "Personal repo browse"
Hello, how can I check my github repos and projects without using a search function? Can’t find that option in the app.

[2018-03-19 23:10] SD10 commented on #1668
Hey @djanjic,

I don't think there's any way to do this at the moment. You can currently only see:
- Activity from repos you are subscribed to
- Repos you search for
- Repos you have bookmarked

This may be something that becomes available through #317

[2018-03-19 23:12] djanjic commented on #1668
Hi @SD10
Looks interesting, thanks for the answer.
I will close this now.

[2018-03-19 23:12] #1668 closed

[2018-03-20 14:07] BasThomas opened #1669 "Increase iPad Contextmenu sizes"
We should calculate the size based on... what?

![GitHawk Upload by BasThomas](https://i.imgur.com/PgXYHgz.jpg)

[2018-03-20 23:54] jamesone commented on #1330
Awesome discussion. I've been finding it hard to find a BuddyBuild alternative that supports Carthage.

I looked into Nevercode, they only support cocoapods.

I believe the App center supports Carthage.

Any others?

[2018-03-21 00:07] cbedoy commented on #1330
@jamesone

I think the best option for you could be Bitrise, they provide a platform like **pipelines bitbucket**, also you can configure based on your needs using Steps.

Actually we moved from bb to bitrise, we're using Android and iOS and everything is perfect!

[2018-03-21 02:51] cbedoy commented on #1330
You can trigger **workflows** (many _steps_) when you push, create a PR or tag.

Also you can schedule buils per branch.

You should check:

https://devcenter.bitrise.io/bitrise-cli/workflows/
https://devcenter.bitrise.io/bitrise-cli/steps/

When you undertand how bitrise works can create worksflows based of what you need, i.e I want a workflow where just running unitTesting if someone create a PR

[2018-03-21 04:07] jamesone commented on #1330
Awesome man! Sounds really interesting. I'll look into it.

[2018-03-21 12:34] jdisho opened #1672 "Issue with apollo-codegen"
I am trying to run GitHawk, but somehow apollo script is not working. API.swift have no content after the script runs.
I am lost on this because globally I have `apollo-codegen@0.18.8`, the same as the one in the app.  😕

[2018-03-21 12:42] jdisho commented on #1672
<img width="1056" alt="screen shot 2018-03-21 at 13 40 45" src="https://user-images.githubusercontent.com/8223362/37710312-8bccbea6-2d0d-11e8-876c-7288bd7fa4ea.png">

... and this is weird

[2018-03-21 22:38] gingerbeardman commented on #1476
Another one

![GitHawk Upload by gingerbeardman](https://i.imgur.com/vhUy3mZ.jpg)

[2018-03-21 22:40] gingerbeardman commented on #1391
Another one
A
![GitHawk Upload by gingerbeardman](https://i.imgur.com/8AiYYSr.jpg)

[2018-03-22 01:27] rnystrom commented on #1672
What happens if you run `npm install` from the project dir?

[2018-03-22 01:31] #1641 closed

[2018-03-22 01:38] #1391 closed

[2018-03-22 02:07] SD10 opened #1675 "Show hover cards for user profiles"
Not directly related to #317 user profiles but could be a lightweight solution/addition.

![screen shot 2018-03-21 at 9 06 22 pm](https://user-images.githubusercontent.com/7445580/37747163-dbd92086-2d4b-11e8-850b-1bc801570706.png)

Kind of also fits well with things if we decide to go the context menu route.

[2018-03-22 05:00] BasThomas commented on #1675
I would think this is something for a long press / 3d touch on an avatar.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-22 09:21] jdisho commented on #1672
@rnystrom Tried that before, not working. 😕
Probably there is a problem with apollo script?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-22 17:03] jdisho commented on #380
Isn't it the same issue as this https://github.com/GitHawkApp/GitHawk/issues/1551 ? @rnystrom @Sherlouk

[2018-03-22 17:07] jdisho opened #1677 "Edit, Delete comments in PR"
Besides sharing my comment in a PR, I cannot edit or delete it.
Should we consider it as a future feature? 😊

[2018-03-22 17:47] #380 closed

[2018-03-22 19:07] jdisho commented on #1672
Any idea? 💡  @SD10 @BasThomas

[2018-03-22 19:49] BasThomas commented on #1672
Have you followed the installation instructions from [the Readme](https://github.com/GitHawkApp/GitHawk#installation)? What is the output for `brew install node`? You shouldn't have to run `npm install` in the beginning; only after you've cloned. I think we should update this documentation to make that more clear.

[2018-03-22 21:20] jdisho commented on #1672
@BasThomas Sure, I followed the installation instructions. This problem occurred as soon as I pulled the changes from `master`. Before updating to `apollo-codegen@0.18.8` everything was working fine.

Btw, the outputs output for `brew install node` and `npm install `:

<img width="452" alt="screen shot 2018-03-22 at 22 02 56" src="https://user-images.githubusercontent.com/8223362/37799142-19ae7f9a

[2018-03-22 21:34] jdisho commented on #1672
@rnystrom Is it necessary to add the apollo script in the repo when the API.swift is there?

[2018-03-22 22:41] jdisho commented on #1584
Should we close this?

[2018-03-22 23:03] SD10 commented on #1672
Hey @jdisho, sorry I've had little time for GitHawk lately 😭 I did get the same error a few days ago I think when upgrading apollo. I just fixed it in a brutish way by clearing all derived data, restarting simulators, Xcode, and a fresh install.

[2018-03-23 01:32] BasThomas commented on #1672
A fresh install of what? 😛

[2018-03-23 01:32] #1584 closed

[2018-03-23 01:33] BasThomas commented on #1584
Can always re-evaluate in the future!

[2018-03-23 02:05] rnystrom commented on #1672
@jdisho hmm I’m really not sure tbh... if the file is empty and the script is writing there’s def a problem with the local install.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-23 02:06] BasThomas commented on #1672
I ran the instructions in a separate clone of the repository and that just worked. 🤔
It does, however, only generate the `Freetime-AppCenter` scheme (not sure if related), what's up with that @rnystrom?

[2018-03-23 02:07] rnystrom commented on #1669
What would you suggest?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-23 02:17] rnystrom commented on #1667
Dang that’s tricky. Maybe we need better alerting when you lose permissions for certain actions? I could imagine pulling my hair out over something like this.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-23 02:30] BasThomas commented on #1669
What about the app’s window size? It’s tricky though with updating splitview sizes and rotation. :/

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-23 02:56] SD10 commented on #1672
Sorry, I meant a fresh `npm install`

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-23 03:05] SD10 commented on #1667
Yeah, I haven’t had time to investigate but I’m going to try a personal access token with all options next. Not sure what effect that will have because the remaining options are unrelated to what I want to accomplish.

I find it perplexing that I would not have full permissions after logging in with safari + GitHub 2FA

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-23 06:53] BasThomas opened #1679 "Use GitHub to get the combined status of a pull request"
TIL "there's an endpoint for that"

https://developer.github.com/v3/repos/statuses/#get-the-combined-status-for-a-specific-ref

[2018-03-23 12:48] rnystrom commented on #1679
What’s this offer vs what we fetch now via GQL?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-23 12:52] rnystrom commented on #1672
@BasThomas leftover scheme from trying AC, but I already migrated Bitrise to use it. Uses the shared scheme with dummy env vars.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-23 12:54] rnystrom commented on #1669
The window size? Wouldn’t that be huge?

I’m confused about what’s wrong or could be better.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-23 12:55] rizwankce commented on #1672
@jdisho May be your `npm install` doesn't work properly.

Can you confirm you can find this folder in your repo.

`node_modules/apollo-codegen/`

Btw, this is what I get when I run project from master branch now.

![screen shot 2018-03-23 at 6 24 04 pm](https://user-images.githubusercontent.com/12063704/37830108-7c1d44ba-2ec7-11e8-983d-634ae24afbdc.png)

[2018-03-23 13:37] BasThomas commented on #1672
@rnystrom yeah but it does not generate a normal “GitHawk” scheme :/

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-23 13:38] BasThomas commented on #1669
It’s not “wrong”, just that I think it could be bigger (in this case, at least more vertical room)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-23 13:38] BasThomas commented on #1669
And I meant based on the window, not the whole window of course. :p

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-23 13:39] BasThomas commented on #1679
We do this manually now 😬
Should do via GraphQL if available.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-23 16:22] rizwankce opened #1680 "Markdown issues"
From the app

![GitHawk Upload by rizwankce](https://i.imgur.com/2xnt7KM.jpg)

From the browser
![GitHawk Upload by rizwankce](https://i.imgur.com/fUzgUlU.jpg)

Edit:

Link to the github PR https://github.com/artsy/artsy.github.io/pull/423
<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-23 23:07] SD10 commented on #1680
This may be a naive question but I'm genuinely curious about the state of our markdown parser dependency. Would a better solution be to wrap GitHub's fork of CMark in a Swift API?

[2018-03-24 10:58] orta commented on #1672
You probably want to run ‘npm uninstall -g Apollo-codegen’

[2018-03-24 20:25] BasThomas commented on #1109
Hey look they added an API: https://developer.github.com/v4/previews/#team-discussions

[2018-03-24 20:33] Sherlouk commented on #1109
We really need to get a MVP user profiles out... opens up so many doors and cool shi!

[2018-03-24 20:46] SD10 commented on #1109
Wow, look they even have hovercard info. That was surprisingly fast 😅

[2018-03-25 01:49] SD10 opened #1681 "Setup peril for improved project management"
We should look at setting up [peril](https://github.com/danger/peril) to improve our project infrastructure.

This way we can easily share common automated tasks across all of GitHawkApp's repos. Such as:
- automatically label issues
- anything else our creative minds think of 😃

This is a little bit of a chore because @rnystrom has to set it up the GitHub app (only owners can). But after that I c

[2018-03-25 16:06] rnystrom commented on #1680
@SD10 any details on it? I haven’t seen it before. I remember investigating cmark before and it wasn’t an option, can’t remember the specifics.

Note that our parsing lib was written by a GitHub engineer originally.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-25 16:09] rnystrom commented on #1679
@BasThomas are we talking about different things? We get PR commit context info via GQL:

https://github.com/GitHawkApp/GitHawk/blob/master/gql/IssueOrPullRequest.graphql

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-25 16:10] rnystrom opened #1682 "Viewing archived repo notifications shows all"
<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-25 16:11] rnystrom commented on #1669
Not really sure he best action here, gonna close unless we’ve got a solid plan

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-25 16:11] #1669 closed

[2018-03-25 16:11] BasThomas commented on #1679
Are we doing this manually then though we have the info? https://github.com/GitHawkApp/GitHawk/blob/ddddb6363f008c2ec50bb010031cbd851676dc8a/Classes/Issues/Merge/MergeHelper.swift

[2018-03-25 16:13] BasThomas commented on #1682
I think this was intended somehow?

[2018-03-25 23:45] SD10 commented on #1680
@rnystrom Yeah the GFM spec is amazingly detailed. I was considering writing a parser of my own to follow that spec in Swift but decided to spend my time other places. If I could wrap GitHub's fork for Swift that would save me from having to reinvent the wheel.

I'll explore this more as well with no concrete time frame 😓

[2018-03-26 01:41] rnystrom commented on #1682
No I mean tapping on a repo in the action sheet shows all notifications, should be only for that repo.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-26 02:33] SD10 commented on #1680
@rnystrom Awesome! Thanks for taking the initiative. I'd love to take a look at the WIP. This could eliminate a whole category of issues for GitHawk both present and future

[2018-03-26 08:06] jdisho commented on #1682
I will take a look 👀

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-26 12:28] BasThomas opened #1683 "UX: show to what comment I am reacting"
![GitHawk Upload by BasThomas](https://i.imgur.com/wWX1aVf.jpg)

There’s no way to tell to which of the two comments I am commenting here. Any suggestions how we could?

[2018-03-26 12:35] jdisho commented on #1683
Probably like this #1664 @BasThomas  ? 🤔

[2018-03-26 13:05] BasThomas commented on #1683
Can you share a picture? 😀

[2018-03-26 13:26] rnystrom commented on #1680
[Here's the WIP](https://github.com/GitHawkApp/cmark-gfm-swift). Probably the most important part is adding a custom extension, e.g. the one I wrote to handle [mentions](https://github.com/GitHawkApp/cmark-gfm-swift/blob/master/cmark-gfm-swift/Classes/mention.c). We'll need another one to do checkmarks.

All of the URL handling/shortening can be done outside of the lib. _However_ the auto shortlin

[2018-03-26 16:30] rnystrom commented on #1679
The contexts come in as a list for each (push, pull, different CIs, etc). To make a call on mergeability, we have to reduce them all down.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-26 16:59] BasThomas commented on #1679
Yeah but the reducing is exactly what is done by the endpoint, right? I don't understand 😔

[2018-03-26 19:44] BasThomas opened #1684 "Merge via chevron seems to no-op"

[2018-03-26 19:46] BasThomas opened #1685 "Merge pull request 404s"
![GitHawk Upload by BasThomas](https://i.imgur.com/CJiR1vW.jpg)

![GitHawk Upload by BasThomas](https://i.imgur.com/DAPSmKi.jpg)

https://github.com/tryswift/trySwiftAppFinal/issues/60

[2018-03-26 22:13] rnystrom commented on #1684
It just changes the merge type to “merge” 😂 maybe we can update the naming?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-27 04:37] BasThomas commented on #1684
Ah! Yeah, good idea.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-27 04:38] BasThomas commented on #1684
Because there’s no visual feedback at all if it was already that.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-27 04:39] BasThomas commented on #1684
Maybe add a title to the sheet? “Merge strategy is now: x”.
Message: “change to...”
And then remove the currently selected one so you can only choose the others?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-27 09:22] BasThomas opened #1686 "Parsing failure for notifications"
[code]

[2018-03-27 09:49] BasThomas commented on #1686
I'll check this myself. Would be suuuper cool if we can just test this with unit tests in the framework. Is that somewhat possible @rnystrom?

[2018-03-27 11:19] rnystrom commented on #1686
@BasThomas aha! That must be why it’s sometimes failing on background requests.

re: testing, ya! There are already some tests in place, if you want to just swap the notifications JSON to catch the failure that’d be pretty simple.

https://github.com/GitHawkApp/GitHawk/blob/master/Local%20Pods/GitHubAPI/GitHubAPITests/GitHubAPITests.swift

<sub>Sent with <a href="http://githawk.com">GitHawk</a></s

[2018-03-27 11:19] rnystrom commented on #1684
Ya title sheet sounds great!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-27 20:28] BasThomas opened #1688 "Add support for invitations"
See #1687

[2018-03-27 21:20] BasThomas commented on #1682
Sorry @jdisho, fixed this already when debugging other stuff 😁

[2018-03-27 21:32] BasThomas commented on #1685
So I am getting a 404.
This is the URL: `"https://api.github.com/repos/tryswift/trySwiftAppFinal/pulls/62/merge"`

JSON response:

[code]

and a `nil` error. Can't figure out what's going wrong on our end. 😕

[2018-03-27 23:46] SD10 commented on #1680
@rnystrom Mentions were not already handled? Surprising.

[2018-03-28 06:12] BasThomas commented on #1686
This is the URL that GitHub uses to "open" the invitation: https://github.com/Nirma/Attributed/invitations

[2018-03-28 06:21] BasThomas commented on #1688
https://github.com/GitHawkApp/GitHawk/issues/1686#issuecomment-376773449

[2018-03-28 12:25] jdisho commented on #1685
What is the request body? 😕

[2018-03-28 13:01] Sherlouk opened #1690 "Mark repo as read doesn't update cells"
1. Go to notifications
2. Go to ... And enter a repos archives
3. Mark all as read
4. Notice that they still look as if they haven't been read
5. (Bonus) pull to refresh doesn't fix it either, have to leave and come back in before it does its stuff

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-28 13:03] Sherlouk opened #1691 "View archives list doesn't update"
1. Go to notifications
2. Go to ... And visit a repos archives
3. Mark as read
4. Go back
5. Go to ... And visit the same repos archives
6. Notice how the page you've gone to is for all notifications not the repos specifically

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-28 13:03] Sherlouk commented on #1691
7. (Bonus) notification count doesn't update immediately either

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-28 13:04] BasThomas commented on #1685
This is V3 so there is none

[2018-03-28 13:04] Sherlouk opened #1692 "List should auto increment"
If I start writing 1. And press enter, would be ace if it did 2. And so on? Same for unordered!

Efficient!!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-28 13:07] Sherlouk opened #1693 ":octocat: unknown emoji"
Can’t remember if I opened an issue for GitHub specific emojis 🙊

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-28 13:12] Sherlouk commented on #1691
Ahh this is dupe, we should probs fix the notification count and the fact it doesn't remove from list until refresh?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-28 14:04] BasThomas commented on #1693
#1485 :trollface:

[2018-03-28 14:04] #1693 closed

[2018-03-28 14:14] jdisho commented on #1685
Should't this be part of the body?
<img width="658" alt="screen shot 2018-03-28 at 16 11 53" src="https://user-images.githubusercontent.com/8223362/38034526-c5d0c49a-32a2-11e8-849e-179cd0d2e338.png">

[2018-03-28 19:02] BasThomas commented on #1685
Oops, of course - you're absolutely right.

I merged the pull request earlier, but I am pretty sure we only provide the `merge_method`, which, in my case, was `merge` - set explicitly.

[2018-03-29 02:59] Jinxiansen commented on #1438
@vanyaland

I encountered the same problem but did not find an effective solution.

[2018-03-29 08:07] jdisho commented on #1685
Does it work now @BasThomas ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-29 08:10] jdisho opened #1694 "Can’t see photos on Readme"
![GitHawk Upload by jdisho](https://i.imgur.com/3CtP20W.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-29 08:15] jdisho commented on #1690
I will take care of this, unless you haven’t @Sherlouk

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-29 08:38] Sherlouk commented on #1690
Nah I'm on my hols at the moment haven't even got a laptop to do it if I wanted to 😂 free to pick up!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-29 09:47] schrodincat commented on #224
I’m absolutely 100% for real server-side push-notifications. I know GitHub not a messaging service, but reaction time is still important and fast response can help to get conversions going faster and therefore resolve issues faster. I’m actually baffled GitHub itself still hasn’t provided an official app with push.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-29 15:21] gingerbeardman commented on #224
I use [CodeHub](https://github.com/CodeHubApp/CodeHub) for notifications. I'm not sure how they do it but I had to pay to activate the feature. I just have to remember to open GitHawk instead.

[2018-03-29 16:45] rnystrom commented on #1680
@SD10 ya it wasn’t. Finished a checkbox extension last night as well. Should be in place to start using.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-29 17:07] schrodincat commented on #224
Here you go, it’s open source: https://github.com/CodeHubApp/CodeHub-Push

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-29 19:56] BasThomas commented on #1685
I guess not? Not sure
(Checked: no)

[2018-03-29 21:39] gingerbeardman commented on #224
Looking at CodeHub-Push (thanks @schrodincat !) it seems their approach is _per-user_ (me, you, etc.) not _per-app_ (GitHawk), so rate limiting should not be an issue?

[2018-03-30 06:01] Sherlouk commented on #224
The rate limit issues I've been seeing are per user 😔 we should, and definitely in the past have, look at optimising stuff but ultimately if you open 50 notifications that's a lot of api calls! Not much we can do about that!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-31 14:17] #1682 closed

[2018-03-31 14:17] #1686 closed

[2018-04-01 13:04] orta opened #1695 "Cannot use self inside a super.init function - Xcode 9.3"
Pretty sure this is a new Swift 4.1 rule, but code like

<img width="1028" alt="screen shot 2018-04-01 at 9 03 38 am" src="https://user-images.githubusercontent.com/49038/38173380-a0def850-358b-11e8-997b-bf7b020e014d.png">

Doesn't compile anymore

[2018-04-01 15:55] rnystrom commented on #1695
Well crap

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-01 18:00] BasThomas commented on #1695
Yeah we should fix these, its 4.1.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-02 14:00] SD10 opened #1697 "Improving GitHawk's git diff viewer"
I've been working on a [git diff parser](https://github.com/SD10/GitDiffSwift) for another project and wondered if it could be of any benefit to GitHawk. I've been too busy to contribute lately but if I can kill two birds with this stone, that would be 😎

I'm thinking this could give us richer text highlighting and you also would have access to line numbers.

Library is still in progress, will be

[2018-04-02 21:49] ajfigueroa commented on #1629
@gingerbeardman  I was curious to how this would work and ended up implementing it under: https://github.com/GitHawkApp/GitHawk/pull/1698.

I can close my PR though if you already had one ready though, it's no problem!

[2018-04-02 21:56] gingerbeardman commented on #1629
I never got round to it, so thanks!

[2018-04-02 21:58] ajfigueroa commented on #1629
@gingerbeardman Oh shoot, I meant to say I had opened a PR but it has not been approved/merged yet.

I think this issue can remain open until then.

[2018-04-03 13:00] jdisho opened #1699 "[Coding convention] Split VC's delegates, datasources in extensions."
Currently `ViewControllers` conform to many `delegates/dataSources` and in the way it is right now, is not very clear and readable, so I suggest to split them in separate extensions.

What do you think?

[2018-04-03 14:39] rnystrom commented on #1680
@SD10 I know this Issue is off topic, but using this as my place to give status-updates on the cmark integration:

- I built a mentions and checkbox extension on top of GitHub's cmark fork (this is worth a blog post)
- Our cmark-gfm fork + extensions are in [this repo](https://github.com/GitHawkApp/cmark-gfm-swift)
- Pushed WIP to [this branch](https://github.com/GitHawkApp/GitHawk/tree/cmark)
- B

[2018-04-03 14:43] rnystrom commented on #1697
YESSSS this would be awesome! I was thinking something similar the other day when I realized that GitHub.com shows you the rest of the file context w/ the patch applied. If we typed the diff hunk out we could do so many more fun UI things!

[2018-04-03 14:44] rnystrom commented on #1699
Like new files? IMO that makes them _less_ discoverable b/c now the conformance lives some place else. Is that the proposal?

Do you have some examples that aren't readable?

[2018-04-03 15:03] jdisho commented on #1699
No, having the extensions inside the same file. Like this: https://github.com/jdisho/GitHawk/commit/10c37dcabfa658a5df313f2f4dbf7927ed9ffb23

Does't look more cleaner @rnystrom ? 😄

[2018-04-03 16:49] rnystrom commented on #1699
I actually ran into compiler errors following this practice on Swift 3 which is why I avoided using `extension`s. As long as it doesn't change the behavior much I'm fine either way. But would prefer we stick to a single style and then codemod the whole codebase over to the new style at once vs diverging and being inconsistent.

[2018-04-03 16:59] SD10 commented on #1699
I feel like it's the Swifty way to do things, however, you need to watch for two potential hang-ups when conforming via extensions:
1. If we need the property the protocol requires to be a stored property, we can't use extensions because extensions can't have stored properties.
2. If we choose to subclass a controller we can't override the methods declared in an extension.

So for these reasons, I

[2018-04-03 20:15] BasThomas opened #1700 "Make bookmark button disabled instead of not appearing"
On an issue load, the bookmark button is not shown until it has fully loaded.

Although small, I propose to allways show said button but make it disabled during loading. Feels a bit more intuitive.

[2018-04-03 22:13] jdisho commented on #1699
That is why I asked if it is alright to apply that style in the whole codebase and continue to do so @rnystrom .

I am aware about the drawbacks when conforming via extensions, but the proposal is only for delegate and dataSource implementations..  @SD10

[2018-04-04 09:11] gingerbeardman opened #1701 "Flashing header during transition from issue to index"
https://youtu.be/RLi7RX2m3Xc

[2018-04-04 09:13] gingerbeardman opened #1702 "Unsubscribe from issue?"
Is this currently possible?

I couldn't find a way.

Should be possible?

[2018-04-04 12:32] gingerbeardman commented on #1702
All of the above 👍

[2018-04-04 12:32] #1702 closed

[2018-04-04 22:58] jsternberg opened #1703 "Question about OAuth2 security"
Hi, I have a question about the OAuth2 security on this app. It seems really useful and I have been trying to integrate the iPad into my workflow, but I have some concerns about the security that none of the README files seem to address.

I see in the source code that the OAuth2 auth tokens are gotten from environment variables here: https://github.com/GitHawkApp/GitHawk/blob/master/Classes/System

[2018-04-05 13:01] rnystrom commented on #1703
The only way that your account would be compromised is if your session time. Was exposed. The only thing someone can do with the app secret is register their own sessions as the app. That still requires going through the web flow to authenticate.

We’re following standard means of auth. Unless I’m missing something, there’s no way your account can be compromised simply by using GitHawk.

Also make

[2018-04-05 13:04] rnystrom commented on #1701
Hmmmmm my guess is that the view of the issues VC doesn’t have a background set? Something has a black background and it’s bleeding through.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-05 13:04] rnystrom commented on #1700
Ya I dig this, it’s not like we’ll never show the button anyways. Great suggestion.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-05 13:27] gingerbeardman commented on #1701
Also I tried to report this through the app but "report a bug" was broken. I assumed it would be fixed imminently, but if it's still broken  I'll report it separately.

[2018-04-05 15:15] jsternberg commented on #1703
Thanks for the response. I tried it out this morning by registering my own OAuth2 application, authenticating myself, and then trying to use the client secret to access my own repositories and, to my relief, I could not access a private repository with the client secret.

Sorry about that. The GitHub developer documentation has a lot of words in it saying not to expose the client secret, but never

[2018-04-05 15:15] #1703 closed

[2018-04-05 16:30] BasThomas commented on #1703
Thanks for questioning it, @jsternberg!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-05 18:01] rnystrom commented on #1701
Already tracking, it’s from the org move

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-08 03:24] #1695 closed

[2018-04-08 03:27] #1680 closed

[2018-04-08 13:29] #1389 closed

[2018-04-08 13:35] rnystrom opened #1705 "Signature html not rendering with new markdown parser"
![GitHawk Upload by rnystrom](https://i.imgur.com/4E5pNlr.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-08 13:39] rnystrom opened #1706 "Tapping checkboxes broken with new parser"
Puts the new checkbox at the beginning of the document

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-08 13:40] #1629 closed

[2018-04-08 15:49] rnystrom opened #1707 "Background requests sometimes fail"
Looks like they are cancelled, but then it sets the badge to 0

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-08 22:25] #1705 closed

[2018-04-09 02:43] #1707 closed

[2018-04-10 07:27] gingerbeardman opened #1710 "Difficult to tap the paper plane button"
Why does it always take me 2 or 3 taps to activate the paper plane button?

[2018-04-10 09:33] gingerbeardman commented on #1710
![GitHawk Upload by gingerbeardman](https://i.imgur.com/SOqDI8n.jpg)

[2018-04-10 09:41] BasThomas commented on #1710
It does seem like the hit target is rather small. Can you open an issue on https://github.com/GitHawkApp/MessageViewController?

<img width="517" alt="screen shot 2018-04-10 at 11 41 12" src="https://user-images.githubusercontent.com/4190298/38549347-184d24aa-3cb4-11e8-9840-2da3c548eae1.png">

[2018-04-10 09:43] BasThomas commented on #1710
I've created https://github.com/GitHawkApp/MessageViewController/issues/55, closing this.

[2018-04-10 09:43] #1710 closed

[2018-04-10 11:38] #1551 closed

[2018-04-10 11:39] rnystrom opened #1715 "Empty description missing with new markdown handling"
![GitHawk Upload by rnystrom](https://i.imgur.com/wQV2KsB.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-10 12:34] BasThomas commented on #1715
Hah I didn't see this yet and was going to make the exact same issue.

[2018-04-10 13:53] rnystrom commented on #1701
Closing b/c it looks like this is fixed on the latest TF build? I didn't do anything... 🤷‍♀️

[2018-04-10 15:54] gingerbeardman commented on #1701
I'm still seeing it

![GitHawk Upload by gingerbeardman](https://i.imgur.com/zwcsp7h.jpg)

[2018-04-10 16:09] rnystrom commented on #1701
@gingerbeardman which version of iOS?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-10 16:14] gingerbeardman commented on #1701
11.3 (15E216)

It looks to me that the flashing is changing transparencyof whatever is behind the overlap of the header.

[2018-04-10 16:50] gingerbeardman commented on #1701
Reproduction:
Whilst reading this comment in GitHawk swipe slowly from the left edge of the screen

[2018-04-10 17:54] rnystrom commented on #1701
Hmm ya doesn’t happen for me, gonna leave closed unless it resurfaced with more detail on what’s going on

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-10 20:57] gingerbeardman commented on #1701
Strange, now it's not doing it for me in this issue. I'll keep an eye out

[2018-04-10 21:11] gingerbeardman commented on #1701
OK. Here are new steps to reproduce:

1. Start GitHawk fresh
**2. Tap a link that opens in a web view**
3. Swipe screen slowly from left edge
4. Notice the flashing

It does not happen unless a web view has been opened.

[2018-04-10 21:34] BasThomas commented on #1701
🤔 so the only blackish thing I can find in the view hierarchy is this `UILayoutContainerView` from the `UISplitViewController`.

<img width="1381" alt="screen shot 2018-04-10 at 23 33 07" src="https://user-images.githubusercontent.com/4190298/38584753-9295f0bc-3d17-11e8-9408-7d513f5f213c.png">

[2018-04-11 06:04] BasThomas opened #1719 "Crash when opening a pull request overview"
I get a `Thread 1: Fatal error: Unhandled object: Freetime.IssueTargetBranchModel` [here](https://github.com/GitHawkApp/GitHawk/blob/master/Classes/Issues/IssuesViewController.swift#L460).

All pull requests seem to crash; issues are unaffected.

[2018-04-11 06:04] BasThomas commented on #1719
Also crashes when viewing the pull request from somewhere else.

[2018-04-11 07:36] jdisho commented on #1719
@BasThomas How can you replicate it? It doesn’t happen to me 🤔

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-11 07:46] BasThomas commented on #1719
On `master` or latest TestFlight.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-11 08:00] gingerbeardman commented on #1701
I think the "something black" is a red herring?

[2018-04-11 08:05] BasThomas commented on #1701
It might be 🤷‍♂️

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-11 08:41] jdisho commented on #1719
I am having a look at it now @BasThomas

[2018-04-11 08:55] gingerbeardman opened #1721 "Only collapse comments that contain code/quotes/logs that are above 300pts"
From: https://github.com/GitHawkApp/GitHawk/issues/1199#issuecomment-350774015

Currently only comments that exceed 300 pts in height are collapsed. Here's the code via @rnystrom

https://github.com/rnystrom/GitHawk/blob/master/Classes/Issues/Comments/IssueCollapsedBodies.swift#L20-L42

Rather than an arbitrary amount maybe factor in whether or not the comment contains quote/code? I don't mind lon

[2018-04-11 09:39] BasThomas commented on #1719
Awesome! Any idea what broke this? 🤔

[2018-04-11 11:25] jdisho commented on #1719
@BasThomas This was missing https://github.com/jdisho/GitHawk/blob/85e2fc10352efefd013410dd53069d1707c85bd5/Classes/Issues/IssuesViewController.swift#L460 😕

[2018-04-11 12:28] BasThomas commented on #1719
Yeah I get that, but where was it introduced? 😕

[2018-04-11 13:07] jdisho commented on #1719
Accidentally I have deleted it @BasThomas .. 😱😇https://github.com/GitHawkApp/GitHawk/commit/2a7664968b967d74b446b06f817207b9941563e0#diff-70bd4c3000d4bf517bb83b2662ab56a0L429

[2018-04-11 14:10] #1719 closed

[2018-04-11 14:35] rnystrom commented on #1721
This is a cool idea!! Collapsing quotes would be great.

I still think there’s value collapsing the whole thing in case you’ve already read it. Saves from some scrolling (that’s why I added it to begin with).

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-11 14:37] rnystrom commented on #1701
Ya those are the CALayers storing text bitmaps.

Thanks for the repro steps @gingerbeardman! I’ll take a look when I have time.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-11 15:22] bobheadxi opened #1722 "Opening PR causes crash"
Opening [this PR](https://github.com/ubclaunchpad/inertia/pull/139) causes a crash

iPhone SE, iOS 11.4

Edit: looks like I can’t open any PRs :(

[2018-04-11 15:40] jdisho commented on #1722
Duplicate of #1719 and is already fixed by this PR #1720. @bobheadxi
I tried it with the latest version of `master` branch and it works.
Try it with that one 😊

[2018-04-11 15:40] #1722 closed

[2018-04-11 15:55] BasThomas opened #1723 "Add an indication when no scroll can be performed tapping "manage""
When you have the whole viewport in view and tap the Manage button, nothing happens. It would be a nice addition to somehow indicate that the manage options are at the bottom.

We can either add a small "bump" animation that something happened or a small flash on the manage buttons below?

Other ideas are most welcome too!

[2018-04-12 18:51] jdisho commented on #1723
I like the "bump" animation idea, but it would be useless if @rnystrom will add the buttons in the ContextMenu 🤔

[2018-04-12 20:56] BasThomas commented on #1723
Ah wait that plan was there.

[2018-04-14 10:41] #1679 closed

[2018-04-14 12:54] #1706 closed

[2018-04-14 22:04] rnystrom opened #1727 "Inbox cell redesign"
Teaching myself Sketch.app and using the inbox cell as a starting point. I'm trying to accomplish a few things:

- Faster interactions (tap button instead of hidden swipe)
- More, balanced whitespace
- Better information hierarchy

cc @orta you've always had great insight!

<img width="557" alt="screen shot 2018-04-14 at 6 02 17 pm" src="https://user-images.githubusercontent.com/739696/38772844-39

[2018-04-14 22:09] BasThomas commented on #1727
One thing I can see being tricky with this (if I am correct that the buttons are supposed to be buttons) is tap targets.

[2018-04-14 23:36] rnystrom commented on #1727
Taking a lot of inspiration from Twitter where I find these little buttons really easy to use. Tap targets are easy to adjust.

![GitHawk Upload by rnystrom](https://i.imgur.com/rSfDUmm.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-15 00:00] weyert commented on #1697
We already had a simplified version of this here but back then their was no interest:
https://github.com/weyert/GitHawk/tree/code-text-view

Maybe it's useful to have a look at it again?

[2018-04-15 02:34] rnystrom commented on #1694
This readme has [hardcoded](https://raw.githubusercontent.com/jdisho/Papr/develop/README.md) images that it seems GitHub does some special routing for. Not exactly sure the best course of action for this. Find/replace html image urls and point them to `raw.githubusercontent.com` or w/e?

[2018-04-15 02:46] rnystrom commented on #1691
Closing since dupe

[2018-04-15 02:46] #1691 closed

[2018-04-15 02:46] rnystrom commented on #1685
@BasThomas any progress on this?

[2018-04-15 02:46] #1672 closed

[2018-04-15 02:49] rnystrom commented on #1675
I'm gonna close out, just tapping on it should open profile. 3D touch into profile could supplement this.

[2018-04-15 02:49] #1675 closed

[2018-04-15 03:12] #1701 closed

[2018-04-15 03:12] #1690 closed

[2018-04-15 03:12] #1715 closed

[2018-04-15 06:43] BasThomas commented on #1684
Why did you close this one?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-15 09:59] orta commented on #1727
I'm into it.

The "..." should probably have the same right margin as the date above.  Perhaps a 0 comment could be greyed vs one with comments which could have darker text/type?

[2018-04-15 11:42] BasThomas commented on #1685
Not yet

[2018-04-15 12:10] rnystrom commented on #1684
Oh ya we’re just changing the title

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-15 16:10] jdisho commented on #1727
My suggestion @rnystrom would be:

Swipe right to **read**.
Swipe left to **bookmark**

… menu can also contain “copy link” and “mute/unmute”

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-15 16:12] jdisho commented on #1727
Also another idea would be to replace “... more” with a long press on the cell? 🤔

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-16 12:49] rnystrom commented on #1727
@jdisho you're suggesting no buttons?

[2018-04-16 12:54] rnystrom commented on #382
Picking this up for next release. Came up w/ a way to support it:

The GraphQL `search` query can contain [GitHub search syntax](https://help.github.com/articles/searching-issues-and-pull-requests/) ([more](https://help.github.com/articles/understanding-the-search-syntax/)).

For the **Issues** and **Pull Requests** tabs, we autofill to `is:open`. Behind the scenes, we append `repo:githawkapp/gith

[2018-04-16 14:43] jdisho commented on #1727
Yes, no buttons, just the the icons for **comments**, **un/subscribe** indicating the un/subscribe action  and **....**

What do you think? 😊

[2018-04-17 02:01] #382 closed

[2018-04-17 02:02] #1684 closed

[2018-04-19 07:47] gingerbeardman opened #1736 "Can't view Issues or PRs on any repo?"
Tried multiple repos.

API status says Good.

1.19.0 (1523930581)

Having to add this through the website.

![37bb53e7-e098-4bd3-a8d9-910a986bd8c9](https://user-images.githubusercontent.com/49612/38978122-5d6930aa-43ae-11e8-8335-8212750ae8e9.png)

[2018-04-19 08:43] jazzbox commented on #1736
Same here! And CodeHub is still working....

[2018-04-19 09:32] BasThomas commented on #1736
I think this is related:

https://twitter.com/githawk/status/986783506524246017

If you're experiencing issues tonight, we've filed a report with @GitHubEng! https://platform.github.community/t/typename-field-requires-specific-token-scopes/5657

[2018-04-19 14:49] rnystrom commented on #1736
Yup was pretty frustrating right. The annoying part is that we don't explicitly use the `__typename` field anywhere, that's inserted by Apollo.

Good news is that this is an actual bug that GitHub is rolling back right now. Should be resolved shortly.

[2018-04-19 15:04] rnystrom commented on #1736
It’s working!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-19 15:04] #1736 closed

[2018-04-20 11:57] jazzbox commented on #1736
Yeah. It‘s working again. Except for Githawks own repo....

[2018-04-20 13:08] BasThomas commented on #1736
Works for me? Do you still have the `rnystrom/GitHawk` app in your search results / bookmarks?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-20 13:14] jazzbox commented on #1736
@BasThomas that‘s it! Problem solved, thanks! 👌

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-20 13:37] rnystrom opened #1737 "Issue tag cuts off the rest of the post"
From Instagram/IGListKit#1153

![GitHawk Upload by rnystrom](https://i.imgur.com/BEp6yas.jpg)

![GitHawk Upload by rnystrom](https://i.imgur.com/MrPW57X.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-21 22:26] #1737 closed

[2018-04-22 07:39] BasThomas opened #1745 "Status icons not colored"
Seen this a few times, especially on a cold launch. Refreshing fixes it.

![GitHawk Upload by BasThomas](https://i.imgur.com/pm3SwFa.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.19.0 (1524358860)
Device: iPhone X (iOS 11.3)
TestFlight: true
</pre>
</details>

[2018-04-22 13:14] rnystrom commented on #1745
Models are probably cached before the status fetch finishes or something? Great issue for someone to pitch in!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-22 13:41] hacknug opened #1746 "Code blocks using different font-sizes"
Code blocks font-size in this issue are different. I guess this is some kind of bug right?

https://github.com/FullHuman/purgecss/issues/67

![img_0032](https://user-images.githubusercontent.com/1107521/39095659-45b6c6be-4644-11e8-89c8-37e0804322c2.jpeg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.19.0 (1524358860)
Device: iPad7,5 (iOS 11.3)
TestFlight: true
</pr

[2018-04-22 14:36] rnystrom commented on #1746
Aha, great call out. We’re using Highlightr.js to parse code, and that lib uses a fixed font size. After the styled text refactor this should be a lot easier.

_Great_ starter task for someone!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-22 14:37] rnystrom opened #1747 "Label event spacing too tight"
![GitHawk Upload by rnystrom](https://i.imgur.com/g485H2i.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-22 15:35] rnystrom opened #1748 "Add space to end of default search string"
Faster searching

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-22 16:16] Maryom opened #1749 "TestFlight beta feedback for GitHawk for GitHub"
Hi,

Thanks for sending me the TestFlight.

So far it’s good. I didn’t find any bug. I just have some suggestions:

1. In the settings view I think there is no need for app ID near the version number.

2. Kindly check the attached image. Why there is an UIActionController with one option?! It will be better if the action triggers when the user click on GitHawk.

Best regards,
Mariam AlJamea.

![im

[2018-04-22 17:40] #1747 closed

[2018-04-22 17:40] #1746 closed

[2018-04-22 17:41] #1748 closed

[2018-04-22 19:39] jamala commented on #1700
I'll take a crack at this.

[2018-04-23 09:04] BasThomas opened #1758 "Splitview divider is white?"
There is a white vertical divider between master and detail views right now, any idea what caused this? Looks weird.

![GitHawk Upload by BasThomas](https://i.imgur.com/RkHTazP.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.19.0 (1524439576)
Device: iPad7,3 (iOS 11.3)
TestFlight: false
</pre>
</details>

[2018-04-23 10:46] jdisho commented on #1694
I will take a look at it soon 👍 @rnystrom

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-23 11:26] BasThomas commented on #1758
Only when collapsed is safer in that case I suppose.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-23 12:25] rnystrom commented on #1758
@BasThomas think this is worth resubmitting 1.19 for?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-23 13:30] jdisho opened #1759 "Mark issues/PRs to read"
Sometimes I find it inconvenient "reading" issues/PRs one by one if you don't want to "read" em all.
IMO would be good to have a possibility to mark those you want to "read".  🤘

[2018-04-23 14:00] rnystrom commented on #1759
Sorry what’s the problem this solves? Is this different from notifications? Can you not use bookmarks for this?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-23 14:37] jdisho commented on #1759
It's a faster way to clear some issues/PRs that you are not interested in a certain moment.
If I don't have time to have a look in issues/PRs, I usually keep some of these in my inbox and "read" the others which I am not interested.  So when I enter Githawk later, I don't forget.
While in bookmarks I keep the ones that are my "favourite".

[2018-04-23 15:06] BasThomas commented on #1758
We can do a followup 1.19.1 maybe?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-23 15:54] rnystrom commented on #1759
Ha, I'm really confused. I do exactly that workflow now:

- Open app and see latest notifications
- Swipe those I don't care about
- Read the ones I do care about eventually
- Reach inbox zero when convenient

Can you mockup what your proposal would be? Or explain how this is different? What features would be required to make this work?

[2018-04-23 16:27] Maryom commented on #1749
Hello again,

One more suggestion if you don't mind: I really like how [GitBucket](https://itunes.apple.com/cn/app/id961330940?mt=8) implements the time line. I would like to see it on GitHawkApp :)

[2018-04-24 08:44] jazzbox opened #1760 "Latest comments are missing"
In this PR

https://github.com/apple/swift/issues/12772

the latest comments are missing in the comments view

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.19.0 (1524439576)
Device: iPad Mini 4 (iOS 11.1.1)
TestFlight: false
</pre>
</details>

[2018-04-24 09:59] BasThomas commented on #1760
I don't see this; see below. Can you explain what you mean in more detail?

![mobile](https://user-images.githubusercontent.com/4190298/39180319-deffbaa6-47b6-11e8-8c7a-2fdda61d01eb.jpeg)
<img width="832" alt="web" src="https://user-images.githubusercontent.com/4190298/39180320-df2ea17c-47b6-11e8-8544-ceed44b61b73.png">

[2018-04-24 11:08] BasThomas commented on #1760
@rnystrom do review comments not support paging?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-24 11:30] rnystrom commented on #1760
Yuck, I bet they do need paying, but this is the V3 API which won’t tell us when individual threads have more. Instead it’ll be the entire request that is paged... I’ll have to think on it.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-24 15:30] j-f1 opened #1762 "Pull Request statuses display an incorrect avatar"
If you view a pull request on prettier/prettier, you’ll notice that the Travis CI statuses have @**azz**’s avatar on them in the app, but they have the correct Travis avatar on them on the desktop site.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.19.0 (1524439576)
Device: iPhone 8 (iOS 11.3)
TestFlight: false
</pre>
</details>

[2018-04-24 16:49] BasThomas commented on #1762
Pretty sure I brought this up before and it seems to be a GitHub bug - it's the information they send back to us for the request that we use to display the status, which is sometimes incorrect. 🤷‍♂️

[2018-04-25 00:11] rnystrom commented on #1760
[Confirmed](https://developer.github.com/v3/pulls/comments/) we'll need to use the V3 paging API to do this. Not entirely sure how to do this w/ the UI...

At the very least, maybe we invert it to sort by `created` and direction `desc`?

[2018-04-25 07:15] jazzbox commented on #1760
@rnystrom Can you specify a start date? If yes, then you could take the date above the link "View comments" that says "natecook1000 commented 4 hours ago".

[2018-04-25 13:51] rnystrom commented on #190
Claiming this to experiment w/ App Store ranking in the next release. Here's the app that I have in mind:

- Open to list of notifications grouped by repo
  - Show repo name, number of notifications for repo, and button to mark them read (check mark)
  - Should show notification type (issue, PR, etc)
  - _stretch_: Get notification status. Requires breaking out V3+gql hack into shared lib.
- Tappi

[2018-04-25 13:51] rnystrom commented on #190
Have a local branch w/ extension + cocoapods refactor setup and building. Just a matter of slapping it together. Very curious how/if this impacts App Store ranking!

[2018-04-25 13:54] rnystrom commented on #1762
Yup tracking in #1558

[2018-04-25 13:54] #1762 closed

[2018-04-25 13:56] rnystrom commented on #1760
@jazzbox ya, but since we group comments into threads, this makes the UI really tricky. Like there's no way to know if a single thread has more comments or not.

Honestly full support of this probably has to wait until we get PR comment thread support back into GraphQL. Then we can page on each thread.

[2018-04-25 14:08] insidegui commented on #1694
Same issue occurs for [WWDC](/insidegui/WWDC). I use relative paths for the images.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-25 14:46] Maryom commented on #1749
Hello again,

Today I found an issue. My inbox was one, I used GitHawkApp to reply to the message. It replied successfully but it should remove one from the inbox and display Inbox zero with the awesome animation 🎉 Kindly check the attached image.

Thanks.

Best regards,
Mariam.

![image1](https://user-images.githubusercontent.com/3218401/39253395-6b82e1fc-48b0-11e8-88cd-912da41b91ce.png)

[2018-04-25 14:52] jazzbox commented on #1760
@rnystrom Ok, then my suggestion is to add a button on the top left of the „review comment“ view to show the GitHub web view (just what the second screenshot of @BasThomas shows)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-25 15:19] schrodincat opened #1765 "Crash on issue view"
Opening this issue https://github.com/lhc70000/iina/issues/1641 causes GitHawk to crash.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-25 15:32] BasThomas commented on #1749
Hey @Maryom, you can turn on “read on open” in the settings. That will mark an issue as read once opened. Is that the behavior you’re expecting?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-25 15:33] BasThomas commented on #1765
I’ll take a look.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-25 16:49] rnystrom commented on #1765
Oh no! Crashes for me too 😭

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-25 16:51] rnystrom commented on #1694
@insidegui I think that issue is a little different. Those relative paths should def work. It could be the `./` screwing things up. That should be an easy fix.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-25 16:56] schrodincat commented on #1765
What the hell, is this issue crashes GitHawk too now?

[2018-04-25 17:09] rnystrom commented on #1765
Yup, something w/ the StyledText lib. Symbolicating crashes in Fabric and preparing a 1.19.1 hotfix!

[2018-04-25 17:33] BasThomas commented on #1765
Ah you're on it @rnystrom?

[2018-04-25 17:40] rnystrom commented on #1765
@BasThomas yup, more involved fix. It's an assert from cmark.

[2018-04-25 17:46] BasThomas commented on #1765
You sure? Seems like the out of bounds in `StyledText` to me.

This is the `key` and `value` before the crash (on line 75 of `StyledText.swift`):

[code]

[2018-04-25 17:54] rnystrom commented on #1760
That could be a good stopgap

[2018-04-25 18:00] #1765 closed

[2018-04-25 18:02] rnystrom commented on #1765
@BasThomas yup its actually 2 things

[2018-04-25 19:26] Maryom commented on #1765
@BasThomas
I received new version at 9:55 pm 🇰🇼
![GitHawk Upload by Maryom](https://i.imgur.com/JqfUxmE.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-25 19:33] rnystrom commented on #1765
@Maryom that’s the crashing version, sending beta soon.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-25 19:45] BasThomas commented on #1749
@rnystrom re the alertcontroller actionsheet in the original post: how do we want to handle this? Just opening it directly also feels weird having the chevron. What do you think?

[2018-04-25 19:59] Maryom commented on #1749
@BasThomas what about adding it to this alertcontroller 👇🏼 ?

![GitHawk Upload by Maryom](https://i.imgur.com/LjNthfk.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-25 20:02] BasThomas commented on #1749
The tricky thing is that we already use the navigation bar for the exact functionality (opening either the org/user and repo), but from a repo overview itself that only leaves the org/user. Putting that in the `...` is also confusing.

[2018-04-25 20:14] rnystrom commented on #1749
Ya I'm not terribly concerned w/ the single-action alert. It's nice that it's consistent w/ the rest of the app, so you expect it.

[2018-04-25 22:30] SD10 commented on #1749
I think making "Read On Open" the default value doesn't demonstrate this feature very well. And it's one of the main reasons I use GitHawk. I often check an issue, intend to reply later, and 💨 it's gone forever

[2018-04-26 13:30] nikitavoloboev opened #1769 "Render `.md` files when browsing Code"
It would be nice if GitHawk rendered `.md` files that you open when browsing through `Code` of a repository. This is especially useful if you want to read a book like [You Don't Know JS](https://github.com/getify/You-Dont-Know-JS) or some other book that people post on GitHub. I see no reason to see raw `.md` output since you can't modify it with a PR anyway.

Thank you.

[2018-04-26 13:31] nikitavoloboev commented on #1666
Wanted to ask if there was any progress on this feature? I would love to help add this myself with some guidance.

[2018-04-26 15:39] Maryom commented on #1749
Hello,

I noticed that number of messages in the below view 👇🏼is less than the real number of messages

![GitHawk Upload by Maryom](https://i.imgur.com/IrbUd2j.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-26 15:46] BasThomas commented on #1749
What about after a refresh?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-26 15:51] Maryom commented on #1749
@BasThomas same issue

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-26 16:05] rnystrom commented on #1749
Do you have a screenshot of your actual notifications? I feel like there was an issue where the API doesn’t return historical notifications (stuff prior to using GitHawk).

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-26 16:09] SD10 commented on #1749
It probably wouldn't hurt to start opening separate issues for different pieces of feedback/potential bugs. I'm pretty out of date with GitHawk at the moment but I'm having trouble following this thread 😅

[2018-04-26 16:35] Maryom commented on #1749
@rnystrom No I don’t have

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-26 16:56] rnystrom commented on #1749
+1 @SD10 that’ll help us keep hinges tracked and organized

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-26 16:59] Maryom commented on #1749
Ok I will open new issues if I find new ones 😅 sorry I thought I have to write all my feedback in one issue.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-26 17:32] gingerbeardman opened #1770 "Reaction bar oddness is back"
![GitHawk Upload by gingerbeardman](https://i.imgur.com/89grLqy.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.19.0 (1524439576)
Device: iPhone 6s (iOS 11.3.1)
TestFlight: false
</pre>
</details>

[2018-04-26 18:10] jdisho commented on #1770
What happens after dequeueing that cell? @gingerbeardman

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-26 18:15] gingerbeardman commented on #1770
Sorry I'm not sure what you mean? @jdisho

[2018-04-26 18:26] jdisho commented on #1770
What happens after scrolling up and down or refreshing?
This issue also happened to me sometimes ago, but looked fine after scrolling/refreshing. @gingerbeardman

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-26 18:33] #1699 closed

[2018-04-26 18:57] gingerbeardman opened #1771 "Reaction bar was missing emoji and counter"
(sorry i forgot to take a screenshot)

Earlier today the reaction bar had a plain blue square in it (missing the emoji symbol and counter for how many of that emoji).

It could still be pressed to remove/add the emoji but nothing appeared.

Will take a screenshot or video next time.

[2018-04-26 20:19] rnystrom commented on #1771
I’m pretty sure your reaction bar is cursed

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-26 23:36] TDT23 opened #1772 "TDT23"
Tracking

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.19.1 (1524679484)
Device: iPhone 7 (iOS 11.3)
TestFlight: false
</pre>
</details>

[2018-04-27 00:09] rnystrom commented on #1772
🤔

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-27 00:09] #1772 closed

[2018-04-27 00:33] TDT23 commented on #1769
MAKE THAT PORTAL SHORT N SWEEEEEEEET KIDDIEZ

[2018-04-27 00:42] TDT23 opened #1773 "TDT"
HOW IS TRADING

[2018-04-27 01:04] SD10 commented on #1773
I already have every Pokémon

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-27 01:04] #1773 closed

[2018-04-27 06:22] jazzbox opened #1774 "Unexpected grey items"
I often see grey items in the input list that are not read yet. Refreshing does not change that but a program restart does.

I suppose that happens to items that are already shown and read and are then modified a second time.

![GitHawk Upload by jazzbox](https://i.imgur.com/WbfIgfN.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.19.1 (1524679484)
Device: iPhone

[2018-04-27 07:12] SD10 commented on #1681
Peril could also be hooked up to the GitHawk twitter account and automatically send out tweets when an issue is labeled as a "starter task"

[2018-04-27 09:31] BasThomas commented on #1774
Possible. You do have read on open turned on right?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-27 09:31] BasThomas commented on #1681
That’s an amazing idea!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-27 09:55] jazzbox commented on #1774
@BasThomas Yeah. Since two days 😉

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-27 09:56] BasThomas commented on #1774
Ah yeah, these might not be reset once they have updates.

[2018-04-27 10:11] j-f1 commented on #1449
The app seems to be unable to load the notification list if you have an unread security vulnerability, and loading the All Notifications list back to where the read vulnerability is causes an error.

[2018-04-27 10:34] Ritanano opened #1775 "Removed by SD10"
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.19.1 (1524679484)
Device: iPhone 6s (iOS 11.2.2)
TestFlight: false
</pre>
</details>

[2018-04-27 10:46] #1775 closed

[2018-04-27 10:53] BasThomas commented on #1449
Hey @j-f1, can you create a separate issue for that? Thanks!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-27 10:56] SD10 commented on #1681
Can probably also use peril as some sort of an issue spam filter 🙄
- Close issues with no titles... possibly >= 1 words?
- Empty PR bodies
- Could add contributors to a whitelist 😐

[2018-04-27 11:39] rnystrom commented on #1449
Also if anyone can grab a JSON response that’d be great. Just need to make a model.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-27 11:46] BasThomas commented on #1449
I'll create a ticket and close this one; this should be resolved.

[2018-04-27 11:48] BasThomas opened #1776 "Support Security Vulnerability notifications"
They break the app now, not showing the full list containing any or more of these type of notifications (ref. https://github.com/GitHawkApp/GitHawk/issues/1449#issuecomment-384928051)

Is this something we can be more lenient about in the future? These "corner case" notifications have broken the app before, like with organization invitations (which we just ignore at the moment).

[2018-04-27 11:50] rnystrom commented on #1776
@BasThomas I’m down to ignore but maybe we can handle the error internally and log it? Then we can detect breaking stuff.

I think we can just update the notification model to fallback on unknown notification types?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-27 11:50] BasThomas commented on #1776
Yeah, should definitely log.

[2018-04-27 13:16] j-f1 commented on #1776
Here’s some JSON for you:

<details><summary><code>/repos/:slug/notifications</code></summary>

[code]
</details>

<details><summary><code>/notifications/threads/:id</code></summary>

[code]
</details>

[2018-04-28 17:03] RishabhTayal opened #1777 "Can not load inbox error"
I have been seeing "Can not load inbox" error when viewing the seen notifications.

![b78abe86-a4cf-484e-a042-132091d0b2af](https://user-images.githubusercontent.com/2100166/39399069-e3b8fa8e-4adc-11e8-9496-b2c734447d4a.png)
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.19.1 (1524679484)
Device: iPhone X (iOS 11.3)
TestFlight: false
</pre>
</details>

[2018-04-28 17:11] RishabhTayal opened #1778 "Doesn't show issues"
I am not able to see the issues when looking at a repository. It used to work for me. Recently broken.

![84b1a823-8bd3-4bd2-a572-cf0d7a968b69](https://user-images.githubusercontent.com/2100166/39399082-239119f2-4add-11e8-91e8-210976435e14.png)

[2018-04-28 18:10] BasThomas commented on #1778
Hey @RishabhTayal, this is because of the repo moving to `GithawkApp/GitHawk`. If you search for that repository it should work as expected. :)

[2018-04-28 18:10] #1778 closed

[2018-04-29 05:25] BasThomas commented on #1769
I’ve reported this lad to GitHub.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-29 11:34] rnystrom commented on #1769
Deleted

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-29 11:35] rnystrom commented on #1777
@RishabhTayal want to join TestFlight to help debug? Also what are your desktop notifications? Could you send a screenshot?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-29 14:14] RishabhTayal commented on #1777
Send me invite for TestFlight.

This is my notifications on website.

![GitHawk Upload by RishabhTayal](https://i.imgur.com/4J8NeAs.jpg)

[2018-04-29 15:44] Maryom opened #1779 "Badge unread"
Hello,

I’m wondering why I didn’t see a badge for merging my PR although I turned on badge unread?

Thanks.

![GitHawk Upload by Maryom](https://i.imgur.com/CMsZgpg.jpg)
![GitHawk Upload by Maryom](https://i.imgur.com/BTSB2aL.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-29 16:11] jdisho commented on #1779
Hey @Maryom
Where are you expecting to see the badge?

With “Badge Unread”, you get a badge on the app icon when you have unread issues/PRs.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-29 16:53] jdisho commented on #1779
Are you sure that inbox is not empty? 😄
Because I can see the badge when I have something at my inbox.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-29 17:15] Maryom commented on #1779
I saw it before. Well I think I didn’t see it in this case because I read it from my mail before I checked GitHawk.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-29 17:16] BasThomas commented on #1779
The app badge works with background refreshes as far is a can remember. They might not always be super recently updated when opening the app.

The badge also shows up in the tab bar, I think regardless of the "badge unread" in the settings. It seems like all your notifications are read, hence its not there.

[2018-04-29 17:34] rnystrom commented on #1777
@RishabhTayal are there any “odd” notifications? Security warnings, invites, etc?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-29 17:39] RishabhTayal commented on #1777
Yes I have security warnings in my notifications.

[2018-04-29 17:51] BasThomas commented on #1779
Let us know if it pops up again 👍

[2018-04-29 17:58] SD10 commented on #1681
[Here's a fun one: Merge On Green](https://github.com/danger/peril-settings/blob/master/org/mergeOnGreen.ts)
If your comment on a PR has the phrase "merge on green" then peril will automatically merge the PR after CI passes

[2018-04-29 18:05] jdisho commented on #1681
http://gph.is/1Mwwzko @SD10

[2018-04-29 19:09] BasThomas commented on #1777
Ah, that's the issue. Closing in favor of #1776. Thanks for bringing it up again, @RishabhTayal!

[2018-04-29 19:09] #1777 closed

[2018-04-29 22:07] rnystrom commented on #1681
Wo that merge-on-green is so good.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-30 09:10] BasThomas opened #1782 "Can’t get FLEX to work on iPad in TestFlight"
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.19.0 (1524439576)
Device: iPad7,3 (iOS 11.3)
TestFlight: false
</pre>
</details>

[2018-04-30 09:12] BasThomas opened #1783 "When posting a review comment fails, make sure the text does not get lost"
Is just posted a review comment which failed to be posted, and since the keyboard and input bar was already dismissed, I lost the whole post 😭.

Either we can have the message be posted with a “not sent” state (and a retry option) or at least be able to recover the text from the dismissed input bar somehow.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.19.0 (152443