[2018-09-13 15:53] rnystrom commented on #2141
Do we show a specific when the Imgur limit is reached?

I’d be super grateful to anyone that figures out how GitHub content uploads work and we just use that...

Otherwise maybe we need another image upload service?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-13 15:55] rnystrom commented on #2140
I’m down with this. Lift gray would be good for the icon. Easy issue for someone to pick up.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-13 15:56] rnystrom commented on #2149
Sub/un in the burger menu would be great! Also removes the need to hide/show the menu button which would clean up a lot of code!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-13 16:06] rnystrom commented on #2152
I’m open to all of this 😊 but would like to see some shots of the icon on the home screen! That’s the most important to me.

I like the idea of removing the gradients from the gits, but I really like the shimmer on the hawk! Happy to check out some mockups. Are the icon files in this repo? If not, I’ll upload them when I’m done traveling.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></s

[2018-09-13 16:07] rnystrom commented on #2137
Aaaaaaabsolutely. The next update I want to get these local pushes working, then focus on a PR-rich update.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-13 16:11] rnystrom commented on #2148
Should probably move this over to the cfmark lib. I imagine the fix should be ignoring the table if it’s inside an html element? There’s def a bug in there somewhere and probably isn’t too tricky.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-13 16:11] rnystrom commented on #2148
Great task for someone interested in getting familiar with the markdown pipes.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-13 19:07] BasThomas commented on #2156
https://platform.github.community/t/query-failing-when-trying-to-open-an-issue/7238

[2018-09-13 20:12] rnystrom opened #2161 "“Copy name” and more actions when browsing code"
- ... button in right nav when browsing dir
- Replace right bar nav with ... button when viewing code
- Add following options:
  - “Copy path”
  - “Copy name”
  - “Share URL”
  - “Share content” (field only)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-13 20:17] rnystrom opened #2162 "Change repo branch"
I know this is requested elsewhere but just listing out how the feature should work:

- New option in repo ... menu “Change branch”
  - Append active branch “:branch” to alert title, eg `GitHawkApp/GitHawk:branch`
- Selecting menu item shows centered ContextMenu (ex Labels)
  - Load all available branches
  - Check mark on selected
  - Only one selected at a time (see Milestones, code might be bad

[2018-09-13 20:36] a-b opened #2163 "Repo level permissions instead of organization level"
As a user in large organization I have full permissions for my repository, but it’s hard to get access to the whole organization access for 3rd party app. I’d like to connect only my repo instead of requesting permissions organization wide.

[2018-09-13 20:42] #2163 closed

[2018-09-13 20:43] a-b commented on #2163
Apparently, personal token could be used for such occasion. Perhaps it worth to simplify UX discoverability of that option.

[2018-09-13 21:04] j-f1 commented on #2163
Thanks for pointing that out! I’ve been wondering how to get the app to work for orgs I wasn’t able to get permissions for.

[2018-09-13 21:42] BrianLitwin commented on #2162
Will give this a go

[2018-09-13 23:09] Sherlouk commented on #2141
Yeah I made sure I was ready for the time we have so many users we exceeded the rate limit ([code here](https://github.com/GitHawkApp/GitHawk/blob/master/Classes/Image%20Upload/ImgurClient.swift#L73))

I did look into GitHub URL but as it's not a public API it wasn't the easiest to work out and has the typical issue of maintaining that

If there's a different upload service with an increased limit

[2018-09-13 23:20] Sherlouk opened #2164 "Enable localised Inbox Zero dates"
**Is your feature request related to a problem? Please describe.**
Currently the "Inbox Zero" message can be changed depending on the current date and if there's a holiday such as Christmas or New Years but these dates are mostly for America and there are some differences around the world.

As GitHub is world-wide it would be nice if we had a way to change the holidays and the dates they land on d

[2018-09-13 23:59] Huddie commented on #2141
Guess it’s not iOS 12 related

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-14 00:15] Huddie opened #2165 "Credentials Issue"
**Describe the bug**
I'm trying to fix my PR #2157.

My example gif shows a "something went wrong" error. At first, I assumed it was some maybe network issue or something since the error is the generic one (so who really knows). I just assumed it didn't code I changed since I didn't really change anything that I can see would ever effect it.

I printed the result in `addCommentClient.swift` under

[2018-09-14 10:50] rnystrom commented on #2165
So is this a bug with the latest App Store version? Do we need to disable OAuth restrictions?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-14 10:53] rnystrom commented on #2164
Actually that’s a better idea than I’d been doing it. We can just store the file on another repo and let ppl submit updates.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-14 12:04] Huddie commented on #2165
@rnystrom no this post is from the App Store version.
Not sure what is causing the error on my specific branch

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-15 06:56] shaps80 opened #2166 "When using mark all as read, the split view on iPad still kept the last issue I was viewing open even though the list was now empty."
![GitHawk Upload by shaps80](https://i.imgur.com/h9qL4Za.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.22.0 (1534395229)
Device: iPad7,3 (iOS 12.0)
TestFlight: false
</pre>
</details>

[2018-09-16 18:55] richorr opened #2167 "Don’t see private repository"
Have access to the app but the private repository I wanted to manage doesn’t show up. Are there additional actions required to set it up? It would be helpful to lead the user through this process.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.22.0 (1534395229)
Device: iPhone 8 (iOS 11.4.1)
TestFlight: false
</pre>
</details>

[2018-09-17 03:39] BasThomas commented on #2167
Can you go to https://github.com/settings/applications and check if GitHawk has access to the organization with said private repository?

[2018-09-17 05:34] richorr commented on #2167
Yes it does.

[2018-09-17 08:15] BasThomas commented on #2167
That is weird, then. No idea why it wouldn't show up at that point.

[2018-09-17 19:44] satishjella92 opened #2168 "file"
0M8R4KGxGuEAAAAAAAAAAAAAAAAAAAAAPgADAP7/CQAGAAAAAAAAAAAAAAACAAAAmwAAAAAAAAAAEAAAngAAAAEAAAD+////AAAAAJkAAACaAAAA////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

[2018-09-17 19:45] BasThomas commented on #2168
I'm going to close this as I think this was a mistake.

[2018-09-17 19:45] #2168 closed

[2018-09-18 05:02] BasThomas commented on #2156
Fixed! :)

[2018-09-18 05:02] #2156 closed

[2018-09-18 23:28] jsg2021 commented on #2165
i’m also getting “something went wrong” on various projects.

[2018-09-19 07:42] gingerbeardman commented on #420
What is the app doing that means it doesn't have access without approval to so many repos? I get this nag so often and it drives me nuts.

[2018-09-19 11:46] j-f1 commented on #420
@gingerbeardman If you use a personal access token, you shouldn’t have any issues.

[2018-09-19 15:27] gingerbeardman commented on #420
@j-f1 I'm not sure what you mean? How do I use a PAT with GitHawk to solve these OAuth nags?

[2018-09-19 15:32] gingerbeardman commented on #420
@j-f1 I think I figured it out

[2018-09-19 15:34] gingerbeardman commented on #1606
Just signed out to sign in using Personal Access Tokens... lost all my bookmarks 😡

[2018-09-20 02:18] jsg2021 commented on #2165
I don’t have any. Just what the public has.

[2018-09-22 18:40] #224 closed

[2018-09-22 18:40] #1888 closed

[2018-09-22 18:40] #1928 closed

[2018-09-22 18:44] #2098 closed

[2018-09-22 18:59] rnystrom commented on #2165
I thought I saw some weird inconsistencies w/ auth between PAT and normal login b/c of third-party scopes. Is that what this is from?

[2018-09-22 19:00] rnystrom commented on #2166
Hmm, idk if I'm too offended. Are there other apps that handle this better? What do you expect to happen?

I kind of like how it's sort of "multi tasking" views. If we were to just drop the right view, we could interrupt something you were doing.

[2018-09-22 21:45] rnystrom opened #2170 "“New features” banner in inbox"
I’ve got some ideas on a design for this, I’ll spec it out later. Basic idea is a banner in feed that says there are new features. Show a button that says “View” and show notes in a modal. Another X button to dismiss.

I want to call out important features between app updates that might be easy to miss (eg notifications).

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-22 21:46] BasThomas commented on #2170
Yeah this seems nice. Love how Workflow did (does?) this

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-22 21:46] rnystrom opened #2171 "Tap notification and go to issue/PR"
Probably need to land the action extension PR #2134 first so basic routing/links work.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-22 21:47] rnystrom opened #2172 "Info button next to “push” settings with disclaimer on how it works"
I want to clarify in-app that we don’t use a server and notifications are done locally. Reassure privacy concerns saying your token doesn’t leave your phone.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-22 21:58] rnystrom commented on #2170
@BasThomas got any screenshots? I haven’t seen there’s!

I love Things 3s “new today” banner. Really little and you can tap to expand or dismiss. I’ll try to nab a shot.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-22 22:01] BasThomas commented on #2170
Well they have it on the site: https://workflow.is/whatsnew, seems like they removed it from the app

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-22 22:02] BasThomas commented on #2170
But is was basically a modal (a la big contextmenu) with the changelog as far as I can remember

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-22 22:02] BasThomas commented on #2170
This is iA Writer’s

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-22 22:18] shaps80 commented on #2166
I just don’t know of any other app (unless it’s a bug) that shows detail on the right, that’s no longer visible on the left. Seems odd to me. Am I alone in this?

Obviously not a major bug or issue, agreed.

But if i made a conscious choice to clear the left list, I’m clearly done.

Anyway, I agree it’s minor just thought you’d prefer bugs were logged 👍

<sub>Sent with <a href="http://githawk.com"

[2018-09-22 23:52] Huddie commented on #2165
I logged in normally.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-23 06:46] nikitavoloboev opened #2174 "Add option to automatically mark issues as complete when opening them"
Same as GitHub does. If user opens the issue/pr to see it, it will no longer be in the Inbox. With GitHawk I have to not only see the issue but then mark it as complete which very annoying.

[2018-09-23 07:36] BasThomas commented on #2174
You can enable “Read on Open”

![GitHawk Upload by BasThomas](https://i.imgur.com/mqA8qu1.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-23 07:41] #2174 closed

[2018-09-23 09:56] rob-nash commented on #244
Hi,

I am struggling to understand this one.

I'm new to the project and unfamiliar with the App.

When you say 'the currently selected issue' and 'detail view', what are you referring to exactly?  An issue on a GitHub repo?

[2018-09-23 10:02] rob-nash commented on #244
Oh, you mean an inbox item?

[2018-09-23 10:39] rob-nash commented on #244
Ok, have fixed this. Will submit PR in a moment. Looking forward to review.

[2018-09-23 17:55] BrianLitwin commented on #2162
@rnystrom or anyone else that has thoughts -
1) Do you envision users selecting a row and the contextMenu dismissing immediately, or selecting a row and then confirming with an "Ok" or "Cancel" button at the bottom of the contextMenu?

2) Should we get all the repo branches as a field in the first GQL query (ie the SearchRepo query), or make a separate request for them when the user asks to switch

[2018-09-23 21:30] Huddie commented on #2162
For 1 I'd say no confirmation needed but not necessarily dismiss right away. Maybe have the button at the top right say "dismiss".  So the user can pick 1 branch and then pick another if they made a mistake or something.

[2018-09-23 22:03] Huddie commented on #2031
This should be closed by #2112 ya?

[2018-09-23 22:03] #2013 closed

[2018-09-23 22:05] Huddie opened #2177 "Filter icon instead of 3 dots"
On the inbox page, the 3 dots (top left) allow for switching to a specific repo or view all. Maybe a filter icon is more appropriate

[2018-09-23 22:08] Huddie commented on #323
I think breaking it up by: Github/ GitHawk / Personal Settings would be a good thing now. We just added a push notifications switch and the 2nd section is a bit packed. I'd suggest breaking it up with:

GitHawk

- Report a Bug
- View Source Code
- Write a Review

Personal

- Double Tap Reaction
- Badge Unread
- Push Notifications
- Read on Open
- GitHawk Signature

[2018-09-23 22:14] Huddie opened #2178 "Show merge status"
Users should be able to see the merge status even if they themselves are not about to merge the PR. Just so they know if there’s a conflict, if it passed tests etc.
This is available on github but not githawk.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-24 04:52] BasThomas commented on #2031
Yeah

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-24 04:52] #2031 closed

[2018-09-24 07:10] rob-nash opened #2179 "Git Ignore"
**Is your feature request related to a problem? Please describe.**

After working through the project setup guide, the project compiles and Apps run. No problems.
Guide is awesome by the way.

However, I now have a bunch of files tracked by .git in staging. Such as:

[code]

PODS files are also tracked.

When contributing, I only commit the stuff that's relevant to the pull request in question. Ho

[2018-09-24 07:19] rob-nash commented on #2108
I can't reproduce this in 966cb1a4d1238bc2e92a42afbaacd3b6ba497d6e dates 27 Sep 2018 on master

Xcode Version 10.0 (10A254a)
Simulator iPhone XR iOS 12

[2018-09-24 07:28] rob-nash commented on #762
Old issue? The labels scene seems very different now. Can't reproduce the issue here.

![simulator screen shot - iphone xr - 2018-09-24 at 08 26 37](https://user-images.githubusercontent.com/14126999/45940924-bde97b00-bfd3-11e8-89d5-ff454146665a.png)

[2018-09-24 07:40] Sherlouk opened #2180 "Filter Fabric Setup by Bundle Identifier"
Probably way too late to suggest this but maybe we should wrap the Fabric initialise method in a check that the bundle identifier matches Ryan's production one?

Prevent the ever growing list of slightly alternative bundle identifiers where people have cloned the repo and had to change to provision their own device (looks pretty intense in Fabric now 😂)

Super minor change, not sure if volumes of

[2018-09-24 07:55] rizwankce commented on #2180
To make a not, Fabric is deprecated and Google is asking all of its user to migrate to Firebase. We do have plenty of time to decide (till mid of 2019)

[2018-09-24 08:04] Sherlouk commented on #2180
Suspect the same message would be made true irrespective of which tool which we decide to use, good to not setup unnecessarily

We've also had Firebase once in the project, wouldn't be totally against moving to it once it has all the Fabric functionality transferred over

[2018-09-24 08:49] rob-nash commented on #1745
I haven't seen this issue and it's going to be hard to reproduce, but I think I know how the issue might be caused.

### Perform Fetch

[code]

### On Fetch Success

Create view models

[code]

### During ViewModels Create

Set state to `.pending`

[code]

### On Create Completion

Fetch States. If `case .failure` overwrite cache (with view models in initial state `.pending`).

[code]

[2018-09-24 10:47] BrianLitwin commented on #2162
@huddie what would the button at the top right look like? I'm envisioning this as similar to a tableView embedded in an Action Sheet, with Cancel and Select/OK buttons at the bottom.

[2018-09-24 11:55] rob-nash commented on #1868
I can't reproduce this in commit 966cb1a4d1238bc2e92a42afbaacd3b6ba497d6e dated 27 Sep 2018 on master

Xcode Version 10.0 (10A254a)
Simulator iPhone XR iOS 12

![ezgif-5-c6622e6efc](https://user-images.githubusercontent.com/14126999/45950644-a2449b80-bff8-11e8-91a0-fc5aa70676e5.gif)

I'm using macOS mojave beta 11 and a few of my Apps no longer work, including the tool I use to generate gif's. So

[2018-09-24 12:18] gingerbeardman commented on #1868
The keyboard needs to be up to see this issue.

However, I can confirm this seems to be much less severe with the latest version on iOS 12.

https://youtu.be/jwrFgxO_-DY
(i share directly from my phone so i mainly post unlisted video links, but will try Gfycat on iOS)

ps: [GIF Brewery](https://itunes.apple.com/gb/app/gif-brewery-3-by-gfycat/id1081413713?mt=12) (free) is pretty good and should wor

[2018-09-24 12:20] rob-nash commented on #1868
Ye Gif Brewery is my go to. Getting codec problems since Majave. Meh.

[2018-09-24 13:28] rnystrom commented on #2179
We shouldn’t stop tracking Pods because I’d prefer the project is build-and-runnable from just downloading.

I guess that’s sort of moot since you have to setup API keys and stuff tho.

Open to suggestions if someone has a solid e2e solution. But simply removing the pods from git probably isn’t enough.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-24 14:06] rob-nash commented on #1745
I was thinking of maybe adding a conditional check upfront to ensure we pull a view model out of the cache or create if it doesn’t. Would happen in fetch closure.

At the moment the fetch closure is creating an empty view model every time, expecting it to be populated by new data.

[2018-09-24 14:44] rob-nash commented on #1745
I'm not up to speed with the project so I'm kinda reverse engineering as I go 😅

I can see you have a cache with a get `func` like so

[code]

So it looks like the view model must first be created and populated with an ID because it conforms to Cachable. Got it!

Ok, so fetch > create view model > assignID > consult cache for any existing data

if data exists then pass that cached data along to be

[2018-09-24 14:58] rnystrom commented on #2177
I dig it!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-24 14:59] rnystrom commented on #2108
It’s def a bug that was happening, but I haven’t tried iOS 12. Maybe it’ll sort itself out?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-24 15:02] rob-nash commented on #2108
Like a fine wine 🍷

[2018-09-24 15:18] timonus opened #2181 "Unable to turn on notifications"
In the latest beta the notifications rows just say “Settings”, but when I tap through Settings.app doesn’t show notifications permissions for GitHawk. The app needs to request permission at some point via [this method](https://docs.developer.apple.com/documentation/usernotifications/unusernotificationcenter/1649527-requestauthorizationwithoptions?language=objc).

![GitHawk Upload by timonus](https

[2018-09-24 15:19] rob-nash opened #2182 "FlatCacheKey hashValue could be stronger"
One minor nit pick here on the `hashValue` implementation of `FlatCacheKey`.

Would be stronger with Swift 4.2 in play.

[code]

Using XOR like this means e.g. 2 ^ 3 is the same as 3 ^ 2

Swift 4.2 apparently has a stronger implementation

[code]

[2018-09-24 16:24] BasThomas opened #2183 "Consider Twitter keyboard again for commenting"
Now that we have `#` support for issues, maybe we should reconsider the keyboard or add a `#` option to the options bar.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1537716040)
Device: iPhone X (iOS 12.0)
TestFlight: true
</pre>
</details>

[2018-09-24 16:53] rnystrom commented on #2183
Maybe we add it as an action bar key instead? I like having the return key

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-24 16:55] rnystrom commented on #2181
Oh no, thanks for this! Def need to fix

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-24 17:20] j-f1 commented on #2183
The return key is still available:

![](https://im4.ezgif.com/tmp/ezgif-4-6f514dedcb.gif)

[2018-09-24 18:33] crrapi opened #2184 "Old PRs/Issues "Fail to load""
PRs and Issues that are more than about a year old "Fail to load" and show the error. (Observed in the Rapptz/discord.py repository)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.22.0 (1534395229)
Device: iPhone X (iOS 12.1)
TestFlight: false
</pre>
</details>

[2018-09-24 20:36] BasThomas commented on #2183
Yeah action bar works too (like I mentioned)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-24 20:37] BasThomas commented on #2183
We tried it before and reverted if I remember correctly. Either makes sense to me.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-24 20:50] rnystrom commented on #2183
@BasThomas yup we did

[2018-09-24 20:55] rnystrom commented on #2184
@crrapi could you give us an issue #?

[2018-09-24 20:57] rnystrom commented on #1745
@rob-nash yup! Exactly

[2018-09-24 20:58] BasThomas commented on #2180
It’s why I unsubscribed from those emails 😅

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-24 21:19] BrianLitwin commented on #2162
Look good?

![contextmenuswitchbranch](https://user-images.githubusercontent.com/26695477/45979700-e72ef900-c01d-11e8-9244-91d70c48e14d.gif)

[2018-09-24 23:33] rnystrom commented on #2162
@BrianLitwin amazing!! Love it.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-25 05:30] rob-nash commented on #1745
Ok, I'll give this a go this morning.

@rnystrom would you mind giving [this one](https://github.com/GitHawkApp/GitHawk/pull/2175) a once over please?

[2018-09-25 06:58] rob-nash commented on #2179
I guess this ticket is focused on the contributing experience.  That being the ease in which developers can contribute. For instance, I'm about to create branch and start working on #1745 and all of the following code has to come along for the ride.

<img width="741" alt="screenshot 2018-09-25 at 06 43 43" src="https://user-images.githubusercontent.com/14126999/45995052-59d7bd00-c08e-11e8-98d5-fcd

[2018-09-25 06:59] rob-nash commented on #2179
I suppose it's a battle between how smooth it is to run the initial fetch vs how smooth it is to run every code change going forward for the lifetime of the project.

Pod install is part of the setup guide's instructions. And as you say, you can't do anything with the App until you have added keys. So I agree that it's moot to keep tracking PODS for the benefit of a `build-and-run` experience. The

[2018-09-25 07:02] rob-nash commented on #2179
I would actually like to ask a question about the setup guide (I'm not familiar with the project or its history of technical decisions).

Is it essential to change the bundle identifier throughout the project, right off the bat?

If not, we may want to cut the setup guide down and hyperlink to a separate document explaining the bundle identifier stuff.

To that end we can then hyperlink to the doc

[2018-09-25 07:03] rob-nash commented on #2179
I have got in the habit recently of demonstrating terminal commands with `asciinema` because sometimes it helps illustrate how quick the setup actually is versus how it appears when listed as a series of steps in a readme. [Example here](https://github.com/rob-nash/Rotary/wiki/Installation).

[2018-09-25 07:04] rob-nash commented on #2179
If we commit the following, then there won't be a need to mention changing this in the setup guide because you can still run on the simulator with `none` selected.

<img width="326" alt="screenshot 2018-09-25 at 07 34 50" src="https://user-images.githubusercontent.com/14126999/45996827-817e5380-c095-11e8-9872-fd4eee7e870c.png">

Furthermore, I think everyone understands these days that deployment

[2018-09-25 07:13] rob-nash commented on #2179
We may want to ignore the scheme?

[code]

That way the GITHUB_CLIENT_ID stuff won't light up for everyone.

Or maybe not ignore the scheme, but pull out the client ID and add it as a line of code in a `.swift` file somewhere and ignore that file?

I dunno

[2018-09-25 10:01] crrapi commented on #2184
My bad, the issue seems to have resolved itself. (maybe it was because of the bad WiFi connection at the time?) Closing as I don't experience this anymore.

[2018-09-25 10:01] #2184 closed

[2018-09-25 22:18] gingerbeardman commented on #2181
I have managed to turn them on, but I'm yet to receive a notification.

Am I missing something?

[2018-09-25 23:49] Huddie commented on #2162
Ya that’s perfect!!!! @BrianLitwin super cool!!!!!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-25 23:50] Huddie commented on #2178
@rnystrom yes that’s what I was hoping for! I can give this one a go

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-25 23:55] Huddie commented on #2181
I think I also was supposed to receive and didn’t.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-26 01:33] ccoberley opened #2187 "Something went wrong"
The above, in subject line, continuously reported, for every component of my GitHub account that I try to access through GitHawk

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.22.0 (1534395229)
Device: iPhone X (iOS 12.0)
TestFlight: false
</pre>
</details>

[2018-09-26 02:29] Huddie commented on #2177
So I couldn't find a filter octicons so I went at making it myself.
Anyone have a better filter icon or suggestions to improve this one?

![simulator screen shot - iphone xr - 2018-09-25 at 22 27 56](https://user-images.githubusercontent.com/10662471/46053814-4f5f0700-c112-11e8-8a02-984d5752c93e.png)

[2018-09-26 02:31] Huddie commented on #2187
@ccoberley when you say every component does that mean you don't see anything in your inbox and you can't search repos etc. Or do you mean you cannot comment on any issue or PR (.. other actions)?

[2018-09-26 02:31] #2154 closed

[2018-09-26 02:35] drewvolz commented on #2181
The app does contain the call to prompt for notification permissions via `requestAuthorization`, but the conditions that trigger it to prompt might need tweaking.

https://github.com/GitHawkApp/GitHawk/blob/05fe58394c5067340ebb29eea1fca484f593feed/Classes/Systems/BadgeNotifications.swift#L59-L72

@rnystrom on a clean install of the application:

* `isBadgeEnabled` and `isLocalNotificationEnabled`

[2018-09-26 08:34] gingerbeardman commented on #2181
I've started to see notifications in 1.23 without doing anything different

[2018-09-26 12:55] Huddie commented on #2177
My bad filling in the top. We seem to use outlined icons for navBar items

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-26 15:17] BrianLitwin commented on #2162
@Huddie I see what you mean by top right button now! Haha

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-26 20:22] Huddie opened #2190 "Write a review space/indent"
Anyone else see this? I can only see it on iPhone XR simulator.
![simulator screen shot - iphone xr - 2018-09-26 at 15 23 44](https://user-images.githubusercontent.com/10662471/46107018-4751a680-c1a8-11e8-848e-7cdd41fb30b0.png)

[2018-09-27 01:58] Huddie commented on #2177
Take 2
![simulator screen shot - iphone xr - 2018-09-26 at 21 57 56](https://user-images.githubusercontent.com/10662471/46119054-497f2980-c1d7-11e8-9741-58e52cb6c773.png)

[2018-09-27 10:06] j-f1 commented on #2190
No repro on 8:

![GitHawk Upload by j-f1](https://i.imgur.com/enOpVqD.jpg)

[2018-09-27 22:52] ccoberley commented on #2187
Basically I just get that error when switching between all of the various issues in my inbox. When I go to open an issue I get the error

[2018-09-27 22:57] Huddie commented on #2187
Did you review your permissions to make sure they are all good?
Settings -> review github access

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-28 00:36] maniramezan opened #2196 "[UX] Drop shadow or a line separator"
Would be nice to have a separator in some sort for header part to help differentiate text content and header contents

![GitHawk Upload by maniramezan](https://i.imgur.com/3uUg36t.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1537716040)
Device: iPhone11,2 (iOS 12.1)
TestFlight: true
</pre>
</details>

[2018-09-28 02:04] maniramezan commented on #2187
I saw this also when I submit a new issue. The issue got submitted but I saw this error message. However, the issue got submitted.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-28 18:56] Huddie commented on #2177
Thoughts on improvements, or anyone have an icon ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-28 21:31] #2181 closed

[2018-09-29 00:33] ccoberley commented on #2187
Yes. Settings verified. Permissions all are good.

[2018-09-29 00:34] rnystrom commented on #2177
Looks a little sharp on the edges. How about this one?

https://thenounproject.com/search/?q=Filter&i=1956576

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-29 00:35] rnystrom commented on #2196
Ya love it! Can we do this without updating Tabman?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-29 01:15] maniramezan commented on #2196
Hmm, I’ll check it out and open a PR for it

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-29 03:32] mrleblanc101 opened #2197 "Access to my repo"
Hi,
It would be nice to have access to my repo somewhere without having to search for them then save them.

[2018-09-29 03:36] BasThomas commented on #2177
There’s no icon at all in the latest beta here?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-29 07:39] rob-nash opened #2198 "Crash in Landscape Simulator Only"
**Describe the bug**
Crash in Landscape Simulator Only

**To Reproduce**
Steps to reproduce the behavior:

- Checkout on master 966cb1a4d1238bc2e92a42afbaacd3b6ba497d6e
- Launch App target in simulator **iPhone XR iOS 12**
- Signed in previously so first scene is inbox
- Turn landscape

**Expected behavior**
Does not crash

**Additional context**
Cannot reproduce on hardware device iPhone SE iOS 1

[2018-09-29 07:39] rob-nash commented on #2198
May want to try on hardware that has a notch (I don't have one).

[2018-09-29 11:58] rnystrom commented on #2198
So it’s just an assert. Also doesn’t repro on my X. Might not be a bid deal.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-29 11:59] rnystrom commented on #2177
@BasThomas 😱 your right me neither! Where’d it go? Ha

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-29 12:00] rnystrom commented on #2197
Long term project for profile happening in #317

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-29 12:00] #2197 closed

[2018-09-29 12:07] BasThomas commented on #2177
No idea 😛

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-29 12:27] rob-nash commented on #2198
Just putting it up for visibility. It’s not ideal. I don’t mind taking a look into it myself later.

[2018-09-29 13:22] j-f1 opened #2199 "Bottom border of PR status box missing"
When I don’t have push access, the bottom border doesn’t show up.

![GitHawk Upload by j-f1](https://i.imgur.com/Z6gufmW.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1538176803)
Device: iPhone 8 (iOS 12.0)
TestFlight: true
</pre>
</details>

[2018-09-29 15:28] j-f1 opened #2200 "Some notifications don’t highlight properly when read"
I’m not sure how to reproduce this, but I’ve seen it multiple times on the beta version:

![GitHawk Upload by j-f1](https://i.imgur.com/FplGm5E.jpg)

(note how one notification still has a white background)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1538176803)
Device: iPhone 8 (iOS 12.0)
TestFlight: true
</pre>
</details>

[2018-09-29 17:44] #2198 closed

[2018-09-29 18:09] rnystrom commented on #2200
Noticed this too. My guess is a z-index issue with the highlight layer?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-29 18:10] rnystrom commented on #2199
@Huddie from the merge change

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-29 23:56] Huddie commented on #2199
I’m on it

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-30 01:55] Huddie commented on #2177
@rnystrom I like the icon but I don’t have the ability to download it

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-30 02:40] Huddie commented on #2106
Any thought on finishing up this design so @BrianLitwin can tweak his profile branch? @rnystrom Any suggestions for improvement on the last design render above?

[2018-09-30 04:34] Huddie commented on #2199
I think this should be able to be closed, but totally get waiting for the next beta to confirm

[2018-09-30 04:34] #2178 closed

[2018-09-30 04:35] Huddie commented on #2140
This issue should be able to be closed

[2018-09-30 04:37] #2097 closed

[2018-09-30 04:37] #2081 closed

[2018-09-30 04:38] Huddie commented on #2051
I think this can be closed @BrianLitwin

[2018-09-30 04:39] #2015 closed

[2018-09-30 10:18] #2199 closed, assigned to Huddie

[2018-09-30 10:18] #2140 closed, assigned to nobody

[2018-09-30 11:12] Huddie commented on #2140
@j-f1 really?! That’s cool. Thank you

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-30 11:47] BasThomas commented on #2140
@Huddie https://help.github.com/articles/closing-issues-using-keywords/

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-30 12:00] j-f1 commented on #2140
I think the requirement is that either you or the person merging the PR has the ability to close the issue (although I’m not sure about the former).

[2018-09-30 12:08] Huddie commented on #2140
@j-f1 Well, thanks for the tip. I never knew that.

[2018-09-30 12:29] Huddie opened #2212 "Review comments lack auto-complete"
Most likely same problem as #1973 and the auto complete isn’t hooked up

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-30 13:32] rnystrom opened #2213 "Background updates and pushes not working?"
When debugging, I’m getting pushes and updated badge numbers, but not when using the latest TestFlight version.

Unsure if it’s the bg fetch not triggering or something else... when I open the app I get all the new notifications.

Anyone else seeing this?

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (SEE BUILD PHASE)
Device: iPhone X (iOS 12.0)
TestFlight: fa

[2018-09-30 13:41] Huddie commented on #2213
I believe I experienced this, only once I opened the app did the notifications come.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-30 13:44] Huddie commented on #2045
@rnystrom should I move this issue to MessageViewController?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-30 13:55] Huddie opened #2214 "Try again when loading fails"
This is what can happen if you lack a network (see imagine) when trying to view an issue (similar view would appear with many other sections)
I happen to know to pull down the view to cause the pull to refresh to occur but someone else just looking at this view may not think they can pull to refresh.

Maybe we can add a “Try again” or “Refresh” button beneath the “Issue cannot be found” wording. T

[2018-09-30 13:58] rnystrom commented on #2213
Oops I had low power mode on 😳

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-30 13:58] #2213 closed

[2018-09-30 13:59] rnystrom commented on #2045
@Huddie yes please!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-30 13:59] rnystrom commented on #2214
This would be great. Much better UX.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-30 15:59] #2051 closed

[2018-09-30 16:04] BrianLitwin commented on #2106
@Huddie lemme make a Sketch prototype of @Sherlouk 's original design and so we can put that into the discussion. I'll do that in the next few days.

[2018-09-30 17:38] Huddie commented on #2106
Sure sounds good. 👌🏻

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-30 19:29] Huddie commented on #2213
@rnystrom does getting notifications when you open the app make sense or should notifications be cleared if you open the app on low-power mode?

[2018-09-30 19:51] rnystrom commented on #2213
@Huddie notifications in-app? Or local notifications? IMO they should be cleared.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-30 19:59] Huddie commented on #2213
Local notifications. You mentioned

Which sounded like after you opened the app, the notifications appeared. The issue was closed because push notifications are working, but it sounds like a bug in low-power mode where you get notifications after opening the app.

[2018-09-30 20:31] #2179 closed

[2018-10-01 07:41] gingerbeardman opened #2216 "Missing border on "no conflicts" panel"
Witness:

![GitHawk Upload by gingerbeardman](https://i.imgur.com/soCB4S0.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1538244553)
Device: iPhone 6s (iOS 12.0)
TestFlight: true
</pre>
</details>

[2018-10-01 08:03] Sherlouk commented on #2216
Dupe of this by chance? https://github.com/GitHawkApp/GitHawk/issues/2199

May have already been fixed but not deployed

[2018-10-01 09:06] rizwankce commented on #507
This is the time of the year for another Hacktoberfest!

[2018-10-01 15:07] gingerbeardman opened #2217 "Issue related to notification doesn't open"
1. the app has been used recently to view an issue
2. a notification for a different issue is tapped

Expected
- issue related to notification should open

Actual
- nothing happens, we remain viewing the existing issue

[2018-10-02 07:35] #2216 closed

[2018-10-02 20:58] BrianLitwin commented on #2106
Still not a Sketch pro so the best I can do for a screenshot for now:

<img width="292" alt="screenshot 2018-10-02 16 54 40" src="https://user-images.githubusercontent.com/26695477/46376443-02c08200-c664-11e8-8564-db9a69b19c75.png">

[2018-10-02 23:34] Huddie commented on #2106
@BrianLitwin looks good to me

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-03 01:45] #2164 closed

[2018-10-03 01:47] Huddie commented on #2217
Dup of #2171 ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-03 01:50] Huddie commented on #2217
I believe we are waiting on #2105 and #1981 for this

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-03 02:10] rnystrom commented on #2106
@BrianLitwin I really dig it!!

[2018-10-03 02:17] Huddie commented on #2106
Maybe follow/unfollow is a navbar item or shows up in a action controller?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-03 03:58] Huddie opened #2220 "Sent with GitHawk"
Anyone like this? (For GitHub, GitHawk signature should remain the same)

<sub>Sent with <a href="http://githawk.com">GitHawk</a><img src="https://github.com/GitHawkApp/GitHawk/raw/master/Resources/Assets.xcassets/splash.imageset/splash%403x.png" height="15"> </sub>

[2018-10-03 04:15] Huddie commented on #2220
For those on GitHawk
<img width="362" alt="screen shot 2018-10-03 at 12 14 41 am" src="https://user-images.githubusercontent.com/10662471/46389666-54d3c880-c6a1-11e8-9a21-39889eff0243.png">

[2018-10-03 04:55] cameronmoreau commented on #2214
How does something like this look? I'll follow up with a PR soon.

![img_1927](https://user-images.githubusercontent.com/732722/46390661-bdb14580-c68d-11e8-84c3-aeb6cc255eb0.PNG)

[2018-10-03 05:30] Huddie commented on #2214
Looks nice! I think the current GitHawk style would be more of just "Try Again" in blue, no background (See "Load More" cells and "Review Github Access", which don't have backgrounds to them).

[2018-10-03 05:58] BasThomas commented on #2217
I guess we can already pop the currently shown issue before tackling routing; would that be a good first step?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-03 10:03] j-f1 commented on #2220
I like how it gets converted into an icon next to the timestamp currently.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-03 10:58] Huddie commented on #2220
@j-f1 That won’t change. See my parenthesis. This would only effect the way it appears on GitHub not GotHawk

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-03 11:59] rnystrom commented on #2220
I think it’s a little noises tbh

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-03 12:43] #2220 closed

[2018-10-03 12:51] gingerbeardman commented on #2217
@BasThomas yes

[2018-10-03 16:37] Sherlouk commented on #2106
Interesting looking envelope 😂 Looks great!

Think I had planned to have a ... menu in the navbar which does things like follow/unfollow and share

[2018-10-03 17:25] rnystrom opened #2223 "Put selected branch first in picker"
h/t again to @BrianLitwin for the great branch switching feature! I love it!

I'd love if we could show sort the branches w/ the currently selected branch first. Only on init though, it shouldn't resort when you select.

Also, `master` (or the repo's default branch) should be the 2nd option. Or maybe the right bar button item is "Default" and auto selects the default branch?

[2018-10-03 17:46] Aareon opened #2224 "Can’t comment on issue"
If I try to comment on any issue in any repo,  my message doesn’t post. The message is kept in the text box, I’m sure for safe keeping. I’ve only seen the “Something went wrong” error message a couple out of many times I’ve tried.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.22.0 (1534395229)
Device: iPhone 7 (iOS 12.0)
TestFlight: false
</pre>
</details>

[2018-10-03 17:50] Aareon commented on #2224
It seems that if I have the message and keyboard up when the error happens, the “Something went wrong” message is just hidden behind it. When the “SWW” message *does* appear, I can’t select, pull up, or do anything other than acknowledge it.

[2018-10-03 17:50] Aareon commented on #2224
Strangely enough, I *can* comment here, though...

[2018-10-03 18:11] j-f1 commented on #2224
This seems to be an issue with organizations not allowing the app to post comments. You can work around the issue by creating and logging in with a personal access token.

[2018-10-03 18:25] d-ivashchuk opened #2225 "No items in inbox"
**Description**
For some reason I always have zero inbox in the app
**To Reproduce**
Just open the app section `inbox`
**Expected behavior**
See notifications and mentions

**Smartphone**
Iphone XS ios12

Maybe I didn't do something to allow notifications to be sent. I enjoy app very much and want it to work properly. Thanks for making it!

[2018-10-03 18:54] kngu9 commented on #2214
@cameronmoreau I think "Cannot load README" defines a system specific behavior, like there might or might not contain a README, but unable to parse it.

Maybe specify that there is not a README for the repository?

[2018-10-03 19:20] BasThomas commented on #2225
Can you see any notifications on https://github.com/notifications ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-03 21:09] d-ivashchuk commented on #2225
Nope, I guess I need to tick web notifications to see them in GitHawk. I guess it’s solved, sorry my mistake. Thanks for quick answer!

[2018-10-03 21:32] #2225 closed

[2018-10-03 23:02] BrianLitwin commented on #2223
Does this look good?
[code]

[2018-10-04 01:12] rnystrom commented on #2223
@BrianLitwin looks perfect!

[2018-10-04 01:13] rnystrom commented on #2214
Exactly what @Huddie said 😄

[2018-10-04 01:14] rnystrom commented on #2224
@Aareon can you let us know the repo? Is it used by an organization? It might need to remove restrictions for GitHawk.

[2018-10-04 02:05] rnystrom commented on #2224
Agree, error messaging could be improved throughout the whole app.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-04 02:25] Jeremia-h opened #2227 "Dark Mode"
Please add a dark mode :)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.22.0 (1534395229)
Device: iPhone 8 Plus (iOS 11.2.1)
TestFlight: false
</pre>
</details>

[2018-10-04 02:54] Huddie commented on #2227
Dup #198 but still. Love the idea

[2018-10-04 05:35] rizwankce commented on #2182
I did raise a [PR](https://github.com/GitHawkApp/FlatCache/pull/5) on FlatCacheKey repo as part of Swift 4.2 update.

[2018-10-04 06:53] #2227 closed

[2018-10-04 15:49] j-f1 opened #2229 "Extra space at bottom of pull request status view"
Screenshot:

![](https://user-images.githubusercontent.com/25517624/46486220-4b467f80-c7cb-11e8-81fc-ea517e8b95ae.jpeg)

[2018-10-04 23:41] rnystrom opened #2230 "Infinite load on inbox"
I’ve hit this a few times. Flex doesn’t show the inbox request finishing. There’s nothing to cancel and reload either so I have to force quit the app.

Anyone else?

![GitHawk Upload by rnystrom](https://i.imgur.com/fJtAcPQ.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1538537771)
Device: iPhone X (iOS 12.0)
TestFlight: true
</pre>
</details>

[2018-10-05 01:54] ashleyng commented on #1958
I was taking a stab at this, and should this only affect the `IssueViewController` or should it also include the icon on the `RepositoryViewController`?

[2018-10-05 02:00] Huddie commented on #2230
Just happened to me

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-05 11:27] bmeverett commented on #2230
I'm seeing this too

[2018-10-05 11:27] rnystrom commented on #2229
That’s because the floating button isn’t visible. Seems like we should add bottom inset only if we’re gonna show the button.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-05 11:59] rnystrom commented on #2230
Everyone on TestFlight right? Not prod?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-05 13:31] Huddie opened #2231 "Manager button feedback"
I want to add some feedback to the manager button.

Reason by example:
1. Open an issue or PR which has comments greater than view size.
2. Scroll to top
3. Close the issue/PR

Did it get closed?

It did, but there’s really no way of you knowing unless you scroll down and see the new cell added that says closed.

Same goes for reopen, lock...etc

Options:
- Some banner appears indicating you close

[2018-10-05 13:33] Huddie commented on #2230
I’m on TF

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-05 14:32] rizwankce commented on #2190
Yup. Attaching iPhone xs max screenshot. ![GitHawk Upload by rizwankce](https://i.imgur.com/0yD3gBf.jpg).

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-05 14:35] Huddie commented on #2190
Ah ha! It does exist!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-05 18:37] j-f1 commented on #2230
Me too, on TestFlight.

[2018-10-06 02:33] ashleyng commented on #2161
I can start work on this. and assuming you meant `files only` instead of `field only`?

[2018-10-06 03:45] kdawgwilk opened #2233 "Never ending loader"
On the current beta I keep getting this never ending spinner after app launch

![GitHawk Upload by kdawgwilk](https://i.imgur.com/hDvkrq7.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1538244553)
Device: iPhone X (iOS 12.0)
TestFlight: true
</pre>
</details>

[2018-10-06 07:43] BasThomas commented on #2233
Dupe of #2230

[2018-10-06 07:43] #2233 closed

[2018-10-06 07:43] BasThomas commented on #2230
Haven't seen this, weird. Anything going on with GitHub maybe?

[2018-10-06 12:51] thedarthonian opened #2234 "Can’t view milestones on Preview"
This may be more of a suggestion, but adding milestones on the Issues overview page would be handy

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.22.0 (1534395229)
Device: iPhone X (iOS 12.0)
TestFlight: false
</pre>
</details>

[2018-10-06 14:41] jdmarshall90 opened #2235 "Sync GitHub stars to local bookmarks automatically"
Could this be added please?

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.22.0 (1534395229)
Device: iPhone X (iOS 12.0)
TestFlight: false
</pre>
</details>

[2018-10-06 14:47] jdmarshall90 opened #2236 "Show my repositories"
A tab that has all of the currently logged in user’s repositories would be nice.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.22.0 (1534395229)
Device: iPhone X (iOS 12.0)
TestFlight: false
</pre>
</details>

[2018-10-06 15:57] Sherlouk commented on #2236
Gonna close this in favor of #2106 and #317 which are to build the user profile tab (which will have the user's repositories in)

[2018-10-06 15:57] #2236 closed

[2018-10-06 16:45] BrianLitwin commented on #2235
this sounds like a good idea, wouldn't be too much trouble to make/ seems like an intuitive feature.. others thoughts? I'll work on this if there are no objections

[2018-10-07 06:50] hedaobaishui opened #2239 "can not find starred project"
cannot find starred project in my account

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.22.0 (1534395229)
Device: iPad7,5 (iOS 12.0)
TestFlight: false
</pre>
</details>

[2018-10-07 23:13] mvrozanti opened #2240 "Can’t search forks"
And also I cannot some find my own repos.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.22.0 (1534395229)
Device: iPhone 5s (iOS 11.4.1)
TestFlight: false
</pre>
</details>

[2018-10-08 01:00] Huddie commented on #2240
@mvrozanti try searching mvrozanti/ (with the slash)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-08 02:44] Huddie commented on #2223
^ should be closed?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-08 02:44] Huddie commented on #2190
Any ideas ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-08 04:46] #2223 closed

[2018-10-08 09:42] mvrozanti commented on #2240
[I did](https://imgur.com/a/YCx4tHd]

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-08 11:46] Huddie commented on #2240
Without the st. Just mvrozanti/. I searched and got a lot of results

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-08 12:08] rnystrom opened #2243 "Set shortcuts on app open"
Changing the type string causes them to fail until you switch accounts.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1538970418)
Device: iPhone X (iOS 12.0)
TestFlight: true
</pre>
</details>

[2018-10-08 12:08] rnystrom opened #2244 "When assigning people, put self as first option"
Similar to bumping the default branch

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1538970418)
Device: iPhone X (iOS 12.0)
TestFlight: true
</pre>
</details>

[2018-10-08 12:10] #2190 closed

[2018-10-08 12:11] rnystrom commented on #2235
Stars will eventually just be part of starred repos in your profile. I don’t think we should conflate the two.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-08 12:11] #2235 closed

[2018-10-08 12:11] rnystrom commented on #2239
See #317

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-08 12:11] #2239 closed

[2018-10-08 12:13] rnystrom commented on #1958
@ashleyng both please! Mind knocking out the repo VC too?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-08 12:14] rnystrom commented on #2231
Auto scroll seems like the simplest. Agree with this!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-08 12:16] Huddie commented on #2231
Cool! I’ll take this one then! Thanks for the feedback

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-08 12:39] Huddie opened #2245 "Search cancel button gray"
Is the search cancel button supposed to be gray after you search?

Steps to replicate:
- Head to search tab
- Type in anything
- Click search

The keyboard will resign and the cancel button will become gray (seems disabled)

You can then click the cancel button to show the keyboard and then the cancel button becomes blue again.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-08 12:40] Huddie commented on #2245
Same for bookmark (can’t change title until I’m desktop #2054 )

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-08 12:44] rnystrom commented on #2245
Think so because the bar isn’t focused. I think that’s just how `UISearchBar` behaves. At least I don’t think we do anything special. I’d be fine sticking it to blue if that’s that’s simple.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-08 12:45] #2161 closed

[2018-10-08 13:02] mvrozanti commented on #2240
I also tried searching for mvrozanti/ and while it did return many results, `st`, for instance did not show up.

[2018-10-08 13:14] rnystrom commented on #2240
@mvrozanti ya that should show up like anything else. Is it a private repo?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-08 13:15] mvrozanti commented on #2240
It is not.

[2018-10-08 15:44] rnystrom commented on #2240
Could be something with the search API or query that doesn't show fork results? That would be really strange...

[2018-10-08 15:55] #2244 closed

[2018-10-08 16:01] ashleyng commented on #1958
yep! I can do that!

[2018-10-08 16:46] mvrozanti commented on #2240
Actually, some "self-owned" (not forks) repos are missing as well. Example: [rastreamento-correios](https://github.com/mvrozanti/rastreamento-correios)

[2018-10-08 19:49] Maxador commented on #1942
I would like to tackle this issue. Is there more indication on what the “clear” button should look like and how can I access those views with some relevant data?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-08 20:10] #2162 closed

[2018-10-08 21:12] BrianLitwin commented on #1942
@Maxador you do need permissions to get the [ContextMenu](https://github.com/GitHawkApp/GitHawk/blob/master/Classes/Issues/IssueManagingContextController.swift) to show up on the screen. For a quick hack if you just want to mess with it/ see what it looks like, return `[ .labels, .milestone, .assignees ]` [in this method](https://github.com/GitHawkApp/GitHawk/blob/b70e2649a01d3aa8f0ad93ad60a303b66

[2018-10-09 00:35] BrianLitwin opened #2247 "Linking to Repos In-App"
Do you all think it would be a good idea to catch links to repos in repository ReadMe's and open a RepositoryViewController instead of re-directing the user to Github.com? Eg when a user clicks the Apollo Codegen link in GitHawk's ReadMe?  There's already a workflow in place that we use for shortlinks, seems like it would be a matter of writing a regex to catch links to repos and wiring it up.

[2018-10-09 02:03] mvrozanti commented on #2240
Maybe it's my iOS version? Pardon my ignorance it's an old phone.

[2018-10-09 02:05] rnystrom commented on #2230
My guess is its [this commit](https://github.com/GitHawkApp/GitHawk/commit/cf09107576b0c6e771e01badffaed024046807ae#diff-c79f1ba47b613ca4b8a3451abd4ca1f1) that just doesn't load when refreshing from [app background](https://github.com/GitHawkApp/GitHawk/blob/master/Classes/Notifications/NotificationModelController.swift#L55). I'll admit this was a hack in the first place.

The issue I'm trying to

[2018-10-09 02:05] rnystrom commented on #2230
Open to ideas on how to avoid double fetching from background fetch events.

[2018-10-09 02:06] Huddie commented on #2240
I’m on iOS 12 and missing. Also doesn’t seem like that would be it

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-09 05:52] rizwankce opened #2250 "Issues cell collapsing on iPhone landscape"
Attaching iPhone xs max screenshot on landscape. Cell labels are collapsed and can't read properly.

![GitHawk Upload by rizwankce](https://i.imgur.com/DjYwpl5.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1538701088)
Device: iPhone11,6 (iOS 12.0.1)
TestFlight: true
</pre>
</details>

[2018-10-09 05:56] BasThomas commented on #2230
Oh wow, that's good to know. Ugh.

[2018-10-09 05:57] rizwankce opened #2251 "Bookmark cell background cut off on iPhone landscape"
Attaching iPhone xs max screenshot of bookmark landscape. Cells are not filling the view and cut off. Check out the background color.

![GitHawk Upload by rizwankce](https://i.imgur.com/j649bsO.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1538701088)
Device: iPhone11,6 (iOS 12.0.1)
TestFlight: true
</pre>
</details>

[2018-10-09 05:57] rizwankce commented on #2251
Same happening on search results cell as well

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-09 06:01] rizwankce opened #2252 "Settings - Tapping view source code opens vc without navigation controller"
Able to reproduce on iPhone landscape. Clicking on "view source code" opens the Githawk repo. But without navigation bar.

![GitHawk Upload by rizwankce](https://i.imgur.com/30D0gUW.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1538701088)
Device: iPhone11,6 (iOS 12.0.1)
TestFlight: true
</pre>
</details>

[2018-10-09 06:03] rizwankce opened #2253 "Settings - double tap reaction on spilt view"
Guess double tap reaction view controller shoule be opening in detail view controller in split view. (Like user account selection vc)

Currently it's opening in master view controller and making it behave weirdly. it's applicable for iPad as well.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1538701088)
Device: iPhone11,6 (iOS 12.0.1)
TestFlight: true
</pre>

[2018-10-09 08:12] rizwankce commented on #2240
Looks like GitHub search will ignore fork repos by default. If we want to see the forked repos we have to specify that in search query like `fork:true` or we can even search only for forked repos by `fork:only`.

Checkout more on [Searching for Repositories](https://help.github.com/articles/searching-for-repositories/)

I also fired up GraphQl Explorer to check and was able to get forked repos as

[2018-10-09 10:29] mvrozanti commented on #2240
That still wouldn’t explain non-forks not appearing though

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-09 10:34] Huddie commented on #2250
Yicks

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-09 11:12] rizwankce commented on #2240
@mvrozanti I was able to get that as well in search. ![GitHawk Upload by rizwankce](https://i.imgur.com/FeYqcth.jpg)

We can compare the search with github search and cross verify it.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-09 11:15] rizwankce commented on #2240
I was able to get my forked repo just by entering `Rizwankce/ fork:true` so there is no difference between Github search and Githawk. But it's tricky to remember all search keywords.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-09 16:31] mvrozanti commented on #2240
@rizwankce ok rastreamento-correios is actually there, my bad; I thought I didn’t see it

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-09 16:50] Huddie commented on #2240
But this should be either added by default or we need a filter option. Users shouldn’t have to know to add /fork:true.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-09 16:52] Huddie commented on #2245
Confuses me a bit but if nobody else think so then I guess it’s just me 😀

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-09 16:56] mvrozanti commented on #2240
Maybe only disable or unfilter if they want?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-09 18:16] Huddie commented on #2240
🤷‍♂️I feel people’s expectations are that forks appear

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-09 18:38] rnystrom commented on #2240
Let’s default to include forks

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-10 00:45] pkrmf opened #2256 "Links to headers in markdowns fail to load"
Headers in markdowns open a webview with the following error:
“Safari cannot open the page. The error was the URL can’t be shown”

[Link to video of the problem](https://twitter.com/marcterns/status/1049800514907623424?s=12)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1537716040)
Device: iPhone X (iOS 12.0)
TestFlight: true
</pre>
</details>

[2018-10-10 03:16] Huddie opened #2260 "Name and underlying button getting called"
This is a bug where if you click on someone’s name who referenced an issue/PR.. (Huddie referenced ...) the result is:
1) Your redirected to that users GitHub Profile (Proper outcome)
2) GitHawk segues to the issue/PR which was referenced  (side effect)

How to reproduce:
- Head to #2237
- Scroll to the bottom where it reads ashleyng referenced n hours ago
- Tap ashleyng (redirected)
- Tap the bac

[2018-10-10 03:29] Huddie commented on #2177
@rnystrom would you be able to add the icon to the project ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-10 03:30] Huddie opened #2261 "Merged icon"
Any reason we use the pull request icon colored purple instead of the merged icon ?

Note the proper merged icon is used everywhere (PR/Labels) but inbox/bookmarks

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-10 12:35] rnystrom commented on #2261
Oh that seems like a bug. Would love a fix!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-10 12:54] Huddie commented on #2261
I’ll take it

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-10 13:00] Huddie opened #2263 "Filter by label (Repo Issue List)"
Currently you cannot tap labels in the repoIssueSectionList but can once you tap into a specific issue (it will redirect you)

When tapping on a label in Repo Issue List:
I think we should just add is:”\(label-name)” to the search so that it filters by that label

When tapping on a label inside a specific issue:
We should open the repo issue list in app and again append is:”\(label-name)”

<sub>Se

[2018-10-10 13:02] Huddie opened #2264 "Padding around labels inside issues"
If your looking at a specific issue. When labels are added the padding (specifically bottom padding) seems to be a bit thin. I’ll add a screenshot

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-10 13:03] Huddie commented on #2264
You can see the “g” in bug is very close to the bottom

![GitHawk Upload by Huddie](https://i.imgur.com/qDJdmOy.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-10 13:04] Huddie commented on #2264
Padding for labels in the repository issue list are great though

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-10 13:21] ijm8710 opened #2265 "New beta tester on iOS 12.1 not receiving notifications"
* Notifs are set to web on GitHub
* Push notifications are toggled on in GitHawk and in iOS Notification settings
* Have created test cases and waited hours; feel free to test on here. They populate in notification inbox list but no push notification ever comes
* Happy to provide any other detail requested

[2018-10-10 13:32] rnystrom commented on #2265
Are there items in your inbox?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-10 13:33] rnystrom commented on #2264
These are rendered with TextKit. I’ve been meaning to revisit this too actually.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-10 13:43] ijm8710 commented on #2265
Yup. I’ll clarify in OP that that’s what third bullet referred to

[2018-10-10 13:44] ijm8710 commented on #2265
Waited 11 minutes now and nothing btw...I’ve waited 2-3 hours yesterday on other test

[2018-10-10 13:47] ijm8710 commented on #2265
Do you have ability to send test notifcations from server? Not actual github replies but just confirming your server is working to me

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-10 14:02] ijm8710 commented on #2183
New here but please don’t do it as twitter. Do the action bar! I’ve been begging the engineers for weeks at twitter to switch back and make it an action ba. Return is such a used stoke and it stinks having it a layer back.

[2018-10-10 14:08] ijm8710 opened #2266 "Pulse/event log for repo activity"
Is this ticketed to come?

[2018-10-10 14:15] Huddie commented on #2264
Oh cool. They seem to be pushed down and to the right. Anyways glad it was on the list, been meaning to mention it for a while

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-10 14:18] Huddie commented on #2265
@ijm8710 There is no server. There’s a great article on how GitHawk implements notifications. Don’t have the link on me but it’s on the GitHawk blog which can be found on the GitHawk website!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-10 15:23] rnystrom opened #2267 "Inbox zero after bg fetch"
I can repro the previously-infinite-load bug:

If you open the app after a bg fetch and the process hasn’t been killed, the inbox fetch acts as if it didn’t load. We could return an error, but maybe we need to add a third state that is like “cancelled” and just not show an error message.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1539141590)
Device: iPhone

[2018-10-10 16:07] BrianLitwin commented on #2247
for further clarification:

instead of opening repo links in safari:
![ezgif com-video-to-gif 2](https://user-images.githubusercontent.com/26695477/46749908-c0f79300-cc84-11e8-9cce-545cd7e17d35.gif)

we could open the links in GitHawk:
![ezgif com-video-to-gif 3](https://user-images.githubusercontent.com/26695477/46750007-01efa780-cc85-11e8-88ba-a9f5fe644f9b.gif)

[2018-10-10 17:10] Sherlouk opened #2268 "Add mute button to push notifications"
https://twitter.com/_ryannystrom/status/1050070500708376576

Would be ace if we can expand the notification and click "Mute" or "Unsubscribe".

(Potentially both, where mute just silences it for 24hr or something if there's a heated discussion)

Not sure with local notifications if you can prevent the app from opening? (I know it's possible with actual push notifications) but either way I think it

[2018-10-10 17:11] ijm8710 commented on #2265
Is there anything else I can provide or do to diagnose this?

[2018-10-10 17:13] Sherlouk opened #2269 "Scroll to last read message on push notification open"
https://twitter.com/_ryannystrom/status/1050070500708376576

Not 100% sure on the exact functionality but I believe from when I looked previously that the notification payload does include the trigger message sometimes though this might not be accurate.

Alternatively we could store within the app the last seen message for each issue/PR? Then just scroll to that? I could imagine something similar

[2018-10-10 18:09] Sherlouk commented on #198
@Huddie @BrianLitwin @rnystrom

Anybody got a mockup design or palette they think would work nice as a dark mode? Need some inspiration before I go rainbow city on the app :trollface:

[2018-10-10 20:28] ijm8710 commented on #2265
Can you message me and I’ll let it sit and see please

[2018-10-10 20:42] Sherlouk commented on #2265
👋

[2018-10-10 21:05] ijm8710 commented on #2265
So, the notofs pull in but only once I open the app. Just realized something. Perhaps is having background refresh off preventing your pseudo-notificaction system from working?

[2018-10-10 22:45] Huddie commented on #2265
@ijm8710 ya that’s possible. Pretty sure background refresh is essential.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-10 22:58] ijm8710 commented on #2265
Let me test once more. Can one of you comment on this again please

[2018-10-10 23:55] ijm8710 commented on #2265
Made no difference. I don’t think that’s it

[2018-10-10 23:57] ijm8710 commented on #2265
Badge only appears when entering app. Is there something I do that should control the frequency of the fetch

[2018-10-11 00:30] Huddie commented on #2265
Well if your badges aren’t updating until you enter then (to my knowledge) most likely a bg refresh issue.

Your settings look like this?
![GitHawk Upload by Huddie](https://i.imgur.com/6YXpm7a.jpg)![GitHawk Upload by Huddie](https://i.imgur.com/sFAQego.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-11 00:31] rnystrom commented on #2265
@ijm8710 we use iOSs minimum interval for bg fetch, but the OS decides when to trigger, we have no control. Updates won’t be on real time, but for me at least, they are pretty quick (within the hour).

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-11 00:34] Huddie commented on #2265
@ijm8710 Are you on low-power mode by any chance?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-11 00:40] Huddie opened #2270 "MenuController UX Consistency"
So I recently discovered that long pressing on the time since (now, 2h, 1yr) the post opens a UIMenuController with the full date which that post when sent (Really cool!)

Just tapping on the sent with githawk icon opens a UIMenuController saying “Sent with GitHawk”

I think we should choose either long press or tap to active these “secret” pop ups.

<sub>Sent with <a href="http://githawk.com">Git

[2018-10-11 00:48] rnystrom commented on #2270
Good feedback. Let’s go with tap

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-11 00:59] ijm8710 commented on #2265
@Huddie settings are correct for what you said (I’ve be been beta testing for years. I’m the lead tester for reddit, run their entire tracker on the beta subreddit and speak to them weekly so I’m pretty tech savvy :))
Low power mode can’t be on for bg-refresh but like I said that didn’t make a difference

@rnystrom
Yeah I’ve tried waiting several gours. No dice. Not sure if you want logs or whatev

[2018-10-11 01:33] Huddie commented on #2270
@rnystrom working on #2271 I realized that a few things.
1. Start typing out a comment and while the keyboard is active, tap the timestamp above (rnystrom added design xx minutes ago). I’m getting a weird situation where the menu controller has [“select”, “select all”, “paste”, timestamp]
2. With the keyboard resigned it’s sometimes difficult to get the timestamp mentioned above to show the menu w

[2018-10-11 01:37] Huddie commented on #2270
I think I could add becomeFirstResponder to resign keyboard to fix the paste/select/select all issue.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-11 06:19] rizwankce commented on #2265
to make a note here. I have enabled the push notification from TF app and I never got any notification from the app. 😢

I don't know how OS decides to send notifications.

[2018-10-11 07:32] mesqueeb commented on #224
@rnystrom With this merge, will we **receive push notifications** from GitHawk on iOS **for any update in our repo's on Github?**

[2018-10-11 10:40] j-f1 opened #2272 "Allow filtering notifications by Participating/Mentioned"
The filter icon on the top left would have all the options it currently does except for “View All.” There could then be a dropdown similar to the kind that’s shown on issue/PR/repo screens. This dropdown could show the owner/repo if you’ve filtered by one, as well as a choice between “All,” “Unread,” “Participating,” and “Mentioned.” The [API docs](https://developer.github.com/v3/activity/notifica

[2018-10-11 12:47] gingerbeardman commented on #224
@mesqueeb anything you receive a notification for on the website.

[2018-10-11 13:15] BrianLitwin commented on #2272
Brought up something similar in #2065.. as I recall, it's pretty low cost to build and implement. Might have more relevance now w/ push notifications?

[2018-10-11 13:21] Huddie opened #2273 "Can’t subscribe/unsubscribe ?"
Steps to reproduce:

In inbox click the speaker icon to flip its state
Pull down to refresh.

The icon is back to its previous state

Anyone else?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-11 13:54] #2101 closed

[2018-10-11 14:07] ijm8710 opened #2274 "Markdown formatting rendering"
![Image](https://i.imgur.com/x3tOl9p.jpg)![Image](https://i.imgur.com/UCVcMWj.jpg)

Bullets (and sub-bullets), indentation and spacing are not being picked up as well

[2018-10-11 18:52] j-f1 commented on #2272
Yes! Would be nice to only get notified for things I’m participating in.

[2018-10-13 02:08] rnystrom commented on #2274
Can you link to the comment or post an example?

[2018-10-13 02:12] rnystrom commented on #2273
So it comes from this line:

https://github.com/GitHawkApp/GitHawk/blob/8452d73ab9aab9db3891dce102c4b1574acc95d0/Classes/Notifications/Notification%2BNotificationViewModel.swift#L44

I guess the issue is that the notification hasn't been read yet, so it won't disappear. The behavior could be that marking this _also_ marks the notification read? There isn't any other real way to get "watching" stat

[2018-10-13 02:15] rnystrom commented on #2272
Open to review some designs/flows/PRs

[2018-10-13 02:16] rnystrom commented on #2270
Check out how we resign active in other places by calling `view.endEditing(true)` in a lot of places

[2018-10-13 02:18] rnystrom commented on #2269
It does but its base64 encoded and basically a private API that could change at any time. If someone feels strongly and wants to take this on I'm all for it, but not a priority for me atm.

[2018-10-13 02:18] #2269 closed

[2018-10-13 02:18] rnystrom commented on #2268
Love it!

[2018-10-13 02:18] rnystrom commented on #2266
See #317

[2018-10-13 02:18] #2266 closed

[2018-10-13 02:28] rnystrom commented on #2247
@BrianLitwin yes! that would be great

[2018-10-13 02:35] #2253 closed

[2018-10-13 02:36] #2252 closed

[2018-10-13 02:42] #2230 closed

[2018-10-13 02:52] rnystrom commented on #2251
Did something change w/ iOS 12 and `adjustedContentInset`? I'm getting asserts when going landscape w/ the debugger attached. Or maybe it's just b/c we've never had a landscape-expanded view (the X doesn't split).

[2018-10-13 03:07] rnystrom commented on #1942
@BrianLitwin 🔥

[2018-10-13 04:00] ijm8710 commented on #2265
Hey so @rnystrom complete understand that some bg component is required at this time, but was unclear on if bg-always will be required or if there’s some permissions setting that’s adjustable that would allow for bg-wifi to work as well. Conceptually, I do not see the difference assuming the user is in fact on wifi

Also not related to being an issue, but how is your experience with bg-always on b

[2018-10-13 04:03] ijm8710 commented on #2274
Sure @rnystrom photos reference comments in this post https://github.com/RoyaleAPI/cr-api-ux/issues/315

[2018-10-13 09:39] BasThomas commented on #2274
Specifically [this](https://github.com/RoyaleAPI/cr-api-ux/issues/315#issuecomment-428951319) post.

[2018-10-13 10:23] djbe opened #2281 "Can’t comment"
I’m able to view issues and PRs, lock them, assign milestones, etc... But I can’t send comments that I write. I get a double tap haptic feedback, but my comment isn’t posted.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1538537771)
Device: iPhone 7 (iOS 11.4.1)
TestFlight: true
</pre>
</details>

[2018-10-13 11:16] BasThomas commented on #2281
Is there an error toast that pops up? Or can you check the result of the networking call (three finger tap on the screen to open FLEX debugging)?

[2018-10-13 11:28] djbe commented on #2281
Right so the toast was hidden behind the keyboard. This is the Jason response:

[code]

[2018-10-13 11:32] djbe commented on #2281
So the issues maybe are: hide the keyboard on error, so users can see the error, and maybe show that specific error from github?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-13 12:10] rnystrom commented on #2274
The markdown isn’t correct. Check it out on GotHub, looks the same.

https://github.com/RoyaleAPI/cr-api-ux/issues/315#issuecomment-428951319

List items require speakers between dashes and words.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-13 12:11] rnystrom commented on #2265
@ijm8710 re: battery, haven’t ever had an issue. I use low power mode a lot tho and know that pushes won’t work in that case.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-13 12:13] rnystrom commented on #2265
Oh cool, we can detect low power mode! Maybe we show something in your inbox that if you have notifications enabled, they wont appear?

https://useyourloaf.com/blog/detecting-low-power-mode/

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-13 13:53] BasThomas commented on #2281
I think we have a ticket somewhere to show the toast above the keyboard.

[2018-10-13 16:13] ijm8710 commented on #2265
I wish android-sequel there was the option to manually approve certain processes like a bg exception for githawk fetching

@Rnystorm, still haven’t seen your remark on this. I understand notifications will not work when low power mode is on (bg is off). And they will work when bg is fully on. But, again, they do not work when bg is on wifi mode even if you’re on wifi. Have you looked into if there

[2018-10-13 16:18] ijm8710 commented on #2274
@rnystrom

Not following are you saying the app so doing it right or acknowledging it’s incorrect

My original part of this post did compare githawk rendering to github mobile site.

Some differences

*spacing between billeted lists
* indentation of “-“ items below bulleted top line list items
* **wip adding on...**

*test
  *test

[2018-10-13 16:31] ijm8710 commented on #2265
I’m curious if it’s the “cellular data” portion of background refresh and not the background refresh in general that does the fetching. Not sure if this comment makes sense fully.

[2018-10-13 17:27] rnystrom opened #2284 "Infinite load still a thing?"
Just hit this. Will debug. Ugh! Follow up from #2230

![GitHawk Upload by rnystrom](https://i.imgur.com/QtA7Bfz.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1539400019)
Device: iPhone X (iOS 12.0.1)
TestFlight: true
</pre>
</details>

[2018-10-13 18:44] j-f1 commented on #2284
Looks even weirder on the 8 since the spinner overlays the emoji.

[2018-10-13 19:05] rnystrom commented on #2284
Just hit it again. Probably need to build a state machine.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-13 20:13] ijm8710 commented on #2284
Really weird, I just got a notif for this (be it delayed) while on power saver mode. Reason I’m mentioning it here is it also gave me this issue as well when I tried to view it in inbox.

[2018-10-13 23:51] Yonodactyl commented on #2284
Finding my way around the refresh controls in the Feed class seems to be challenging.
I do have a question: Where does the application call refreshHead?

[2018-10-13 23:57] rnystrom commented on #2284
@Yonodactyl the main refresh mechanisms are `Feed`, `FreedRefresh`, and `BaseListViewController2`

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-14 01:02] mesqueeb commented on #2281
I’m not sure if the is related but since the latest Testflight beta the notifications work but i cannot comment anymore.

With keyboard I the no toast and without keyboard it just says "something went wrong"

[2018-10-14 03:09] #2284 closed

[2018-10-14 03:18] Huddie commented on #2281
@mesqueeb “Something went wrong” is the generic error but I think there’s an issue for that as well

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-14 12:37] BrianLitwin commented on #2263
makes sense @Huddie. I use the label tapping feature a lot on GitHub web to look for "help wanted" issues. Are you taking this? I'd be happy to work on it if you're not.

[2018-10-14 12:39] rnystrom opened #2289 "Opening from push sometimes fails"
Tapped a push and nothing happened. Then when I selected something in the inbox it just highlighted the cell but didn’t push a view.

Not sure if pushing a VC needs to be deferred for some time or something?

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1539400019)
Device: iPhone X (iOS 12.0.1)
TestFlight: true
</pre>
</details>

[2018-10-14 12:47] Huddie commented on #2263
@BrianLitwin I’m a bit busy with school these next few days so I won’t be able to get to it. If you want to knock it out that would be awesome!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-14 13:03] BrianLitwin commented on #2247
@rnystrom @Huddie After the user clicks a repository link, we gotta go grab the defaultBranchRef + hasIssuesEnabled info from graphql before opening the RepositoryViewController... I'm currently throwing a spinner here... lmk y'alls thoughts or if you have a better idea of how to keep the UI interactive while this quick fetch happens -->

![ezgif com-video-to-gif 4](https://user-images.githubuserc

[2018-10-14 13:11] Huddie commented on #2247
Cool stuff! The spinner seems different from the regular one which Idk how I feel about. I get that throwing a spinner on the view could get lost in the text and that’s why you prob opted to go with a spinner with a background view behind it.
Maybe open repositoryViewController right away and have it load then? So it’s empty with the regular spinner rather than waiting on the previous page for the

[2018-10-14 13:46] AswinSSoman opened #2290 "Slingshot"
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.22.0 (1534395229)
Device: iPad7,5 (iOS 11.4.1)
TestFlight: false
</pre>
</details>

[2018-10-14 13:57] #2290 closed

[2018-10-14 13:58] rnystrom commented on #2247
Ya I almost think adding the ability to init a new repo VC without a branch would be good. Make it optional and the VC fetches it?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-14 14:09] Huddie commented on #2247
^^ yup

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-14 14:09] BrianLitwin commented on #2247
@Huddie  @rnystrom .. I'm fine with that.. only caveat is that after fetching the graphql info, graphql could return an error or "repo not found" and the process would like:
- user taps link
- segue to empty repo view controller
- fetch repo info
- fetch fails
- segue to safari view controller

An example of that is with our Apollo-codegen link.. the repo was renamed and GraphQL responds with "rep

[2018-10-14 14:14] j-f1 commented on #2247
You could present the Safari VC as a modal with a fade, then pop the repo view controller without animation once the Safari VC is completely visible.

[2018-10-14 14:15] Huddie commented on #2247
🤔 maybe an alert saying “repo not found, try opening in web” with a button that when clicked will redirect you? Or I guess you could just redirect them 🤷‍♂️

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-14 20:49] #1942 closed

[2018-10-14 23:16] ijm8710 commented on #2265
@Rnystrom were u able to test what I meant?

[2018-10-14 23:17] ijm8710 commented on #2274
@Rnystrom do u agree that there are render inconstancies? Should this ticket be reopened?

[2018-10-15 00:03] Huddie commented on #2265
@ijm8710 you should be able to set bg refresh to whatever you want in your fork

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-15 01:47] Huddie commented on #2289
Not happening to me. Which push note was it from? TestFlight or your personal build?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-15 01:54] Huddie opened #2293 "Preview needs padding on the left"
Previewing markup when writing comments seem to be missing some padding on the left side

Steps to repo:
- Tap the preview ( 👁 ) icon when writing a comment (or before, the placeholder will show the issue)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-15 01:59] rnystrom commented on #2289
TestFlight

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-15 02:10] ijm8710 commented on #2265
@huddie can you expand upon that..I’m saying that if you have bg set to work on wifi it won’t work on wifi...don’t think this is an edge axe but basically a major roadblock for notifcations

[2018-10-15 02:13] ijm8710 commented on #2274
@rnystrom that is not true. Look at the two images I upload in the op them and x-ref them vs my bulleted list 3 comments up

[2018-10-15 03:02] Huddie commented on #2265
@ijm8710 I’m saying if @rnystrom is busy and you want to test it out on different “settings”/frequency of bg refresh, you can do it in your personal fork of the repo (if you’ve forked it).

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-15 03:35] Huddie commented on #2265
@ijm8710 ah. Well if you test it and confirm your hypothesis please let us know.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-15 03:47] ijm8710 commented on #2265
I have confirmed!

[2018-10-15 03:47] ijm8710 commented on #2265
I’ve tested this religiously and it’s 100% @huddie

[2018-10-15 03:47] ijm8710 commented on #2265
That’s why I’m saying this is not an edge case

[2018-10-15 03:49] ijm8710 commented on #2274
@Huddie mind taking a look at this maybe can confirm if I’m crazy or accurate before I continue pushing harder with ryan

[2018-10-15 04:10] Huddie commented on #2274
1. Personally, even if this was an issue, I'd classify at as low-pri if I had that ability just because I think the markdown is rendering fine atm. I say this just because I'm suggesting it's not worth pushing Ryan in either case.
2. I don't think the markdown needs to be 1-1 with GitHub. Certain features I agree should be 1-1 but the spacing between bullets is not something I feel needs to be 1-1

[2018-10-15 04:17] Huddie commented on #2265
@ijm8710 the best I can suggest is:
1. Create a PR solving this which I’m sure will be accepted
2. Post an article or something that corroborates that bg-refresh’s cellular is different from bg-refresh on WiFi. To me it sounds interesting that something would work on cellular and not WIFI. I could see the opposite. Since this is a new feature (push notifications), I think there could be 100 things

[2018-10-15 05:30] ijm8710 commented on #2274
Agree and im not asking for priority I’m stating the ticket should be reopened as it’s still something that should be attended to at some point whenever that is. Yes some of these are minor but if you combine all 3 listed issues and compare he images I feel one loooks signicabtly more clean

[2018-10-15 06:17] rizwankce commented on #2265
@ijm8710 let me do some test on that.

I have never received any push notification so far from GitHawk. Also I have been using the app at least more than one time in a day.

[2018-10-15 12:41] ijm8710 commented on #2274
![GitHawk Upload by ijm8710](https://i.imgur.com/wZ8l4Tt.jpg)

* there is a line space between each bullet
* bulleted items should be indented slightly in by default but more importantly, align by text block and not the bullet
* based off this second item, the indentation of “-“ items should align with the text block for the bullet it’s contained in and not the bullet mark

My coding knowledge is

[2018-10-15 12:48] ijm8710 opened #2295 "Hashtag automcomoletion experience seems like it doesn’t fully index right (adding video momentarily)"

[2018-10-15 12:50] ijm8710 commented on #2295
https://streamja.com/MkEl

[2018-10-15 12:51] ijm8710 opened #2296 "Should there be option to edit title?"

[2018-10-15 12:52] #2296 closed

[2018-10-15 12:52] ijm8710 commented on #2296
Sorry, see this is dupe

[2018-10-15 13:00] ijm8710 commented on #2273
Question as it’s “semi” related. Is there, conceptually a way to unmark a marked item in your inbox as read to add back to active badge count.

[2018-10-15 13:04] rnystrom commented on #2295
Unfortunately we’re constructed to GitHubs search API here. It’s def not ideal, but unless someone has an alternative API we can’t improve it too much 😞

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-15 13:04] #2295 closed

[2018-10-15 13:19] ijm8710 commented on #2295
@rnystrom just did the same on desktop with their native api and don’t encounter the same experience? https://streamja.com/mnPK

[2018-10-15 21:35] j-f1 opened #2297 "Block reactions on locked issues"
Currently, attempting to add a reaction to a locked issue or one of its comments causes an error: “_username_ does not have the correct permissions to execute \`AddReaction\`.” This occurs even if you have write access to the repository.

To prevent the error from popping up, the 😃➕ button should be hidden, double-taps should do nothing, and tapping on the reaction emoji should do nothing if the i

[2018-10-16 02:47] BrianLitwin commented on #2263
From Issue:
&nbsp;
![ezgif com-video-to-gif 2](https://user-images.githubusercontent.com/26695477/46989536-6bc7e100-d0cb-11e8-9665-4b278088fda1.gif)

From deeper in view controller stack:
&nbsp;
![ezgif com-video-to-gif 3](https://user-images.githubusercontent.com/26695477/46989625-b6495d80-d0cb-11e8-8b0d-151e005b9260.gif)

[2018-10-16 03:02] Huddie commented on #2263
@BrianLitwin
1. Looks awesome
2. This also works on the repoIssueSectionController?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-16 03:03] Huddie opened #2298 "Push notification doesn’t mark as read"
Anyone else?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-16 04:32] rizwankce commented on #2251
We do have landscape expanded view so far. All the "Plus" devices support this landscape mode. Let me check as well

[2018-10-16 10:30] j-f1 commented on #2298
I can repro this too.

[2018-10-16 13:54] BrianLitwin commented on #2263
@Huddie I'm going to PR this w/o that feature ->  These labels are nested pretty deep in views and I want to make sure the communication patterns I'm using meet expectations first. Then adding that in will be easier.

[2018-10-16 14:59] Huddie commented on #2263
@BrianLitwin @rnystrom  I think clicking labels in repoIssueSectionController is the essential one just because that's where users are searching for issues and would want to to filter that search. Less likely someone will be nested deep somewhere are want to search by the label.
I know at first I suggested we redirect to search when clicking a label outside the repoIssueSectionController but I thi

[2018-10-16 15:07] ijm8710 commented on #2265
For some reason, this may be working on this beta version for bg-wifi. Not sure what has changed. Not sure if @rizwankce and @mesqueeb are starting to get them coming in as well as they weren’t before.

Out of curiosity, is the “intention” that if you’re in lower power mode, once you return to having bg, should the notifications that you missed in between be fetched to roll in or would it only be

[2018-10-16 15:50] j-f1 commented on #2263
How about pushing a new search controller when tapping on the label instead of popping back to the closest such controller? Combined with the ability to tap labels in the search results, this would better match GitHub’s behavior.

[2018-10-16 16:28] rnystrom commented on #2298
Can you explain the issue a little more? What is supposed to be read?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-16 16:29] rnystrom commented on #2251
The issue is that the other plus devices dont have notches (no left/right content inset) when landscape.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-16 16:40] j-f1 commented on #2298
When you tap a push notification, the issue/PR isn’t marked as read in GitHawk’s inbox view.

[2018-10-16 16:59] Huddie commented on #2298
Ya what @j-f1 said. Push notifications open you to an issue but even though that means you’ve read the issue, the issue still shows in the inbox

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-16 17:11] Huddie commented on #2263
🤷‍♂️ my suggestion would still be only the search vc has a clickable label and the others just show the label description or name. I think pushing may make more sense than popping but pushing could lead to a stack full of search vc's and issues vc's unless I'm understanding it wrong.

[2018-10-16 17:14] j-f1 commented on #2263
IMO that stack is expected since that’s how the browser version behaves. You can hit “back” multiple times to get back to the notifications, or the UI could be changed so the tab bar is always visible and users could click on the appropriate icon to get back to notifications.

[2018-10-16 17:30] Huddie commented on #2263
The browser though has certain traits that makes they reasonable. The main one being how do you get back out of the stack and back to the main app. Like you suggested we could move the tabbar to overlay. Seems like a bigger change that @rnystrom should weigh in on

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-16 18:43] ijm8710 opened #2299 "Been seeing this OAuth app access restrictions alert quite often"
- Just attempting to post a comment several times, I was rejected. Tried force quitting and restarting app and didn’t let it post. But, when posting the same comment in another third party GitHub app, it worked first try
- Have also seen this error message when closing and reopening an issue. At first I thought it was restricted access per the repo, but actually I was later able to close reopen su

[2018-10-16 18:47] ijm8710 commented on #2299
Digging around this may relate to #2165 and some others, but haven’t found a firm answer as to why in any of the. Again, worked flawlessly in another third party app, trying to post same comment so doubt its github related.

[2018-10-16 18:59] BasThomas commented on #2298
Yeah it seems to perform the route but the reading logic is [here](https://github.com/GitHawkApp/GitHawk/blob/508525d892f8817914027e87c965eeb3936c6970/Classes/Notifications/NotificationSectionController.swift#L82) which is probably not being hit via the route.

[2018-10-16 19:12] ijm8710 opened #2300 "When clicking on a comment-link it brings you to the OP and not the comment"
Here is an example:

Might potentially relate to #2247

[2018-10-16 19:17] ijm8710 opened #2301 "Searching by issues is non-chronological (confirmed this behavior is different from native)"
![GitHawk Upload by ijm8710](https://i.imgur.com/9mv9Ceo.jpg)

[2018-10-16 19:27] BasThomas commented on #2300
I think this is not supported yet.

[2018-10-16 19:39] BasThomas opened #2302 "Sign out only the current user"
**Describe the solution you'd like**
When you sign out, all user sessions are removed. It would be nice if it would only logout the current user session.

**Describe alternatives you've considered**
Leave it as-is.

**Additional context**
I didn't look at the implementation and wanted to make the button more user friendly by including the user that would be logged out... then I found out we log ou

[2018-10-16 19:42] BasThomas commented on #418
Somebody could take a look at this now we have routing in place :)

[2018-10-16 19:43] BasThomas commented on #1981
This still valid?

[2018-10-16 19:44] BasThomas commented on #1958
Fixed in #2255 right?

[2018-10-16 19:46] BasThomas commented on #1372
Guess we should close this?

[2018-10-16 19:47] j-f1 commented on #2301
Looks like the dates the issues were opened aren’t in reverse-chronological order.

[2018-10-16 19:47] BasThomas commented on #1426
Can we close this in favor of 1614?

[2018-10-16 19:48] BasThomas commented on #997
Nudge nudge 😉

[2018-10-16 19:49] BasThomas commented on #562
Is this still relevant now the Readme has expanded?

[2018-10-16 19:49] j-f1 commented on #2302
How about swiping left on the accounts to log them out using a similar UI to swipe-to-delete elsewhere on iOS?

[2018-10-16 19:51] BasThomas commented on #2105
Do you still want to do more investigating? This is an _awesome_ resource ticket by the way, maybe we should put it in a blog post of some sorts.

[2018-10-16 19:51] BasThomas commented on #2301
Oh right, #1840 is weird. 🤔

[2018-10-16 19:52] BasThomas commented on #2302
That's another option, but would make it harder to find how to logout, which I'm not sure is a tradeoff we shoud make.

[2018-10-16 20:09] ijm8710 commented on #2301
Yeah this is moreso a “bug” than a question. Can we set tags-in-app btw?

[2018-10-16 20:11] BasThomas commented on #2301
Yes, if you have access via the Options button (lower right in an issue/pull request, blue with three horizontal lines)

[2018-10-16 20:13] ijm8710 commented on #2301
@BasThomas thanks I only have close reopen access. Is this basically a mod (or whatever GitHub terms it) feature?

[2018-10-16 20:15] BrianLitwin commented on #2301
I've noticed this before in the GraphQL api, sometimes you can't count on the issues being sorted chronologically. Easy to repro:

<img width="299" alt="screenshot 2018-10-16 16 10 21" src="https://user-images.githubusercontent.com/26695477/47044604-a6c72480-d15e-11e8-9d9a-34786a033d34.png">

@BasThomas Is this worth a quick PR to sort them after they're fetched?

[2018-10-16 20:20] BasThomas commented on #2301
I think that makes sense, yep :)

[2018-10-16 20:21] BasThomas commented on #2301
Oh that is just GitHub.

[2018-10-16 20:31] ijm8710 commented on #2301
@BasThomas not following 🙈

[2018-10-16 20:42] BasThomas commented on #2301
Yes, because you're not a member or owner of the GitHawk organization.

[2018-10-16 20:48] ijm8710 commented on #2301
@BasThomas gotcha last question, is that user-joinable any time or must it be approved or granted; by “admins”

[2018-10-16 21:12] BasThomas commented on #2301
@rnystrom can help you out I think :)

[2018-10-16 22:12] Huddie commented on #2299
Ya, same issue as #2165 most likely

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-16 22:16] Huddie commented on #2301
@BasThomas Not sure it’s for members. I’m a member and I can only open and close issues in which I’ve created. Otherwise no manager button. Maybe different member levels or something

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-16 22:19] Huddie commented on #2302
I think @j-f1 suggestion is fine. We can have logout where it currently is as a universal logout (logout of app) and the under accounts you can logout of individual accounts. If you logout of all accounts in the accounts page, it auto logs out of the app

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-16 22:51] BasThomas commented on #2301
I guess we shouldn’t close until it gets merged?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-17 01:48] #2301 closed

[2018-10-17 01:49] #1606 closed

[2018-10-17 02:05] #997 closed

[2018-10-17 02:05] #562 closed

[2018-10-17 02:05] #1426 closed

[2018-10-17 02:06] rnystrom commented on #2299
Closing as seems like a dupe

[2018-10-17 02:06] #2299 closed

[2018-10-17 02:07] rnystrom commented on #2105
Closing since what I built solves the problem. Agree, this could def be a blog post along w/ where we landed!

[2018-10-17 02:07] #2105 closed

[2018-10-17 02:07] #1958 closed

[2018-10-17 02:08] #1981 closed

[2018-10-17 02:14] rnystrom commented on #2298
Oh now I understand. If you have this enabled in settings, it'll work. But otherwise, it doesn't mark read unless you do it from the inbox.

Would you expect this to work as if you marked it read from inbox?

[2018-10-17 02:19] rnystrom commented on #2273
@ijm8710 Sadly there's not 😢 I wish there were so I could unmark things

[2018-10-17 02:19] #2273 closed

[2018-10-17 02:34] rnystrom commented on #2247
@BrianLitwin so V3 handles the rename but GraphQL doesn't?

[2018-10-17 03:51] mesqueeb commented on #2265
I can confirm that on the latest beta and the one before that I think I now successfully receive notifications. I truly love GitHawk now and cannot live without it anymore.

[2018-10-17 04:07] ijm8710 commented on #2165
@rnystrom since we closed my issue ticket today, do you have any idea what may cause it.

Also expanding on op that I’ve received this error when:
- Posting comments
- Opening/closing tickets

[2018-10-17 04:09] ijm8710 commented on #2301
@rnystrom thanks to @BasThomas for filing supposed fix, but intermittently I saw him tag my post as he’s done others. Curious, is this tagging ability allocated to just super-users essentially?

[2018-10-17 04:11] ijm8710 commented on #2295
@rnystrom mind watching the video when you get a chance. I do think this is legit issue that should at least be open

[2018-10-17 04:12] ijm8710 commented on #317
@rnystrom no rush, but since you closed my ticket for this, curious is this active? Like no rush at all but curious if this is a focus currently by any developing users

[2018-10-17 04:13] ijm8710 commented on #2274
@rnystrom sorry for the tag, last one. Did my last comment shed any additional light. I think my second bullet in last comment at the very least is legitimate

[2018-10-17 04:34] BasThomas commented on #2301
@Huddie pretty sure it is, as there’s only members and owners.

@ijm8710 so you’d have to be a member or owner to do that.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-17 04:48] ijm8710 commented on #374
Is there any roadmap to add a open/closed toggle. #287 is closed itself

[2018-10-17 04:50] ijm8710 opened #2305 "Would be cool to have a show in github link that opens in-app browser of the item you’re on from the middle-top dropdown"
Currently the only methods are to open directly to safari or to open repo home and the have to navigate to specific ticket again

[2018-10-17 05:25] BasThomas opened #2306 "Blog about routing library evaluation and our "solution""
See https://github.com/GitHawkApp/GitHawk/issues/2105#issuecomment-430376007

[2018-10-17 06:14] ijm8710 commented on #1924
Would love this as well

[2018-10-17 06:38] BasThomas commented on #213
Do we have this now?

[2018-10-17 06:39] BasThomas commented on #254
Do we not have this?

[2018-10-17 06:40] BasThomas commented on #273
Closing as we no longer use a swipe action for this.

[2018-10-17 06:40] #273 closed

[2018-10-17 06:40] BasThomas commented on #351
We have this now?

[2018-10-17 06:40] #351 closed

[2018-10-17 06:42] BasThomas commented on #512
Think this can be closed at this point ^^

[2018-10-17 06:42] BasThomas commented on #697
Think we have this now?

[2018-10-17 06:43] BasThomas commented on #745
I should check if this is still happening.

[2018-10-17 06:44] BasThomas commented on #895
This still an issue?

[2018-10-17 06:44] BasThomas commented on #918
This is in

[2018-10-17 06:44] #918 closed

[2018-10-17 06:46] BasThomas commented on #1282
This is there now

[2018-10-17 06:46] #1282 closed

[2018-10-17 06:47] BasThomas commented on #1282
FYI @christianselig we're using [this library](https://github.com/BasThomas/ImageAlertAction) that I open sourced.

[2018-10-17 09:01] rizwankce commented on #2265
I did some test from my side and I started receiving push notifications now.

Looks like os decides the frequency of fetch based on the app usage. I was able to get push on both wifi and mobile data.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-17 09:15] rizwankce commented on #2251
Ah make sense! The probably ios 12 thingy. I'll check when I'm free.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-17 11:17] Huddie commented on #2301
@BasThomas So there must be different levels within those 2 groups. Cause I’m certain I can only open and close my own issues and I’m pretty certain I’m a member. So I guess within the member section there are different levels

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-17 13:18] ijm8710 commented on #2265
@rizwankce was yours working on just bg-wifi as well or being on wifi for bg-always. It’s super inconsistent for me right now

[2018-10-17 13:54] BrianLitwin commented on #317
@ijm8710 The most recent conversation is happening over in #2106

[2018-10-17 14:03] rizwankce commented on #2265
@ijm8710 I have selected "WiFi & Mobile Data" in Settings and was able to receive notifications on both WIFI and Mobile data today.

[2018-10-17 14:05] rnystrom commented on #2301
Ya folks added to the org are just members. @BasThomas is an admin. BUT I’d def like all members to be able to run the project. Let me look into that ASAP

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-17 14:05] rnystrom commented on #2251
We probably want to disable asserts in IGListKit when debugging this too, it gets pretty annoying ha

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-17 14:07] rnystrom commented on #895
Nope!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-17 14:07] #895 closed

[2018-10-17 14:08] rnystrom commented on #745
It adds them now

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-17 14:08] rnystrom commented on #697
I never landed it 😞 I’ve been thinking about refactoring all the client stuff to be a protocol so a unit test or UI test can swap in its own stub

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-17 14:09] #512 closed

[2018-10-17 14:09] #254 closed

[2018-10-17 14:09] rnystrom commented on #213
Nope not yet, comments only appear after successful send (spinner over button)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-17 14:10] rnystrom commented on #2306
Can we move this to the blog repo?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-17 14:11] rnystrom commented on #2305
Would this be adding the same functionality that’s in the share sheet but for in-app?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-17 14:13] rnystrom commented on #2274
Ya makes sense, but i don’t think chasing these nit picky spacing issues adds a ton of value over how it works today tbh. I’d rather us all spend time on impactful features/fixes.

But that’s why the project is open source. Everyone has the power to make changes they feel strongly about!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-17 14:14] ijm8710 commented on #2305
Exactly. If you feel that’s not necessary  feel free to close (won’t pushback as much on this ticket :) ) but I’m a big in-app fan and it relates to the other two options you have in the middle of the top bar

[2018-10-17 14:16] rnystrom commented on #2295
I’m saying we limited by the API, and there’s only so much we can do. GitHub controls the API and doesn’t provide any ranking coefficient to my knowledge, so the best solution would be to concoct a ranking algorithm or extra search queries on the client which makes everything more complicated.

As a rule of thumb, GitHawk is bound to the APIs available. Only rarely would I advocate stretching and

[2018-10-17 14:16] rnystrom commented on #2165
I don’t and haven’t had time to investigate. Would love someone’s help here.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-17 14:20] BrianLitwin commented on #2247
@rnystrom yes that seems to be the case that it works w/ v3 but not GraphQL.

[2018-10-17 14:32] ijm8710 commented on #2165
@Huddie testflight

The failure to post a comment is this newest one “...7256” and was prosecuted on this repository

And the close reopen auth error was the testflight build right before it “...0019” and was produced in the cr-api-ux repository

Both issues have worked at other times in the same exact repository so it’s not restricted permissions

[2018-10-17 14:40] rnystrom commented on #2247
I'll try to file an issue w/ GitHub on this

[2018-10-17 14:41] rnystrom commented on #2305
I'm impartial, but I'd prefer we only open links one way throughout (in-app or external). If there's someone that wants to own this that's fine.

[2018-10-17 14:48] BrianLitwin commented on #2247
Haha @rnystrom  if you/they want a test case to copy/paste in the [GraphQL Explorer](https://developer.github.com/v4/explorer/):

[code]
[code]

[2018-10-17 15:14] BasThomas commented on #2306
Oh right that’s a thing now.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-17 15:15] #745 closed

[2018-10-17 15:16] BrianLitwin commented on #697
@rnystrom @BasThomas or any Upperclassmen:

I've tried subclassing the [Client](https://github.com/GitHawkApp/GitHawk/blob/22ab3fbf19d47dc11c010247630e56ae4a4fa516/Local%20Pods/GitHubAPI/GitHubAPI/Client.swift#L26), I've tried moving the request methods into a protocol:

<details><summary>ClientRequestPerformer</summary>

[code]
</details>
<br />

I'm not able to test anything using either strateg

[2018-10-17 15:19] ijm8710 commented on #2106
This is all really cool. Thanks for tagging this ticket @brianlitwin

No rush at all, but goal would be to have pulse activity for both user (including perhaps a feed devoted to just posts and comments) and repository

[2018-10-17 15:22] ijm8710 commented on #374
@rnystrom what were your thoughts on the value of tabbed or toggle options between open/close. As is I have to retype the word closed on the default open identifier. Saw in a chain you intentionally leaned primitive to start, but curious if you see value to polishing that or if you prefer to keep as is.

[2018-10-17 16:21] rnystrom commented on #374
Ya I’d love at the very least a form or picker to make this easier. Right now it works but you have to know how to do all the filters.

It’d be cool to have like a filter icon/button in the bar. Tap it and we show a context menu form with all the options where you can select and enter all sorts of stuff (labels, status, etc) and maybe a link to GitHub search documentation for more advanced stuff.

[2018-10-17 17:41] BasThomas commented on #2306
Doesn't have issues 😭

[2018-10-17 18:19] BasThomas commented on #697
Does it? Cocoapods works for us at work (it didn't use to until the last beta)

[2018-10-17 20:28] rnystrom commented on #2306
Oh lol, I’ll turn that back on

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-17 20:30] rnystrom opened #2307 "Reopen menu item should be green"
![GitHawk Upload by rnystrom](https://i.imgur.com/7j7UcsW.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1539742783)
Device: iPhone X (iOS 12.0.1)
TestFlight: true
</pre>
</details>

[2018-10-17 23:01] drewvolz opened #2308 "Read layer does not fully expand in horizontal notification cell"
**Describe the bug**

I think the width of the `readLayer` for `NotificationCells` is not being recalculated on rotation.

**To Reproduce**

If you have notifications, you can use the inbox view. Otherwise...
1. Tap on the `...` menu in the top left corner
2. Tap the `View All` button
3. Rotate the view from portrait to landscape
4. Notice the layer not being drawn to the full width of the cell

*

[2018-10-17 23:19] Huddie commented on #2308
Nice eye

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-18 19:20] BasThomas commented on #2183
I'm leaning towards this now. Should I create a new issue in favor of this one?

[2018-10-18 19:47] ijm8710 commented on #2183
Are there any other keyboard supports that should be added as well such as numbering or quoting?

[2018-10-18 23:51] rnystrom commented on #2308
Bummer! Good find.

[2018-10-19 01:34] #2307 closed

[2018-10-19 01:34] #2308 closed

[2018-10-19 11:47] j-f1 opened #2313 "Shorten and linkify commit hashes"
Example comment: https://github.com/MichaelMure/git-bug/issues/69#issuecomment-430811694

On GitHub.com, the hash in the comment is converted to `code`, truncated to a smaller length, and linked to the actual commit.

Can GitHawk do this too?

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1539742783)
Device: iPhone 8 (iOS 12.0.1)
TestFlight: true
</pre>
</deta

[2018-10-19 18:02] Eduardo1000 opened #2315 "Gggg"
Jjj

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-19 18:04] BrianLitwin commented on #2289
I had a TestFlight issue where I opened a push notification, took me to notifications view controller, and was getting the same behavior: the cell highlighted but no view was pushed. This was actually the case in all four view controllers in the app: the tap actions would highlight a cell (or in the case of recent searches, would re-order the rows), but no view was pushed. Even in the Settings Vie

[2018-10-19 19:42] #2315 closed

[2018-10-19 22:56] rnystrom commented on #2313
Is there a regex rule for commit hashes?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-19 22:57] rnystrom commented on #2289
So that is REALLY bizarre. Sounds like the same issue. I wonder if something is happening with the split VC?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-20 00:11] j-f1 commented on #2313
Yes, but unfortunately it’s `[\da-f]{7,40}`. You’d then have to check matching strings to see if they correspond to a real commit (on the plus side, if a commit is found, the SHA can be cached indefinitely). As a start, truncating and linkifying the 40-character ones would make them a lot easier to read.

[2018-10-20 00:55] BrianLitwin commented on #2054
If we could settle on a UI, could PR this. Seems important that if we let users create issue titles, they should be able to edit them too.

[2018-10-20 01:33] rnystrom commented on #2054
@BrianLitwin how about:

- New item in manage button
  - Manage button appears if you can make updates, which would include editing title
  - Use [pencil icon](https://octicons.github.com/icon/pencil/)
  - "Edit Title"
- Show some sort of editing control
  - If we want to be really fancy... a new ContextMenu control with a text box. Focus keyboard on appearance. Done & cancel button.
  - For a qui

[2018-10-20 01:52] benguild opened #2316 "Tapping “source code wrap” button permits quotes in code to be changed to curly quotes"
I pasted some code into a comment and tapped the code wrap button for backticks, but the quotes all flipped.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.22.0 (1534395229)
Device: iPhone X (iOS 12.1)
TestFlight: false
</pre>
</details>

[2018-10-20 03:31] rnystrom commented on #2316
Can you give us some steps on how exactly to reproduce this?

[2018-10-20 03:33] benguild commented on #2316
Just paste in something like this:
[code]

Highlight it, then press the `</>` button. If it doesn't do it, highlight it again and do it again, or enter some text around it and try it again.

[2018-10-20 13:15] BasThomas commented on #2289
Only iPad then? Seems a logical please to look at next.

[2018-10-20 13:18] BasThomas commented on #2316
Can you check if you have Smart Punctuation turned on in Settings > General > Keyboard?

[2018-10-20 13:40] ijm87102 commented on #2265
Testing just to confirm that this is still working better :)

[2018-10-20 13:59] rnystrom commented on #2289
iPhone for me

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-20 14:07] ijm8710 commented on #2265
@rnystrom hopefully last time I ever tag you on this thread. I think the bg-wifi bg-always thing is no longer an issue, but hey I wasn’t the only one-Mesqueeb and rizwankce had issues as well that fixed themselves at same time

Revisiting the last useful piece from this thread, I do think an alert that if you have low power mode enabled, notifications will not come (as bg is completely off) would

[2018-10-20 14:11] rnystrom commented on #2265
I did add these introductions to the new settings info button. Let’s see if anyone has as much trouble with notifications before doing much more.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-20 14:11] #2265 closed

[2018-10-20 14:25] ijm8710 opened #2318 "Should reaction user popup direct to user profile"
Also, based off #2270, should determining who left the reaction stay as long press, or can it be tap (would need slight adjust not to conflict)

[2018-10-20 14:35] rnystrom commented on #2318
Tapping the reaction already adds or removes that reaction, similar to GitHub.com

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-20 14:46] ijm8710 commented on #2318
Cool was just making sure bc of how you made obtaining those info graphics a tap in the app but yeah makes sense

What are your thoughts on the identifier pop ups linking to profiles

[2018-10-20 15:16] BasThomas commented on #2318
That would have to wait until we support profiles.

[2018-10-20 15:44] ijm8710 commented on #2318
@BasThomas true I mean moreso mobile redirect similar to what happens if I click your username at top left of comment

[2018-10-20 16:20] drewvolz opened #2319 "Discussion: Remove "Review GitHub Access" button on inbox"
**Is your feature request related to a problem? Please describe.**

I am puzzled that there are two locations to review GitHub access within GitHawk. The first location is within the Settings tab within the app, and the second is on the empty inbox view. My issue is in thinking that it does not belong on the inbox view.

**Describe the solution you'd like**

What I would like to see is for https:/

[2018-10-20 17:15] ijm8710 commented on #2319
Stating opinion that I would disagree. I feel
the one in settings is there in general, the one in inbox only appears with no notifications and serves as a double check on why you may not be getting them.

[2018-10-20 17:56] drewvolz commented on #2319
Thanks for the feedback and context, @BrianLitwin, and for taking on tweaking the constraints. A self-help feature for this sounds very much worth exploring — I also like that workflow you mentioned for the Push Notifications context menu.

[2018-10-20 18:37] rnystrom commented on #2319
Had an idea over the weekend to replace the text with a “Missing notifications?” button. Tapping it brings up a menu with debug options like reviewing access, checking .com notifications, and finally filing an issue.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-20 18:38] rnystrom commented on #2318
We’d have to refactor the menu control to use something else (maybe context menu).

I think this feature would have lower value-add vs other things folks are working on.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-20 19:10] drewvolz opened #2320 "Discussion: Syntax highlighting"
I am noticing a significant delay in the UI when opening a large file during syntax highlighting. Currently the UI is frozen until we’ve finished.

My example is GitHawk’s API file [gql/API.swift](https://github.com/GitHawkApp/GitHawk/blob/master/gql/API.swift)

I’d be interested to see what could be done to allow for the task to be cancellable or in the background — to allow for the user to conti

[2018-10-20 20:11] drewvolz commented on #2320
That's a good question. I've experimented with removing the highlighting and simply loading the `gql/API.swift` file as vanilla text and it seems to come up quickly. That's why I'm pointing a finger at the highlighter.

[2018-10-20 20:47] rnystrom commented on #2320
Should only take a quick Time Profile to figure out what the culprit is.

[2018-10-20 20:54] rnystrom commented on #2320
Yup its Highlightr and its running on the main thread. Might be able to just move this to a bg queue and call it a day.

[2018-10-20 21:51] rnystrom commented on #2316
Doesn't repro for me

![simulator screen shot - iphone xs - 2018-10-20 at 17 49 38](https://user-images.githubusercontent.com/739696/47260835-aac1b200-d490-11e8-8e9f-eb2de6b86393.png)

![simulator screen shot - iphone xs - 2018-10-20 at 17 50 03](https://user-images.githubusercontent.com/739696/47260838-b1502980-d490-11e8-9b8f-3e3f06c746f1.png)

![simulator screen shot - iphone xs - 2018-10-20 at

[2018-10-21 01:38] benguild commented on #2316
@rnystrom I think the quotes are already angled in your screenshots.

[2018-10-21 01:39] benguild commented on #2316
@BasThomas Yes, "Smart Punctuation" is enabled as it's generally the default, no? I had an issue with this on a macOS editor once but they were able to resolve it without affecting other word processors/text input except when dealing with code, and this is probably the way to go.

[2018-10-21 02:09] rnystrom commented on #2316
I haven’t changed my kb from the factory setting 🤷‍♀️

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-21 02:14] j-f1 commented on #2313
Aha: GitHub has [an API](https://developer.github.com/v3/markdown/) for rendering Markdown.

[2018-10-21 02:16] j-f1 commented on #2313
There’s also a way to get GitHub to send you the HTML for a given comment.

[2018-10-21 04:47] BasThomas commented on #2316
I mean we can get a reference to the text, then reiterate over it and replace previously normal quotes that became angled quotes with normal ones if they are within a code block?

That sounds like a lot of effort though. 😛

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-21 09:00] BasThomas commented on #430
We can do this with the new beta invite link :)

[2018-10-21 09:06] BasThomas commented on #441
The first one does not work (anymore) as the repository has been moved to the organization. GitHub itself reroutes it. Can we do that too?

[2018-10-21 09:07] BasThomas commented on #434
We have this now

[2018-10-21 09:07] #434 closed

[2018-10-21 09:09] BasThomas commented on #605
This is done

[2018-10-21 09:09] #605 closed

[2018-10-21 09:10] BasThomas commented on #558
Does focus search bar now, but does not pop any modals (eg. new issue). Not sure if that's expected? If so, this can be closed.

[2018-10-21 09:11] BasThomas commented on #790
These now show

[2018-10-21 09:11] #790 closed

[2018-10-21 09:13] BasThomas commented on #938
Is this still an issue?

[2018-10-21 09:18] BasThomas commented on #1677
This works now

[2018-10-21 09:18] Sherlouk commented on #938
Wasn't intentionally what this issue was for, but Ryans comment above viewed in the app is pretty broken (stops parsing mid way through)

Think this issue is still around too, because we don't close off any open HTML tags the JS at the bottom can't get run which means images, height calculations and preventing selection don't work

[2018-10-21 09:52] BasThomas commented on #938
Oh lol 🤣

[2018-10-21 10:06] benguild commented on #2316
I'm not sure but regardless it seems like smart punctuation is going to cause problems on macOS or iOS when dealing with files that are code or in markdown with embedded code.

[2018-10-21 11:02] j-f1 commented on #2313
Could you use NSAttributedString to convert the HTML to a native string?

[2018-10-21 11:30] rnystrom commented on #2313
That uses a WebKit underneath and has to be done on the main thread.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-21 11:32] #558 closed

[2018-10-21 11:59] rnystrom opened #2328 "Clear push notification when opening issue"
When you open an issue just from inbox, we should clear the OS notification.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1540088759)
Device: iPhone X (iOS 12.0.1)
TestFlight: true
</pre>
</details>

[2018-10-21 12:49] Huddie opened #2329 "Navigation bar title resize"
When opening a view who’s navigation bar title is:

Organization/User
Repo

The text starts at one font size and then shrink (quickly) to a smaller text size. I’ll try getting a gif if nobody can see this on their own.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-21 12:51] Huddie opened #2330 "Display commit history details in app"
Great new list of all commits! But each cell opens to github. I’m pretty sure this was by design as a mvp for commit history but just want to make an issue to track it.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-21 12:58] Huddie opened #2331 "Navigation bar title not displaying properly"
Could be related to my previous post #2329 but it seems the label size for navigation bar is small.

![GitHawk Upload by Huddie](https://i.imgur.com/x8nQcYH.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-21 13:04] BasThomas commented on #2329
Yeah I saw this too

[2018-10-21 13:43] rnystrom commented on #2330
Yup exactly. Commit details will be a meaty chunk.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-21 13:44] rnystrom commented on #2329
Ah I see it too. Closing as #2331 is the same bug

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-21 13:44] #2329 closed

[2018-10-21 13:46] rnystrom commented on #441
Also these links aren’t shortened anymore 🤔

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-21 14:19] Huddie opened #2332 "Filter by label 🏷 in PR not opening properly"
If you look at a PR with a label, clicking on the label opens the issues list filtered on that label. It should open a PR list filtered on that label.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-21 14:47] BasThomas commented on #441
Oh I think that might be because I put them in a list

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-21 14:47] BasThomas commented on #441
https://github.com/rnystrom/GitHawk/issues/441
`https://github.com/rnystrom/GitHawk/issues/441` (Should go to the issue)

https://github.com/rnystromtest/Githawk-Playground/issues/2
`https://github.com/rnystromtest/Githawk-Playground/issues/2` (Should go to the issue)

https://github.com/rnystrom/GitHawk
`https://github.com/rnystrom/GitHawk` (No shorthand; Should navigate to the repository view)

[2018-10-21 14:52] BrianLitwin commented on #441
Looking [here](https://github.com/GitHawkApp/GitHawk/blob/master/Classes/Issues/Comments/Markdown/CMarkParsing.swift#L45), the shorlinkInfo method works fine; the context.inLink flag is false tho on all of them.

They also all have leading spaces: `" https://github.com/rnystromtest/Githawk-Playground/issues/2" ` when you print them?

[2018-10-21 16:16] j-f1 commented on #2318
What about putting each username in its own cell in the existing popup view and redirecting when the user taps on the username?

[2018-10-21 16:28] BrianLitwin opened #2333 "Multiple word labels need quotes in query"
Found this looking at #2332 - label queries need quotes around them if they're more than one word, eg `"Good first issue" ` needs to be in quotes.

[2018-10-21 16:30] j-f1 commented on #2330
Once this gets implemented, it should also get connected to commits in PRs.

[2018-10-21 17:28] Huddie commented on #2333
Ah that makes sense. Nice catch!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-21 18:53] #2332 closed

[2018-10-21 20:03] #2331 closed

[2018-10-21 20:14] #2328 closed

[2018-10-21 20:29] Huddie commented on #2263
@BrianLitwin Why would we push? I think it should just edit the current search.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-21 20:34] BrianLitwin commented on #2054
Anybody have strong thoughts on light or dark background for this? I'm thinking try to make work with a dark bg since every other ContextMenu in the Manage menu is dark.

[2018-10-21 20:40] rnystrom commented on #2054
Actually think light would be better for text editing, but def open to see it as light (hopefully not hard to change either way)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-21 20:42] BrianLitwin commented on #2263
@Huddie You're right, we could do it that way too. Specifically, I was thinking that it would be easier to return to the default state of the RepositoryIssuesVC by pressing back from the Pushed VC, than by editing the search bar. That might not be a great assumption tho.

[2018-10-21 20:55] Huddie commented on #2263
🤔 ya it’s tough to nab both the expected result of updating search bar, but also giving a quick way to revert. I still feel that expected behavior of filling in the search rather then pushing a whole new VC makes more sense. Otherwise we are pushing a new vc that’s exactly the same with one difference, the text. 🤷‍♂️. Maybe a clear labels button or something to make removing labels from the search

[2018-10-21 20:58] Huddie commented on #2330
@rnystrom Should this be 2.0 Milestone? So we can keep track of it?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-21 21:04] Huddie opened #2337 "Unknown merge status until refresh"
It’s happens often that I’ll check an open PR and see the PR status is `unknown`. I pull to refresh and the status is updated to its proper status.
What’s the reason this is happening?
Are we making multiple queries and only one is returning where the second is late? The status is obviously known at the time I open the PR.
If we are making 2 queries, can we update when the second one returns inste

[2018-10-21 21:05] Huddie commented on #2337
Oh sorry, we don’t display conflict status, we only display tests on the list view. So forget that suggestion.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-21 21:05] rnystrom commented on #2337
This is the actual response from the API. It's b/c there has been a recent change and GitHub isn't sure if there can be a clean merge. You can see this in the .com UI by opening 2 PRs in 2 tabs, merge one then go to the other. It'll flash w/ an error before refreshing.

I've been thinking about how to fix this, but honestly the only thing I could suggest is if the status is unknown, dispatch after

[2018-10-21 21:06] rnystrom commented on #2330
I haven't really been tracking milestones for a while

[2018-10-21 21:09] Huddie commented on #2337
@rnystrom ah. So let me just make sure I fully understand. Once I open the PR and it updates, everyone after me will see proper status. It just requires someone to open the PR so it will check for conflict. (After each change)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-21 21:10] Huddie commented on #2330
Oh. Well then never mind lol

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-21 21:14] rnystrom commented on #2330
Not really 😞 I'd love for someone w/ a PM to help out w/ that. Only so much I can do.

[2018-10-21 21:14] Huddie commented on #2337
If that’s the case, no status is ever unknown so I don’t think it’s that bad to switch unknown with “checking” (similar to github) and maybe ping github after a second and after 5 seconds to see if the status has changed.

If changed ~> update
If not changed ~> display, “unknown status, pull to refresh” (or tap to refresh?)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-21 21:15] rnystrom commented on #2337
Yup

[2018-10-21 22:22] ijm8710 commented on #2272
Yes!!!! This would be huge. I love how the inbox tab lists summarized activity that I’ve missed in repos I follow but would love to only get notifications for threads I’ve participated in. This and the ongoing work in #2106 are the two things I would most love to see!!

+1

[2018-10-22 03:54] ijm8710 opened #2341 "Permissions issue when visiting any issue ticket in any repo"
Ignore I think site is just down

[2018-10-22 04:00] jdmarshall90 opened #2342 "Feature request: clone repo in Working Copy"
Working Copy appears to have x-callback-url support for this

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-22 04:19] #2341 closed

[2018-10-22 05:30] BasThomas opened #2343 "“Issue can not be found” has no failure haptic"
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1540088759)
Device: iPhone X (iOS 12.0)
TestFlight: true
</pre>
</details>

[2018-10-22 12:00] #2293 closed

[2018-10-22 12:35] rnystrom commented on #2343
Do the other errors have haptics?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-22 12:36] rnystrom commented on #2342
Love it! Could fit this in the “...” bar item

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-22 12:55] BasThomas commented on #2343
Not sure

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-22 13:06] rnystrom commented on #2343
Just wondering where this issue comes from, like if it’s there in others but missing here. Should keep everything consistent.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-22 13:07] j-f1 commented on #2343
Yes they do.

[2018-10-22 13:09] j-f1 commented on #2343
Try 👍ing prettier/prettier#4881.

[2018-10-22 16:34] ijm8710 commented on #2341
@rnystrom super weird, why does this not show as a closed issue in the app? I don’t see it at all

[2018-10-22 16:37] ijm8710 opened #2345 "Override keyboard to begin filter query with lowercase"
Filters such as is:open do not work if started with uppercase text. I’ve seen keyboard overrides that force full-caps, do you see feasibility in overriding keyboard to begin lowercase. Assuming it’s a relatively quick fix but extremely useful as majority of the time I type a query and have to double-check why I’m getting no results

[2018-10-22 20:11] BrianLitwin commented on #2054
I'm all ears if anybody has UI suggestions! This is what is currently looks like:

<img width="287" alt="screenshot 2018-10-22 15 53 31" src="https://user-images.githubusercontent.com/26695477/47315554-eb493900-d612-11e8-9ad9-0dd8d68b753f.png">

[2018-10-22 20:17] BrianLitwin commented on #2054
# Video:

![ezgif com-video-to-gif 4](https://user-images.githubusercontent.com/26695477/47316466-349a8800-d615-11e8-9440-21196b66c554.gif)

<br>
<br>

I'm trying to get it to scroll to the top after the contextMenu dismisses; it looks a little weird doing it w/  `feed.collectionView.scrollToTop(animated: true)`.

also, this is all what I'm doing w/ the UITextView right now:

[code]

Open to sugge

[2018-10-22 21:01] rnystrom commented on #2054
Amazing!! Small feedback: can it be shorter? Like 120 points or something

And to inset the text view use `textContainerInset`

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-22 21:02] rnystrom commented on #2345
Quick q: the “is” can’t be caps or the search term? We should probably just lowercase the whole query.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-22 22:29] ijm8710 commented on #2054
- By shorter did that mean not as tall because if so I agree
- will all users have access to edit title functionality, assuming they created the post. I lack access to similar functions like applying tags to my own posts, which I believe I can do in codehub
- video doesn’t load in githawk, does find in codehub. Is that a githawk issue?

[2018-10-23 02:28] BrianLitwin commented on #2054
I set that to collaborators being allowed to edit - I probably need a viewerCanUpdate flag as well

my screen recording to .gif workflow is weak, taking suggestions, the gifs are always choppy when I look at them on the app. Are there better ways to share video in comments?

[2018-10-23 02:30] Huddie commented on #2054
Would be cool if GitHub did video ~> Gif for you .. but that’s a unrelated to GitHub feature

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-23 03:56] ijm8710 commented on #2054
@BrianLitwin would I be considered a contributor or a collaborator. IMO, if I create an issue, I should be able to edit a title of that self-created post regardless of my role.

As it’s semi related, I feel the same for post tags as well. I believe in codehub I can create posts in certain repos and apply a post tag from the start (should be able to modify for your own posts as well) but I’ve never

[2018-10-23 10:16] j-f1 commented on #2054
I don’t think GitHub will allow you to change labels on an issue if you don’t have push access to the repository. However, it will let you change the title of your issue.

[2018-10-23 10:19] j-f1 commented on #2297
@vvolodin why the 👎?

[2018-10-23 11:42] #430 closed

[2018-10-23 13:20] ijm8710 opened #2347 "Would be nice to have a recent history (above recent searches perhaps)"
Eased access to revisit a recently view issue ticket, perhaps if you want to reclarify, comment, or edit.

[2018-10-23 13:28] ijm8710 commented on #2274
@rnystrom more markdown formatting weirdness. I know you considered the earlier reports insignificant, but not sure where you draw the line as this new item is def incorrect rendering.

https://github.com/RoyaleAPI/cr-api-ux/issues/357#issuecomment-5

^in githawk it renders the numbers as 1 and 1, while on github it renders as 1 and 2 (intended)

I actually just stumbled upon #2129 which coinciden

[2018-10-23 14:04] palmin commented on #2342
The most suitable url to use is probably

    working-copy://show?remote=https%3A%2F%2Fgithub.com%2Fgit%2Fgit.git

that shows the given repository inside Working Copy if already cloned and will otherwise show a cloning dialog.

[2018-10-23 15:54] Sherlouk commented on #2342
Will need to make sure we use can open to make sure the user actually has WC installed too (just a reminder)

[2018-10-23 15:58] ijm8710 commented on #2149
Would love this as well

[2018-10-23 16:49] ijm8710 commented on #846
This is implemented correct?, especially since the one edge case is filed separately in #859

@rnystrom would you like occasionally pointing out of tickets marked “open” that are already implemented and awaiting a close so that the open issues list is cleaner and more reliable. Could do a few every so often which should eventually get you to a pseudo-inbox zero. If you’d rather I didn’t do this an

[2018-10-23 23:28] Sherlouk opened #2349 "Handle PR "Suggestions""
Seems to be a new feature going through a beta?

Example here: https://github.com/GitHawkApp/GitHawk/pull/2348#discussion_r227598718

The actual body comes through like this: (So the app handles it alright but we can do better!)

[code]

[2018-10-24 10:50] j-f1 commented on #2349
The original line to diff with is currently the line the comment is attached to.

[2018-10-24 15:20] BrianLitwin commented on #2247
just to track my thinking/progress on this:

the repoDetails object that a RepoViewController needs to initialize is:

[code]

If we recognize a url that looks like a repository url in the markdown of a README, we can get `owner` and `name`. Now we want to push a `RepositoryViewController` instead of linking to a safari webview.

`RepositoryViewController` currently looks like:

[code]

So I'm hes

[2018-10-24 17:35] BrianLitwin commented on #1159
If we were going to cache branches, would this meet expectations:

[code]

[2018-10-24 18:10] j-f1 opened #2350 "Team review requests appear as “Unknown”"
Example: desktop/desktop#5899

On GitHub, it reads “shiftkey requested engineering”

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1540303812)
Device: iPhone 8 (iOS 12.0.1)
TestFlight: true
</pre>
</details>

[2018-10-25 20:22] BasThomas commented on #2350
Can you post the json for that issue?

[2018-10-25 22:14] j-f1 commented on #2350
In events:

[code]

In the PR:

[code]

(Sorry for the bad formatting; on mobile)

[2018-10-26 18:02] ma66nus opened #2352 "How safe and secure are Githawk?"
**Is your feature request related to a problem? Please describe.**
We want to be as secure as possible even though it is not possible to be 100% safe and secure anywhere on the Internet.

**Describe the solution you'd like**
I wonder if Githawk is as safe and secure as Github if I use Githawk with two step authentication?

**Describe alternatives you've considered**
If not I continue to use Github

[2018-10-26 18:27] JimMST opened #2353 "Remove scorebar will remove L-Shape"
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.22.0 (1534395229)
Device: iPhone 7 (iOS 12.0.1)
TestFlight: false
</pre>
</details>

[2018-10-26 18:28] #2353 closed

[2018-10-26 18:31] jukben opened #2354 "Can’t make an comment to an issue"
“Something went wrong”

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.22.0 (1534395229)
Device: iPhone 7 Plus (iOS 12.0.1)
TestFlight: false
</pre>
</details>

[2018-10-26 19:20] BrianLitwin commented on #697
Good news! Getting the latest XCode beta worked! Good tip @BasThomas !

so the following code works for me to subclass the Client:
[code]

I'm pretty stoked about that.

Bad new is that trying to use a protocol-based mock strategy is giving me trouble. If one of y'all want to try to repro this, it shouldn't be too hard:

in the GitHubAPI pod paste:
[code]

and then try to get anything in the test

[2018-10-26 19:44] BrianLitwin commented on #2352
@ma66nus Here's our [security info](https://github.com/GitHawkApp/GitHawk/blob/master/SECURITY.md)

[2018-10-26 19:50] Huddie commented on #2354
Check #2224 #2187 #2165. Could be related

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-26 19:55] Huddie opened #2355 "Consecutive references doesn’t link"
See #2354.

I tested this. If you reference two issues in a row, the second reference doesn’t link. #2354 #2353

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-26 20:03] Huddie opened #2356 "Reaction emoji doesn’t update in split view"
If your in split view and set a new default reaction in settings the emoji icon won’t update in the main view (settings).

This is because the cells only update on viewDidAppear.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-26 20:06] Huddie opened #2357 "Search in split view doesn’t fill screen"
See photo. The search view is short on the right side
![GitHawk Upload by Huddie](https://i.imgur.com/8qxAb6F.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1540303812)
Device: iPhone XR (iOS 12.0)
TestFlight: true
</pre>
</details>

[2018-10-26 20:18] ma666nus commented on #2352
Many thanks :-D

[2018-10-27 05:52] rizwankce commented on #2356
Ah! Didn't notice that when I added the reaction vc to split view. I'll take care of this

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-27 05:54] rizwankce commented on #2357
Same bug in book mark as well.  It's iOS 12 Issue probably. Check https://github.com/GitHawkApp/GitHawk/issues/2251

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-27 14:47] rizwankce commented on #2352
May be we can have the `SECURITY.md` as a FAQ inside the app Settings. So users will have clear idea for the security concerns. Most of the users from App Store don't really visit our repo page to read markdown files. thoughts? @rnystrom

[2018-10-27 14:50] ijm8710 commented on #2352
I feel the third paragraph on the push notifications disclaimer handles it

[2018-10-27 16:41] jukben commented on #2354
It's this issue. https://github.com/GitHawkApp/GitHawk/issues/2224#issuecomment-426740055

We should get a better error messaging for such a case. Wdyt?

[2018-10-27 16:41] #2354 closed

[2018-10-27 19:46] rnystrom commented on #2352
I feel like the `SECURITY.md` + disclaimer is enough for now. If we get more queries let's add something in-app.

[2018-10-27 19:46] #2352 closed

[2018-10-27 19:46] rnystrom commented on #2349
Is there an API for this? Or is it just custom markdown parsing?

[2018-10-27 19:58] rnystrom commented on #2350
The timeline event is coming back as `null` for the GraphQL API.

Request:
[code]

Params:
[code]

Response:
[code]

Note the: `"requestedReviewer": null`

[2018-10-27 20:03] rnystrom commented on #2354
@jukben try the TestFlight version, it has better error messaging

[2018-10-27 20:06] rnystrom commented on #846
@ijm8710 I'd much rather someone own the issues and send PRs to fix them 😉

[2018-10-27 20:06] ijm8710 commented on #2165
@Huddie is there any other info I could give to help. I’m seeing this almost daily, but only in this app, works fine in codehub and native GitHub

[2018-10-27 20:07] ijm8710 commented on #846
@rnystrom agree but my point was that some stuff marked open, I feel have been ticked off. Hasn’t this one?

[2018-10-27 20:09] rnystrom commented on #2274
Can you elaborate? The only thing I see missing is the `(comment)`. Is that what you mean?

[2018-10-27 20:19] ijm8710 commented on #2274
[In githawk, second bullet incorrectly renders markdown as a 1](https://i.imgur.com/mGSk74E.jpg)
[In github, second bullet correctly renders markdown as a 2](https://i.imgur.com/l5UgSB2.jpg)

#2129, basically nailed my same pinpoints here:
- Markdown lists don’t always number cowb correctly
- Indentarion for subbulleys is off when they are more than one line in length
- I also added a third item t

[2018-10-27 20:53] #2345 closed

[2018-10-27 22:34] #2355 closed

[2018-10-27 23:40] Huddie opened #2362 "Hide try beta when user is on TestFlight"
Not sure if we do this already. Seems like we don’t. But maybe we can hide the try beta if it doesn’t apply (the app is a TestFlight build)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-27 23:44] ijm8710 commented on #2362
#2351

[2018-10-27 23:50] #2362 closed

[2018-10-27 23:55] Huddie commented on #2362
@ijm8710 @rnystrom Unless I’m missing something,   The PR referenced is about telling users they are already on TestFlight. My suggestion here is hiding the cell since it’s unnecessary

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-28 00:36] ijm8710 opened #2363 "Really annoying but super one-off bug"
https://github.com/RoyaleAPI/cr-api-ux/issues/357

When you go to expand the post, the expansion button essentially covers a link behind. So even with one click on the expansion button, most times, instead of expanding, it opens the link behind.

It’s a little finicky to repro, but if you imagine the expansion button having an upper half and a bottom half and click on it so you click the bottom ha

[2018-10-28 01:47] Huddie commented on #2362
Fair

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-28 09:01] gingerbeardman opened #2364 "Cannot open issues"
Sometimes I cannot open issues from the Inbox or Inbox Archive.

On tap they become highlighted, but they do not open.

Force quitting app solves this.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1540303812)
Device: iPhone 6s (iOS 12.0.1)
TestFlight: true
</pre>
</details>

[2018-10-28 09:01] gingerbeardman commented on #2364
https://imgur.com/a/T0CxmTe

[2018-10-28 15:19] BrianLitwin commented on #2364
Vid seems reminiscent of #2289

[2018-10-28 15:34] gingerbeardman commented on #2364
Yes indeed.

I'm using testFlight build, and probably landed there from a notfication.

[2018-10-28 16:51] rnystrom commented on #2363
FYI you don’t have to tap the button to expand, just tap anywhere. Maybe we could improve the design a little so that’s clear, or make the button overlay disable interaction behind it.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-28 16:55] rnystrom commented on #2364
@gingerbeardman do you have a repro for this? Would love to track it down.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-28 16:56] rnystrom commented on #2350
@BasThomas test

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-28 16:58] rnystrom opened #2365 "Send comment starting with mention then comment again has wrong attributes"
Might be a fix in MessageViewController, need to dig

![GitHawk Upload by rnystrom](https://i.imgur.com/GsQpOPh.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1540303812)
Device: iPhone X (iOS 12.0.1)
TestFlight: true
</pre>
</details>

[2018-10-28 16:58] rnystrom commented on #2364
Let’s keep this in #2289

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-28 16:59] #2364 closed

[2018-10-28 16:59] rnystrom commented on #2231
Taking this one, now I want this feature

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-28 17:15] ijm8710 commented on #2363
Oh so the purpose of the button is not as an opener but as a signifier that there more to view?

And yeah I def think disabled interaction behind the the button overlay would make a lot of sense!

Thanks for the insight

[2018-10-28 17:31] gingerbeardman commented on #2289
will try to figure out how to repro

[2018-10-28 17:36] ijm8710 commented on #2165
@rnystrom I’m seeing this super super often, essentially several times daily. I know you said a week and a half ago, you didn’t have a ton of time to investigate yourself. Is there anything that would be helpful to provide for perhaps someone to take over with more detail. Among the people most involved like bas and others, any idea who’s subject matter this best fits with?

Not to overreact, but

[2018-10-28 18:05] rnystrom commented on #2165
@ijm8710 you seem to be the one hitting the the most, so you’d be a great champion to fixing it. Some ways you can contribute:

- Use Flex network debugging to inspect error messages and codes
- Read the GitHub API docs and suggest what needs changed
- GraphiQL or another REST API tool might help
- Try with a test account and see if it consistently happens

I prioritize my time based off the bigge

[2018-10-28 18:28] Huddie commented on #2231
Sorry 😔I’ve been swamped at school. Thanks for taking care of it.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-28 19:35] Huddie commented on #2365
I’ve seen this as well. Meant to report it

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-28 19:43] Huddie commented on #2261
@rnystrom So the icon comes from an extension on NotificationType. NotificationType has PullRequest but doesn’t have the state (merged, closed..).
I could switch the extension to be on the model which has the state information but that wouldn’t work with Bookmark who’s model doesn’t have the state.

I could change NotificationType to have pullRequest and pullRequestMerged but that would mean chang

[2018-10-28 20:14] palmin commented on #2342
@rnystrom I would love to have this working and you can assign it to me if you like.

[2018-10-28 21:29] rnystrom commented on #2289
I wonder if maybe it’s from me changing the route paths? So like maybe the routing lib broke? I can try to repro that locally by breaking stuff on purpose.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-28 21:39] #2342 closed

[2018-10-28 23:32] rnystrom commented on #2251
This will require an IGListKit change. Not impossible, but it may take a while. I may fork IGLK in the meantime so we can patch and keep moving.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-28 23:34] #2356 closed

[2018-10-29 06:34] BasThomas opened #2367 "Crash on loginURL"
**Describe the bug**
Got an email from Crashlytics that [the loginURL](https://github.com/GitHawkApp/GitHawk/blob/master/Classes/Login/LoginSplashViewController.swift#L14) is crashing. I assume an incorrect token that causes an invalid URL @rnystrom?

**To Reproduce**
Steps to reproduce the behavior:
I assume logging out and in again in the latest version, so the URL gets used and it should crash.

[2018-10-29 08:31] Sherlouk commented on #2367
I believe this is just if you haven't actually done the setup steps defined here: https://github.com/GitHawkApp/GitHawk/blob/master/Setup.md

I also fell victim, easy to forget until it crashes 😅

[2018-10-29 09:43] rnystrom commented on #2367
Yup that should be it. Just tested and it’s working on TF

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-29 09:43] #2367 closed

[2018-10-29 13:45] j-f1 commented on #2365
I also used to see an issue where the entire comment would be marked as a mention when it started with a mention and the comment failed to post.

[2018-10-29 14:51] ijm8710 commented on #2165
@Huddie @rnystrom hey, so I ended up adding another test account to githawk using the personal access tokens. I could be wrong, but from my memory, my initial account was not setup with a personal access token, but rather a normal login plus grant access portal. With the personal account token for account two, I granted full-access. The second account, I am able to fully action items without restr

[2018-10-29 18:29] Huddie commented on #2165
You should be able to check your access level. Pretty sure we have it in settings a link to your access

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-29 19:17] ijm8710 commented on #2165
Yeah @Huddie this was different. The access you refer to highlight 3 items. I enabled like 15 for the option under developer settings as I had to set it up to generate the token.

Was I accurate that the first account doesn’t need a token and was a portal signup?

[2018-10-29 21:01] Huddie commented on #2165
Ya regular sign in I believe only has 3 access items. Private repos, access notifications, update user info.

I’d suggest:
A) Try to figure out which repos/actions were having issues and see why it wouldn’t be covered in the 3 access. This can be confirmed with option B below.
B) You could create ta bunch of personal tokens reducing what you allow to see where the issue lies... tedious

Maybe @rny

[2018-10-29 23:50] ijm8710 commented on #2165
I’ve started doing this. I removed accesses and create a new set of permission for a token. But where would I insert this new token code in githawk? As far as a I see there is no way to remove an account or add new token info for an account (issue 1)

And I do not want to sign out of test account because that says it will sign me out of all accounts and lose my bookmarks (issue 2)

I do agree with

[2018-10-30 00:31] ijm87102 commented on #2365
Test

[2018-10-30 00:33] rnystromtest commented on #2365
@Huddie test

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-30 00:43] ijm87102 commented on #2365
Test

[2018-10-30 00:46] ijm8710 commented on #2165
Test

[2018-10-30 00:48] ijm8710 commented on #2165
Looks like it’s the public_repo permissions

[2018-10-30 03:31] bellebethcooper commented on #2105
Just wanted to drop a link here to [this related PR](https://github.com/GitHawkApp/GitHawk/pull/2241), because I was curious how this issue turned out and it took me a while to find the answer.

[2018-10-30 11:53] palmin commented on #418
I plan to link to repositories and issues in GitHawk as soon as the App Store version of GitHawk supports this.

![image](https://user-images.githubusercontent.com/1230554/47716297-9032ca00-dc42-11e8-879e-d2579b42232d.png)

[2018-10-30 13:40] rnystrom commented on #2105
Thanks @bellebethcooper! I’ll be updating with more ideas for basic routing in GitHawk soon too 😇

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-30 14:44] rnystrom commented on #2165
@ijm8710 thanks for this! Is there a scope were missing from the login flow? I feel like there’s something missing there but I thought we are requesting the broadest scopes possible...

https://developer.github.com/apps/building-oauth-apps/understanding-scopes-for-oauth-apps/

Atm we request `user`, `repo`, and `notification`

https://github.com/GitHawkApp/GitHawk/blob/master/Classes/Login/LoginSp

[2018-10-30 15:06] Huddie commented on #2165
public_repo is under repo. @ijm8710 what makes it seem like public_repo is the issue? Removing public_repo would def. result in an issue in-app but doesn’t mean it’s what’s causing the problem.
Maybe try removing only the scopes we don’t request and see from those.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-30 18:52] ijm8710 commented on #2165
@Huddie @rnystrom  completely see where you guys are coming from and how the code lists user repo and notification. And how public_repo is a sub-asset of public. But in doing my diagnosis myself, that is exactly what I did. I created 10-15 different tokens adding and removing different permissions and confidently diagnosed that public_repo is the issue and that just having that permission solves t

[2018-10-30 20:43] ijm8710 opened #2369 "Search by contains match and not exact match, is this possible"
Example. Searching for a thread with the keywords credentials, if I type “cre” I desire that result being inclusive. Not sure this works on github so curious if it’s even logistically possible on githawk

[2018-10-31 13:07] #2365 closed

[2018-10-31 13:28] rnystrom commented on #2165
I’m going to try to setup a script to repro this and plug in different scopes.

The big bummer is that even if we solve this, people will have to logout/login to get the new permissions...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-31 13:35] ijm8710 commented on #2165
Are you saying that if you repro this, only existing users will be affected by having to re-login..and new users should be good going forward assuming the permissions can be tweaked?

This brings up one of the things I referenced in my last reply. I know you try to have as little server side items as possible for user safety, but is there any workaround to retain bookmarks with a log out?

I also

[2018-10-31 13:35] ijm8710 commented on #2165
Are you saying that if you repro this, only existing users will be affected by having to re-login..and new users should be good going forward assuming the permissions can be tweaked?

This brings up one of the things I referenced in my last reply. I know you try to have as little server side items as possible for user safety, but is there any workaround to retain bookmarks with a log out?

I also

[2018-10-31 15:22] BasThomas opened #2371 "Add deeplinks for views in NSUserActivity objects"
This would allow handoff between different devices, eg phone to iPad

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1540303812)
Device: iPhone X (iOS 12.1)
TestFlight: true
</pre>
</details>

[2018-11-01 08:02] peppy opened #2372 "Inbox unread count limited to 50"
**Describe the bug**
The count on the inbox is limited to 50. Likely API-related.

**To Reproduce**
Steps to reproduce the behavior:
1. Be inundated with issues you are responsible for.
2. Go to catch up on them in GitHawk
3. Read and reply to some issues
4. Refresh

**Expected behavior**
The count should drop from the previously displayed number, but instead still shows there are 50 notifications

[2018-11-01 11:31] rnystrom opened #2373 "Lose bookmarks?"
Did anyone else lose their bookmarks with the latest TestFlight?

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1541000030)
Device: iPhone X (iOS 12.0.1)
TestFlight: true
</pre>
</details>

[2018-11-01 11:34] BasThomas commented on #2373
Just updated, bookmarks are still there. Did you login / logout recently?

[2018-11-01 11:51] ijm8710 commented on #2373
Nope

[2018-11-01 12:43] rnystrom commented on #2373
Just found we store bookmarks in user defaults. We might want to revisit that.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-01 12:44] rnystrom commented on #2165
Ya exactly. New users would be fine.

Let’s keep the bookmarks discussion in another issue.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-01 12:47] ijm8710 opened #2375 "Selective logout"
Currently you can only log out of all accounts at once. Bookmarks data is lost as well which can be undesirable.

[2018-11-01 12:49] ijm8710 opened #2376 "[VISION] Auth, login & bookmark refactor"
- [ ] Selective logout #2302
- [ ] Fix login scopes #2165
- [ ] Add PAT to auth #2165
- [ ] Bookmarks
  - [ ] iCloud sync #2377
  - [ ] Sort/reordering/foldering #1886
  - [ ] States to update open/closed icon and title edits #2379
  - [ ] Reflect total count in section header #2441
  - [ ] Integrate with Github’s “save for later” (pending API) #2377
-   [ ] return of search

The following referen

[2018-11-01 12:51] ijm8710 opened #2377 "Ability to optionally opt-in to have bookmarks backed up, perhaps linked with iCloud"
Doubt you would want to make this the standard for privacy reasons, but for users that are not as worried in that regard, it would be cool to have a way to ensure bookmarks are being backed up.

[2018-11-01 12:54] rnystrom commented on #2377
I’m actually totally down with syncing bookmarks in iCloud! Great idea

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-01 12:56] ijm8710 commented on #2376
@rnystrom I would actually perhaps rate this as higher than 2375 because of feasible, and if my analysis on credential ticket is also accurate, this provides a solution without your data loss concern

[2018-11-01 12:57] ijm8710 commented on #2375
Sorry just saw this actually existed as #2302 so feel free to close one and keep the other with the high tag

[2018-11-01 13:13] ijm8710 commented on #2183
Hey @BasThomas, were you still planning to re-issue this :)
Are there any other keyboard supports that should be added as well such as numbering or quoting?

[2018-11-01 13:17] #2375 closed

[2018-11-01 13:19] rnystrom commented on #2376
Oh interesting. I bet we could bundle all of it in the next update:

- Bookmark sync
- Selective logout
- Fix login scopes
- Add PAT to auth

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-01 13:29] ijm8710 opened #2378 "From the feed, can we show comment count and reflect who if assigned to a user"

[2018-11-01 13:30] rizwankce commented on #2373
@rnystrom for quick win. How about replacing user defaults with `NSUbiquitousKeyValueStore` it does support storing details into iCloud. Drawback Is we can't have more than 1MB data.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-01 13:31] ijm8710 commented on #1886
Would def +1 this as well. Semi-related, would also like some count to show bookmark count

[2018-11-01 13:36] ijm8710 opened #2379 "Bookmarks show all issues in blue regardless of if issue was open or closed"
Is this intentional to not reflect from the list whether they are in an open or closed state?

[2018-11-01 13:37] ijm8710 commented on #2376
Yeah that would be beautiful!

[2018-11-01 13:57] Huddie commented on #2379
I was looking into this recently because of #2261. The bookmark model does not contain state so it just knows the notificationType.

I think changing this to match with notificationModel is a good idea.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-02 20:16] gingerbeardman opened #2384 "Tiny labels on tab bar"
Text labels are tiny and kerning is very tight making them difficult to read.

iOS 12.1
iPhone 6s

![GitHawk Upload by gingerbeardman](https://i.imgur.com/trorx4A.jpg)

I'm using standard text sizing on iOS.

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1541158684)
Device: iPhone 6s (iOS 12.1)
TestFlight: true
</pre>
</details>

[2018-11-02 20:19] gingerbeardman commented on #2384
Compare to eBay app

![GitHawk Upload by gingerbeardman](https://i.imgur.com/Bl6V588.jpg)

[2018-11-02 21:01] rnystrom commented on #2384
Wo this is really weird. I can repro this only by:

- Go to inbox
- Open this issue
- **Swipe** back

Has to be swipe. Tapping the back button doesn’t do it.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-02 21:02] rnystrom commented on #2384
Willing to bet this is an iOS 12.1 issue. Have literally never noticed til I updated this morning.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-02 21:31] rnystrom commented on #2384
Yup not just us

https://twitter.com/_ryannystrom/status/1058470836229804032?s=21

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-02 22:51] rnystrom commented on #2379
The complication here is that you will have to fetch data to get the latest status. Pretty big change. Might want to do this alongside a larger bookmarks refactor.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-02 22:52] rnystrom commented on #2373
I think we might want to reconsider how bookmarks are done entirely so that we can fetch data from the network and get info like status and renames.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-02 23:32] rnystrom commented on #2369
Can you play around w/ the GraphQL API and see what results are returned? [Here](https://github.com/GitHawkApp/GitHawk/blob/master/gql/SearchRepos.graphql) is the request. The search query is [here](https://github.com/GitHawkApp/GitHawk/blob/0cf43b82d6cdede17a7be83a241fe3e96d9da66a/Classes/Repository/RepositoryIssuesViewController.swift#L142) and usually looks like:

[code]

[2018-11-02 23:34] rnystrom commented on #2350
@j-f1

[code]

[2018-11-03 02:31] peppy commented on #2372
I'm not sure where to find the request in testflight. I've been using the app for months now.

[2018-11-03 02:41] j-f1 commented on #2350
That’s unfortunate @rnystrom. I guess you have to be an org member to see the teams. Perhaps it’s an API bug and you should be able to request the team name and logo?

[2018-11-03 08:03] muuvmuuv opened #2385 "Links not working across repos"
See: https://github.com/Unibeautify/unibeautify/issues/208

The last comment where steven points to another repos issue is not linking

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.22.0 (1534395229)
Device: iPhone 6s (iOS 12.0.1)
TestFlight: false
</pre>
</details>

[2018-11-03 12:59] rnystrom commented on #2385
Might be the dash?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-03 13:00] rnystrom commented on #2350
I bet it is. Will file.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-03 15:09] billybooth commented on #1790
The same issue applies to images in numbered lists.  Not a humongous deal, but it’d be nice to not be missing content altogether, even if the rendering isn’t an exact match.  Seeing something like this makes a user question every rendering he or she sees, and forces me to pop any rendering that looks odd into Safari to confirm that I’m not missing something relevant.

![6f2f71e2-e43e-45ca-ad9a-bae

[2018-11-03 15:16] rnystrom commented on #1790
@billybooth thank you! Re: donations, I appreciate the thought, but since this is a community operation, I’d rather donations go to a cause in GitHawks name.

http://hispanicfederation.org/unidos/

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-03 15:46] BrianLitwin commented on #2385
Looking at this!

[2018-11-03 15:50] muuvmuuv commented on #2385
Thanks @BrianLitwin !

[2018-11-03 16:07] rnystrom opened #2386 "Extended use of Routable architecture"
Laying out my vision for a more unified architecture for app navigation and view-controller isolation.

- [ ] Use ObjC runtime to attach `Router` to all view controllers
- [ ] All navigation is done through `Routable`s. e.g. within a view controller:

[code]

- [ ] Lint against `navigationController.pushViewController(...)` or `showDetailViewController(...)`
- [ ] `Router` communicates `RoutePerfo

[2018-11-03 16:10] rnystrom commented on #2386
@heshamsalman this plan likely conflicts w/ #2368

[2018-11-03 16:12] rnystrom opened #2387 "Refactor IssueFilesViewController with BaseListViewController2"

[2018-11-03 16:12] rnystrom opened #2388 "Refactor RepositoryCodeDirectoryViewController with BaseListViewController2"

[2018-11-03 16:12] rnystrom opened #2389 "Refactor RepositoryIssuesViewController with BaseListViewController2"

[2018-11-03 16:13] rnystrom opened #2390 "Refactor RepositoryOverviewViewController with BaseListViewController2"

[2018-11-03 16:20] rnystrom opened #2391 "Create a "TEMPLATE_FRAMEWORK" repo for scaffolding new frameworks/Pods"
- Source dir for source files
- Tests dir for test files
- Common repo files:
  - .travis.yml
  - .gitignore
  - TEMPLATE_FRAMEWORK.podspec
  - LICENSE
  - README.md
  - Dangerfile
- SwiftLint
- Examples dir
- Contributing guide
- Issue/feature templates
- Use `TEMPLATE_FRAMEWORK` everywhere
- Script to find/replace template name w/ actual repo name
- (_optional_) Podfile w/ snapshot test dependen

[2018-11-03 17:00] BrianLitwin commented on #2386
![lebron](https://user-images.githubusercontent.com/26695477/47955034-6510e900-df68-11e8-9e28-ca1a6c76fb80.gif)

[2018-11-03 23:03] Sherlouk commented on #1790
Also a review on the App Store is free and helps out the entire project 😉❤️

[2018-11-03 23:31] Huddie commented on #2386
More hawks in the store! Sounds exciting.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-03 23:39] Huddie commented on #2261
@rnystrom you want to keep the icon in the bookmark section as is and fix the merge icon in the inbox?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-04 01:45] Huddie opened #2393 "Bringing templates to GitHawk"
Working on this, if anyone has ideas or suggestions please lmk!

<img src=https://user-images.githubusercontent.com/10662471/47959045-1dae4b00-dfb0-11e8-9072-6a8a15069696.gif width=200>

[2018-11-04 01:47] Huddie commented on #1973
I'm going to try and fix this after my templates PR, just trying to fix up the New Issue VC in general

[2018-11-04 02:11] rnystrom commented on #2393
Yo this is so cool!! Would this work for the “new issue” feature in repos too?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-04 02:12] rnystrom commented on #1973
@Huddie go go go go!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-04 02:20] Huddie commented on #2393
@rnystrom I’m almost positive! I checked github and all issues are under .github/ISSUE_TEMPLATE

Right now I fetch for specific files but my end plan is fetch all files under that directory, parse the text for the name / description

Should work for all repos!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-04 05:02] Huddie commented on #2393
@rnystrom Confirmed that it will work across the board. Done for the night 🌙

<img src=https://user-images.githubusercontent.com/10662471/47960194-3a0cb080-dfcd-11e8-9a09-8354aef96c8d.gif width=200>

[2018-11-04 05:15] Huddie commented on #2298
I believe even with read on in settings it doesn’t read when opening via push. Anyone else able to confirm?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-04 05:17] Huddie commented on #2263
@BrianLitwin any update on labels in repoIssueVC? Should this issue be closed?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-04 09:20] gingerbeardman opened #2396 "Images have linebreak-sized gap above and none below"
This causes the image to be near the text beneath it (which is a linebreak away) rather than the text above (as intended)

**Compare**

GitHawk
![GitHawk Upload by gingerbeardman](https://i.imgur.com/qrxlhFR.jpg)

GitHub Mobile
![GitHawk Upload by gingerbeardman](https://i.imgur.com/4EPOsGg.jpg)

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1541192331)
Device

[2018-11-04 12:36] Huddie commented on #2393
@Sherlouk the old one being in root/docs/.github rather than strictly .github? I’m not so familiar with github templates, searching online It seemed that you could have as many templates as you want but must be in .github/ISSUE_TEMPLATE directory. Is this not true, can you have templates in other places? Quick note: I’m speaking specifically about issue templates not PR templates

I think for now

[2018-11-04 12:38] Huddie commented on #2298
I just confirmed that opening from push does not mark the notification as read.

@rnystrom ya I feel like it should mark it as if read from inbox. Any reason why reading it via push is different from reading via inbox?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-04 13:51] Huddie commented on #2108
@rnystrom Haven’t seen this is a bit. Chalk it up to iOS 12 and close?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-04 14:12] Alyoto opened #2397 "My phone is being blocked& or rerouted from my emails and internet sites? Please help? from going"
<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.22.0 (1534395229)
Device: iPhone 8 (iOS 12.1)
TestFlight: false
</pre>
</details>

[2018-11-04 14:39] BrianLitwin commented on #2263
@Huddie sorta waiting for @rnystrom to weigh in on pushing a new VC versus editing the search bar in this last case of tapping an issue label in the main RepoIssuesV

[2018-11-04 15:44] Huddie commented on #2108
Haha is it a hard fix? If you have an idea what’s necessary I can take a look

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-04 16:16] Sherlouk commented on #2393
@Huddie Yea so I think the difference is with the new system you can have multiple named templates but previously you could have a single template that was called `ISSUE_TEMPLATE.md` (and could be in a multitude of places) and would always use that one.

Essentially I think the chain of logic is:

1. Check for templates in `.github/ISSUE_TEMPLATE/` directory
2. Check for single template called `IS

[2018-11-04 16:20] Huddie commented on #2393
Thanks @Sherlouk I will PR number 1 and then maybe expand after that.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-04 18:36] ijm8710 commented on #2393
Really cool!!!

[2018-11-04 19:16] ijm8710 opened #2401 "Any way for the ‘view history’ overflow feed to show history in other areas like “issues” and even an all history option for that repository"

[2018-11-04 19:18] ijm8710 commented on #1444
Hey is this the reason why full screen gifs show static image?

[2018-11-04 21:35] bkase opened #2402 "Unable to comment on any issue or PR"
Whenever I try to comment on an issue or PR, I get a "Something went wrong" error message and the message doesn't send.

If it matters: This is on a public repo within an organization that has not been granted access to githawk ( https://github.com/CodaProtocol/coda ).

Please let me know if you need any more info. Thanks!

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Versio

[2018-11-04 23:13] Sherlouk opened #2403 "Adding reaction goes to end of list"
So if a comment has a reaction of 🎉 and then I add 👍 githawk adds it to the end of the list. If you then refresh the issue it flips the order since 👍 is before 🎉 in githubs order.

Very minor but we should insert respecting the order of reactions!

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.23.0 (1538244553)
Device: iPhone11,2 (iOS 12.1)
TestFlight: true
</pre>
<

[2018-11-04 23:40] Huddie commented on #2403
Agree^^^^^^^

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-04 23:45] rnystrom commented on #2402
@bkase could you try the TestFlight build and see if this still occurs? Also we have Flex enabled so we can get the raw response if necessary.

https://testflight.apple.com/join/QIVXLkkn

[2018-11-04 23:47] rnystrom commented on #2401
Sorry, I'm not sure I understand? History is commit history.

[2018-11-04 23:51] ijm8710 commented on #2402
@rnystrom this probably relates to the credential stuff. I’ve been seeing this a lot

[2018-11-04 23:53] bkase commented on #2402
So I guess I need to authorize Githawk in order to post? Any advice for justifying access to my organization?

[2018-11-04 23:54] bkase commented on #2402
(the quote was the error message when posted in the test-flight build)

[2018-11-04 23:55] ijm8710 commented on #2401
![GitHawk Upload by ijm8710](https://i.imgur.com/ybsWmS4.jpg)
This is codehubs per-repository event log. It conveniently lists all activity

Was curious if you saw value in:

1. A similar all-inclusive history log
2. Could have the “view history” launch different event logs depending on what tab you’re on so if you hit overflow option from “issues” tab it would be issue specific events, etc.

Is t

[2018-11-04 23:55] Huddie commented on #2402
@ijm8710 my thoughts

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-05 00:19] rnystrom commented on #2165
Gonna do some live debugging here...

---

Trying to send a `HEART` to [this comment on babel/babel](https://github.com/babel/babel/issues/8971#issue-377184758). I'm using this GraphQL:

[code]

Using a token from intercepted from the basic auth route ("Sign in with GitHub" button) yields this result:

[code]

Using a Personal Access Token with `repo`, `user`, and `notification` scopes gives this:

[2018-11-05 00:28] rnystrom commented on #2165
Now let's try using the [V3 API for Reactions](https://developer.github.com/v3/reactions/)...

We can use the [create Reaction for an Issue API](https://developer.github.com/v3/reactions/#create-reaction-for-an-issue).

**URL**
[code]

**JSON Body**
[code]

**Header**
[code]

Using the PAT:

[code]

And we got the reaction 👌

<img width="446" alt="screen shot 2018-11-04 at 7 26 42 pm" src="https:/

[2018-11-05 00:35] ijm8710 commented on #2165
I feel it’s because graphql does not grant  public_repo access

[2018-11-05 00:36] rnystrom commented on #2165
@ijm8710 is there something I'm missing? `public_repo` is a **subset** of `repo` access, so its all included.

<img width="475" alt="screen shot 2018-11-04 at 7 35 38 pm" src="https://user-images.githubusercontent.com/739696/47972318-ebacef80-e068-11e8-8093-d9fef88c6b03.png">

[2018-11-05 00:44] shakir263 opened #2404 "Asss"
Zz

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-05 00:44] ijm8710 commented on #2165
Perhaps what I tested means absolutely nothing, but I noticed that just having public_repo made all these fails nonexistent and vice versus. Perhaps full repo access is omitting this subpermission. I’m prob focused on the wrong thing but it just seemed a huge coincidence that that access related 1:1 with the issue itself

[2018-11-05 00:45] shakir263 commented on #2404
[code]

[code]

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-05 00:48] rnystrom commented on #2165
Let me try manually changing the auth scope in GitHawk, logging in, and using that token.

[Btw filed this on the GitHub API forums](https://github.community/t5/GitHub-API-Development-and/Getting-quot-OAuth-App-access-restrictions-quot-for-GraphQL/m-p/14409#M220).

[2018-11-05 00:49] #2404 closed

[2018-11-05 00:49] ijm8710 commented on #2165
^yeah this is what I did in my testing :) happy for you to mirror

[2018-11-05 00:50] ijm8710 commented on #2165
Not sure your link works in your link

[2018-11-05 00:55] rnystrom commented on #2165
Confirmed that using using `public_repo` and `public_repo+repo` in the [loginUrl](https://github.com/GitHawkApp/GitHawk/blob/master/Classes/Login/LoginSplashViewController.swift#L14) for scopes doesn't change anything.

@ijm8710 did you only get it working just by using a PAT? Not normal OAuth?

[2018-11-05 00:55] ijm8710 commented on #2165
Correct only PAT

[2018-11-05 00:56] rnystrom commented on #2165
Ok, ya that was known for a while as the problem. It's normal auth that is the issue.

[2018-11-05 00:57] ijm8710 commented on #2165
Sorry ;) and yeah you might have to reset your link in the troublehsoot post

[2018-11-05 01:05] rnystrom commented on #2402
Yup, closing in favor of #2165

@bkase if you sign out and sign back in using a PAT w/ repo+user+notification scopes it'll go away. Atm appears to be an auth issue w/ the GraphQL API.

<img width="590" alt="screen shot 2018-11-04 at 7 09 14 pm" src="https://user-images.githubusercontent.com/739696/47972722-e487e080-e06c-11e8-8265-3411a607b57c.png">

[2018-11-05 01:05] #2402 closed

[2018-11-05 01:05] rnystrom commented on #2401
Oh ok. This is events, whereas "View History" is commit history. Maybe we could rename it so that's more clear.

[2018-11-05 01:35] rnystrom commented on #2369
@ijm8710 sure thing! I use an app like [Insomnia](https://insomnia.rest) to send API requests. If it's GraphQL, you can use [graphiql](https://github.com/graphql/graphiql).

Depending on which Search API you're referring to, you'll either want to use [this V3 API](https://developer.github.com/v3/search/) for searching issues/PRs w/in repos (see string above), or the above linked GraphQL query for

[2018-11-05 01:45] j-f1 commented on #2369
GitHub also has [a Graph*i*QL instance](https://developer.github.com/v4/explorer/) that lets you log in with GitHub and directly test queries.

[2018-11-05 01:49] rnystrom commented on #2108
@Huddie [see comment above](https://github.com/GitHawkApp/GitHawk/issues/2108#issuecomment-412396991): tables have a `UICollectionView` (scroll view) in them which eats the touch event required to call `UICollectionViewDelegate.didSelectCellAtIndexPath(:)`.

Some options:

- Add a `UITapGestureRecognizer` to the table cell, create a `IssueCommentTableCellDelegate`, and forward the event
- Go deep

[2018-11-05 01:52] rnystrom commented on #2263
Oops. @BrianLitwin pushing is probably the simplest to get moving? But if editing in place is easy, that would be cool!

[2018-11-05 01:56] rnystrom opened #2405 "cloc for how much code we've written"
In case, like me, you're curious how much code has been written for GitHawk.

[code]

As of today:

[code]

[2018-11-05 08:31] tzh979215144 opened #2407 "inbox"
The inbox can not show anything !
I need your help,thanks!

<details>
<summary>Bug Report Dump (Auto-generated)</summary>
<pre>
Version 1.22.0 (1534395229)
Device: iPad6,11 (iOS 12.0.1)
TestFlight: false
</pre>
</details>

[2018-11-05 14:51] BasThomas commented on #2405
Cool! We could consider putting this in a Danger result every pull request once we set up Danger.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-05 15:04] ijm8710 commented on #2274
@rnystrom I know I’m being a dead horse, goal is just to have this at least be an open ticket.

Here’s another example of a post that looks WAYY worse formatted in the app than on native GitHub
https://github.com/RoyaleAPI/cr-api-ux/issues/376
I’ve seen a ton of small changes to spacing and such that you continually make so I feel it’s moreso I’m doing a poor job relating what is not rendering gre

[2018-11-05 15:33] ijm8710 commented on #2274
Sorry I was not asking you to work on it at all. I was just asking that the issue be reopened. It is a legit issue. I appreciate the work everyone tries to do and think I’ve contributed as well. I just did not understand why this is considered closed; I am not arguing it’s priority. Will not ping you again on this issue

[2018-11-05 20:01] BasThomas opened #2408 "Add issue referencing (#) to the action bar"
I'm leaning towards this now. Should I create a new issue in favor of this one?

_Originally posted by @BasThomas in https://github.com/GitHawkApp/GitHawk/issues/2183#issuecomment-431130380_

Opened in favor of #2183

[2018-11-05 20:01] #2183 closed

[2018-11-05 20:02] BasThomas commented on #2408
This should add a `#` at the cursor point in the message and trigger the issue referencing interface.

[2018-11-05 20:43] ijm8710 commented on #2408
Do you think numbering and/or quoting should also have action bar shortcuts ?

[2018-11-05 21:19] BasThomas commented on #2408
I don't feel like we should add them right now, or how they should work. Quoting is already in place for comments. Numbering is a bit trickier I think?

[2018-11-05 21:19] BasThomas commented on #2408
But feel free to open separate issues for them if you feel like it.

[2018-11-06 00:37] #2390 closed

[2018-11-06 00:38] #2389 closed

[2018-11-06 00:38] #2388 closed

[2018-11-06 00:39] #2261 closed

[2018-11-06 00:46] #2387 closed

[2018-11-06 05:30] Huddie opened #2410 "Can’t see all review comments"
Honestly haven’t used review comments so much on GitHawk so not sure if I’m doing this correctly but I don’t think I can see all the review comments in this post #2400. Not sure if it’s because there are a lot or for some other reason.

Example: it says Sherlouk commented but I don’t see any comments by him when I click to view, just all Bas.

Is this an issue already? Or am I doing something wron

[2018-11-06 05:39] jazzbox commented on #2410
Duplicate of #1760

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-06 05:40] Huddie commented on #2410
Thank you!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-06 05:40] #2410 closed

[2018-11-06 06:16] tzh979215144 commented on #2407
Thank you for your help, I also want to know, when I was browsing a repository, can the directory tree  on the left as navigation bar?

[2018-11-06 06:47] BasThomas commented on #2407
What do you mean, @tzh979215144? I'm not sure if I understand what you mean.

[2018-11-06 06:48] #2407 closed

[2018-11-06 06:59] tzh979215144 commented on #2407
OK，thanks！

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-06 07:54] tzh979215144 commented on #2407
I

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-06 12:52] Alyoto commented on #2385
[code]

[2018-11-06 12:54] j-f1 commented on #2385
This is fixed.

[2018-11-06 13:02] #2385 closed

[2018-11-06 13:41] Sherlouk commented on #2106
Is anybody working on this at the moment?

Might try and get a bare bones MVP going - think once the foundation is laid we can start to build on top of that with more tabs and information!

[2018-11-06 14:02] BrianLitwin commented on #2106
@Sherlouk I've taken soft passes in #2125 and #2113 - I think the client/graphql stuff from those pr's is valid. If I post that part (couple hundred lines), can y'all check out the pr and build on top of it?

[2018-11-06 17:06] gingerbeardman opened #2411 "Group inbox by repo when viewing all"
I find the current method of having to switch between repos in the inbox quite laborious.

Ideally inbox would be more like the GitHub approach, where I can mark read all notifications from a repo.

Not the best screenshot, as only one repo shown, but all I have at the moment:

![GitHawk Upload by gingerbeardman](https://i.imgur.com/PWDkHgp.jpg)

Also see:
#1281
#61

<details>
<summary>Bug Report

[2018-11-06 17:42] BrianLitwin commented on #2106
@Sherlouk okay lemme clean up the UserProfile branch then, I don't think that's up to date

[2018-11-07 11:51] palmin commented on #1586
This issue looks complete.

[2018-11-07 11:55] palmin commented on #418
@rnystrom: Is there anything I can do to assist?

I'm not sure if the url format representing routes is going to change and I'm also not able to tell if the app currently looks at URL's when launched.

But if you give me some specific tasks I can move this forward.

[2018-11-07 18:13] BrianLitwin commented on #2386
This would solve my block in #2247. That would be an easy, low-stakes issue to test this out on - intercept a regex pattern with owner/repo info and route to the Repo in-app.

[2018-11-07 19:37] bman46 opened #2412 "App crashes when tapping 3 circles in code view"
When clicking on the 3 circles on the top right of the code view, the app crashes. I’m using a iPhone 8 and downloaded from App Store.

[2018-11-07 19:54] rnystrom commented on #2412
Yup happened to me too

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-07 19:54] #1586 closed

[2018-11-07 19:55] rnystrom commented on #418
@palmin the App Store version should be able to handle deep links now using the route scheme in GitHawkRoutes

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-07 20:12] palmin commented on #418
@rnystrom I would expect
  `freetime://RepoRoute?owner=GitHawkApp&branch=master&repo=GitHawk`
to open the overview screen for GitHawk but it opens the app without going to any particular screen.

Am I misunderstanding how these deep links are supposed to work?

[2018-11-07 20:45] bman46 commented on #2412
@Huddie I used a .config file from asp.net, ill upload it after I remove some info that I cant share.

[2018-11-07 20:49] bman46 commented on #2412
[Web.zip](https://github.com/GitHawkApp/GitHawk/files/2559110/Web.zip)
(GitHub doesn't support *.config files, so I had to put it in a zip file.)

[2018-11-08 00:56] Huddie opened #2413 "Issue Dashboard"
Issue dashboard is a nice way to keep track of the issues you're assigned/created.
This differs from notifications since those appear only when something occurs in the thread.

Currently, you may bookmark issues you're assigned to in order to keep track of them.

<img src=https://user-images.githubusercontent.com/10662471/48170808-1b593300-e2c7-11e8-8491-00a7503135b1.gif width=200>

What's happeni

[2018-11-08 01:12] rnystrom commented on #2413
Sorry I’m a little confused. What’s happening here? Is this a new feature proposal?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-08 01:15] Huddie commented on #2413
Ya. It’s GitHubs issue Dashboard

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-08 01:38] rnystrom commented on #2413
Lol I didn’t know this was a thing! We used to have a seg control but cycling through unread and everything was weird. Maybe we can give it another try.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-08 01:40] rnystrom commented on #2411
I think this has been suggested a bunch before

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-08 01:49] Huddie commented on #2413
Oh ya! I just saw it on github recently and thought it would be nice if GitHawk could get it.

Inbox is nice cause it tells you something changed, but you can’t keep track of the issues your supposed to be working on or you subscribed to.

I think subscribed and assigned are the 2 most interesting ones.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-08 01:50] Huddie commented on #2413
Oh ya! I just saw it on github recently and thought it would be nice if GitHawk could get it.

Inbox is nice cause it tells you something changed, but you can’t keep track of the issues your supposed to be working on or you subscribed to.

I think subscribed and assigned are the 2 most interesting ones.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-08 08:12] gingerbeardman commented on #2411
I found the previous two issues listed, but there could be more

[2018-11-09 01:45] kocheck commented on #2106
Hey Folks 👋 , I am a designer and wanted to help out.

@Sherlouk and @BrianLitwin are the [Designs posted Oct 2 ](https://github.com/GitHawkApp/GitHawk/issues/2106#issuecomment-426427887) What you are currently working off of?
Can I provide any design support to help ya'll out?

#### Right now I think I can work on a rough design for;
- Repos tab
- Stars tab
- Share / Follow Drawer?
- Expanded Pin

[2018-11-09 17:04] gingerbeardman commented on #2411
That sounds like it would be an improvement in some ways.

But if I'm honest the the core of my request is the grouping so that I can "mark all as read" to dismiss all notifications from a repo whilst I am looking at all notifications.

I do this so often on the GitHub website, or through BitBar ([GitHub Notifications Plugin](https://github.com/matryer/bitbar-plugins/blob/master/Dev/GitHub/notific

[2018-11-09 17:12] gingerbeardman commented on #2411
#2413 is sort of related to this?

[2018-11-09 17:37] BrianLitwin commented on #2106
@kocheck don't feel constrained by any of the designs on this thread; there's no consensus that I know of. If you have other ideas, feel free to share them.

[2018-11-09 17:54] kocheck commented on #2106
Roger that! I wanted to try and take a good crack at it this weekend thanks!

[2018-11-09 19:22] gingerbeardman commented on #2411
I appreciate your summary. That proposition doesn't seem ant better to me as the grouping is the key thing

[2018-11-09 20:53] ijm8710 commented on #2393
Me: Curious, so the way it works is to provide a framework on what you’re reporting? Is it the user’s job to replace the template with their report? Is there any way to set it up so it prompts you, this is what you enter here without the need to delete? This is super cool either way but was just curious so that the template is still a reference but also streamlines the input

Huddies reply to me:

[2018-11-09 20:56] Huddie commented on #2393
It could be one day we expand the feature natively

[2018-11-09 20:58] ijm8710 commented on #2393
Yeah understood this is more baseline and it seems awesome. Was just curious if you were on same page as me that this would even have more utility with my suggestion and it sounds like over time it could add a little value

[2018-11-09 21:09] j-f1 commented on #2411
Why not load all the pages of notifications at once?

[2018-11-09 21:19] gingerbeardman commented on #2411
Indeed. Maybe I don't use git enough, or maybe I never let my notifications build up, as I can't remember seeing the "load more" on the notifications. Just load them all (and cache them for next time)?

[2018-11-10 23:56] kimdv commented on #2384
![Icon by kimdv](https://i.imgur.com/krKXUeI.jpg)

Icons are also behaving strange

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-11 01:34] Huddie commented on #2384
TabHawk 😄

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-11 03:35] #418 closed

[2018-11-11 03:48] Huddie opened #2418 "Release notifications don’t display in app"
We display release notifications in app but when you tap on them they redirect straight to github.com.

Release example:
https://github.com/GitHawkApp/GitHawk/releases/tag/1.24.0

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-11 04:35] Huddie opened #2419 "App Store screenshots"
Not sure if this is a bug or feature request. I saw #621 and it seems that iPhone X styled screenshots were made. On my iPhone XR the phone is not one with a notch. Have the app store screenshots been updated? If not, any thoughts on using an iPhone X, XR, XS type phone to the screenshots for those phones?

[2018-11-11 04:46] Huddie opened #2420 "Adding reaction to last comment when keyboard present #2"
**Describe the bug**
If you're in an issue and try to add a reaction to the last comment while the keyboard is displayed, the reaction menu appears but in the wrong place. See video below.

This is similar to #2015 back when we had the old reaction menu.

**To Reproduce**
Steps to reproduce the behavior:
1. Open an issue that you must scroll to see all comments
2. Activate keyboard (Start typing a

[2018-11-11 05:29] Huddie commented on #2419
Got it

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-11 09:44] tooomm commented on #2319
I didn't realize that it is a clickable button until reading it here...

I came here today to open a ticket to get help about why it shows up and to troubleshoot that "Error" since I got no help in client what's up...
Because I only realized it since yesterday? and thought something broke with my GitHub access.

If it really is only a helpful reminder to double check why there might be no notifica

[2018-11-11 10:53] gingerbeardman commented on #2411
Understood, it's the switching between repos that is the friction I'd like to avoid.

Here's how a bunch of notifications looks like using the GitHub Notifications BitBar plugin (basically a shell script that can put some UI in the menu bar)

<img width="616" alt="screen shot 2018-11-11 at 10 36 31" src="https://user-images.githubusercontent.com/49612/48311931-19c98c80-e59f-11e8-8904-3b9241a8a4c7.

[2018-11-11 11:49] rnystrom commented on #2411
If someone wants to champion design and dev of this have at it!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-11 15:56] kocheck commented on #2106
Hey, Folks 👋  Found some time to jump into the design file this morning. How do ya'll feel about this direction? Any comments or feedback?

 ## Design Overview 1
The closest to the last posted designs.

### Updates
- ViewController Tab is moved down to provide a little more hierarchy.
- Included a version with (aprox) max character count for the bio.
- Moved the Follow and Share actions into an Ac

[2018-11-11 16:33] Huddie commented on #2106
Totally agree moving down the tabbar  looks much better +1

For second design:

- Follow/Unfollow I feel is a 1 maybe 2 time action. It seems to take up a big part of the top view and probably will never change for most people once clicked.
- Repos seem to come up twice (tab and in the top part)
- I personally think the bio is attached to name, location etc and should no be in the lower section wh

[2018-11-11 16:43] ijm8710 commented on #2411
I do think the point about how many inbox items fit on the screen at a time is a valid item to revisit

[2018-11-11 17:48] timonus commented on #418
Awesome, just tried this out and seems to work! I've got https://github.com/timonus/OpenerManifest/tree/githawk waiting in the wings for when this version of GitHawk makes it to the App Store.

[2018-11-11 19:02] palmin commented on #418
![deep-loop](https://user-images.githubusercontent.com/1230554/48317067-b5351e80-e5ec-11e8-9769-7f40bb7783b7.gif)